[2022-04-19 14:15] #903 closed

[2022-04-19 14:15] #1432 closed

[2022-04-19 14:15] #1433 closed

[2022-04-20 14:06] #1430 closed

[2022-04-20 17:20] #1284 closed

[2022-04-20 17:20] #1586 closed

[2022-04-21 16:08] mdiggory opened #1609 "Improve Display of Workflow Status in Facets and Search Results"
When Items are in Workflow, the "Tasks" list results lack detail about the Step the workflow Item is in. As well, the labels describing Item being claimed ("Validation") and in the task pool ("Waiting for Controller") are confusing terminology that does not immediately convey these state of the workflow item. The labels deviate from labels used for these states in previous version of DSpace.

A so

[2022-04-21 21:48] #1575 closed

[2022-04-22 08:11] ybnd commented on #1551
The proposed fix would also address #1260

[2022-04-22 09:58] ybnd opened #1610 "MyDSpace Status search facet doesn't update to reflect user changes to task status"
**Describe the bug**
The "Status" search facet on MyDSpace (workflow configuration) doesn't update when a workflow Item's status is changed.
The resulting mismatch is very noticeable when there are only a few workflow Items and could be confusing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://demo7.dspace.org/mydspace?configuration=workflow (& make sure at least one workflow

[2022-04-22 16:51] nibou230 commented on #1591
The goal is pretty simple and it's to offer a more flexible approach to which metadata is displayed in the items for the MyDSpace summary component.

Those metadata would be defined in the configuration files (yml and old ones) as a list of strings. Take a look at a the example below:

[code]

From there, we would simply display the list in the order the metadata are appearing in the file. At firs

[2022-04-25 20:02] mspalti opened #1611 "Mirador Build Fails"
**Describe the bug**
The Mirador viewer build fails with the following:

[code]

We need to add a webpack polyfill to devDependencies. Also, we should update `webpack.mirador.config.ts` to use the `copy-webpack-plugin` since it's already in our devDependencies and a good replacement for `html-webpack-plugin`

**To Reproduce**
Steps to reproduce the behavior:
1. execute yarn run build:mirador

**Ex

[2022-04-25 20:10] tdonohue commented on #1611
@mspalti : Would you be willing to work on this?  I'll add it as high priority to the 7.3 board, since obviously we didn't mean to break this.

This also shows that we need to find a better way to test this automatically (to avoid breaking it in the future).  Perhaps we should consider adding a quick build of Mirador into our CI process (https://github.com/DSpace/dspace-angular/blob/main/.github/w

[2022-04-25 23:13] mspalti commented on #1611
I'll work on it. It should be a quick fix.

On Mon, Apr 25, 2022, 1:10 PM Tim Donohue ***@***.***> wrote:

[2022-04-26 07:09] amgciadev opened #1612 "Clearing bitstream description leaves and empty dc.description entry for the bitstream"
**Describe the bug**
Clearing description of bitstream via UI leave an empty dc.description metadata entry. Is this intentional rather than fully removing the entry?

**To Reproduce**
Steps to reproduce the behavior:
1. Edit any bitstream via the Edit item section
2. Clear the description
3. Check via the API HAL browser
Example item: https://api7.dspace.org/server/api/core/bitstreams/5415158c-ee7

[2022-04-26 18:14] tdonohue opened #1614 "Dev mode (`yarn start:dev`) doesn't fully work in Angular 13"
**Describe the bug**
Appears to have been caused by #1567 .

The `yarn start:dev` command no longer works completely (e.g. it's not possible to login).  While the UI will build/start successfully, the entire header (including the login menu) is missing.  Here's a screenshot:
![homepage](https://user-images.githubusercontent.com/483997/165363531-2a2f0a5b-cb34-4d9a-9754-1e4ae4611474.png)

**(Notice

[2022-04-26 18:16] tdonohue commented on #1614
@artlowel and @ybnd : I'm assigning this ticket to you as it appears to be a side effect of Angular 13 upgrade in #1567  (at least I _think_ that's where the issues may have begun...as it appears that PR made changes to the development build process.)

[2022-04-26 19:28] #1543 closed

[2022-04-26 20:11] #1544 closed

[2022-04-27 06:48] ybnd commented on #1614
I can't seem to reproduce this, the header is always showing up for me and no `TypeError`s to be found...
Same thing on everything I have around (MacOS, Manjaro Linux, Windows)

[2022-04-27 07:26] artlowel commented on #1614
@tdonohue Is it possible you reviewed a PR using a language that isn't available in the main branch? If so, remove your language cookie and it should work again. This is arguably a bug (however it can only occur if your cookie contains a language that no longer exists, so it's not very likely to happen in the wild), but it's been around forever, and isn't related to https://github.com/DSpace/dspac

[2022-04-27 08:29] Raf-atmire opened #1616 "Radio buttons are broken in Angular submission"
**Describe the bug**
Radio buttons in Angular's submission form are broken. This is due to the fact that it isn't created in the correct way [this](https://github.com/DSpace/dspace-angular/blob/main/src/app/shared/form/builder/ds-dynamic-form-ui/models/list/dynamic-list.component.html#L48) is how it's created in Angular and [this](https://getbootstrap.com/docs/4.4/components/forms/#radios) is how

[2022-04-27 14:54] nibou230 commented on #1591
Hi @tdonohue, I already have a new branch with some code that implements the above description. Eveything is confined in the angular project. I would appreciate a feedback on the previous comment, but I am ready to make a pull request if you prefer to take a look at the code.

[2022-04-27 17:00] tdonohue commented on #1614
@artlowel : Yes, I think you are correct.  This started occurring after I did some testing of #1519 (a new Turkish translation).  I didn't make the connection that would be related to this issue.

My apologies to you and @ybnd .  It does appear this is a bug, but it likely only occurs in this odd scenario.  I'll retest things on my end to be sure that it no longer appears after clearing my cookies

[2022-04-27 17:04] tdonohue commented on #1591
@nibou230 : In all honesty, I haven't had a chance to look back at this. We are in the midst of starting into the final release phase for 7.3, so my time is limited these days & I'm mostly trying to help 7.3 work along.

It seems reasonable to create a PR in this scenario since you have the code ready. It does sound like this could be potentially useful to others at a glance. Perhaps others will h

[2022-04-27 19:05] tdonohue commented on #1616
@Raf-atmire : Thanks for reporting. I'll assign this back to you to work on for 7.3 based on that estimate.  Please feel free to delegate it internally as needed.

[2022-04-27 19:07] tdonohue commented on #1614
Closing, verified that this was a problem with my language cookie pointing at an unavailable translation.  The workaround is to remove the cookie, or spin up in production mode (`yarn build:prod; yarn serve:ssr`) and select a different language.

[2022-04-27 19:07] #1614 closed

[2022-04-27 19:21] #1380 closed

[2022-04-28 20:10] mspalti commented on #1611
@tdonohue , I agree that we should consider adding the Mirador build to CI. I don't know if we want that in the PR I just submitted. If it's just a matter of adding the yarn command at the end of the file that would be easy enough!

[2022-04-28 21:49] #1379 closed

[2022-04-28 22:06] #1588 closed

[2022-04-29 09:51] pnbecker commented on #806
PR is here: https://github.com/DSpace/dspace-angular/pull/1529

[2022-04-29 16:16] #1381 closed, assigned to artlowel

[2022-04-29 19:24] #1616 closed

[2022-04-29 19:46] #1611 closed

[2022-04-29 21:54] #1584 closed

[2022-05-02 12:41] MarieVerdonck opened #1635 "The search bar (`ds-search-form`) with given (input) `scope` is not applied"
**Describe the bug**
When re-using the search bar on the homepage (`ds-search-form`) on for example the collection page, by giving it a set scope (`@input scope`), then a search with that bar does not contain the expected scope filter in url nor its results.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a search bar component to the collection homepage. Add
[code]
to `src/app/community

[2022-05-02 13:00] MarieVerdonck commented on #1635
This will take an estimated **2 hours**

[2022-05-02 14:44] tdonohue commented on #1635
@MarieVerdonck : This sounds reasonable. I'll pull this over to the 7.3 board and assign back to you.  However, if you don't get to it, we may just move it over to 7.4 board as needed.

[2022-05-04 11:40] abollini commented on #1585
hi @tdonohue two/three PRs are coming for this ticket.
An angular PR (we spent 12 hours on that) will deal with patching of policy type and action type and will pair with https://github.com/DSpace/DSpace/issues/7812 (we spent 6 hours on that)

A followup angular PR will be needed to deal with the update of an eperson/group as it requires https://github.com/DSpace/DSpace/issues/8277 (we estimate 10

[2022-05-07 06:42] lep-flp commented on #1483
Hi all!

I have this eperson group which only has READ roles for all items and DEFAULT_ITEM_READ and DEFAULT_BITSTREAM_READ for each communites and collections. Basically, this eperson group will only be able to access the item metadata and bitstreams, rendering the management sidebar useless. Can anybody help me in removing the sidebar for regular non-admin epersons?

[2022-05-07 07:34] lep-flp commented on #1483
**Describe the bug:**
An eperson group with ONLY read, default_item_read, and default_bitstream_read on items/collections/communities could still access the sidebar functions: new, edit, import, and delete.

**To reproduce**
Steps to reproduce the behavior:

1. Log-in as top-level admin
2. Create an eperson group (say, "regular user group") and assign add a new eperson to that group
3. Authorize t

[2022-05-07 08:00] lep-flp opened #1643 "Users with read-only access rights should not be able to access the sidebar menu"
**Describe the bug:**
An eperson group with ONLY read, default_item_read, and default_bitstream_read on items/collections/communities could still access the sidebar functions: new, edit, import, and delete.

**To reproduce**
 Steps to reproduce the behavior:

1. Log-in as top-level admin
2. Create an eperson group (say, "regular user group") and assign add a new eperson to that group
3.  Authorize

[2022-05-09 11:33] kanasznagyzoltan opened #1644 "File download problem in the item submission phase"
Using DSpace 7.2,  the user is creating a new item via the item submission form and upload a file, the file is not downloadable (and could not be checked by the user) until the item is published.

Steps to reproduce the behavior:
1. Login to the DSpace 7.2 (angular) UI
2. Visit MyDSpace page
3. Start a new submission into any collection the actually logged in user has permission
4. Upload a file
5

[2022-05-09 11:34] kanasznagyzoltan commented on #1644
Could somebody help me if this bugfix could be in the 7.3 release?

[2022-05-09 15:06] tdonohue commented on #1643
Agreed this is incorrect behavior & confusing.  We've cleaned this up slightly in pre-7.3, but users with no permissions are still shown **two menus**:  `New -> Item`, and `Edit -> Item`.  I do agree this would be good to fix further, though not sure if we'll have time prior to 7.3.

[2022-05-09 15:16] tdonohue commented on #1612
@amgciadev : I believe this is expected behavior (if I'm understanding correctly what you mean by "clear the description").

If you set the dc.description to an empty value, then the dc.description field will be kept on the Item and display no value.

However, if you click the delete button next to the dc.description field, then it will be removed entirely.  After clicking delete you must click "S

[2022-05-09 15:26] tdonohue commented on #1609
This seems like it's possible two (related) tickets:
* First, the recommendation to change the current status names -- I agree with this and it could be a very small, quick change
* Then, the recommendation to add the name of the workflow step into the filters & label above the item. This seems reasonable, but this may or may not require some backend changes to ensure it works properly.

For now,

[2022-05-09 15:45] tdonohue commented on #1595
@tlloydthwaites : Apologies for the delayed response.  I wonder if this may have been a bug in a later version of 7.x, as I cannot reproduce this behavior on our demo site at https://demo7.dspace.org/

So, I'm closing this as "fixed" as I think it may have been fixed in some other bug fix...it looks to be working in our pre-7.3 code.

[2022-05-09 15:51] tdonohue commented on #1548
Thanks @paulo-graca : I can reproduce this.

It looks like a caching issue to me.  The groups listing on the EPerson edit page is not reloading.

How to reproduce:
1. Edit an EPerson
2. Add them to a Group (any group)
3. Go back to that same EPerson Edit page.  Their group will not be listed.  However, if you reload the page (click browser's reload button), then the group will appear.

Moving this

[2022-05-09 16:02] tdonohue commented on #1495
Thanks @firoball for the ticket.

* Verified this does NOT occur on Item pages (i.e. `/items/[uuid]`).  On these pages HTML is not evaluated
* However, it strangely DOES occur on any lists of items (seach/browse/mydspace), in either the `dc.title` or  `dc.description.abstract` fields.  Javascript in HTML doesn't appear to execute...but I can get images to load and also links or formatting to work.

[2022-05-09 16:38] tdonohue commented on #1612
@amgciadev : Thanks for clarifying.. I had misunderstood obviously.

This does look like a very minor bug.  I agree that ideally the `dc.description` field should not even appear for a Bitstream if it is cleared out.  That said, I don't think this impacts the behavior of the UI in any significant way.  It's just somewhat useless information.

Nonetheless, I'll pull this over to our board and see i

[2022-05-09 16:49] tdonohue commented on #1484
This seems to be fixed now that we've changed the submission to always enable the deposit button, see https://github.com/DSpace/dspace-angular/pull/1427 and follow-up tickets/fixes.

I'd recommend trying the latest code or 7.3 (once released).

[2022-05-09 16:49] #1484 closed

[2022-05-09 17:29] pilasou opened #1645 "Creating a Resource Type entity based on COAR Resource Types 3.0"
**Objective**

To offer a standardized alternatives to the default resource types in DSpace using the configurable entity model.

COAR Resource Types 3.0 Controled Vocabulary (https://vocabularies.coar-repositories.org/resource_types/) will be used for standardization.

So far, this vocabulary has already been implemented using DSpace Control Authority either sing an XML file or value pairs.

COAR

[2022-05-10 04:23] lep-flp commented on #1643
Hi! Thanks for recognizing my issue. I want to configure it myself, could you tell me which files should I configure to totally remove the sidebar for a specific user group only? Thanks!

[2022-05-10 09:10] kanasznagyzoltan commented on #1644
Thanks @tdonohue

[2022-05-10 09:13] kanasznagyzoltan commented on #1644
You mentioned the demo site, I tested this bug yesterday on this site: https://demo7.dspace.org/home
If it is the same site the one you mentioned the problem still occurs.

[2022-05-10 15:07] #806 closed

[2022-05-11 09:05] davide-negretti opened #1647 "Authentication plugins - Whitelabel error page is shown when user does not exist"
**Describe the bug**
When external authentication plugins (such as Shibboleth) are being used, a new ePerson is automatically created for each external account.

If the automatic creation is disabled, when an user logs in with an external provider then the "whitelabel error page" is shown. An error message should be shown instead.

**To Reproduce**
1. Set `authentication-shibboleth.autoregister =

[2022-05-11 14:40] pilasou opened #1648 "Relationship search window not closing after saving."
**Describe the bug**
When adding a relation between items (ex: adding a Person relation to a Publication), the search window is not closing after clicking on Save button even if the relation is well created (see print screen below).

![bogue-relation-search](https://user-images.githubusercontent.com/19291880/167876050-819d25f6-8fc3-4e42-b32a-3c7acca1f8cb.png)

**To Reproduce**
Steps to reproduce t

[2022-05-11 15:05] #1590 closed

[2022-05-11 15:09] tdonohue commented on #1648
@pilasou : I tried to reproduce this locally and I'm not able to reproduce it in the latest code.  For me, when I click Save (in step 6), I see the relationship created, then the window closes & I get a green success alert in the upper right.

Are you maybe running an older version of the code?  Maybe this was fixed recently already?

You also might want to check to see if there's some sort of err

[2022-05-11 17:50] pilasou commented on #1648
@tdonohue Ok we will look further following your advice. We reproduce this problem on DSpace Demo site: https://demo7.dspace.org/

[2022-05-11 19:04] tdonohue commented on #1648
@pilasou : Please test it again on the demo site at demo7.dspace.org.  I'm not able to reproduce this issue there.  However, it's possible the behavior changed recently as we realized today that the demo site was no longer auto-updating.  So, we pushed out a number of updates today -- it's likely one of those fixed this issue.

[2022-05-11 19:10] tdonohue opened #1650 ""Import" menu sometimes disappears from sidebar"
**Describe the bug**
After login as an Admin, the "Import" menu initially appears.  However, if you select any other page in the sidebar, it disappears.  Here's a screenshot... normally Import is right above Export.

![no-import-menu](https://user-images.githubusercontent.com/483997/167926718-df84b099-b9a9-4610-9b1f-5dd94a32e5b0.png)

Reproducible both locally & on http://demo7.dspace.org

**To Re

[2022-05-11 19:12] tdonohue commented on #1650
@artlowel : Would you or someone on your team have time to glance at this prior to 7.3?

[2022-05-11 22:14] #772 closed

[2022-05-11 22:14] #1514 closed

[2022-05-12 02:16] kshepherd opened #1651 "Access Condition section should appear in Edit Bitstream form for archived items"
**Background**
During submission and workflow, Edit Bitstream displays a form that includes the Access Condition section to help submitters and reviewers choose the appropriate access policy for the bitstream.

**Problem**
If an administrator is editing an archived item and goes to the Edit Bitstream form, the page is more like the traditional pre-7 forms, and not include access conditions but ins

[2022-05-12 03:02] kshepherd commented on #646
I am strongly in favour of adding i18n keys to submission forms! From what I've seen in my recent work, there wouldn't be any problems implementing this and it would make multilingual submission form management much easier.

Right now, if I change some config for a few fields in my submission form, I have to repeat or sync the same change across all the languages I support which is cumbersome, pro

[2022-05-12 15:10] #1635 closed

[2022-05-13 12:36] pilasou commented on #1648
@tdonohue Thanks, I retry on the demo site. The window do close now but I get an error message: "Erreur lors de l'édition des relations Http failure response for https://api7.dspace.org/server/api/core/relationships?relationshipType=1: 500 500"

[2022-05-13 19:25] #788 closed

[2022-05-14 12:44] Chris-Clawson opened #1654 "Invalid data (with a comma) in dspace.entity.type makes item uneditable"
DSpace Angular 7.2

Ubuntu 20.04
 web server

Accidental or improper entries in an item's dspace.entity.type metadata causes the item to hang DSpace when attempting to view or edit. The item may only then be fixed by importing a data corrected CSV spreadsheet.

**Repeatable procedure:**

* Select a normal and good item and edit the contents of dspace.entity.type with the following:
`Couture Bros.,

[2022-05-16 13:07] MW3000 opened #1655 "Problem submitting form, when the same field is required and repeated with different visibility settings for different types"
I use backend and frontend versions 7.3-snapshot, after the type-bind submission form feature was included.

**Describe the bug**,
**To Reproduce**
Given the following submission form definition:

[code]

You can deposit type a and type b without any problem. But if you try to deposit type c, you will never succeed to submit the form, because despite the fact that you entered a subtitle, it seems,

[2022-05-16 14:09] tdonohue commented on #1655
I think this is an unexpected use case right now to duplicate the same field with different settings.

I'm not sure the submission form can currently support duplicated fields (in this example configuration there's two `dc.title.subtitle` fields, which only differ in their "visibility" setting).  I think we may be expecting field names (`dc.title.subtitle`) to be unique in a submission form...whic

[2022-05-16 14:14] MW3000 commented on #1655
Yes, it is a pretty essential functionality. You have fields that are repeatable/visible/required for some types, not-repeatable/not-visible/not-required for others or have different labels for different types. So you will have the same field definition repeated one or more times in the same form with different type-binds.

[2022-05-16 20:31] kshepherd commented on #1655
hm. this will be a bit tricky.. unlike previous DSpace  versions where metadata values could be 'skipped' (because the metadata is completely cleared and readded every time), here the validate process has to remove metadata values from an in-progress item. We can't tell which metadata value was added by which submission form input at that stage, it's just a value.

One possibility:
While iterating

[2022-05-18 01:51] kshepherd commented on #1655
My attempted fix at : https://github.com/DSpace/DSpace/pull/8296

[2022-05-18 04:44] SrinivasRao17 opened #1659 "Unable to Add field with new name"
**Is your feature request related to a problem? Please describe.**
We are unable to add new field in the Item list (dc.description.abstract) we need to add new field with "dc.calculation"

**Describe the solution you'd like**
Is there any API that we need to add in the backend for adding dc.calculation in the item list.

**Describe alternatives or workarounds you've considered**
I need help from y

[2022-05-18 15:17] tdonohue commented on #1659
Closing as question is unclear & seems to be a usage question rather than a bug report or feature request. This ticketing system is only for bug reports / new feature requests.  Please use one of our Support options to ask questions: https://wiki.lyrasis.org/display/DSPACE/Support

At a basic level, new metadata fields can be added from the UI when logging in as an Admin.  Just go to the sidemenu

[2022-05-18 15:17] #1659 closed

[2022-05-18 15:35] SrinivasRao17 commented on #1659
Thanks a lot for the update. :)

[2022-05-19 13:55] #1357 closed, assigned to artlowel

[2022-05-19 13:55] #1650 closed

[2022-05-20 15:31] tdonohue opened #1660 "Allow for Processes to be deleted from the User Interface"
**Is your feature request related to a problem? Please describe.**
Processes currently cannot be deleted from the User Interface, even though `DELETE` is possible from the REST API: https://github.com/DSpace/RestContract/blob/main/processes-endpoint.md#execution-deletion

Without this feature, the list of processes will just grow and grow, even though they can be deleted via the REST API.

**Descr

[2022-05-20 15:55] #1654 closed

[2022-05-20 15:56] tdonohue commented on #1654
@Chris-Clawson : Wanted to make sure you saw this was just fixed (to be released in 7.3) via #1658

[2022-05-20 17:44] mwoodiupui commented on #1660
I'd say that the ability to automatically remove stale process debris, rather than wasting a sysadmin's time doing this manually, is not nice but necessary.

[2022-05-20 21:28] tdonohue commented on #1331
Related (loosely) to #1482

[2022-05-20 21:35] tdonohue commented on #1504
Closing, as this appears to have been fixed.  I don't recall where, but it's no longer reproducible in 7.3

[2022-05-20 21:38] tdonohue commented on #1518
Re-tested today, and this is no longer reproducible (on latest code, pre-7.3). I'm not sure when it was fixed, but appears to be fixed.

[2022-05-20 21:38] #1518 closed

[2022-05-20 21:48] tdonohue commented on #1644
Still unable to reproduce this locally, though it can be reproduced at demo7.dspace.org.  It's *possible* this is a misconfiguration of the demo site, unless someone else is able to reproduce this in another location.

[2022-05-23 22:06] unibravo opened #1661 "Unable to add relationship"
**Describe the bug**
Unable to add relationship
No suitable match could be found for relationship type isAuthorOfPublication between the two items

<img width="716" alt="isAuthorofPublication" src="https://user-images.githubusercontent.com/22861527/169912902-02af7f5b-d2e1-467c-ba76-acfab0404f67.png">

**To Reproduce**
Steps to reproduce the behavior:
1. New Item
2. Select Author...

**Expected beh

[2022-05-24 11:34] MarieVerdonck opened #1662 "Translation (latvian) not working because of missing comma in json5"
**Describe the bug**
Currently the translation (from `lv.json5` file) isn't working because of a missing comma [here](https://github.com/DSpace/dspace-angular/blob/main/src/assets/i18n/lv.json5#L5555)

**To Reproduce**
Steps to reproduce the behavior:
1. Select the translation `Latviešu` in the dropdown
2. Shows the English labels despite having translations in the `lv.json5` file
3. When this com

[2022-05-24 11:36] MarieVerdonck commented on #1662
This will take an estimated **1 hour** to handle this case with the `sync-i18n-files` script

[2022-05-24 14:57] tdonohue commented on #1662
@MarieVerdonck : Please feel free to submit the PR & that way we can try to fit this into 7.3.  Assigning back to you. Thanks!

[2022-05-24 20:27] tdonohue commented on #1661
@unibravo : I'm not able to reproduce this issue with the latest code (pre-7.3).  So, either it's a configuration issue on your end, or perhaps it's already been fixed.  Here's a screenshot of me creating a new "Publication" entity and having already linked it to two "Person" entities in the Author field.
![entities](https://user-images.githubusercontent.com/483997/170125434-a7fb359e-c73f-4bdd-b41

[2022-05-24 20:27] #1661 closed

[2022-05-24 21:46] #1557 closed

[2022-05-25 19:27] tdonohue commented on #644
Encountered again in testing of #1641.  Here's how to reproduce problem easily:
* Login as an Admin
* Edit an Item
* Edit Item Policies
* Change default "Anonymous" READ policy to be "Administrator" READ (i.e. change the group assigned to the policy)
* Change will be successful, but on the Policies page the group with **disappear**. See screenshot at https://github.com/DSpace/dspace-angular/pull/1

[2022-05-25 19:33] #1585 closed

[2022-05-25 22:09] #1655 closed

[2022-05-25 22:18] unibravo commented on #1661
Dear Tim Donohue, thanks for reply.

Chrome Console:
dspace-rest-response-parsing.service.ts:155 The response for 'http://dspace.unirepos.com/server/api/discover/search?configuration=person' has the self link 'http://dspace.unirepos.com/server/api/discover/search'. These don't match. This could mean there's an issue with the REST endpoint

My configurations:
in .cfg file:
dspace.server.url = http:

[2022-05-26 13:51] tdonohue commented on #1661
@unibravo : As I noted above, you should locate the underlying error message. See https://wiki.lyrasis.org/display/DSPACE/Troubleshoot+an+error#Troubleshootanerror-DSpace7.x(orabove)  Without the underlying error message, this would be impossible to debug as I cannot reproduce it.

If you need additional help/support, please use one of our support options at https://wiki.lyrasis.org/display/DSPACE

[2022-05-26 13:52] #741 closed

[2022-05-26 17:11] mspalti opened #1665 "Stale page after Shibboleth authentication"
**Describe the bug**
If you begin at an object like a community and log in via Shibboleth to view restricted collections or sub-communities these objects don't appear until you reload the page in your browser.  This could be a manifestation of a more general problem with updating UI state after Shibboleth login.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to a community or colle

[2022-05-27 00:00] mspalti commented on #1515
This issue seems to have reappeared with recent 7.3 updates.

[2022-05-27 14:40] ybnd opened #1668 "Route-matching themes aren't respected on first load/refresh"
**Describe the bug**
While applying #1627 to a client repository I noticed that it broke route-matching themes in a way I didn't picked up on before:
* `ThemeService.updateThemeOnRouteChange$` is no longer triggered when a page is first loaded, so the default theme gets used instead.
* Navigation is not affected

**To Reproduce**
Steps to reproduce the behavior:
1. Run a local DSpace instance with

[2022-05-27 14:48] ybnd commented on #1668
@tdonohue this is a pretty major problem with #1627 that I should have caught, I think it's crucial that we merge a fix before 7.3

[2022-05-27 14:56] tdonohue commented on #1668
@ybnd : Feel free to work on it, I'll pull it over onto the 7.3 board.  Bug fixes are always welcome, so if you can find a fix, please submit as soon as you can.

[2022-05-27 14:57] tdonohue commented on #1515
@mspalti : Are you planning to work on this again?  Otherwise, if you don't have time, we should move this into a new ticket so I can reassign it elsewhere (as this prior ticket was "fixed" by you, and the history/tracking will get confusing if we now reassign this to someone else)

[2022-05-27 18:58] mspalti commented on #1515
@tdonohue , a new ticket makes sense. I should have time to work on it later ,but not right now, and I wouldn't mind if there are other volunteers. I've discovered a related issue #1665 and suspect that Shibboleth authentication in the Angular UI needs a bit of attention.

[2022-05-28 00:27] kshepherd commented on #646
A further note here that all the form components pass `label` through a translate pipe, so this is already possible, all we're missing is to make keys and move the text across to en.json5

[2022-05-30 14:57] abollini commented on #775
Do we need to implement a "SAF" option under the Export menu or a button on the collection home page to use as shortcut? or both? if we need to add a button shortcut in the collection home should we have one (standard mode?) or two as in the previous versions to distinguish between the migrate and the standard mode?

[2022-05-30 15:00] abollini commented on #783
do we need to add a SAF option under the import menu from where one can select the collection or should we include a shortcut button in the collection home page? or both?

[2022-05-31 16:36] tdonohue commented on #783
@abollini : I'd recommend this only be in the import menu (alongside existing import from CSV).  So, the Import menu might become:
[code]

I don't think there's any need to replicate the import mechanism to the Collection homepage, as no other imports can occur at that location. I'd like to keep tools together as much as possible in the side menu.

Please let me know if you'd like to be assigned f

[2022-06-01 14:07] Atmire-Kristof opened #1671 "Adding relationships through submission doesn't update view automatically"
**Describe the bug**
When adding (or removing) a relationship to an item in submission, the view (list displayed under the field's input) doesn't update automatically. The relationship is correctly added/removed to/from the item, but isn't visible until a page reload.

**To Reproduce**
* Start a submission for an item in a collection that contains a relationship input (as of writing this, the "Peo

[2022-06-01 14:50] tdonohue commented on #1671
@artlowel and @Atmire-Kristof : any chance this is something simple?  Just curious if there's any way we can get this fixed in 7.3, as it seems like an annoying issue.  If you feel that the Atmire team could take this on, let me know...would be glad to prioritize this for immediate fixing.

[2022-06-01 15:17] Atmire-Kristof commented on #1671
@tdonohue really hard for me to tell if this is an easy fix or not. I had a brief look at it and didn't find anything that could be related just yet.

[2022-06-01 19:55] ConfusionOrb221 opened #1672 "Google Analytics Universal Analytics ID loses support on July 2023"
Google Analytics is going to lose support of the UA ID on July 2023 the code currently in [google-analytics.service.ts](https://github.com/DSpace/dspace-angular/blob/main/src/app/statistics/google-analytics.service.ts#L40-L46) only supports the UA identifier, this needs to be changed to use the G-ID for Google Analytics 4 to keep it up to date.

Currently we’re not using GA directly. Instead we us

[2022-06-02 18:01] #145 closed

[2022-06-03 16:02] tdonohue opened #1675 "Collection Mapper (from Edit Item) is no longer working"
**Describe the bug**
When you attempt to map an Item to a different collection, the search "hangs".  You are never able to get any collections back as results.

In DevTools you will find that the REST API returned a 422 Unprocessable Entity response which says:
[code]
It appears the bug is that this tab sends a request telling the REST API to sort by `id` which isn't valid:
http://localhost:8080/s

[2022-06-03 21:53] #1662 closed

[2022-06-07 13:16] corrad82-4s opened #1678 "Missing information about failed query against external providers"
**Describe the bug**
While working at rest issue  [#8327](https://github.com/DSpace/DSpace/issues/8327) we noticed that, in case of error during external system query, user is not properly informed about this failure.

**To Reproduce**
Steps to reproduce the behavior:
1. login to dspace7 and go to MyDSpace
2. start a new Publication submission from external source
3. enter a query string and selec

[2022-06-07 15:28] tdonohue opened #1679 "Custom themes should not import each third-party SCSS file individually, as that makes maintenance more difficult."
**Describe the bug**
(Discovered when reviewing #1617, but it's unrelated to that feature)

Currently, our `custom` and `dspace` themes both import a number of third-party SCSS files into their `styles/theme.scss` from `node_modules`.  For example:
[code]
See for example https://github.com/DSpace/dspace-angular/blob/main/src/themes/custom/styles/theme.scss

Ideally, we should move these imports in

[2022-06-07 16:15] atarix83 opened #1680 "Cache issue when creating a researcher profile multiple times after deleting"
**Describe the bug**
While working on https://github.com/DSpace/dspace-angular/pull/1617#issuecomment-1148621111 we found out a cache issue when creating a researcher profile two times. Basically the second time the profile is created we receive a remote data with status error-stale but the POST request to the server is successful (status 201).

**To Reproduce**
When esearcher-profile.hard-delete.

[2022-06-07 20:59] mwoodiupui commented on #1495
We have some contributors who write quite elaborate abstracts using XMLUI's "Simple HTML Fragment" feature.  We'll have to clean up these metadata if text-field markup is unimplemented, or implemented in a different way, and the demand will still exist.

A quick look at [lightweight markup languages](https://en.wikipedia.org/wiki/Lightweight_markup_language) says to me that they are all much too p

[2022-06-08 14:11] #801 closed

[2022-06-08 14:19] #769 closed

[2022-06-08 14:25] #1668 closed

[2022-06-08 15:07] tdonohue commented on #1515
I've been unable to find a volunteer to look at this. At this time it's uncertain if this will be fixable in 7.3.  If anyone is interested, please get in touch.

[2022-06-08 16:46] tdonohue commented on #1495
NOTE for future work. This needs discussion. The initial ticket here implies that these HTML tags should *not be evaluated*.  But, it seems we *were evaluating some tags* in XMLUI, see https://wiki.lyrasis.org/display/DSDOC7x/Simple+HTML+Fragment+Markup

Therefore, we should discuss whether we can bring that XMLUI feature forward, while also ensuring that XSS (and similar) attacks cannot be achiev

[2022-06-08 16:56] atarix83 opened #1681 "Filter value selected from lookup doesn't work in the same way as clicking on checkbox"
**Describe the bug**
When in a search filter (e.g. Authors) an existing filter value entry is selected from a lookup result, the filter doesn't work the same as clicking directly on a filter value. The result is that the selected filter value is duplicated two times and also the filter values of the resulting search are different than when clicking on the same filter value directly.

**To Reproduc

[2022-06-08 18:05] corrad82-4s opened #1682 "Bitstream description overflows in admin edit"
**Describe the bug**
When the description of a bitstream is long (a paragraph, for example), once displayed in edit section (Bitstream tab) it overflows and make hard to understand other information provided for the bitstream and to perform bitstream related actions

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new item
2. add an attachment
3. Insert a paragraph in file details
![

[2022-06-08 18:32] tdonohue commented on #1682
@corrad82-4s : Assigning back to you. This seems fine.  If it's a very quick fix, we might be able to squeeze into 7.3. Otherwise, we'll get it into 7.4

[2022-06-09 06:32] agp8x commented on #587
This is still relevant and needs to be addressed.

[2022-06-09 09:26] artlowel opened #1683 "Move route subscription out of app component"
**Describe the bug**
https://github.com/DSpace/dspace-angular/issues/1668 reported route dependent themes wouldn't be resolved correctly on first page load. This was fixed in https://github.com/DSpace/dspace-angular/pull/1669 by running that theme check on a later route event, if it hadn't already happened.

However that's a workaround. The reason for the issue seems to be that we subscribe to the

[2022-06-13 11:50] alanorth opened #1686 "Use fully qualified image name for containers on Docker Hub"
**Describe the bug**
Docker is not the only container runtime and docker.io is not the only container registry. We should use fully qualified image names for containers hosted on Docker Hub so we are not ambiguous when running on other container runtimes.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to pull a container without a fully qualified image name while using Podman.
2. Get an

[2022-06-13 16:16] #1551 closed

[2022-06-17 09:48] #1312 closed

[2022-06-17 12:32] mwoodiupui opened #1693 "End-user agreement must be customized, but is undocumented and hard to find"
**Describe the bug**
As delivered, DSpace has a hard-coded "lorem ipsum" end-user agreement.  This is buried deeply inside the UI code in a component's template.

**Expected behavior**
A document which *must* be customized should be mentioned in the installation and configuration sections of the manual, and should be separated from the code in an easy-to-find location.  One should not have to hack

[2022-06-17 12:36] mwoodiupui commented on #1693
We should also consider `app/info/privacy/privacy-content/privacy-content.component.html`.

[2022-06-17 13:31] tdonohue commented on #1693
Likely this could be added to the hints/tips at https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Customization

I do agree it might be nice to make it easier to find, but at the same time, I think it needs to be an Angular Component, so there may be limitations to where it can be placed.  In any case, I agree that at the very least it needs better docs, and maybe we can find ways to make it

[2022-06-17 15:23] tdonohue commented on #1080
@pnbecker : I'd like to make sure this gets into 7.4 (later this year) as this has been in the works for some time now.  If we need to reassign this, please let us know.  We could also look more closely at the draft privacy statement written/shared by the DSpaceDirect team (see [comment above](https://github.com/DSpace/dspace-angular/issues/1080#issuecomment-1006801347)) at https://docs.google.com

[2022-06-21 14:13] ybnd opened #1695 "Item action button disabled after redirect from action page"
**Describe the bug**
After withdrawing/reinstating an Item and getting redirected back to `/edit/status`, the reinstate/withdraw button is disabled.

**To Reproduce**
1. Log in as an admin
2. Edit any archived Item
3. Click "Withdraw" and confirm
   * You will be redirected back to `/edit/status`
   * The "Reinstate" button will be disabled
4. Refresh
   * The "Reinstate" button will no longer be

[2022-06-21 21:18] tdonohue commented on #573
I encountered this again today on pre-7.3.  It appears that our UI is sending **two requests** when hitting Browse by Author.

1. `/server/api/discover/browses/author/items?scope=[uuid]`  -> This results in a 500 Exception on the backend, with this error:
[code]
2. Immediately after that, the correct request is performed: `/server/api/discover/browses/author/entries?scope=[uuid]`.  This request re

[2022-06-22 13:31] atarix83 opened #1696 "Submission bitstream access condition edit form doesn't work without maxStartDate or MaxEndDate"
**Describe the bug**
During submission when a bitstream access condition has a start date or an end date (lease/embrago) without setting the maxStartDate/MaxEndDate the edit form breaks down when selection that specific access condition

**To Reproduce**
Steps to reproduce the behavior:
1. on rest side configure the access condition (`config/spring/access-conditions.xml`) `lease` or `embargo` in o

[2022-06-22 13:38] atarix83 opened #1697 "Submission item access condition step doesn't take in account maxStartDate or MaxEndDate when set"
**Describe the bug**
During submission, with the item access condition step, when a item access condition has a start date or an end date (lease/embrago) and setting the maxStartDate/MaxEndDate those values are not taken in account by the section form, so it's possible to select a bigger date.

**To Reproduce**
Steps to reproduce the behavior:
1. on rest side enable the access condition step by ch

[2022-06-22 15:46] #1681 closed

[2022-06-22 22:06] tdonohue opened #1700 "Usability issues to ORCID settings & synchronization queue"
**Describe the bug**
Several usability issues were discovered during the final review of the ORCID settings (#1618 ) and ORCID queue (#1626 ) PRs in the 7.3 release.

**ORCID Settings Page can be difficult to find**
The ORCID settings page is only accessible from the Profile Item view page (via the ORCID icon).  Ideally, it would be better to make it accessible from either the Item *Edit* page (as

[2022-06-23 13:41] amgciadev opened #1702 "Move item to a different collection is not inheriting policies"
When moving an item to a different collection, the inherit policies option is always ignored (it is not sent to the request).

Steps to reproduce:

1.  As an authorised user, click on Edit item from the Item display page
2. Go to the Status tab and select "Move..."
3. Specify new target collection and tick the "Inherit policies" tickbox
4. Save changes

Expected result: the default access policies

[2022-06-23 13:42] amgciadev commented on #1702
When debugging, I have also noted that the underpinning API request does not support the boolean parameter, and a default "false" is always used at the implementation level (ItemOwningCollectionUpdateRestController.java)

[2022-06-23 16:24] #1696 closed

[2022-06-23 16:24] #1697 closed

[2022-06-23 16:33] tdonohue commented on #1515
Moving this to 7.4 as it wasn't able to be addressed in 7.3

[2022-06-23 20:05] tdonohue opened #1704 "Resource Policies can no longer be edited."
**Describe the bug**
In final testing of 7.3, I discovered that it's no longer possible to edit resource policies.

After editing an existing Resource Policy on an Item, Collection or Community, the "Save" button never enables.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a Community, Collection or Item
2. Edit the Authorizations
3. Choose a policy and click Edit on it.
4. Attempt to

[2022-06-23 20:10] tdonohue commented on #1704
@atarix83 : I'm assigning this to you as your team worked on this in #1641 and #1664.  I've not yet tracked down the likely cause, but I've reproduced this on localhost and on demo7.dspace.org.  I'm hoping it'll be a quick fix tomorrow.

@artlowel : Wanted to alert you as well in case @atarix83 is unable to quickly address this.

I've delayed 7.3 until this issue can be resolved.  Hoping to releas

[2022-06-23 20:28] tdonohue opened #1705 "Curation Tasks cannot be started from Community/Collection"
**Describe the bug**
While it's possible to run Curation Tasks from the Admin sidebar, if you attempt to run them from within a Community or Collection you receive a 400 exception.

![curation-from-collection](https://user-images.githubusercontent.com/483997/175393203-f896463e-5fda-4e2b-922f-0802c73f9ff5.png)

The error is a `400 Bad Request` exception:
[code]

**Cause**

The error appears to be b

[2022-06-23 20:31] tdonohue commented on #1705
@artlowel : could you glance at this one tomorrow?  It seems like a quick fix as it's the UI passing the wrong value to the backend. Instead of sending the full Community/Collection URL (http://localhost:4000/handle/123456789/1118), it should just be sending the Handle part (123456789/1118).

@atarix83 : Just alerting you as well in case @artlowel or someone on his team cannot tackle this tomorrow

[2022-06-24 14:48] #1705 closed

[2022-06-27 17:11] toniprieto commented on #1487
It seems that the ng-dynamic-forms library used to show this section doesn't translate the labels of checkbox.

This is also mentioned in this issue #1335 that is a duplicate. See: https://github.com/DSpace/dspace-angular/issues/1335#issuecomment-927979820

I'll submit a new PR that uses the TranslateService to force the translation of the label in onSectionInit function.

[2022-06-27 19:40] tdonohue commented on #1695
@ybnd : Thanks...pulling this bug over to the 7.4 board.  Let me know if you or anyone on your team would like to work on it (or already are doing so)

[2022-06-28 14:36] BrunoRoemers opened #1710 "False positives when matching theme based on handle"
**Describe the bug**
DSpace 7 has the ability to switch themes based on the handle of the current item/collection/community (or the handle of one of their parents). Whether a theme is a match, is ultimately [decided here](https://github.com/DSpace/dspace-angular/blob/main/src/config/theme.model.ts#L90), however this logic contains a bug.

Example: given `dso.handle = http://hdl.handle.net/12345678

[2022-06-28 17:13] alawvt opened #1711 "In facets, vertically align checkbox with first word of option"
**Describe the bug** DSpace 7.2?
As first reported in https://groups.google.com/g/dspace-community/c/GMO020isfZQ/m/1ISexkihAwAJ,
in facets, the check box for each option seems to be vertically centered on each option. This is fine for single lines but is confusing for multi-line options. For example, the ETD collection in the Iowa State University repository running DSpace 7.2, https://dr.lib.iast

[2022-06-28 17:25] alawvt opened #1712 "Facet search box should search all words, not just first word, in options"
**Describe the bug** DSpace 7.2?

As first reported in https://groups.google.com/g/dspace-community/c/GMO020isfZQ/m/1ISexkihAwAJ, the search box within a facet seems to match the first word of an option but not subsequent words, for example in the Department facet for Iowa State, https://dr.lib.iastate.edu/collections/0830d32e-14e1-4a4f-bb8f-271a75ed35af?scope=0830d32e-14e1-4a4f-bb8f-271a75ed35af,

[2022-06-28 19:01] mwoodiupui commented on #1710
Yes, the class `HandleTheme` looks unfinished:  it takes `any` rather than `DSpaceObject` like the other matchers, and `includes` is clearly the wrong test for "will match the community, collection or item with the given handle" which calls for equality.  (https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Configuration#UserInterfaceConfiguration-ThemeSettings)

[2022-06-28 19:49] tdonohue commented on #1678
This ticket seems somewhat related to https://github.com/DSpace/DSpace/issues/8358, but it might be more specific to a single area of DSpace.

I'm not against this idea, but I think we need to be cautious.  As noted in that other ticket, the REST API was designed to _not return_ error stacktraces in order to avoid "information exposure" (it can be a security issue to share full exceptions as it ca

[2022-06-29 10:30] erpnedir opened #1713 "Browse menus on top must reset pagenumber to 1 when a link clicked."
**Describe the bug**
On browse search results, if you click a link with a big number of results no item is shown in the opening page. This is because the page parameter in the url (bbm.page) is not reset. The new page tries to show the Page number of the previous page.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ds7 demo site https://demo7.dspace.org/home
2. Click Browse by Author l

[2022-06-29 16:09] tdonohue commented on #1713
Thanks for the report @erpnedir .  I've verified the bug on the demo site (using the links you've provided).  Moving this to the 7.4 board and flagging as high priority.

[2022-06-29 19:10] tdonohue commented on #1260
Closing, as this was fixed by #1619 / #1551 and the fix was included in 7.3

[2022-06-29 19:10] #1260 closed

[2022-06-30 14:17] pnbecker opened #1714 "config.example.yml says that ui.host should be synced with dspace.ui.url in backend"
**Describe the bug**
A comment in [config.example.yml](https://github.com/DSpace/dspace-angular/blob/42ef35b2bc8e543fa6e1f67d4a9d1599c81ee455/config/config.example.yml#L5) says that ui.url in that file and dspace.ui.url setting in the backend should by synced. If I understand it correctly, the configuration in the frontend tells Angular where to listen and the configuration in the backend is used

[2022-06-30 17:34] ybnd commented on #1710
Note that
* `HandleTheme.matches()` uses `any` because `handle` is not a `DSpaceObject` property in Angular right now, it is a getter on _some_ DSO subclasses
* ... and that getter returns `dc.identifier.uri` instead, which may be changed & is therefore not even guaranteed to reflect the actual handle
* This is why `.includes()` was used. If we want leave the "handles" as is we'd want to use `.end

[2022-07-01 08:41] Ianvdl opened #1716 "The wording of the English text on the "Forgot Password" page is incorrect"
**Describe the bug**
The text on the Forgot Password page (visible at https://demo7.dspace.org/forgot) says:

"Enter Register an account to subscribe to collections for email updates, and submit new items to DSpace."
and
"This address will be verified and used as your login name. "

I suspect these are oversights since the text is the same as the ones for registering an account. The offending line

[2022-07-01 11:17] corrad82-4s commented on #1322
Hi @tdonohue ,

we, as 4Science, can look at this issue. Feel free to assign it to us.
Thank you

[2022-07-01 15:16] tdonohue commented on #1716
@Ianvdl : If you are willing to provide a PR, please feel free to just create it.  That's the quickest way to get small fixes done (as otherwise this ticket will wait for a different volunteer to step forward and fix it).  If you create a PR, please link it by to this ticket by saying it "Fixes [issue-id]" (where [issue-id] in this case is `#1716`.   Then, I can make sure your PR is reviewed to be

[2022-07-01 16:01] tdonohue commented on #742
While we could change the priority back, I'm bumping this to `high priority` (from medium) simply because I'm seeing a [lot of cache related issues in other tickets](https://github.com/DSpace/dspace-angular/labels/performance%20%2F%20caching).  While I realize this may not solve them all, it seems like cache cleanup & fixing caching issues is becoming very high priority.

[2022-07-01 17:24] tdonohue commented on #1322
Thanks @corrad82-4s !  Assigning to you and moving to the "in progress" column for 7.4.

[2022-07-01 20:29] Ianvdl commented on #1716
@tdonohue Thank you for your guidance. I've created a PR for the fix, please let me know if the wording is in order.

As an aside, does the project encourage just creating a PR in the future for small fixes, or would you prefer I make an issue first?

Thanks.

[2022-07-01 21:07] #1714 closed

[2022-07-01 21:09] tdonohue commented on #1716
@Ianvdl : For small typos or fixes, a PR (without an issue ticket) is perfectly OK.  We only request an issue ticket if it's a bug which may require detailed explanation and/or screenshots to show others how to reproduce it.  Thanks for your PR, I'll pull it over to our board to try and find a reviewer.

[2022-07-04 14:42] irynakuchma commented on #1645
Thank you Pierre, looks great and will be a very useful feature to include in the DSpace core.

[2022-07-05 22:21] pgwillia commented on #1645
How does this compare to the flexible data model in [DSpace-CRIS](https://wiki.lyrasis.org/display/DSPACECRIS)?

[2022-07-06 13:12] pilasou commented on #1645
Hi @pgwillia, hum, I am not sure how it compares to this model. DSpace-CRIS is an independant product adding specific features not provided by DSpace. One thing for sure, when we design this new resource type entity, we did not have it in mind. Is there something in this proposal that DSpace-CRIS is already offering?

[2022-07-06 21:56] kshepherd opened #1719 "Invalid (>30 char length) policy names are allowed by angular in create / edit resource policy"
**Describe the bug**
The resource policy name column in DSpace has a character limit of 30 characters. Angular will allow any length in the "name" field of a resource policy create/edit form anyway, and report a generic 500 Server Error if the length of the name is above 30 characters.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create or edit a resource policy on an item (or oth

[2022-07-07 08:15] benbosman opened #1720 "MyDSpace doesn't support entities"
**Describe the bug**
When creating e.g. a Person item, the MyDSpace page renders it like a publication (using dc.title, dc.date.issued, dc.description.abstract, …)
This should use https://github.com/DSpace/dspace-angular/blob/main/src/app/entity-groups/research-entities/item-list-elements/search-result-list-elements/person/person-search-result-list-element.component.html instead

**To Reproduce**

[2022-07-07 13:12] mhvezina commented on #1645
Upvote

[2022-07-08 09:56] KevinVdV opened #1721 "The "citation_pdf_url" meta tag download link doesn't use https"
**Describe the bug**
When running angular on server side & having an apache in front of it to ensure https access the "citation_pdf_url" shows as http.

This leads to an issue where users are not able to download publication file(s) via links from Google Scholar in Google Chrome and Microsoft Edge browsers.

**To Reproduce**
Checkout the following url's:
* https://unsworks.unsw.edu.au/entities/pub

[2022-07-08 10:03] artlowel commented on #1721
The cause of this issue seems to be that the [ServerHardRedirectService](https://github.com/DSpace/dspace-angular/blob/d0771715b66de256ca69203cbc5b6a5a9caf5a1d/src/app/core/services/server-hard-redirect.service.ts#L71) uses the protocol and the host of the incoming request to determine the origin. So if you're not using https on the angular server directly but instead put a different server in fro

[2022-07-08 12:40] MarieVerdonck opened #1722 "Virtual metadata in edit metadata page"
**Describe the bug**
The virtual relationship metadata on an item, that is added at run-time depending on the relationships that Item has with other entities, and thus not present in the DB, is present in the edit metadata page. This metadata is however not editable, since it is dependent on the relationships the item has, not actual metadata values on the item itself.

**To Reproduce**
Steps to r

[2022-07-11 03:43] edhelll commented on #413
The problem remains and makes the system unusable. The initial download is very long.

[2022-07-11 13:41] tdonohue commented on #1722
Agreed, this is definitely a bug.  I'd have a preference for displaying the virtual metadata on `/edit/metadata`, but **disabling** the ability to edit it.  I worry leaving the virtual metadata off that page would be a confusing user experience (as the edit metadata page would only include some fields, and not all).

This is also somewhat related to https://github.com/DSpace/DSpace/issues/8299 (wh

[2022-07-11 14:33] tdonohue commented on #413
Pulling this over to the 7.4 board to see if we can get some analysis done.  It's still reproducible on latest code...but seemingly only when Entities are used and have embedded search results.

[2022-07-12 14:56] tdonohue commented on #1680
Thanks @artlowel .  Leaving assigned to you & adding the estimate.

[2022-07-12 19:56] mspalti opened #1723 "Date facets component not working correctly"
**Describe the bug**
The discovery date facet does not work correctly when dates are prior to 1950. Here are some screenshots to illustrate.

**Initial state:**
<img width="261" alt="Screen Shot 2022-07-12 at 11 09 03 AM" src="https://user-images.githubusercontent.com/1308551/178563391-c20f2bc4-f531-414b-80ac-831d3e243e7f.png">

**Selecting date range after 1950**
<img width="261" alt="Screen Shot

[2022-07-13 12:28] artlowel commented on #1683
@tdonohue I would argue that this is a high priority issue, as it seems it applies to more than just the route subscription.

We noticed a problem with a client recently that had different menu options based on the language, but because the menu is now created in a resolver instead of a component (as a part of https://github.com/DSpace/dspace-angular/pull/1627 to prevent the menus flickering on th

[2022-07-13 19:08] tdonohue commented on #1683
@artlowel : Ok, I'm fine with bumping this up, as it sounds like you are implying this could also help solve (or be a step to solving) other potential "caching" issues (where menus aren't refreshed/loaded properly)?  I wonder if this would end up having an impact on issues that reappeared after #1627 , such as #1665  (which we had fixed previously, but then appeared again after page load was impro

[2022-07-13 21:15] #1716 closed

[2022-07-14 21:44] erpnedir commented on #1713
I made some additions to the expected behavior section. I discussed with a user  and I think this way it is better.

[2022-07-15 13:53] saschaszott opened #1726 "Missing translation of RegisterDOI curation task label (curation-task.task.registerdoi.label)"
**Describe the bug**

Currently RegisterDOI does not have an associated label translation. The translation of `curation-task.task.registerdoi.label` is missing.

![image](https://user-images.githubusercontent.com/952735/179236900-4fcc5e01-29fd-4bf5-9f67-e5ca6b6572cf.png)

**To Reproduce**

Steps to reproduce the behavior:

1. Open "Edit Collection" view
2. Open Curate tab

**Expected behavior**

T

[2022-07-15 14:16] saschaszott opened #1727 "Untranslated h5 headings in "Edit Collection > Assign Roles" after page reload"
## Describe the bug

The content of all h5 elements in Edit Collection > Assign Roles is not translation if you switch the UI language.

### Screenshot (before language switch):

![image](https://user-images.githubusercontent.com/952735/179241171-7ea8595f-efb8-47ff-8241-7d74089749b4.png)

### Screenshot (after language switch):

![image](https://user-images.githubusercontent.com/952735/179241088-d

[2022-07-15 15:42] saschaszott opened #1728 "Missing translations in publication search modal dialog (publications of author)"
## Describe the bug

missing translations of `submission.sections.describe.relationship-lookup.title.isPublicationOfAuthor` and `submission.sections.describe.relationship-lookup.search-tab.tab-title.isPublicationOfAuthor`

![image](https://user-images.githubusercontent.com/952735/179257728-1b4cc6e8-311c-4487-b30f-f58d7c0e2475.png)

## To Reproduce

Steps to reproduce the behavior:

1. enable "conf

[2022-07-15 15:56] tdonohue commented on #1728
Hi @saschaszott : If you find missing translation keys of this sort, we'd welcome a PR (especially if you know or can figure out what it should say).  The various translations of the DSpace UI are all provided by volunteers...so they do occasionally get outdated & require updates.  It seems this one likely is only missing those keys because those keys were added *after* the initial translation was

[2022-07-15 16:02] tdonohue commented on #1727
@saschaszott : What language are you changing to in these screenshots?  (It's unclear to me.)  Each language must define the same keys in order for them to be properly translated in the UI.  So, in the screenshots you shared above, this implies to me that one of the language files is *missing* those keys -- but, it'd be difficult for us to track down without more information.

As I noted in the ot

[2022-07-15 17:16] saschaszott commented on #1727
You can switch from English to English - the error does not seem to have any connection to selected language. Is more like a page reload issue (you even do not need to change the language at all - go to http://your-ds-instance/collections/<id>/edit/roles and reload the page).

[2022-07-15 17:24] saschaszott opened #1729 "remove hard coded "or" label - use i18n translation key lookup instead"
## Describe the bug

Two template files contain a hard coded "or" which should be replaced by an translation key lookup:

[code]

- src/app/shared/search-form/scope-selector-modal/scope-selector-modal.component.html
- src/app/shared/dso-selector/modal-wrappers/create-community-parent-selector/create-community-parent-selector.component.html

What is the common translation key naming scheme used in

[2022-07-18 08:07] saschaszott commented on #1728
Hi @tdonohue , the two translation keys mentioned above are still missing in the "default" i18n file (`en.json5`).

[2022-07-18 12:01] saschaszott opened #1730 "Missing space between author names (MyDSpace "Your submissions" page)"
## Describe the bug

There are no spaces between individual author names in the list of author names on the MyDSpace "Your submissions" page.

### Screenshot (item with two authors)

![image](https://user-images.githubusercontent.com/952735/179506539-543f14dc-4c02-436c-8f5a-eeb7b07ffca6.png)

## To Reproduce

Steps to reproduce the behavior:

1. Submit an item with at least two authors
2. Open MyD

[2022-07-19 11:30] abollini opened #1731 "Cookie consent shows analytics usage also when GA is disabled"
**Describe the bug**
The Cookie consent dialog doesn't look to the google analytics property to decide if a consent is needed about statistics service or not.

**To Reproduce**
This can be verified on the official demo opening the cookie consent dialog and looking to the statistics service still present when there is no google analytics key configured.

**Expected behavior**
The statistics section

[2022-07-19 14:34] tdonohue commented on #1672
Assigning to @abollini , as this is the frontend ticket which corresponds to https://github.com/DSpace/DSpace/issues/8413.  4Science has been assigned both.

[2022-07-19 14:38] tdonohue commented on #1731
Agreed, this seems like a bug that should be fixed.  One thing to note is that we also need to consider the situation where a user already completes the consent dialog and then Google Analytics is enabled later.  It seems like they'd then need to recomplete the consent dialog (or at least the consent to statistics).

In any case, moving to 7.4 and assigning to 4Science

[2022-07-20 09:48] artlowel opened #1733 "Further optimize initial page load by leveraging preboot"
**Describe the bug**
In https://github.com/DSpace/dspace-angular/pull/1627 we've used a number of strategies to mitigate the problem that pages appear to load twice: they come back from the server fully rendered, but then are constructed again when the client JS code starts up

That works well for the home page, because we can predict what will be needed there and load it immediately, rather than

[2022-07-20 15:02] tdonohue commented on #1733
@artlowel : This seems worth looking into.  I would caution though that I'd be good to ensure it doesn't take up too much time for 7.4... I feel the fixes in 7.3 are significant (over 7.2 and prior).  This seems like another good fix, but I don't want it to take away significantly from fixing other `high priority` issues on our board.

So, I'm fine with spending 20hrs on this. But, if it becomes m

[2022-07-20 15:13] tdonohue commented on #1727
@artlowel : wanted to alert you to this as it almost sounds like a caching/reload issue here (and I know you and your team have been working on page reload / initial load fixes in the past.

In any case, I'll move this to the 7.4 board if anyone wants to claim it.

[2022-07-20 15:19] tdonohue commented on #1727
@saschaszott :  I was just trying to reproduce this and I've realized I cannot reproduce it on https://demo7.dspace.org/  Here's what I've tried doing:
1. Login as an Admin
2. Visit a Collection's "Assign Roles" tab, e.g. https://demo7.dspace.org/collections/07186f80-e22b-4a48-9697-3931dbe3689a/edit/roles
3. Reload page.  No change in display
4. Change language to German.  Language changes... H5 h

[2022-07-21 15:48] davide-negretti opened #1736 "Issues with claimed items in MyDSpace"
When an item is claimed in the workflow, the counter in the sidebar filter facet is not updated.

Before and after claiming the first item:
![image](https://user-images.githubusercontent.com/87638927/180256780-d562b586-94d2-40c2-b1e0-71c39a7cc24c.png)
![image](https://user-images.githubusercontent.com/87638927/180256823-e17d584e-fab6-4d34-a313-80a08f8a4724.png)

If the filter is clicked, sometimes

[2022-07-21 20:54] kshepherd commented on #646
As per notes on https://github.com/DSpace/dspace-angular/pull/1670 the above approach was rejected. The changes in https://github.com/DSpace/DSpace/pull/8322 (also closed) may or may not be useful to somebody else who implements translation in the REST response.

[2022-07-22 12:45] ybnd commented on #1736
Also see https://github.com/DSpace/dspace-angular/issues/1610

[2022-07-22 13:44] abollini commented on #774
@tdonohue should this go in 7.4? the estimation should be lowered to 8 hours and we would like to claim the task.
This is similar but not the same than https://github.com/DSpace/dspace-angular/issues/2842 and can be done together maybe saving some time

[2022-07-22 14:36] tdonohue commented on #1723
Closely related to ticket https://github.com/DSpace/DSpace/issues/8418 (which might essentially be a different version of this same bug).  These two tickets might be tackled together.

[2022-07-22 14:40] abollini commented on #1322
this should take 4-8 hours with manual testing. Adding IT/Unit on this part of the code base could be very costly

[2022-07-22 14:40] tdonohue commented on #1736
Yes, this seems like a possible duplicate or closely related to #1610.  I'll pull this over to the 7.4 board alongside #1610 and hopefully the same person can claim both.  If anyone is interested, let me know.

[2022-07-22 14:42] alawvt commented on #1723
This and https://github.com/DSpace/DSpace/issues/8418 are probably related. The errant search string included in #8418 could be useful for troubleshooting.

[2022-07-22 14:42] tdonohue commented on #1610
Possible duplicate ticket in #1736 (which notes a similar issue with counters in the sidebar).  These two tickets likely should be claimed together as they might be fixed easily at the same time.

[2022-07-22 14:47] tdonohue commented on #1322
@abollini : I don't expect IT/Unit tests in this situation, as they don't already exist.  So, manual testing is OK (and this might be best tested manually.  I'll add an estimate of 6hrs to the ticket.

[2022-07-22 14:51] abollini opened #1737 "Ask current password to user when he / she sets a new password"
This is the counterpart of the REST ticket https://github.com/DSpace/DSpace/issues/8255

[2022-07-22 14:51] abollini commented on #1737
@tdonohue  we are interested in take also the angular part as we are working on the REST part. Our estimation is 3-4 days (28 hours)

[2022-07-22 14:57] tdonohue commented on #1737
@abollini : Sounds good, will assign to you and add the estimate

[2022-07-22 15:02] saschaszott commented on #1387
`relationship-types.xml` contains two different relationship types with identical names (`isAuthorOfPublication` and `isPublicationOfAuthor`). The names of left and right relationship types between `Publication` and `OrgUnit` should be adapted (same as in `openaire4-relationships.xml`).

[2022-07-22 15:03] abollini commented on #1678
we are almost ready to open the PR, it was a bit harder than expected, it took 8 hours

[2022-07-22 15:59] abollini commented on #1647
@tdonohue  we can start to work on that. Right now it is still unclear how to solve the issue so the estimation needs to be refined after further investigation but this would take more than 40 hours

[2022-07-23 12:30] MarisArins opened #1738 "Session check issues"
Application will totally hang if session expires while computer is hibernated

**To Reproduce**
1. Login with any user
2. Hibernate your computer for longer period to exceed session timeout period (2h will do for sure)
3. Get you computer up again
4. Your status is still displayed as "logged in"
5. Try to navigate anywhere without refreshing your page
6. There will be some errors in console and yo

[2022-07-25 14:11] ybnd opened #1739 "Auto-assigned workflow tasks include a broken "return to pool" button on /mydspace"
**Describe the bug**
The "Return to pool" button still shows up even though the WFI was assigned automatically and can't be returned to the pool.

[We make the assumption that _all_ claimed tasks work with a pool](https://github.com/DSpace/dspace-angular/blob/4da017a0ee051a361fac44482c20a05ff5253146/src/app/shared/mydspace-actions/claimed-task/claimed-task-actions.component.ts#L47-L51), but this i

[2022-07-25 14:48] tdonohue commented on #1739
Because this bug doesn't impact the ["defaultWorkflow"](https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/workflow.xml#L27-L35) workflow tasks/actions (i.e. the default, I think it's directly related to #770 (and https://github.com/DSpace/DSpace/issues/2841)... The root issue here is that currently (as of 7.3), the "defaultWorkflow" behavior is somewhat hardcoded into the codebas

[2022-07-25 14:50] tdonohue commented on #770
Directly related issues/bugs which should be solved by this the solution for this ticket.
* DSpace/DSpace#8328
* #1739

[2022-07-25 20:42] mwoodiupui commented on #1404
This is part of a larger issue:  in earlier releases, `textarea` fields could be formatted.  In 7.3, line breaks entered in the item editor are removed, and entering even plain HTML markup causes it to be displayed as-is.

We have abstracts with multiple paragraphs and even tables.  Line breaks are quite common.  Markup is rare but we have some.

The 7.x documentation still has a page on "Simple H

[2022-07-25 20:46] mwoodiupui commented on #1495
See also #1404

[2022-07-26 14:40] corrad82-4s commented on #1736
Hello @tdonohue , we are interested in working this issue and #1610. Our estimation is 16 hours

[2022-07-26 14:52] tdonohue commented on #1736
Sounds good @corrad82-4s .  I'll assign both tickets to you for 7.4.  I'll put the 16 hour estimate on this one, and just link up the other to it.

[2022-07-26 14:53] tdonohue commented on #1610
Assigning to @corrad82-4s and adding a zero hour estimate as this bug ticket will be fixed as part of #1736

[2022-07-26 20:24] mwoodiupui commented on #789
Does this include COinS support?  DSpace 6 XMLUI had that.  See `o.d.app.xmlui.cocoon.OpenURLReader` and the XSL in various themes.  A quick look at the Reader suggests that COinS <span>s were to be wrapped around the visible SFX links.

I'm told that the official COinS documentation has disappeared and is only found on the Wayback Machine.  So perhaps the "citation" microformat is preferred now?

[2022-07-27 20:54] #1487 closed

[2022-07-28 07:06] toniprieto commented on #1335
@tdonohue This issue can be closed. It is a duplicate of the recently closed issue #1487

[2022-07-28 13:55] tdonohue commented on #1335
Closing as duplicate of #1487 .  This was fixed in 7.4 by #1708

[2022-07-28 13:55] #1335 closed

[2022-07-28 15:03] #1680 closed

[2022-08-01 18:09] pilasou commented on #1648
@tdonohue We have just upgraded to 7.3 and since then, this problem vanished...we are not sure of what caused it though.

[2022-08-01 18:16] tdonohue commented on #1648
@pilasou : thanks for letting me know. As I've been unable to reproduce this, I'm going to close the ticket.  I'm not sure what the cause was either, but glad to see it no longer appears in 7.3.

[2022-08-01 18:16] #1648 closed

[2022-08-02 02:29] mspalti opened #1743 "PDF file download problem"
**Describe the bug**
I'll report this as an Angular UI issue to start the discussion, but aspects of the REST API are also involved.

Currently, when the user choses to download a PDF file (and probably other file formats that can be rendered inline in the browser) the  bitstream download page is opened followed by a hard redirect to the REST API content endpoint. In the case of a PDF, the REST AP

[2022-08-02 13:30] mwoodiupui commented on #1743
Re: the "usually" above:  inline vs. attachment is affected by the value of `webui.content_disposition_threshold`.  Testing with a sufficiently large bitstream will result in different browser behavior.

[2022-08-02 15:03] tdonohue commented on #1743
This is related to #1004, which is the original creation of the Bitstream download page.

@artlowel : Pinging you as I know your team built the bitstream download page in #1004, so I wonder if you'd have thoughts on how to improve the usability per this ticket.

In the meantime, I'll also pull this over to our 7.4 board, as I feel this might be nice to improve if there's a quick solution available

[2022-08-02 17:17] alawvt opened #1744 "Add thumbnail to Search list view"
**Is your feature request related to a problem? Please describe.**
In DSpace 7, thumbnails appear in Search Grid view but not List view.
<img width="1163" alt="DSpace7_Search_grid" src="https://user-images.githubusercontent.com/13037168/182434100-7769b48c-28d2-4126-8542-4bd9a4a768a9.png">
<img width="1073" alt="DSpace7_Search_list" src="https://user-images.githubusercontent.com/13037168/182434117-

[2022-08-02 18:09] alawvt opened #1745 "Add thumbnail to Browse"
**Is your feature request related to a problem? Please describe.**
In DSpace 7 thumbnails do not appear in Browse view.
<img width="1096" alt="DSpace7_browse" src="https://user-images.githubusercontent.com/13037168/182442982-e57c5af9-fb2c-4927-b7b6-4e9734cd8b85.png">

**Describe the solution you'd like**
Please add the thumbnail to List view. This will create a view comparable to that in DSpace 6

[2022-08-02 18:24] mspalti commented on #1743
Quick note: my description of the "2-click" issue is based on the Chrome browser; the behavior might be a bit different in Firefox and other browsers.

fyi, I'm currently following @mwoodiupui's suggestion and setting the backend's `webui.content_disposition_threshold` to zero, which forces the attachment header in all cases.  This seems to work well enough if a solution doesn't find its way into

[2022-08-02 18:32] alawvt opened #1746 "Document the Media Viewer"
**Is your feature request related to a problem? Please describe.**
The [DSpace 7 Wiki > User Interface Configuration > Media Viewer Settings](https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Configuration#UserInterfaceConfiguration-MediaViewerSettings) mentions briefly video and image viewers that are disabled by default.

**Describe the solution you'd like**
Please describe these viewers m

[2022-08-03 14:37] tdonohue commented on #1322
A duplicate ticket to this one was just created in https://github.com/DSpace/DSpace/issues/8440.  Copying in some notes from @KevinVdV [on his analysis](https://github.com/DSpace/DSpace/issues/8440#issuecomment-1204021537) (in case these notes are useful to the 4Science team):

[2022-08-04 19:13] alawvt opened #1749 "Make the number of communities on the home page configurable"
**Is your feature request related to a problem? Please describe.**
In DSpace 7, there are only 5 top-level communities listed on the home page, https://demo7.dspace.org/home. When the user clicks on the next page they see the next 5 communities. This is too slow.
<img width="512" alt=" DSpace7_home_communities" src="https://user-images.githubusercontent.com/13037168/182934132-f37b7f9c-c65f-4c19-91

[2022-08-04 19:26] alawvt opened #1750 "Make the number of communities in the Browse by Community page configurable"
**Is your feature request related to a problem? Please describe.**
In DSpace 7, there are 20 top-level communities listed on the Browse by Community page, https://demo7.dspace.org/community-list. When the user clicks on "Show More," this adds 20 more communities. This is slow for repositories with many top-level communities.
<img width="997" alt="DSpace7_community_browse" src="https://user-images.

[2022-08-05 12:56] mwoodiupui commented on #1495
A lot could be accomplished if we could simply avoid normalizing whitespace in these fields.  Then one could have line breaks and paragraph breaks.

[2022-08-08 17:23] abollini opened #1752 "UX issue: review and approve a task in the mydspace is difficult with many items"
**Describe the bug**
When there are a large number of tasks in the mydspace the usual process followed by a librarian to check and approve an item is cumbersome.

**To Reproduce**
The librarian goes through the list of claimed tasks, pick one.
He needs to check the item details to decide if it needs to be approved, rejected or modified in some way. He found that the item requires some changes, so

[2022-08-08 19:01] alawvt opened #1753 "Edit Item > Authorizations > Policy Group change does not appear"
**Describe the bug**
In DSpace 7, Edit Item > Authorizations..., e.g. https://demo7.dspace.org/items/03731881-2185-4baf-a6a8-1438a4d29dc8/edit/authorizations, after one changes a Policy Group, no Group appears for that Policy.

**To Reproduce**
1. Before any changes, Policies for Bundle ORIGINAL is Group="Anonymous."
<img width="637" alt="DSpace7_edit_policies_1" src="https://user-images.githubuse

[2022-08-08 20:13] alawvt opened #1754 "Edit Item: Remove Zero Width Spaces in field names so then can be copied"
**Describe the bug**
In Edit Item > Metadata, one must enter a Field Name in the left textbox. In DSpace 6 XMLUI, e.g., https://demo.dspace.org/xmlui/admin/item?administrative-continue=744b65332f2c4f2c6338636b1a7e785468161f2b&submit_metadata, one uses the dropdown box, which avoids having to type the field name. Also, the default field name in the "Add new metadata" form is that of the last new fi

[2022-08-08 21:06] #1730 closed

[2022-08-08 21:59] alawvt opened #1755 "Provide Collection Item Mapper view"
**Is your feature request related to a problem? Please describe.**
The DSpace 7 Item Mapper is part of the Edit Item interface, e.g. https://demo7.dspace.org/items/03731881-2185-4baf-a6a8-1438a4d29dc8/edit/mapper, and provides a means to map and unmap that item to one or more collections. It lists to which collections the item has been mapped.
<img width="1036" alt="DSpace7_mapping" src="https://u

[2022-08-08 22:11] tdonohue commented on #1755
@alawvt : This feature already exists.  In DSpace 7, you can map items from the "Edit Item" (which you have a screenshot above) or the "Edit Collection" screens. Either approach works.  Here it is on the Edit Collection side:
![map-item](https://user-images.githubusercontent.com/483997/183523355-b6d4b1d1-1c27-4977-8ea7-fb5d5636e5a0.png)

Closing this ticket as it's already completed and it works s

[2022-08-08 22:11] #1755 closed

[2022-08-09 09:16] corrad82-4s commented on #1736
Hi @tdonohue , we have spent so far about 10 hours in analysis. We tried to restore a behavior present in version 7.1, but it won't resolve problems here reported. We will have to review estimations.
For what concerns facets counters update, we are stuck, any advice is welcome.
Our proposal is to split work in two: first resolve and open a PR for problem affecting item status update (2nd ant 3rd p

[2022-08-09 12:33] artlowel commented on #1713
@tdonohue Atmire would like to claim this task.
It will take an estimated **6 hours**

[2022-08-09 13:01] alawvt commented on #1755
Thanks, @tdonohue. I missed that on the Edit Collection interface. That's great that it is already there.

[2022-08-09 14:29] tdonohue commented on #1713
@artlowel : Sounds fine. I'll assign back to you and add the estimate.

[2022-08-09 14:36] tdonohue commented on #1736
@corrad82-4s : Unfortunately, I don't have immediate advice to offer here.  But, if it makes sense to break this ticket down into separate stages, I'm OK with that.  If you can fix a few of the issues, perhaps it'll help us better debug what is going on with the last issue.

So, your proposal sounds good to me (and feel free to provide an updated estimate as needed).  Let's see if that helps clari

[2022-08-09 14:41] #1506 closed

[2022-08-09 17:19] corrad82-4s commented on #1610
Hi @tdonohue , as per what commented in https://github.com/DSpace/dspace-angular/issues/1736#issuecomment-1209126231, this issue seems to be more complex than expected.
A solution could be force update of facets in case of task status changes, but we cannot be sure facets reflects what is displayed among search results. What if, for example, between task status change and refresh, 10 new items joi

[2022-08-10 12:12] michdyk opened #1757 "Copying existing item"
**New feature description**

Users can create a new item out of an existing item instead of creating it from scratch. This in many instances can make the process quicker. The copied details of the new item can be freely edited, and the item can be saved in any collection. The copied item is not a new version of an existing item, but a new, independent one.

**How it works**

It works similarly to

[2022-08-10 14:37] PabloDeAlbu opened #1758 "Unable to lookup for metadata controlled by authority in edit view"
**Describe the bug**
When someone try to add a metadata controlled by authority from /items/[uuid]/edit/metadata, it's not possible to add the authority key. In DSpace 6 it is possible to do this through a "Lookup" button, as you can see in the following image taken from the demo

![1](https://user-images.githubusercontent.com/11927172/183926026-bfa0fa35-6d61-4526-8600-3b0b5ab8b601.jpg)

in dspace

[2022-08-11 20:16] alawvt opened #1762 "Preserve line breaks in metadata"
**Describe the bug**
It is very important that DSpace not alter metadata.

In DSpace 6 XMLUI. Line breaks in the metadata are preserved even though they are not displayed on the front end.
<img width="1138" alt="DSpace6_XMLUI_linebreak_front" src="https://user-images.githubusercontent.com/13037168/184232054-d0765d51-6b86-4546-851f-e9a3fba4e04a.png">
<img width="1132" alt="DSpace6_XMLUI_linebreak_b

[2022-08-11 20:30] alawvt opened #1763 "Display line breaks in metadata"
**Is your feature request related to a problem? Please describe.**
In DSpace 7, please display hard-coded line breaks in metadata. This will improve the readability of multi-paragraph abstracts and descriptions and render them as intended.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
In DSpace 6 XMLUI, line breaks in metadata are preserved but d

[2022-08-11 20:55] alawvt opened #1764 "Display more that 5 e-people or groups per page"
**Is your feature request related to a problem? Please describe.**
Display more that 5 e-people or groups per page. For common names it's helpful to see more choices simultaneously.

**Describe the solution you'd like**
DSpace 6 shows 15 per page. I20 might be better.

**Describe alternatives or workarounds you've considered**
A clear and concise description of any alternative solutions or feature

[2022-08-12 10:02] artlowel commented on #1679
This can be done in an estimated **4 hours**
Atmire would like to work on this.
Assigning myself since @tdonohue is on holiday

[2022-08-12 10:15] artlowel commented on #1660
I'd propose to add a delete button to the process detail page, and a trash can icon in the process overview list. There isn't much difference between checking a bunch of checkboxes, and clicking the same number of trashcans.

I'm hesitant to add a "delete all" button at the top, because there's currently only an endpoint to delete processes individually so that would mean the UI would have to fetc

[2022-08-12 10:18] artlowel commented on #1548
This will take an estimated **4 hours**
Atmire would like to claim it

[2022-08-12 13:32] mwoodiupui commented on #1764
The sizes of a number of list displays should be configurable.

[2022-08-12 13:34] alawvt commented on #1764
@mwoodiupui, is that "should" mean "they should be configurable but they are not currently" or "they should already be configurable"? Thanks.

[2022-08-12 13:38] pilasou opened #1765 "Improve DSpace 7 drag and drop submission"
In MyDspace, a user can submit a new file using the drag and drop zone.

![mydspace-drag-drop](https://user-images.githubusercontent.com/19291880/184363476-fa45ace2-6645-466e-b321-26a3ce774255.png)

When doing so, he/she is prompt to select a collection :

![drag-drop-coll-selection](https://user-images.githubusercontent.com/19291880/184363594-dd04e808-8e1b-4de5-891c-07447e2bfe73.png)

Once done D

[2022-08-12 20:07] alawvt opened #1766 "Display all the fields for a Metadata Schema in one page and include IDs"
**Is your feature request related to a problem? Please describe.**
DSpace 7 Metadata Schema view, e.g., https://demo7.dspace.org/admin/registries/metadata/dc, only displays 25 fields per page. Viewing the dc schema on Demo with 106 fields takes 5 page clicks and a great memory.

**Describe the solution you'd like**
DSpace 6 XMLUI displays all the fields for a schema in one page, e.g. https://demo.

[2022-08-12 20:52] alawvt opened #1767 "Display all bitstream formats on one page and include IDs."
**Is your feature request related to a problem? Please describe.**
DSpace 7 Bitstream Format Registry e.g., https://demo7.dspace.org/admin/registries/bitstream-formats, only displays 20 bitstream formats per page. Viewing the list on Demo with 81 formats takes 5 page clicks and a good memory.

**Describe the solution you'd like**
DSpace 6 XMLUI displays all the formats one page, e.g. https://demo.

[2022-08-15 15:29] mwoodiupui commented on #1764
@alawvt Sorry, my comment was unclear.  The sizes of a number of list displays should be **made** configurable.  This issue is one example.  Maybe we should all put our heads together and make a list.  Locally I've been asked to resize the list of results from a search, and that too is hard-coded, at least in 7.3.

[2022-08-15 15:37] alawvt commented on #1764
@mwoodiupui, thanks for the clarification. I would be happy to help make such a list. I'm still testing my way through DSpace 7 Demo.

[2022-08-16 12:36] alawvt commented on #1765
I agree that the present notification is potentially misleading.

[2022-08-16 18:13] pilasou opened #1769 "Improve person display in DSpace 7 UI"
**Is your feature request related to a problem? Please describe.**
In DSpace 7, if the entity model is configured and a Person collection created, the public UI only display the name of the person in the pages as shown below:

![coll-person-name-only](https://user-images.githubusercontent.com/19291880/184947378-bd826ccf-60cd-43a6-af8c-db07539ea76f.png)

Once connected, in MyDspace, no information

[2022-08-16 19:02] tantz001 opened #1770 "When using a required `list` input-type, the submission is rejected due to missing input, but no message displayed."
On a submission form, when dc.type is configured as a `list` input-type, and required, the message is not displayed on the form when a submission is rejected because of a missing type.  (This may be true of other fields configured similarly, but dc.type is the one I have confirmed.)

Steps to reproduce the behavior:
configure a field, dc.type, as described above, for instance:
[code]
recompile, an

[2022-08-16 20:45] mwoodiupui commented on #488
`yarn run lint` now complains:

[2022-08-16 20:55] alawvt opened #1772 "Summary of requests to configure the number of items in various lists"
**Is your feature request related to a problem? Please describe.**
This is a summary of requests to configure the number of items in various lists. It is also attached as [DSpace7_lists.ods](https://github.com/DSpace/dspace-angular/files/9354639/DSpace7_lists.ods).

Issue | Page Name | URL on DSpace 7 Demo | DS7 current number in list | URL on DSpace 6 XMLUI Demo | DS6 current number in list | Req

[2022-08-17 14:16] tdonohue commented on #1757
@michdyk : We'd welcome your contribution of this feature!  Please let us know if you have any questions as you start this contribution.  Off the top of my head, I'd expect you may be able to reuse (or borrow) some code/concepts from the Item Versioning functionality (which is similar to a copy, but it creates a new copy of the item as a _new version_ of that Item.)   That said, it's likely you'd

[2022-08-17 14:25] tdonohue commented on #1763
semi-related to #1495 (but not the same issue).  #1495 includes discussion of which HTML tags should be allowed to display in metadata fields.  This ticket might be thought of as the `<p>` HTML tag, or it could just be implemented as preserving whitespace.

[2022-08-17 14:25] tdonohue commented on #1495
See also #1763 which is loosely related

[2022-08-17 14:38] tdonohue commented on #1720
New, related ticket #1769

[2022-08-17 14:40] tdonohue commented on #1770
@tantz001 : What version of DSpace is this related to?  Have you tried this in 7.3?  (IIRC, there were some fixes to the error handling of the Submission UI in the 7.3 release...and it's possible this issue is related.)

[2022-08-17 15:20] tantz001 commented on #1770
Whoops, sorry, version 7.3.  I think in the default submission-forms.xml,
the list type is not used, so maybe this slipped by testing?

On Wed, Aug 17, 2022 at 9:40 AM Tim Donohue ***@***.***>
wrote:

--
Human wheels spin round and round
While the clock keeps the pace... -- John Mellencamp
________________________________________________________________
Bill Tantzen    University of Minnesota Libr

[2022-08-17 18:58] alawvt commented on #1772
Those lists that have are adjustable by the user I have marked as “No action needed.” This includes the various Search results and Browse by date, subject, author, and title. The other lists can’t be configured by the user so I think they should either be 1. set much higher per page, 2. have no limit at all, or 3. controlled as a setting.

[2022-08-17 18:59] alawvt commented on #1772
I think that (3) is the only choice that will satisfy every site.  Let any value less than 1 mean "no limit" and it can cover all three. it was really easy to make the initial sizes of the browse result lists configurable. - @mwoodiupui

[2022-08-17 19:13] mwoodiupui commented on #1772
So, as I understand it, there are two categories of lists under discussion:  lists whose window size can be adjusted by the user, and those with a fixed window size.  The latter are discussed above.  I feel that the former should also have a configurable *initial* size (because I've been asked to make them shorter here).  Example:  #1771 .

While I'm throwing out ideas:  should the adjustable-size

[2022-08-17 19:22] pilasou commented on #1644
This is the same problem we reported last june: https://github.com/DSpace/DSpace/issues/8378 We found a workaround (see issues comments), but no long term solution.

[2022-08-17 20:14] alawvt opened #1774 "Make the number of bitstreams on the Item pages configurable"
**Is your feature request related to a problem? Please describe.**
In DSpace 7, at most 5 bitstreams appear in Simple and Full Item Views, e.g. https://demo7.dspace.org/items/03731881-2185-4baf-a6a8-1438a4d29dc8 and https://demo7.dspace.org/items/03731881-2185-4baf-a6a8-1438a4d29dc8/full.

In Simple Item View, "Show more" adds 5 more bitstreams to the list.
<img width="535" alt="DSpace7_simple_vie

[2022-08-17 20:47] tdonohue commented on #1331
Also related to this email thread: https://groups.google.com/g/dspace-tech/c/-SiQ_LGx_ks/m/pjWrdI4HBQAJ

[2022-08-17 20:47] tdonohue commented on #1482
Related to this email thread: https://groups.google.com/g/dspace-tech/c/-SiQ_LGx_ks/m/pjWrdI4HBQAJ  and #1331

[2022-08-17 21:53] alawvt opened #1775 "Add Recently Added section to Home and Community pages and make number of items configurable"
**Is your feature request related to a problem? Please describe.**
In DSpace 7, Recently Added items (which are not labeled as such, only "Browse") appear only in Collection pages, not the Home or Community pages. Initially there are 5 items displayed. Clicking on the page links takes one to the next page of 5 items.
<img width="603" alt="DSpace7_recently_added" src="https://user-images.githubuser

[2022-08-18 09:37] artlowel commented on #1762
We'd like to claim this, https://github.com/DSpace/dspace-angular/issues/1763 and https://github.com/DSpace/dspace-angular/issues/1404.

The idea is to add support for line breaks by default, and optional support (disabled by default) for markdown (with a mathjax plugin enabled) in abstracts.

That would allow users to use either HTML or markdown to mark up their abstracts, and allow us to render

[2022-08-18 13:58] tdonohue commented on #1762
@artlowel : Sounds fine & I'll assign back to you.

Just as a note though, I do want to caution that we may want to look at a way to strip some HTML out of abstracts.  For example, we may want to consider blocking some tags like `<script>`, `<embed>` and `<frame>` (and similar).  I.e. if there's a way to limit to formatting HTML tags, that'd be the ideal. While Angular seems to block JS from runni

[2022-08-18 13:59] tdonohue commented on #1763
Added a zero hour estimate as this will be include in fix for #1762

[2022-08-18 14:00] tdonohue commented on #1404
Added a zero hour estimate as this will be include in fix for #1762

[2022-08-18 21:49] alawvt commented on #1772
[DSpace7_lists_20220818.ods](https://github.com/DSpace/dspace-angular/files/9377898/DSpace7_lists_20220818.ods)

[2022-08-19 13:59] alawvt commented on #1712
I think this is important to fix or 7.4. Because users can longer page through lists of facet values, full indexing of search facets is vital.

[2022-08-19 18:22] alawvt commented on #1537
We use this in DSpace 6.x on a regular basis, for instance creating notices over vacation breaks about limited serve  and before planned down time. We'd like this DSpace 7.

[2022-08-19 19:49] JacobSanford opened #1778 "yarn start:dev - Environment variables, YML configurations no longer appear to be honored for "ui" settings"
# Bug

## Version
```7.3```, ```node:14```

## Description
In 7.2, the dev server launched by ```yarn start:dev``` was configurable via environment variables (DSPACE_HOST/DSPACE_UI_HOST) or the YML configuration files (config.dev.yml) as described in documentation.

As of 7.3, ```yarn start:dev``` appears always lanch a development server with defaults (localhost:4000), despite logging claims of a

[2022-08-22 10:50] mpasternak opened #1781 "Internalization (i18n): Polish translation!"
Hello,

I am working on the Polish translation.

The branch is not yet ready to be submitted as a PR but I would like to create this issue, so other people looking for Polish translation can join my effort.

I will come back soon with the pull request. In the meantime if anybody is willing to help, feel free to contact me.

Regards,

[2022-08-22 10:57] mpasternak commented on #1781
The branch is here: https://github.com/mpasternak/dspace-angular/tree/feature/1781-polish-translation

Does anybody know any utilities that help translating files in such format as dspace-angular has? Except VScode? :)

[2022-08-22 14:23] tdonohue commented on #1781
@mpasternak : Thanks for volunteering to create a Polish Translation.  You may have already seen them, but we have some resources & tips/hints on creating translations here: https://wiki.lyrasis.org/pages/viewpage.action?pageId=117735441

Looking forward to your PR, and once it's ready I'll make sure to assign it immediately to reviewers.  Thanks again!

[2022-08-22 20:47] alawvt commented on #1340
I agree that this is needed. It is common for repositories to have repeated collection names and depend on the hierarchy to distinguish them. The full hieirarchy also needs to be show in the workflow view so approvers can make sure the item is submitted to the correction collection.

[2022-08-22 21:17] alawvt opened #1782 "Include the collection of the submitted item in Workflow view"
**Is your feature request related to a problem? Please describe.**
In DSpace 6 XMLUI, the collection is included in the Tasks table, https://demo.dspace.org/xmlui/submissions.
<img width="1071" alt="DSpace6_XMLUI_workflow_tasls" src="https://user-images.githubusercontent.com/13037168/186019374-407ef5a7-2274-423b-828c-a766243319aa.png">
And the full collection hierarchy appears in the breadcrumbs i

[2022-08-23 11:59] philipprumpf opened #1783 "Cerialize deserializes empty strings as null (no user-visible bug)"
...at least it does so sometimes (when the fields are tagged with `@autoserializeAs(String)`. As far as I'm aware, this doesn't result in user-visible bugs in DSpace so far, but it's something we've run into using DSpace-CRIS that turned out to be somewhat difficult to debug.

The problem is this code in `cerialize.js`:

[code]

If value is `''`, the return value will be `null` rather than the emp

[2022-08-23 15:33] tdonohue commented on #1783
@philipprumpf : I think this already has a bug ticket in `cerialize` here: https://github.com/weichx/cerialize/issues/58

Unfortunately, it doesn't appear that `cerialize` is being maintained.  So, it's possible we'd either need to find a way around this in our codebase, or we'd need to see if we can find a different library to replace it.

[2022-08-23 16:27] tdonohue commented on #1644
Closing as a duplicate of https://github.com/DSpace/DSpace/issues/8378.  This issue still exists however, and I think @pilasou is correct that this is a bug in the codebase.  Please see that ticket for more details (including the [only known workaround so far](https://github.com/DSpace/DSpace/issues/8378#issuecomment-1169197172))

[2022-08-23 16:27] #1644 closed

[2022-08-23 16:29] tdonohue commented on #1727
Closing as cannot reproduce.  I've been unable to reproduce on the demo site or locally.  If more info can be provided, we can always reopen at a later time

[2022-08-23 16:29] #1727 closed

[2022-08-23 19:14] tdonohue commented on #1744
This appears to be implemented in a branch new PR (not yet reviewed or merged) from @mspalti :#1780   So, I'll link this ticket up to that PR & assign it to @mspalti .  Hopefully this will be in 7.4

[2022-08-23 19:16] tdonohue commented on #1745
Similar to #1744, this one also appears to be implemented by @mspalti in #1780.  Linking this up to that PR and assigning to @mspalti

[2022-08-23 19:24] tdonohue commented on #1749
Agreed, this should be configurable.  It appears to be hardcoded here: https://github.com/DSpace/dspace-angular/blob/main/src/app/home-page/top-level-community-list/top-level-community-list.component.ts#L57

This likely could be fixed in a similar manner to @mwoodiupui 's #1771.  It just needs a configuration to be added and used in that `top-level-community-list.component.ts`.

Pulling this over

[2022-08-23 19:51] tdonohue commented on #1752
@abollini : I'd be OK with your simple suggestion to just add the Workflow action buttons at the bottom of the "Edit" page.  That makes sense & would streamline things.  I'd also recommend we similar add the Workflow action buttons to the bottom of the "View" page, as it appears to have the same issue.  You can View a WorkflowItem to see the details quickly, but if you click "Back" the Workflow Ta

[2022-08-23 20:08] tdonohue commented on #1753
This is a subset of problem described in #644 (which is the larger issue), see this comment: https://github.com/DSpace/dspace-angular/issues/644#issuecomment-1137766491

Nonetheless, I'm going to leave this open until #644 is resolved.  I suspect they are essentially the same issue.

[2022-08-23 20:11] alawvt opened #1784 "Add breadcrumb navigation (option)"
**Is your feature request related to a problem? Please describe.**
DSpace 6 XMLUI and previous versions of DSpace have breadcrumb navigation on all Community, Collection, and Item pages. This allows the user to know their location in the community hierarchy and to navigate quickly within it. For repositories with detailed hierarchies and/or duplicate collection names, it is essential for knowing t

[2022-08-23 20:18] VTOpenLib opened #1785 "Reassign submitter email address for Request a Copy"
**Is your feature request related to a problem? Please describe.**
I would like to change the email address to which the "request a document" email is sent. Why? If someone leaves the organization, has tasks reassigned, and someone else becomes in charge of responding to requests for Admin-only files uploaded to a record item, there is currently no way to change the email address to which these ac

[2022-08-23 20:19] tdonohue commented on #1754
@alawvt : Wow, that must have been difficult to debug!

Strangely though, it appears this change is *purposeful*. I'm not sure why, but we have code here that replaces the periods with `.&#8203;`: https://github.com/DSpace/dspace-angular/blob/main/src/app/item-page/edit-item-page/item-metadata/edit-in-place-field/edit-in-place-field.component.html#L4

I'm not sure why we'd be doing that though, as

[2022-08-23 20:26] alawvt commented on #1754
Ha ha. Yes, it took a few minutes but I've had plenty of practice.

[2022-08-23 21:42] alawvt opened #1787 "Add option to display Item counts for Communities and Collections"
**Is your feature request related to a problem? Please describe.**
Please replicate in DSpace 7 the DSpace 6 XMLUI option to display items counts for Communities and Collections.

**Describe the solution you'd like**
The display in DSpace 6 XMLU is fine.
<img width="498" alt="DSpace6_XMLUI_item_counts" src="https://user-images.githubusercontent.com/13037168/186271409-e31d8575-213d-4ada-a3fd-0644d6

[2022-08-24 07:54] philipprumpf commented on #1783
Oh, thank you! I'd missed that, somehow (or thought it was about the "null" -> null thing). I guess we can't do anything about it for now.

[2022-08-24 09:07] LotteHofstede commented on #1754
@tdonohue The Zero Width Space character implies that if a line break is necessary to fit inside the table cell, it will break on the Zero Width Space. So in our case, right after the period, instead of in the middle of the metadata field's element/qualifier.

[2022-08-24 12:09] artlowel commented on #1548
@tdonohue While working on this issue we discovered two more related issues involving caching and the groups page:

1. if you delete the last member of a group, the members list will not update.
    - The reason is that the observableCombineLatests [here](https://github.com/DSpace/dspace-angular/blob/main/src/app/access-control/group-registry/group-form/members-list/members-list.component.ts#L147)

[2022-08-24 13:49] tdonohue commented on #1548
@artlowel: I agree that it makes sense to just solve all these issues together.  I'll bump the estimate on this ticket up to 14 hours & you can just fix these all together then.

[2022-08-24 14:15] tdonohue commented on #1754
@LotteHofstede : Thanks for that explanation.

I suspect here we may need to make a decision though on whether a Zero Width Space should be used in this field.  I admit, I've previously hit this same issue as @alawvt (without even realizing the cause).  So, I don't think it's unexpected that a user would copy the field name into a newly added field.... which doesn't work as the copied field name w

[2022-08-24 15:21] #1679 closed

[2022-08-24 15:25] tdonohue commented on #1787
I'm going to move this into Tier 4 for now, as they were disabled by default in DSpace 6.  That said, I do agree it needs to be migrated into DSpace 7, and we can bump up the priority later as needed based on feedback.

[2022-08-24 15:57] tdonohue commented on #1784
@alawvt : Breadcrumb navigation already exists in DSpace 7 & can be seen on the demo site... here's an example: https://demo7.dspace.org/entities/publication/2acb4234-21b3-4036-bc2c-9440756460fd

![breadcrumbs](https://user-images.githubusercontent.com/483997/186465316-70022a5c-d80a-4d9f-93e8-b86325ccb94e.png)

As far as I'm aware, it should exist on all pages.  But, if you find a place where it's

[2022-08-25 08:37] ybnd commented on #1711
I'm seeing slightly different misalignment on Firefox 103.0.2
<img width="269" alt="20220825-103353" src="https://user-images.githubusercontent.com/31547038/186616584-670892e4-3ce1-4110-a8a3-3db0083a3c5d.png">

[2022-08-25 09:51] Atmire-Kristof opened #1789 "Faulty sidebar links for search components outside of discovery context on mobile"
**Describe the bug**
Links found within the sidebar of a search components (e.g. facets) outside of discovery context (so not on route "/search") link towards the "/search" page instead of their own.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit a page that contains a search-component NOT on the "/search" route. Currently, I don't think there's a use-case for this on default dspace,

[2022-08-25 11:44] alawvt commented on #1784
Thanks, @tdonohue. #1782  shows the Workflow Item view, where the breadcrumb does not include the collection path. I will check if there are others.

[2022-08-25 12:07] alawvt commented on #1711
Thanks, @ybnd, thank you for sharing your view. Is that a site that I could test? In Firefox 104.0, the page that I linked above still looks the same as the first screenshot.

[2022-08-25 12:10] ybnd commented on #1711
@alawvt that was on the demo site: https://demo7.dspace.org/search

[2022-08-25 12:15] alawvt commented on #1711
Thanks, @ybnd, the subjects on the Demo site look fine for me, too. So maybe it is a theme issue at https://dr.lib.iastate.edu/. Therefore, I'd be fine with closing this issue, @tdonohue.

[2022-08-25 12:45] ybnd commented on #1711
I'd suggest leaving it open since the default style in FF is still off compared to other browsers (just not vertically)
& we could look at the spacing issue on Safari as well

[2022-08-25 13:00] alawvt commented on #1711
Ok. Here's Safari
<img width="278" alt="DSpace7_facets_Safari" src="https://user-images.githubusercontent.com/13037168/186670848-74b6d2c2-258c-492b-b123-216ad8714a7e.png">
and Chrome.
<img width="300" alt="DSpace7_facets_Chrome" src="https://user-images.githubusercontent.com/13037168/186670886-1e8fb0ee-7e9d-4690-8917-0d991676c9e2.png">

[2022-08-25 14:40] philipprumpf opened #1793 "auth.service.ts doesn't refresh authMethods after AUTHENTICATED_ERROR"
**Describe the bug**
We've observed for a while that after the backend is restarted while a user is logged-in, reloading the logged-in browser tab results in an "empty" login menu, like this:

![image](https://user-images.githubusercontent.com/42467687/186683246-ca925b09-e60b-43d5-8b59-ca80c79a7ac8.png)

We've seen this problem with our DSpace-CRIS installation as well as a recent `main` branch of

[2022-08-25 16:22] #1713 closed

[2022-08-25 17:01] tdonohue commented on #1793
@philipprumpf :  Based on your description above, it's unclear to me if you've found a fix you are satisfied with or not?  If you have a fix you'd propose, feel free to create a PR & I can find a tester/reviewer.  If you feel this is better assigned to someone else for additional analysis, I can find someone on our DSpace 7 team to try to help out here...just let me know.

[2022-08-25 17:34] tdonohue commented on #1778
Pulling this over to the 7.4 board, as I'm able to reproduce this issue locally.

`yarn start:dev` says it's using `config/config.dev.yml` when you start it up.  It even successfully copies those configs into `src/assets/config.json`.  But, when it boots up, you are using the default configs instead.

The easiest way to reproduce this is as follows:
* Modify your `config.dev.yml` to use a localhos

[2022-08-25 17:44] tdonohue commented on #1778
Moving this over to 7.4 as I'm able to reproduce this locally, but it seems ***specific*** to the "ui" section of the configuration.

All other configurations work fine in `config.dev.yml` using `yarn start:dev`.  E.g. changing the "rest" settings works perfectly.

So, the only way that I've found to reproduce it is to change the "ui" settings in `config.dev.yml` as described above to something li

[2022-08-25 17:52] alawvt commented on #1787
- Even though they are not on by default, most repositories that I have seen have items counts enabled.
- They provide the user with information about the size of collections and empty collections to avoid.
- As repository administrators we use items counts to
    - check the progress of indexing
    - gather stats on collection sizes and growth
    - check for empty collections

[2022-08-25 18:47] alawvt opened #1794 "Use full community and collection names in breadcrumb navigation"
**Is your feature request related to a problem? Please describe.**
In DSpace 7, long community and collection names are clipped in breadcrumb navigation. (The item title is also included in the breadcrumb navigation, which I think is unnecessary. But if the item title must be included, then do clip item titles, since they can be very long.)
<img width="1236" alt="DSpace7_breadcrumb" src="https://u

[2022-08-26 15:59] tdonohue opened #1795 "Default settings in `config/config.yml` are ignored"
**Describe the bug**
Discovered while attempting to customize demo7.dspace.org to enable additional optional features.

Currently, the default user interface configuration in [`/config/config.yml`](https://github.com/DSpace/dspace-angular/blob/main/config/config.yml) is ignored.  Modifications to that file seem to have no effect when running either in production (`yarn start`) or development mode

[2022-08-26 16:17] tdonohue opened #1796 "On Windows, running `yarn start:dev` causes the `angular.json` to change line endings"
**Describe the bug**
On Windows, by default all files download with CRLF line endings (Windows based line endings).  However, when running scripts that modify other files, the line endings may change to LF (Linux based line endings), which makes git believe that you've modified the file.

One example is running `yarn start:dev` on Windows because it may change the baseHref setting in angular.json

[2022-08-26 18:33] tdonohue commented on #1764
Agreed, this should be configurable.  It appears this is hardcoded in two locations:

* For EPeople registry listing, the page size is hardcoded here: https://github.com/DSpace/dspace-angular/blob/main/src/app/access-control/epeople-registry/epeople-registry.component.ts#L62
* For Group registry listing, the page size is hardcoded here: https://github.com/DSpace/dspace-angular/blob/main/src/app/ac

[2022-08-26 18:36] tdonohue commented on #1765
I agree this is a usability issue.  I like the solution of sending people directly to the "Edit Submission" page after a successful drag & drop (which should allow us to remove the notification entirely).

Pulling this over to the 7.4 board.  Flagging this as high priority as it seems like a common issue.

[2022-08-26 18:47] tdonohue commented on #1766
@alawvt : Changing the page size is already possible (for up to 200 fields) by clicking on the gear and changing the "Results per page". See this screenshot:
![metadata-pagesize](https://user-images.githubusercontent.com/483997/186970692-b5293646-6d43-4552-a063-d38d4beaafc4.png)

That said, I'm assuming that you may be asking for a way to change the default setting from 25 to a larger number.  It

[2022-08-26 18:53] tdonohue commented on #1767
I agree, this should be updated & also likely aligned better with the behavior of the metadata registry (as the Bitstream format registry and metadata registry are similar in some aspects).  So, this could be done at the same time as #1766

In the case of this screen, it appears to be simply hardcoded to have 20 formats listed on a page. There's no option to change that value (like there is in the

[2022-08-26 19:14] tdonohue commented on #1770
Thanks @tantz001 !  Based on your additional information, I have been able to reproduce this.  You are correct, it's the `<input-type>list</input-type>` that appears to be the problem.

With the default setting for `dc.type` which uses  `<input-type>dropdown</input-type>`, errors are properly displayed when the field is required
![dropdown-error](https://user-images.githubusercontent.com/483997/18

[2022-08-26 19:16] tdonohue commented on #1772
As this is simply a summary ticket, I'm going to just pull it over to an "unscheduled backlog". It's not actionable, but I do understand it's a useful resource to find tickets related to this configuration issue.

[2022-08-26 19:22] alawvt commented on #1766
Thanks, @tdonohue, I had missed the gear icon, which works for us. It would be helpful to add the ID column.

[2022-08-26 19:35] tdonohue commented on #1774
Agreed, this should be configurable.

Currently, it appears to be hardcoded to '5' in this component:
https://github.com/DSpace/dspace-angular/blob/main/src/app/item-page/simple/field-components/file-section/file-section.component.ts#L38

Changing that to be configurable should not be difficult, and it'd likely be similar to what was done in #1771.   I'd recommend making this configurable instead

[2022-08-26 19:42] tdonohue commented on #1775
This appears to be a duplicate of #667 .  Some early work has already begun on this feature by a volunteer, but it's unclear when it'll be ready.  Some screenshot examples are in that other ticket.

I'm closing this ticket as duplicate as discussion should move to the open ticket.

[2022-08-26 19:42] #1775 closed

[2022-08-26 19:44] tdonohue commented on #1784
Thanks @alawvt .  In that case, I'm going to close this ticket as the general breadcrumb already exists.  I'd recommend opening new tickets if you find areas where breadcrumbs are missing & recommended.  I'll move your comment about the Workflow Item view to the other ticket #1782

[2022-08-26 19:44] #1784 closed

[2022-08-26 19:45] tdonohue commented on #1782
Copying a comment over here from #1784 as it relates to this ticket.  Breadcrumbs a missing from the workspace/workflow item views.

[2022-08-26 19:46] tdonohue commented on #1782
Agreed, this looks like a usability issue.  Pulling this over to our 7.4 board and flagging as high priority as it seems like a potentially major usability issue to submission & workflow.

[2022-08-26 19:54] tdonohue commented on #1785
@VTOpenLib : Thanks for the feedback!  Unless I'm misunderstanding your use case, I think this feature _may_ already exist in a different form in DSpace.

We already have this configuration in the `dspace.cfg` on the backend. It defaults to false, but it can be modified in your `local.cfg`:
[code]

When set to `true`, that will force all Request emails to be sent to the `mail.helpdesk` email accou

[2022-08-26 19:56] tdonohue commented on #1789
Thanks @Atmire-Kristof .  My quick analysis is that this definitely sounds like a bug, but seems very low priority until we find a use case for this in default DSpace.  That said, I'll pull this over to our active board in case someone wants to donate a fix.

[2022-08-26 20:02] tdonohue commented on #1794
@alawvt :  The reason we had gone with this approach was to try to ensure that breadcrumb listing remains smaller (especially for mobile devices / smaller screens -- which XMLUI was really bad at supporting unfortunately).  That said, I definitely can see why truncating can cause confusion.

What do you think about if we continued to truncate these names _but_ added a hover over which displayed th

[2022-08-26 20:40] VTOpenLib commented on #1785
Thank you. Is there a way to do this on a record-by-record basis rather than redirecting all inquiries to a central place?  i.e. different people need to receive notifications for different records.

[2022-08-26 21:35] tdonohue commented on #1785
@VTOpenLib : Unfortunately, no. That's the feature that doesn't yet exist in DSpace.  It's only possible to send them all to a helpdesk email, or send them all the the original submitter.  There's no way to customize where they are sent per item at this time.  If that's what you really need, then that would be a new feature.

[2022-08-26 21:41] VTOpenLib commented on #1785
Thank you. Yes, that is what I really need.

So, please consider this a new feature request.

If there is a different place to submit a new feature request, please let me know where to do that as I was under the impression that this is the place to submit such a request. Thank you.

[2022-08-26 21:45] tdonohue commented on #1785
@VTOpenLib : This is the correct place!  I was just making sure I fully understood your use case & clarifying why the existing configuration won't work.  But, yes, we'll consider this a feature request.  Keep in mind though that it'll be lower priority until we hear others need the same feature ... as more community feedback comes in, the priority would obviously increase.

Thanks for clarifying t

[2022-08-26 21:45] alawvt commented on #1794
@tdonohue, your proposal would certainly be an improvement over the current arrangement, so I am in favor of it.

[2022-08-26 21:49] tdonohue commented on #1794
@alawvt : Sounds good, I'll clarify that in the ticket description as an option & get this added to our board.

[2022-08-27 02:21] mark-cooper opened #1798 "Enable / disable textarea spellchecking via config"
**Is your feature request related to a problem? Please describe.**

The v7 ui app is generating textarea form elements with explicit `spellcheck=false`. This
disables browser based spellchecking functionality (which I'm informed worked fine in
v6), without additional clicks to make it happen.

**Describe the solution you'd like**

Ideally there would be at least a config option for generating text

[2022-08-29 08:21] philipprumpf commented on #1793
I got stuck trying to figure out how to write a test for this, to be honest. For now, I've submitted a PR without the test.

[2022-08-29 13:04] mwoodiupui commented on #1785
There is PR #2115 which adds a CollectionAdministratorsRequestItemStrategy to direct copy requests to the members of the owning collection's admin. group.  Would that serve?

[2022-08-29 13:28] VTOpenLib commented on #1785
That might work. It depends on how many people are in the "owning collection's admin group". I'd like to prevent it from sending also to all of the super/system admins. They are not trained in the (manual) process for authenticating access for these specific items, nor is it their responsibility -- and I'm sure that they don't need more email. Can you tell me if they would by default also receive

[2022-08-29 13:40] mwoodiupui commented on #1798
I was going to say that spellcheck-or-not is a personal issue and should be a user profile option rather than a global one, but then realized that browsers probably make this personally configurable, and on checking found that at least Firefox does.  So maybe the best thing to do would be to just remove the parameter from these forms and leave it to browser settings.

[2022-08-29 17:14] mark-cooper commented on #1798
"So maybe the best thing to do would be to just ... leave it to browser settings"

I think spellcheck=true effectively does this. If the browser settings are set to not spellcheck (for example, Firefox "Check your spelling as you type" disabled), then the attribute value (spellcheck=true) is ignored. But if you do want spellcheck ("Check your spelling as you type" enabled ) you're good.

With the

[2022-08-29 21:35] tdonohue commented on #1785
@VTOpenLib and @mwoodiupui :  I've realized this is already **possible**, but it seems to be undocumented.
 I notice this after I reviewed the PR that @mwoodiupui linked to above: https://github.com/DSpace/DSpace/pull/2115

Simply put, there's an option in the `requestitem.xml` file which allows you to specify *any metadata* field to store the email of the person who should manage Request a Copy r

[2022-08-30 14:10] mwoodiupui commented on #1785
@VTOpenLib `CollectionAdministratorsRequestItemStrategy` specifically gets only direct members of the default administrators group for the Item's owning collection.  It does not chase sub-groups.  It does not cascade from containing collections or the Site.

[2022-08-30 14:39] tdonohue commented on #1785
Closing this as I believe it's now been fully answered & it already exists in 7.x. I also updated the documentation about how to change the email address by using a metadata field at https://wiki.lyrasis.org/display/DSDOC7x/Request+a+Copy#RequestaCopy-Configurewhogetsrequestviaametadatafield

[2022-08-30 14:39] #1785 closed

[2022-08-30 17:25] juanc1979 commented on #1036
Hi i´m having the same problem, when i run dspace 7 ui with yarn start:dev i can enter as an administrator but when i run yarn run server:ssr i access the ui as a normal user, if i go to my user i can see that it´s in the administrator group but still can´t login as administrator in production mode.
I´ve made the changes you suggested
# This defaults to just "dspace.ui.url" (public URL), but it mi

[2022-08-30 17:41] tdonohue commented on #1036
This is a very old bug ticket and it is not applicable anymore for DSpace 7.3 or above. If you continue to have issues of this type, make sure you locate the *underlying error* using our Troubleshooting Guide: https://wiki.lyrasis.org/display/DSPACE/Troubleshoot+an+error#Troubleshootanerror-DSpace7.x(orabove)

Chances are you'll find the underlying error is one of the common installation issues li

[2022-08-30 18:58] juanc1979 commented on #1036
Thank you!!!

[2022-08-30 20:08] ericlmontag commented on #1794
@tdonohue A couple of minor changes to breadcrumbs.component.scss
can fix this, without needing a tooltip.

- change  .breadcrumb-item-limiter.max-width: **fit-content**;

- override .text-truncate.white-space: **normal**;

Bootstrap will display the full breadcrumb name on large and small devices, by wrapping long breadcrumbs when necessary,

[2022-08-30 21:08] tdonohue commented on #1794
@ericlmontag : Feel free to send us a PR and I can find some testers for it.  Otherwise, I'll see if I can find someone to try this out (as this ticket is still waiting on a volunteer). Thanks!

[2022-08-30 23:01] mark-cooper commented on #1749
@tdonohue I've had a request for this and it seems straightforward enough that I'm happy to volunteer for it (and #1750).

[2022-08-31 02:22] ericlmontag commented on #1794
@tdonohue I created a PR.

[2022-08-31 14:24] tdonohue commented on #1794
@ericlmontag : My apologies for the misunderstanding of your suggestion, but as you can see [in my comment in your PR](https://github.com/DSpace/dspace-angular/pull/1800#issuecomment-1233003197), I've decided to close your PR.  Both @artlowel and I are concerned that expanding all breadcrumbs at all times will take up valuable screen space (and many users have no need for these long breadcrumbs on

[2022-08-31 14:29] tdonohue commented on #1749
@mark-cooper : Sounds great!  Please feel free to submit a PR when you are completed, and link the PR back to both tickets (Using "Fixes" or "Resolves" [keywords from Github](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue))

[2022-08-31 18:31] alawvt opened #1802 "Allow for more than one item type in the Submission Form"
**Is your feature request related to a problem? Please describe.**
In DSpace 6 XMLUI, the submitter can select more than one item type. This is helpful for compound items, for example a presentation with a combination of video, slides, poster, and proceedings files.
<img width="896" alt="DSpace6_XMLUI_submission_type" src="https://user-images.githubusercontent.com/13037168/187750595-1f68f3e3-7f4c-

[2022-08-31 18:37] alawvt commented on #1798
We rely heavily of the default spell checking to catch metadata errors. We favor the current behavour in DSpace 6.

[2022-08-31 19:13] DSquareTechnologies commented on #1744
@tdonohue is this development done? Else, we have done this already. You can see it on

https://oasis.col.org/home - Thumbnails in list view in the Recent Submissions section.
https://oasis.col.org/search?query= - Thumbnails in list view in the Search section.

[2022-08-31 19:25] tdonohue commented on #1744
@DSquareTechnologies : Yes, this feature is already being built in PR #1745 by @mspalti .  You can see that PR is linked to this ticket in the "Development" section on the right sidebar of this issue ticket.

[2022-08-31 19:27] DSquareTechnologies commented on #1744
Perfect! Happy to contribute, if required. Thanks

[2022-09-01 12:20] artlowel commented on #1753
It looks like this is an issue with the invalidation of the alternative links on the policy object after it has been updated.
We should also take the opportunity to refactor the ResourcePoliciesComponent itself to get rid of [the method calls for the eperson and the group in its template](https://github.com/DSpace/dspace-angular/blob/main/src/app/shared/resource-policies/resource-policies.componen

[2022-09-01 12:36] artlowel commented on #1794
If we do the tooltips, perhaps we can even consider leaving the DSO's name out of the trail entirely, and only showing it in the tooltip.

A trail such as …

[Home](#) > [Community](#) > [Sub-community](#) > [Collection](#) > Item

… where each crumb shows the title of the DSO in a tooltip on hover is much more predictable and easier to style on all possible screens. It is arguably easier to grasp

[2022-09-01 13:49] tdonohue commented on #1753
@artlowel : That sounds reasonable & I'll assign this ticket & #644 back to you for your team to work on.

[2022-09-01 13:50] tdonohue commented on #644
Adding a zero hour estimate to this ticket as this will be completed alongside #1753 (and the estimate in that ticket includes this one)

[2022-09-01 19:29] alawvt opened #1806 "Generic error occurs when replying to a Copy Request if you don't have permissions to send a reply"
**Describe the bug**
A clear and concise description of what the bug is. Include the version(s) of DSpace where you've seen this problem & what *web browser* you were using. Link to examples if they are public: DSpace 7.3, Firefox

1. With a personal email, I created an item in DSpace 7 Demo, https://demo7.dspace.org/items/b2fac597-a382-4c0e-82ef-802afca015a0.
2. As dspacedemo+admin@gmail.com, I r

[2022-09-01 21:19] alawvt opened #1807 "Improve usability of Edit Resource Policy page"
**Is your feature request related to a problem? Please describe.**
In DSpace 7, the Edit resource policy page requires scrolling and extra work that is unnecessary in DSpace 6 XMLUI. Please revise this page to be more efficient for the user.
<img width="1299" alt="DSpace7_edit_resource_policy" src="https://user-images.githubusercontent.com/13037168/188008790-08fc825d-249a-4978-95e2-e81e108f4db0.pn

[2022-09-02 07:55] artlowel commented on #1794
@artlowel no problem! DSO stands for DSpace Object, meaning Items, Collections, Communities, etc

[2022-09-02 15:51] alawvt commented on #1785
@VTOpenLib, thank you for submitting this request and thank you @tdonohue and @mwoodiupui for responding. @tdonohue, this is great news about the emailMetadata setting. May we add that same documentation to the DSpace 6 Wiki?

[2022-09-02 16:06] tdonohue commented on #1785
@alawvt : Sure, feel free to copy it to 6.x as well, as I believe it works in the same manner (but I haven't had time to test it).  There are some general notes implying it works the same way in 6.x here: https://wiki.lyrasis.org/display/DSDOC6x/Request+a+Copy#RequestaCopy-SelectingRequestaCopystrategyviaSpringConfiguration

[2022-09-02 16:57] VTOpenLib commented on #1785
Yes, thank you very much, @tdonohue and @mwoodiupui . Much appreciated!

[2022-09-02 17:36] tdonohue opened #1809 "Downloading restricted bitstreams does not work when opening a new tab/window"
**Describe the bug**

This issue was previously described in #924, but has reappeared (or perhaps was never fully solved)

When attempting to download an access restricted bitstream in a new tab/window, you will ALWAYS see a 401 "Whitelabel Error Page".  If you look at the backend logs, you'll see something like this (notice the 403 on the /shortlivedtokens endpoint followed by the 401 which is re

[2022-09-02 17:44] tdonohue commented on #1809
@artlowel & @benbosman : You or your team may be interested in this ticket, as it directly relates to past work that Atmire did in #1004 and https://github.com/DSpace/DSpace/pull/3223.  It appears those PRs either didn't fully fix this issue (previously reported as #924), or something new has since broken the functionality.

I've flagged it as high priority for 7.4 as it seems to be the root cause

[2022-09-04 07:39] DSquareTechnologies opened #1810 "Internationalization: Hindi translation"
Hi,

We are working on translating the User interface into Hindi and will try to create a pull request soon upon completion of the job.

Thanks,
Narendra

[2022-09-07 08:49] artlowel commented on #1795
Atmire would like to work on this and https://github.com/DSpace/dspace-angular/issues/1778 at once. Together they'll take an estimated **4 hours**

[2022-09-07 10:30] MarieVerdonck opened #1811 "Searches no longer trigger search events, or register in statistics"
**Describe the bug**
A search, on the regular search page or from the search box in header, no longer trigger a `POST /server/api/statistics/searchevents` request, so the search is not logged in the statistics.

**To Reproduce**
Steps to reproduce the behavior:
1. Do a few searches on /search page, some of which unique
2. Verify in network tab there is not request done like `POST /server/api/stati

[2022-09-07 10:31] MarieVerdonck commented on #1811
This will take an estimated **8 hours** to refactor and test

[2022-09-07 14:25] #1683 closed

[2022-09-07 14:30] tdonohue commented on #1795
Sounds good @artlowel .  I'll assign both to you for your team to work on for 7.4

[2022-09-07 14:31] tdonohue commented on #1778
Adding a zero hour estimate as this fix will be included in the fix for #1795

[2022-09-07 14:32] tdonohue commented on #1811
@MarieVerdonck : I agree this seems like a serious bug.  I'll add the estimate & assign back to you for you/your team to work on for 7.4.  Thanks!

[2022-09-07 15:25] tdonohue commented on #1710
@artlowel : I'm OK with bumping this up to high & letting it into 7.4 since it's a small task.  Assigning to you & adding the estimate.

[2022-09-07 16:29] #1660 closed

[2022-09-07 16:32] #1343 closed

[2022-09-07 17:13] #1678 closed

[2022-09-07 19:21] alawvt commented on #1785
I have added the documentation for DSpace 6.

[2022-09-08 13:11] artlowel commented on #1392
An alternative, or perhaps workaround until we find something better may be to change the wording of the statistics link in the header as the context changes as well: "Site Statistics", "Statistics for this Collection", etc

Or turn statistics into a dropdown menu, and always keep all options based on the context: so on a homepage that would be

[code]

And on an item page

[code]

[2022-09-08 13:36] #1796 closed

[2022-09-08 15:24] artlowel commented on #1695
We'd like to claim this issue. The approach in the description will take about **12 hours**

[2022-09-08 15:43] vins01-4science commented on #1731
@tdonohue created a PR #1816 for this ISSUE, now is in waiting for reviewers.

[2022-09-08 15:49] tdonohue commented on #1695
Sounds good @artlowel !  Assigned to you for your team to work on

[2022-09-09 13:20] alawvt commented on #1802
I see not that one can add more types with the "+ Add more" so closing this issue.

[2022-09-09 13:20] #1802 closed

[2022-09-09 14:18] alawvt opened #1817 "Disable Swedish Research Subject Categories by default in submission form"
**Is your feature request related to a problem? Please describe.**
The DSpace submission form supports [controlled vocabularies](https://wiki.lyrasis.org/display/DSDOC7x/Authority+Control+of+Metadata+Values#AuthorityControlofMetadataValues-HierarchicalTaxonomiesandControlledVocabularies), including Swedish Research Subject Categories in srsc.xml. In DSpace 6 and previous versions, no vocabularies

[2022-09-13 14:24] #1515 closed

[2022-09-13 14:48] #1710 closed

[2022-09-13 19:43] pilasou opened #1822 "When using entities, metadata values with visibility set as “workflow” are not displayed in the UI during workflow."
**Describe the bug**
During workflow, after selecting an entity in a metadata (i.e dc.contributor.author) the value is not  displayed in the UI but the relation is effectivelly created.

If the page is refreshed manually, the entity is displayed.

This problem occurs if the metadata element on which the entity is configured in the submission-forms.xml with the visibility status “workflow” (as show

[2022-09-14 18:01] FelixNicol commented on #1822
This is a patch for this problem in section-form.component.ts:

`  /**
   * Whether a specific field is editable in the current scope. Unscoped fields always return true.
   * @private
   */
  private inCurrentSubmissionScope(field: string): boolean {
    const scope = this.formConfig?.rows.find(row => {
      return row.fields?.[0]?.selectableMetadata?.[0]?.metadata === field;
    }).fields?.[0]?

[2022-09-14 18:14] tdonohue commented on #1765
@nibou230 : Yes, if i18n keys and translations are no longer used, they can be removed from `en.json5` (at a minimum).  Translators can then remove them from other language translation files the next time they update the translation.

[2022-09-14 19:04] FelixNicol commented on #1822
section-form.component.spec.ts will also require the folowing change to reproduce this behavior:

<img width="373" alt="image" src="https://user-images.githubusercontent.com/98552762/190240813-1b849ecd-2d7e-4e12-95c2-dd7381014f4d.png">

[2022-09-14 19:49] tdonohue commented on #1822
@FelixNicol : Would you be able to send us these fixes as a [Pull Request (PR)](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests)?  That'd make it much easier for me to assign it to someone else to review/test (and possibly get it into the next release).  Otherwise, I'll have to look for a developer who

[2022-09-14 19:51] FelixNicol commented on #1822
@tdonohue I will do that tomorrow.

[2022-09-15 18:27] #667 closed

[2022-09-15 18:40] #742 closed

[2022-09-15 21:27] uofmsean commented on #573
I am seeing this exception as well while testing with DSpace 7.3. I have ORCID Authority configured for dc.contributor.author but I get no results at all when going to Browse By Author. Browse By Issue Date, Title, and Subject all work fine.

Interestingly, a direct backend server query on /server/api/discover/browses/author/entries shows author entries. This is both with the HAL Browser and also

[2022-09-16 09:08] atarix83 opened #1829 "Running application with defining configuration ui.nameSpace doesn't work"
**Describe the bug**
With the main branch running application with defining configuration ui.nameSpace doesn't work properly, while is working properly in the 7.3 release. The problem is the dspace-theme.css is not loaded and the result is the following
![Schermata da 2022-09-16 10-41-39](https://user-images.githubusercontent.com/2486489/190601151-edb2e8d0-6a82-4cd4-95af-7be948c363c6.png)

**To Re

[2022-09-16 09:52] artlowel commented on #1829
Sounds like it could be a duplicate of https://github.com/DSpace/dspace-angular/issues/1778
@atarix83 can you check whether https://github.com/DSpace/dspace-angular/pull/1814 fixes it?

[2022-09-16 10:07] atarix83 opened #1830 "The 500 Service Unavailable error page is no longer shown"
**Describe the bug**
When the rest server is not available a 500 error page should be shown, currently in the main branch is no longer working and a blank page is shown instead
![Schermata da 2022-09-16 11-52-07](https://user-images.githubusercontent.com/2486489/190614755-45ac0b56-6b9b-4227-8c4a-44c6244f1040.png)

**To Reproduce**
Steps to reproduce the behavior:
1. configure the application in or

[2022-09-16 14:15] #1778 closed

[2022-09-16 14:15] #1795 closed

[2022-09-16 14:17] tdonohue commented on #1830
Thanks for reporting this @atarix83 . I'll pull this over to the 7.4 board and flag as high priority. If you are interested in helping fix it, let me know. Not sure offhand what could have caused it.

[2022-09-16 14:20] tdonohue commented on #1830
@artlowel : Thanks, sounds good. I'll assign you to it then.

[2022-09-16 14:31] tdonohue commented on #1829
@atarix83 and @artlowel : this bug appears to **only impact dev mode**.
* I cannot reproduce it if I run in production mode (`yarn build:prod; yarn serve:ssr`) -- in prod mode the "dspace" theme and everything loads perfectly.
* But, I can reproduce it if I run `yarn start:dev`.

So, it does sound slightly similar to #1814... but that PR (which is now merged) didn't fix this problem.

I'll pull th

[2022-09-16 14:41] tdonohue commented on #1829
@atarix83 and @artlowel :  Ok, I'm mistaken.  It also _partially impacts_ production.

When running in production mode:
* The homepage looks correct
* If you browse to any other page, the main `dspace-theme.css` fails to load with this error (in Chrome DevTools)
[code]
* If you click reload in the browser, then that same page will appear correctly (although the error is still shown in DevTools reg

[2022-09-16 14:42] artlowel commented on #1829
We'll also take a look at this one

[2022-09-16 14:45] tdonohue commented on #1829
Thanks @artlowel .  Assigning to you then to work on for 7.4

[2022-09-16 19:33] #1731 closed

[2022-09-16 21:33] uofmsean commented on #573
Looking at the code and it appears that BrowseByDataType doesn't yet support the "authority" dataType, which is why Browse By Author was showing nothing. Switching back to:

webui.browse.index.2 = author:metadata:dc.contributor.*,dc.creator:text

and now I see results. Unfortunately, I don't know how this affects the ORCID Authority feature which says to use:

webui.browse.index.2 = author:metadat

[2022-09-18 15:57] mpasternak commented on #1781
@tdonohue while I'm working on the translation, step by step, would you like to add me to the translations page as a contact for Polish translation? https://wiki.lyrasis.org/pages/viewpage.action?pageId=117735441

[2022-09-19 11:26] MarieVerdonck opened #1833 "Full item page of entities missing title/name"
**Describe the bug**
Full item pages of entities don't have a valid title because they don't always have a `dc.title`. Example Person full item page: https://demo7.dspace.org/entities/person/6f8f78e7-8ba9-45c6-841a-421b48931fee/full

Each entity page has its own solution for this, using different md field(s), defined on its simple item page, but full item page uses generic [here](https://github.co

[2022-09-19 11:33] MarieVerdonck commented on #1833
This will take an estimated **6 hours** to refactor/verify is used in all item title/name locations.

[2022-09-19 13:09] pilasou opened #1834 "Collection page should offer specific browsing options depending on their entity type"
**Objective**
The objective is to offer specific Angular UI page depending on the entity types of Collection. This will allow to use and display appropriate and relevant browsing options.

For the moment, DSpace 7 Collection pages display is always the same, because Collections themselves are not Entities by default. However, Collection can now be assigned an "Entity Type" which defines the type o

[2022-09-19 13:13] pilasou commented on #1833
Hi @MarieVerdonck, it seems to me that this issue offers some good leads to help on 2 feature requests we made :) : https://github.com/DSpace/dspace-angular/issues/1769 and https://github.com/DSpace/dspace-angular/issues/1834

[2022-09-19 13:58] tdonohue commented on #1833
@MarieVerdonck : This seems reasonable to do for 7.4, if you/your team has time. I'll assign you, move it over to our 7.4 board, flag as high priority and add the estimate. Thanks!

[2022-09-19 13:59] MarieVerdonck commented on #1833
@pilasou: This would indeed streamline what is shown in different list views for the same item, but only as so far as the title/name is concerned, your request for affiliation or other identifiers to be shown in MyDSpace list view (or search item list view) would be unrelated.

However, there is already a PR open to re-use the search Item view components from the regular search in the MyDSpace sea

[2022-09-19 17:55] toniprieto opened #1836 "Creative Commons jurisdiction chosen is ignored"
**Describe the bug**

When a standard Creative Commons license is selected, the user can select the jurisdiction but it is ignored by the Rest side. The Rest side uses a default configured value for the Creative Commons jurisdiction and replaces the selected value with it.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new submission and go to CC section
2. Select the standard Creat

[2022-09-20 12:59] atarix83 opened #1840 "Mydspace filters are not updated when switching from workspace to workflow task"
**Describe the bug**
In the mydspace page when switching from workspaceitem to workflowitem the filters are not updated properly. Indeed only filters that are in common between the two search configuration are refreshed, while filter present in only one configuration are not loaded during the switch

**To Reproduce**
Steps to reproduce the behavior:
1. login as admin user
2. open the mydspace page

[2022-09-20 13:00] atarix83 commented on #1840
@tdonohue

we can work on this bug fix

[2022-09-20 13:59] tdonohue commented on #1840
@atarix83 : Sounds fine, please add an estimate when you have one. I'll pull this over onto our 7.4 board & assign to you

[2022-09-20 14:23] atarix83 commented on #1840
@tdonohue

it's about 3/4 hours

[2022-09-20 18:11] #1749 closed

[2022-09-20 18:11] #1750 closed

[2022-09-20 19:30] alawvt commented on #1750
Thank you very much for working on these feature requests. Does changing a setting to 0 mean unlimited, as @mwoodiupui suggested? I don't see a comment about it.

[2022-09-20 19:56] tdonohue commented on #1750
@alawvt : No, unfortunately at this time there's no option for an "unlimited" value at this time & no immediate plans for that.

The pageSize values should be one of the valid "pageSizeOptions" listed here: https://github.com/DSpace/dspace-angular/blob/main/src/app/shared/pagination/pagination-component-options.model.ts#L25   If they are not one of those values, then it'll be rounded to the neares

[2022-09-20 19:58] alawvt commented on #1750
@tdonohue, Thank you for that explanation. The maximum value of 100 is certainly reasonable.

[2022-09-21 11:54] dsteelma-umd opened #1843 "Example default bundles configuration in config/config.example.yml is incorrect"
**Describe the bug**

In DSpace 7.3, Pull Request #1605 added the following to the "config/config.example.yml" file as an example of how to configure the default bundles list:

[code]

When using this example in an actual configuration, the list of bundles is not displayed in the "Bundle" field of the "Upload Bitstream" page, and the following error is in the browser console:

* Firefox:
[code]

*

[2022-09-21 13:47] tdonohue commented on #1843
@dsteelma-umd : Thanks for finding this issue and sending a fix!  I'll pull this over to our 7.4 board and get someone to review this immediately.

[2022-09-22 10:20] ybnd opened #1849 "Data services: Errors when constructing request endpoints could result in deadlocks"
**Describe the bug**

In #1848 we address an issue with `AuthRequestService` during initialization (caused [here](https://github.com/DSpace/dspace-angular/blob/f01db3e984e1e531a65c0ac3a6260afdfbecc8b0/src/app/core/auth/auth-request.service.ts#L79-L93))

* With the REST server down, `getEndpoint` would throw an error and the request would never be sent
* The return value ~ `buildFromRequestUUID` wo

[2022-09-22 21:21] #1322 closed

[2022-09-23 14:39] #1829 closed

[2022-09-23 14:39] #1830 closed

[2022-09-23 15:11] #1744 closed

[2022-09-23 15:11] #1745 closed

[2022-09-23 15:31] #1843 closed

[2022-09-23 19:03] #1579 closed

[2022-09-23 19:59] ybnd opened #1855 "Thumbnail placeholders in recent Item list rendered incorrectly"
**Describe the bug**
Currently, `ds-recent-item-list` has the same issues with font scaling & tthumbnails/placeholder images not being loaded as we saw with e.g. Relationships on Item pages.
Here's a screenshot from my phone; the font scaling problem may not be as apparent in "desktop view"

![Screenshot_20220923-214901](https://user-images.githubusercontent.com/31547038/192047320-6c92b7b6-4019-46

[2022-09-23 20:09] #1833 closed

[2022-09-23 20:25] tdonohue commented on #1855
@ybnd : Yes, I agree that it'd be nice to quickly fix this in 7.4.  If you want to create a quick PR, I'll gladly review it. Thanks!

[2022-09-23 21:15] uofmsean opened #1856 "Browse by author shows no results when ORCID authority enabled"
**Describe the bug**
DSpace 7.3
Browse by author does not show results when ORCID authority is enabled and indexing is configured with:
[code]

The bug is due to a missing "authority" value in the BrowseByDataType enum, and also that the type is not associated with a corresponding component (such as, for example, a new browse-by-authority-page.component.ts).

Note that the REST API endpoint /serve

[2022-09-23 22:09] mspalti commented on #1855
Ah, that was hiding in plain sight.  Thanks for fixing this one @ybnd !

[2022-09-26 15:28] tdonohue opened #1859 "Useless error when registering user with password that doesn't meet requirements"
**Describe the bug**
This bug appears to have been overlooked in #1776.

If you register a new user, and enter a password that doesn't meet the configured requirements, you'll see a generic error which is not useful ("Registration failed. Something went wrong while registering a new user")

**To Reproduce**
Steps to reproduce the behavior:
1. Register a new user
2. Click on the link in the registr

[2022-09-27 15:59] ybnd opened #1862 "Additional Markdown/MathJax support"
https://github.com/DSpace/dspace-angular/pull/1851 adds a way to support Markdown/MathJax with the new `dsMarkdown` pipe.
This pipe can be used anywhere we use `[innerHtml]`, but the scope of that PR scope is limited to cases where rendering Markdown and/or MathJax doesn't pose additional difficulties.

The following use cases should be considered:

* Support `dsMarkdown` within `ds-truncatable` (

[2022-09-27 18:08] #1737 closed

[2022-09-27 21:53] #1855 closed

[2022-09-28 08:21] AllanPickett opened #1865 "Support for nodejs v18 in dspace 7.x"
**Is your feature request related to a problem? Please describe.**
Nodejs v16 is the latest release supported by DSpace 7. However Nodejs v16 will be EOL September 2023. Any new installs based on the current release will have a very short lifespan to be running on a supported environment.

The EOL for nodejs was brought forward and more details can be found here :
https://nodejs.org/ar/blog/announ

[2022-09-28 13:31] #1765 closed

[2022-09-28 15:05] #1695 closed

[2022-09-28 15:31] #1721 closed

[2022-09-28 18:30] tdonohue opened #1867 "Community "Assign Roles" page hangs / loads indefinitely"
**Describe the bug**
Discovered on `main`, when you attempt to access a Community "Assign Roles" page (`/communities/[uuid]/edit/roles`), the entire application hangs indefinitely and never responds.  This occurs in both **production** and **development** modes.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an Admin
2. Edit a Community
3. Click on the "Assign Roles" tab.  The appl

[2022-09-28 21:44] tdonohue commented on #1859
Closing, fixed by #1863 and DSpace/DSpace#8492

[2022-09-28 21:44] #1859 closed

[2022-09-29 13:21] tdonohue commented on #1793
Closing, as this is no longer reproducible in pre-7.4. It appears it was fixed via a separate bug fix.

[2022-09-29 13:23] #1867 closed

[2022-09-29 14:47] #1672 closed, assigned to abollini

[2022-09-29 19:28] #1404 closed

[2022-09-29 19:28] #1762 closed

[2022-09-29 19:28] #1763 closed

[2022-09-29 20:20] tdonohue commented on #1865
We briefly discussed this ticket in today's Developers Mtg.  It sounds like currently the UI will not run on Node 18, but there may be minor changes we can make to allow it to run on Node 18.  Those changes are in the works, but may not be ready in time for the DSpace 7.4 release (due in early Oct).  More likely, Node 18 basic support would come in 7.5 (due in Feb).

[2022-09-29 21:55] tdonohue opened #1870 "Deleting an EPerson results in a seemingly infinite loop"
**Describe the bug**
Deleting an EPerson from the UI causes the application to hang.  It appears to hit an infinite loop as the backend `dspace.log` shows the same `/server/api/eperson/epersons/search/byMetadata` search over and over again.  It might be a loop in how the page is attempting to refresh itself?

**To Reproduce**
Steps to reproduce the behavior (on latest `main`):
1. Login as an Admin

[2022-09-29 21:57] tdonohue commented on #1870
@artlowel : could you or @ybnd take a quick look at this?  It seems like your team was the last to touch this area of the application & this also sounds like it might possibly be related to recent data service or cache refactoring done by your team (I might be wrong about that, as it's just an immediate guess & haven't had time to dig deeper yet)

[2022-09-30 15:25] #1870 closed

[2022-09-30 17:49] tdonohue opened #1874 "Adding Relationship to existing Entity sometimes requires multiple clicks"
**Describe the bug**
On `main`, adding new relationships between Entities is ~~very slow to respond~~ hard to click.  It requires a great amount of patience to get the entity relationship to be created either from the Submission form or the Edit Item form

(UPDATE: It turns out that the issue is NOT a performance problem.  It was that the new thumbnails were overlapping the checkboxes, making it d

[2022-09-30 17:52] tdonohue commented on #1874
@artlowel : Not sure if you'd have time to dig into this, but it seems like a big blocker for Entities to work well in 7.4.  Tentatively assigning to you in the hopes you can dig into this next week.

[2022-09-30 18:29] tdonohue opened #1875 "Setting visibility="submission" results in the submission field being hidden"
**Describe the bug**
If you attempt to sent any submission field to "submission" visibility, it will be entirely hidden in the submission form.

**To Reproduce**
Steps to reproduce the behavior:
1. Define any field as submission-only (`<visibility>submission</visibility>`) in your `submission-forms.xml`.  For example:
[code]
2. Submit a new Item which uses that form.  That field will not be visibl

[2022-09-30 19:08] #783 closed

[2022-09-30 21:08] tdonohue commented on #1369
This issue has been partially fixed by https://github.com/DSpace/DSpace/pull/8446

However, some situations still appear where a bitstream name will not be displayed, see https://github.com/DSpace/DSpace/issues/8474

Closing this as this is replaced by https://github.com/DSpace/DSpace/issues/8474

[2022-09-30 21:08] #1369 closed

[2022-10-03 13:44] artlowel commented on #1874
@tdonohue I can't reproduce an issue where it takes a long time for a relationship to be added.
I do see a few other issues regarding relationships though:

1. Due to https://github.com/DSpace/dspace-angular/pull/1780, the padding of the thumbnails almost entirely overlaps the checkboxes or radios used to select a relationship:
<img width="192" alt="image" src="https://user-images.githubuserconten

[2022-10-03 14:03] tdonohue commented on #1874
@artlowel : I bet you are correct and I was not always clicking directly on the checkbox.  I suspect that's the issue as I could never pinpoint exactly why sometimes clicking the checkbox would *work* and other times it would remain unchecked.  I probably jumped to the wrong conclusion about it being a performance issue.  Could you submit a small PR to make that SCSS change?  That could be good en

[2022-10-03 14:58] #1720 closed

[2022-10-03 14:58] #1769 closed

[2022-10-03 15:25] #1353 closed

[2022-10-03 16:22] #1874 closed

[2022-10-03 22:15] #1822 closed

[2022-10-04 19:41] #1610 closed

[2022-10-04 19:41] #1736 closed

[2022-10-04 19:41] #1840 closed

[2022-10-04 21:26] tdonohue opened #1879 "Deleting EPerson from Group shows an error even though it works"
**Describe the bug**
When you attempt to delete an EPerson from a group, the deletion works, but an error i18n key is also displayed:

![delete-eperson-from-group](https://user-images.githubusercontent.com/483997/193932859-387bb5d1-a28a-4612-a437-18848c46bc79.png)

In Chrome DevTools this error also appears:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a Group
2. Delete an EPe

[2022-10-05 15:16] tdonohue commented on #775
Closing, fixed by https://github.com/DSpace/dspace-angular/pull/1827 in 7.4

[2022-10-05 15:16] #775 closed

[2022-10-05 15:19] tdonohue commented on #777
Closing, fixed by https://github.com/DSpace/dspace-angular/pull/1827 which was released in 7.4.

Export of Item is now possible via:
1. Login as Admin
2. Select "Processes" in Admin sidebar.  Click "+New"
3. Select "export" script
4. In "--type", fill out "ITEM"
5. In "--id", fill out the UUID or Handle of the item to export.

[2022-10-05 15:19] #777 closed

[2022-10-05 17:18] tdonohue opened #1882 "Deleting a Bitstream Format shows an error even though it works"
**Describe the bug**
When deleting a Bitstream format from the registry, the deletion works, but an error message is displayed alongside the success message:
![unnecessary-failure](https://user-images.githubusercontent.com/483997/194120829-ac4522f2-0369-4c9f-8bbe-0fd4d239344d.png)

**To Reproduce**
Steps to reproduce the behavior (I reproduced this in production mode)
1. Login as an Admin
2. Go to

[2022-10-05 17:18] tdonohue commented on #1882
@artlowel : This looks similar in behavior to #1879, which you fixed.  I don't know whether the issue is the same, but the behavior is similar.

Assigning to you in the hopes you can help with this.

[2022-10-05 17:34] tdonohue opened #1883 "Thumbnails break display of modal when deleting an Entity relationship"
**Describe the bug**
When deleting an Entity relationship, you are shown a popup/modal window which asks "Select the items for which you want to save the virtual metadata as real metadata".  The display in this window is currently broken by improper thumbnail display. Here's a screenshot example:
![delete-relationship](https://user-images.githubusercontent.com/483997/194124154-eb59d578-2b32-4dee-9

[2022-10-05 17:35] tdonohue commented on #1883
@artlowel or @ybnd : Any chance one of you could look at this tomorrow during your day?  This might be a tiny CSS issue, or I'm also OK with just disabling thumbnails in this popup.

[2022-10-05 17:53] mspalti commented on #1883
@tdonohue, I should be able to find a fix today.

[2022-10-05 17:55] tdonohue commented on #1883
Thanks @mspalti : If you can find a fix, I'd be glad to test it as soon as the PR is ready to go.

[2022-10-05 19:01] #1879 closed

[2022-10-06 09:11] ybnd opened #1887 "Restricted Bitstreams not supported in`ds-media-viewer`"
**Describe the bug**
`ds-media-viewer` was recently enabled on the demo server, but has some issues right now
* Restricted thumbnails or image content are not shown. This was recently addressed for `ds-thumbnail` in #1694.
  Since we're using `ngx-gallery` for this it's not immediately clear how to implement the same "retry with token" approach though.
  <img width="500" alt="20221006-105707" src=

[2022-10-06 13:49] #1882 closed

[2022-10-07 07:30] joost-atmire opened #1889 "home page page triggers 2 page views in google analytics"
**Describe the bug**
During the page load of the DSpace front page 2 requests get send to google analytics. Both events signify a page view, but use a different way of contacting the google analytics api, one sends an event of type pageview and one triggers a virtual pageview.

Google analytics has made [a chrome plugin](https://chrome.google.com/webstore/detail/google-analytics-debugger/jnkmfdile

[2022-10-07 21:39] tdonohue commented on #1665
This needs to be retested with 7.4, as it's possible this behavior has been fixed by #1805.

[2022-10-07 22:02] tdonohue commented on #1738
I cannot reproduce this anymore, so it appears to be fixed.  Sessions now expire after 20mins of inactivity...and you are shown a popup when they are about to expire which allows you to either "Logout" or "Extend Session".  If you continue to not respond, you are automatically logged out.

I suspect we fixed this issue when we added this Session expiration feature.

[2022-10-07 22:02] #1738 closed

[2022-10-10 01:44] TanyaHolm commented on #1889
Hi
Would this bug also be applicable to Google Analytics 4?
Thanks
Tanya Holm

[2022-10-10 16:50] davide-negretti opened #1890 "User menu issue on narrow screens"
**Describe the bug**

When the user is authenticated, clicking on user menu icon opens a dropdown menu that includes the logout button.
On narrow screens, however, clicking on user menu icon redirects to the logout page.

![image](https://user-images.githubusercontent.com/87638927/194915757-00435ba5-86c5-47be-8d5c-ffead339ad14.png)

**Expected behavior**
On narrow screens the missing menu items sh

[2022-10-10 16:51] davide-negretti commented on #1890
We'd like to handle this one

[2022-10-10 16:58] davide-negretti opened #1891 "Expandable menu spacing issue"
Items in the expandable menu, showed on narrow screens, used to be horizontally aligned to the left and vertically aligned on the top. Now items are horizontally centered, and they are vertically arranged to fill all the available space:

![image](https://user-images.githubusercontent.com/87638927/194917539-63c11048-c333-47aa-8821-5e092c684646.png)

Is this the expected behavior? Shouldn't the ite

[2022-10-10 16:58] davide-negretti commented on #1891
We'd like to handle this one, together with #1890

[2022-10-10 22:35] kshepherd opened #1892 "Type bind submission fields with CONCAT type model are not hidden properly"
**Description**
If a field in `submission-forms.xml` is configured to be of `<input-type>name</input-type>` and `<repeatable>false</repeatable>` and has a type-bind value configured, the UI does not properly hide / disable the form control or row when the bound type is not selected.
A name field which is repeatable behaves as expected with type-bind, and so does a non-name field which is not repea

[2022-10-11 08:10] amgciadev opened #1894 "Current item's metadata are cleared from display in the Edit item metadata page while editing"
**Describe the bug**
While editing an item's metadata via the Edit item Metadata tab, occasionally all the metadata values are wiped off apart for the value currently being edited - see screenshot attached from the current DSpace7 DEMO site.

I have replicated this behaviour both in my DSpace 7.4 updated environments and in the DEMO site, e.g. https://demo7.dspace.org/items/a1c5ed83-7bee-4e64-b66d

[2022-10-11 08:15] amgciadev commented on #1894
Forgot to attach the browser console log for the demo site. The relevant error:

tn @ main.b4b30eb84e5d44b9.js:1
main.b4b30eb84e5d44b9.js:1 ERROR TypeError: Cannot read properties of undefined (reading 'changeType')

[demo7.dspace.org-1665475446192.log](https://github.com/DSpace/dspace-angular/files/9752912/demo7.dspace.org-1665475446192.log)

[2022-10-11 14:01] tdonohue commented on #1890
Sounds good @davide-negretti . I've assigned this and #1891 back to you to work on for 7.5.  I'd appreciate though if you could give me a rough estimate for the number of hours it will take (you can do a combined estimate for both if that's easier)

[2022-10-11 14:06] tdonohue commented on #1894
Thanks @amgciadev :  This sounds like some sort of UI caching issue. I'll pull this over to our 7.5 board and assign.

@artlowel : Is this of interest to your team perhaps?

[2022-10-11 17:36] tdonohue commented on #646
Per discussions above, we all agree this would be nice to have, but would prefer a solution where the "submission-forms.xml" uses the Messages.properties on the backend. That way, the translation occurs on the backend, and Angular just displays whatever language is sent to it.

In the meantime, it is possible to support multiple languages in the submission form, but it **requires** unnecessary dup

[2022-10-11 19:29] alawvt commented on #1744
As well implemented in DSpace 7.4
<img width="1243" alt="DSpace7_4_search_thumbnails" src="https://user-images.githubusercontent.com/13037168/195181481-200b42ce-fcbe-4c3c-a3a9-07d5950ff655.png">

[2022-10-11 19:32] #1342 closed

[2022-10-11 19:37] alawvt commented on #1745
As well implemented in DSpace 7.4,

<img width="1062" alt="DSpace7_4_browse_thumbnails" src="https://user-images.githubusercontent.com/13037168/195183194-d5cf5454-c1ad-4c5f-a0c3-2df65a2bdb91.png">

[2022-10-11 20:15] alawvt commented on #1762
As implemented on DSpace 7.4 Demo,

<img width="1109" alt="DSpace7_4_edit_item_line_breaks" src="https://user-images.githubusercontent.com/13037168/195189299-d0efcf9e-c958-424b-80b4-b1e251c96368.png">
<img width="1034" alt="DSpace7_4_iitem_view_html_line_breaks" src="https://user-images.githubusercontent.com/13037168/195189309-5ec0f638-fc75-4705-b237-0ae77b3a44af.png">

Line breaks are preserved a

[2022-10-11 20:33] tdonohue commented on #1762
@alawvt : To clarify, HTML is not displayed at this time in these fields. However, *Markdown* and MathJax is supported when enabled: https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Configuration#UserInterfaceConfiguration-Markdown/MathJaxSettings

It looks like it's not yet enabled on the Demo site, but will push out some updates to the demo site this week (likely tomorrow) to enable it.

[2022-10-11 20:35] alawvt commented on #1753
I have tested this with DSpace 7.4 on DSpace 7 Demo and the new group immediately appears after a change. Thank you for fixing this.

[2022-10-11 20:39] alawvt commented on #1762
@tdonohue, thank you for this information. I would like to test the Markdown and MathJax when it is enabled. Should I start another feature request to support HTML in the abstract field?

[2022-10-11 20:57] alawvt commented on #667
Implemented with thumbnails in DSpace 7.4 on DSpace 7 Demo.
Recently Added Items appear on the Home page,
<img width="1085" alt="DSpace7_4_recent_items" src="https://user-images.githubusercontent.com/13037168/195195767-08d48b12-e68f-495d-b599-4c23b75f295a.png">

But Recently Added Items do not appear on the Community page,
<img width="1160" alt="DSpace7_4_recent_items_not_on_community" src="https:

[2022-10-12 14:54] tdonohue commented on #1762
@alawvt : It turns out that I was wrong.  The Markdown support includes support for basic HTML tags.  The docs were just updated to clarify that: https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Configuration#UserInterfaceConfiguration-SettingsforrenderingMarkdown,HTMLandMathJaxinmetadata

I've also just pushed an update to the demo site to enable both Markdown (with HTML) and MathJax.  HTM

[2022-10-12 15:10] tdonohue commented on #667
@alawvt : This feature was donated work, and the developer only donated code to add Recent Submissions to the homepage.  So, we likely need a separate ticket about adding them also to the Community page, as that has not yet been done.  Would you be willing to create a ticket for us?  I suspect on the Community page they could be added quickly if they are similar to the Collection page... where "Re

[2022-10-12 17:02] tantz001 opened #1897 "UntypedItemComponent is not themeable"
The themed UntypedItemComponent (https://github.com/DSpace/dspace-angular/commit/3a483c393ddeeb94c90113bbd36320bf8abb3800) in 7.4 does not override the component in src/app.

[2022-10-13 09:50] bram-atmire opened #1899 "sitemap entries in robots.txt are not fully qualified urls"
**Describe the bug**

Sitemaps entries in https://github.com/DSpace/dspace-angular/blob/main/src/robots.txt are not full qualified urls

**To Reproduce**

Steps to reproduce the behavior:
1. Visit the robots.txt of any DSpace 7 installation
2. Look at the sitemap urls and check if they are fully qualified urls, starting with https

**Expected behavior**

Expected: full qualified urls according to

[2022-10-13 11:49] MarieVerdonck opened #1900 "Search in sidebar/facet don't escape special characters"
**Describe the bug**

The facet search, that uses the endpoint `/server/api/discover/facets/{facetName}`, in the search sidebar (expand filter in sidebar, start typing in search bar of that facet) doesn't escape special characters.

Additionally, the facets endpoint, `/server/api/discover/facets/{facetName}?prefix` search doesn't take into account capital letters. The search in de facets/filters s

[2022-10-13 11:57] MarieVerdonck commented on #1900
Addressing this issue would take **2 hours** to address and test.

[2022-10-13 13:54] tdonohue commented on #1900
Thanks for reporting this @MarieVerdonck .  I'll pull this over to the 7.5 board, add the estimate and assign back to you to work on (assuming you / your team is interested... if not, we can unassign & wait for a different volunteer)

[2022-10-13 16:28] tdonohue commented on #1897
@alexandrevryghem  and @artlowel :  Just pinging you on this bug as it appears to be related to #1674.  It looks like the `UntypedItemComponent` was added to the `custom` theme in that PR... but it doesn't actually work when you attempt to theme it.

I've pulled this over to the 7.5 board in case anyone is interested in claiming this.

[2022-10-13 17:00] davide-negretti commented on #1890
Hi @tdonohue
I'd say 8-12 hrs for both issues. Unfortunately there is code shared by dspace and base themes, and testing both themes may require multiple reboots of the application.

[2022-10-13 17:22] tdonohue commented on #1890
@davide-negretti : Sounds good, as these will be done together, I'll add an estimate of 10hrs to this ticket and 0hrs to the other (adding a comment that it's included in the same estimate). Feel free to start work whenever you are ready.

[2022-10-13 17:22] tdonohue commented on #1891
Added a zero estimate to this ticket as it's included in the estimate for #1890

[2022-10-13 18:38] alawvt opened #1901 "Add "Recently Added Items" to Community pages"
**Is your feature request related to a problem? Please describe.**
continues #667

Please add "Recently Added Items" to Community pages like that done for the Home page in #667.

<img width="1085" alt="DSpace7_4_recent_items_on_home" src="https://user-images.githubusercontent.com/13037168/195678678-21fdac22-c18f-48c4-98cd-b4b98f430fb6.png">

This will match the display in DSpace 6.4.

**Describe a

[2022-10-13 18:39] alawvt commented on #667
Yes, I have continued this with #1901. Thanks.

[2022-10-13 18:44] alawvt commented on #1762
@tdonohue, Thank you for checking this and adding it to the documentation. Thank you also for adding the settings to the [DSpace 7 Demo home page](https://demo7.dspace.org/home).

[2022-10-14 12:52] tantz001 commented on #1897
Mark,
True, and same here.  I did the same in 7.2 and 7.3. (by copying the
component from the src directory into my theme, and following the
instructions in the UI Customization guide). The problem is when you try to
add a second themed component in a different theme.  Angular only seems to
recognize one of them...  Have you attempted a second theme?

In this case (in v7.4) UntypedItemComponent is

[2022-10-14 13:56] davide-negretti commented on #1890
This PR is also going to fix an issue with admin sidebar, which causes the inner-wrapper in the root component to overflow on the right in some situations.

[2022-10-14 19:15] alexandrevryghem commented on #1897
@tantz001 The problem is that the eager components from the `custom` theme aren't imported by default (for faster first rendering). If you want to use the `custom` theme and make modifications inside it you should uncomment [this  line](https://github.com/DSpace/dspace-angular/blob/main/src/themes/eager-themes.module.ts#L15) and it's import statement and then it will work.

[2022-10-17 10:04] ybnd opened #1904 "Media viewer thumbnails don't take viewport width into account"
**Describe the bug**
When running with `mediaViewer.image = true`, thumbnails on Item pages have a fixed width which doesn't look right on screen widths between 768px and 1200px

<img width="802" alt="20221017-120217" src="https://user-images.githubusercontent.com/31547038/196149786-14d81203-a5ea-4721-9d9f-dfe154c8c57f.png">

**To Reproduce**
Open any Item on the demo server (or start a local inst

[2022-10-17 12:43] MW3000 opened #1905 "Clicking the Syndication Feed Icon on a community or collection results in a 404 Whitelabel Error Page"
**Describe the bug**
Clicking the Syndication Feed Icon on a community or collection in 7.4 results in a 404 Whitelabel Error Page. Not sure if a wrong link is displayed or if the link is correct but no feed is served by the backend.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to any community or collection, e.g. on the DSpace 7 Demo Site: https://demo7.dspace.org/collections/ad

[2022-10-17 13:37] hutattedonmyarm opened #1906 "Switching view modes in "My Dspace" does not update search filters"
**Describe the bug**
When there are different search filters defined for "workspace" and "workflow" view modes, switching between them does not update the filter list, resulting in incorrect filters

**To Reproduce**
Steps to reproduce the behavior:
1. Define different filters for `workspaceConfiguration` and `workflowConfiguration` in `discovery.xml`, e.g. an additional filter for workflow.
2. Op

[2022-10-17 14:28] tdonohue commented on #1904
@ybnd : It looks like you claimed the related ticket.  I'll assign this to you as well & pull these over to the 7.5 board so they can be worked on when you are ready.

[2022-10-17 14:31] tdonohue commented on #1906
@hutattedonmyarm : What version of DSpace are you reporting this for?  This sounds like the same bug as #1840, which we fixed in the 7.4 release.  Could you try this again on 7.4?

[2022-10-17 14:35] SrinivasRao17 opened #1907 "Pagination in REST API"
Hi Team,

When we search for item in the list we will be able to view only 20 items in the page. Can we get complete list of items in one page. please find the attached screenshot for your reference.

When we login and search for item list in REST API we will get only "Size 20" as default. but we need to change this default to total number of elements"1968" in one page. Can this be possible. Pleas

[2022-10-17 14:42] tdonohue commented on #1907
@SrinivasRao17 : You can pass the `size` parameter to any page to request more items.  See our REST documentation at https://github.com/DSpace/RestContract#pagination

However, it is NOT possible to request *all items* in a single request (by default the max is 100 per page, IIRC).  The reason is that very large requests can take a very long time to respond.

Closing this as answered.  Please be a

[2022-10-17 14:42] #1907 closed

[2022-10-17 14:54] tdonohue commented on #1645
Moving this ticket to our "unscheduled backlog" for now.

At this time, based on discussions in the DSpace 7 Development meetings, we feel any new Entity Types should be approved by DSpace Steering / Leadership before they can be added to DSpace.

In other words, we feel DSpace 7 development has been tightly scoped to only the initial set of Entity Types.  So, while we can include enhancements/imp

[2022-10-17 14:55] #1906 closed

[2022-10-17 14:59] tdonohue commented on #1798
Just re-discovering this ticket, and I agree that it seems reasonable to attempt to replicate DSpace 6 behavior with regards to spellcheck.  So, I'd be OK with an option to make this configurable, or remove `spellcheck=false` altogether (I haven't had a chance to check yet which option better aligns with DSpace 6)

[2022-10-17 15:19] tdonohue commented on #1834
This idea seems reasonable to me, though I'm not sure whether this is easy to achieve.  It seems like we'd need to create Entity-specific browse by options (as some browse by options won't make sense for normal Items or other Entity Types).

So, I'm going to pull this over onto our roadmap, but prioritize as low for now.  I'm worried there's hidden complexity here that may require more detailed di

[2022-10-18 15:18] SrinivasRao17 commented on #1907
Dear Tim,

Thanks for the quick response for the REST API Pagination solution.

We have encounter one more issue.
We are not able to pull Item API end points under Collection API calls. Could you please help us to identify Item(Metric or Terms) API end point.

If an Item is mapped to other collections then we are able to view those API under "mappeditem" but we are not able to view direct API's un

[2022-10-18 15:50] tdonohue commented on #1907
@SrinivasRao17 : All REST endpoints are documented at https://github.com/DSpace/RestContract/blob/main/endpoints.md

The high level structure of the REST API is at https://github.com/DSpace/RestContract/blob/main/README.md

For Items, you'd need to use the separate /api/core/items endpoint, or the Search endpoint
https://github.com/DSpace/RestContract/blob/main/items.md
https://github.com/DSpace/R

[2022-10-19 12:39] Atmire-Kristof opened #1911 "Listable-object decorator ignoring relevant parameters after default value"
**Describe the bug**
The listable-object decorator uses default values for inputs in situations where it shouldn't. More specifically after it resorts to a default value for one of the fields, all fields that follow will also use default values (in order of view-mode > context > theme). E.g. if the provided context is not found, it'll use the DEFAULT_CONTEXT, ignore the provided theme and also use

[2022-10-19 14:53] abollini opened #1913 "SAF import via URL"
Angular part for https://github.com/DSpace/DSpace/issues/8536

The Angular import page should allow to input an URL other than drag&drop the file.

4Science can work on that, estimation is 4 hrs

[2022-10-19 15:02] davide-negretti opened #1914 "Customizability of theme colours"
Bootstrap uses a semantic colour scheme, that associates each colour to a meaning (primary and secondary colour, warning, info...).

The current colour scheme has a few issues that limit its customisability.

First of all, the primary colour of bootstrap is blue, while the primary colour of DSpace is dark grey. This colour has been changed by redefining the `$blue` SASS variable to grey, but a bet

[2022-10-19 15:03] davide-negretti commented on #1914
@tdonohue I would like to handle this issue, with an estimated effort of 2-4 hours.

[2022-10-19 15:28] abollini commented on #815
@tdonohue we are ready to start working on that, it is not a trivial task and estimation can be provided only after some extra analysis. Our best guess at the moment is in the range of 64-80 hrs.
We will propose wireframe to present the solution

[2022-10-19 15:36] abollini opened #1915 "Badge / count in facet with long text are displayed incorrectly"
**Describe the bug**
When a facet value is very long the count badge go outside the facet component

**To Reproduce**
Steps to reproduce the behavior:
1. Do this https://demo7.dspace.org/search?query=&spc.page=1

![Screenshot from 2022-10-19 17-04-59](https://user-images.githubusercontent.com/1537527/196737874-90e9a056-00df-4e0c-8896-71a5549e38ef.png)

4Science can work on that, estimation is 3-4

[2022-10-19 16:17] abollini commented on #1596
we reviewed that internally and it looks like a "technical issue" without any concrete examples in the current DSpace feature set. For this reason we suggest to close it or just leave in the backlog for the future. We will reopen/followup if/when a real use case emerge

[2022-10-19 16:33] abollini commented on #1752
4Science would like to work on that. Our estimation is 24 hours

[2022-10-19 16:43] abollini commented on #1393
4Science would like to work on that. Our estimation is 4 hours.
The plan is to make an overlay over the header menu to make sure that the search input is always visible with good contrast

[2022-10-19 17:19] abollini commented on #120
reviewed today: the current behavior has been improved as only a limited number of pages are listed. The current implementation show an "architectural" issue as angular should be NOT able to create a link to a page other than for the current, previous, next, first & last using the HAL links. This mean that the angular component has hardcoded in someway the URL structure used for the pagination. Th

[2022-10-19 18:05] mark-cooper commented on #1798
@tdonohue I think I'll have time to do it over the next couple of weeks 👍

[2022-10-19 20:57] tdonohue commented on #1914
@davide-negretti : This seems reasonable, provided they are minor changes simply to align better with Bootstrap.  That said, these changes would need to be clearly documented, so that people upgrading to the next release of DSpace are not surprised when their theme doesn't work properly (because old styles were renamed).

[2022-10-19 20:59] tdonohue commented on #815
@abollini : That sounds reasonable and I agree that this feature likely will require some wireframes or mockups to discuss it.  I'll add a tentative estimate of 72 hours to this.

[2022-10-19 21:04] tdonohue commented on #1596
Thanks @abollini. I'll close this for now as "won't fix" but we can always reopen at a later date if we determine a fix for this is necessary.

[2022-10-19 21:04] #1596 closed

[2022-10-19 21:05] tdonohue commented on #1752
Thanks @abollini .  I'll add the estimate & assign to @atarix83 ... obviously delegate as needed.

[2022-10-19 21:06] tdonohue commented on #1393
Thanks @abollini .  I'll assign to @atarix83 and add the estimate.

[2022-10-19 21:10] tdonohue commented on #1913
Thanks @abollini , I've added the estimate & assigned to @atarix83

[2022-10-19 21:13] tdonohue commented on #1915
Thanks @abollini for reporting this & I can reproduce it in Chrome.  I'll assign to @atarix83 and add the estimate.

[2022-10-20 09:38] davide-negretti opened #1917 "Italian translation - i18n language files"
Add the support to the Italian language and create the `it.json5` language file

[2022-10-20 09:39] davide-negretti commented on #1917
We'd like to contribute to the Italian translation

[2022-10-20 09:44] artlowel commented on #1548
Closing. This was fixed by #1808, but not linked up to the PR properly so not closed automatically

[2022-10-20 09:44] #1548 closed

[2022-10-20 11:01] abollini commented on #1723
we (at 4Science) are interested in working on that. It is not trivial as REST/contract changes are also required (estimation 16 hours). Min/max needs to be returned by the REST side. On the Angular side 1 day is required (we want also fix the event that trigger the search moving from dragging to end - click release). Estimation 24 hours in total

[2022-10-20 11:34] abollini commented on #1719
we (at 4Science) can work on that. REST implementation (to return a 422 instead than the 500) would take 6 hours.
The constraint could be relaxed to a wider size (100).

The angular part would take 4 hrs. Total estimation 10 hours

[2022-10-20 11:34] abollini commented on #1719
we (at 4Science) can work on that. REST implementation (to return a 422 instead than the 500) would take 6 hours.
The constraint could be relaxed to a wider size (100).

The angular part would take 4 hrs. Total estimation 10 hours

[2022-10-20 11:57] hutattedonmyarm opened #1918 "Adding resource policies with long names fails without a useful error message"
**Describe the bug**
When adding a new resource policy, the given name cannot be longer than 30 characters, because the database column holds a `varchar(30)`. Otherwise, creating the policy fails.

However, the input field is not limited to 30 characters, does not provide feedback and no clear error message is shown except a generic "an exception occured". The reason for failing to create the poli

[2022-10-20 12:31] abollini commented on #808
We (at 4Science) are interested in this task. See also the note on the REST ticket https://github.com/DSpace/DSpace/issues/2878

On the angular side the following activities will be needed
- mydspace: a new option in the dropdown Show (other than Your submission / workflow) will be added to provide access to the workspaceitem that you supervise. Please note that this entry will be always shown (se

[2022-10-20 12:41] abollini commented on #803
we want to note that the subscription functionality have been extended and implemented in DSpace-CRIS 7.
If what we have done in DSpace-CRIS is of interest of the DSpace community and can be accepted as is eventually disabling part of the feature that cannot be immediately ported we are available to make a more accurate estimation for the porting work.
We can anticipate that it should took not les

[2022-10-20 12:47] abollini commented on #784
we want to note that this feature has been implemented in DSpace-CRIS and we will be happy to donate it as-is on a volunteer basis. The approach used in DSpace-CRIS is the one that I have suggested as "alternative" in the REST contract discussion

https://github.com/DSpace/RestContract/pull/45#pullrequestreview-201920581

we use special metadata attached to the site object

[2022-10-20 12:52] abollini commented on #807
see comment in the REST ticket https://github.com/DSpace/DSpace/issues/2876#issuecomment-1285491139

[2022-10-20 13:29] tdonohue commented on #1917
@davide-negretti : Translations are always welcome.  Assigning back to you and pulling onto the 7.5 board

[2022-10-20 15:43] uofmsean commented on #1856
This looks like it has been fixed with DSpace 7.4. I think BrowseByDataType.Metadata gets used as the default and authority-controlled author names are now showing. This was after a full search rebuild (index-discovery -b) so it was fresh data.

[2022-10-20 15:44] dsteelma-umd opened #1920 ""data-service.decorator.spec.ts" tests fails intermittently"
**Describe the bug**

When running the "dspace-angular" tests the "src/app/core/data/base/data-service.decorator.spec.ts" fails intermittently, typically with an error similar to the following:

[code]

This error occurs in DSpace 7.4, and in the "main" branch.

**To Reproduce**
Steps to reproduce the behavior:

1) Clone the "dspace-angular" repository, and install the dependencies:

[code]

2) Ru

[2022-10-20 15:48] tdonohue opened #1921 "Shrink size of main.js to allow for a smaller initial download (and quicker initial page draw)"
**Describe the bug**
This ticket is based on discussions occurring in recent DevMtgs and in https://wiki.lyrasis.org/display/DSPACE/DSpace+7+UI+Optimization+Analysis

Based on current analysis, the size of our `main.js` package is much larger than it should be (currently at 877KB gzipped, but it really should be cut in half or even smaller).  A larger `main.js` slows down the initial page load, an

[2022-10-20 15:50] tdonohue commented on #1921
@artlowel : Here's the ticket for shrinking the size of main.js -- I've assigned to you for 7.5.  I've copied my notes from today's meeting into here.  We can use this ticket for more discussion/analysis.

Just stressing again that **I highly recommend we fix this through a series of smaller PRs**, as I think that approach will help all our development team to learn better ways of keeping main.js

[2022-10-20 18:45] #1920 closed

[2022-10-20 19:15] tdonohue commented on #808
Thanks @abollini : That all sounds reasonable. I agree this should be a configurable feature which can be turned on/off.  When off, the REST API should not allow for any supervision orders.

I'll assign to your team for 7.5 & add the estimate.

[2022-10-20 19:56] tdonohue commented on #786
As noted in the backend PR (https://github.com/DSpace/DSpace/issues/2852#issuecomment-1286064086), this feature is "on hold" as the Developer Team requires more feedback (from DCAT and/or others interested in this feature).

We feel that these log-based statistics may be better replaced by enhancing either Usage Statistics or enhancing Rest Based Quality Control Reports.  See comment linked above

[2022-10-20 20:04] tdonohue commented on #762
Per today's meeting, assigning this to Atmire (as requested by @lieven-atmire ).  I've tentatively assigned to @artlowel , but feel free to delegate or reassign.

[2022-10-20 20:11] tdonohue commented on #813
Closing, as it seems unlikely this will require a large UI component (and having a separate UI ticket for it seems unnecessary).  So, this ticket is replaced by the https://github.com/DSpace/DSpace/issues/2887 ticket.

[2022-10-20 20:56] tdonohue commented on #1856
Thanks @uofmsean !  Since you were the original reporter, I'll close this as fixed in 7.4. If we find further issues later, we can either reopen or create a new ticket.

[2022-10-20 20:56] #1856 closed

[2022-10-20 20:59] tdonohue commented on #1719
Thanks @abollini !  Assigning to you for your team to work on for 7.5. I'll add the estimate as well.

[2022-10-20 21:00] tdonohue commented on #1918
Closing this ticket, as I realized it's a duplicate of #1719.  That other ticket is already claimed & hopefully will be fixed in 7.5. See that ticket for more details.

[2022-10-20 21:00] #1918 closed

[2022-10-20 21:12] tdonohue commented on #1723
Thanks @abollini .  That sounds reasonable...assigning you for your team to work on for 7.5

[2022-10-21 10:42] davide-negretti commented on #1914
@tdonohue I opened a PR for this task: #1923

As a further step, I suggest another change. The current situation is:
[code]

I suggest this change:
[code]
This change would not affect the semantic colours (e.g. danger), but would allow to use the "normal" colours (e.g. red). At the moment the `--bs-colour` variables are used in very few places so it should be easy to replace them with the new `--d

[2022-10-21 13:11] hutattedonmyarm opened #1924 "Submission enters an endless loop, when depositing with errors and no unsaved changes"
**Describe the bug**

When depositing a submission a second time (e.g. after the first one failed validation) without any changes.
the submission form enters an endless loop, requesting, re-requesting, and re-requesting the workspace item.

Version: DSpace 7.4

**To Reproduce**
Steps to reproduce the behavior:
1. Start a submission
2. Do *not* fill out all required forms
3. Click the *Deposit* but

[2022-10-21 14:08] tdonohue commented on #1914
@artlowel : pinging you on this discussion & the initial PR (see above) from @davide-negretti .   I'd appreciate your feedback on the suggested approaches above from @davide-negretti , as I want to be sure we have common agreement across several institutions before moving this idea forward.

[2022-10-21 14:13] davide-negretti commented on #1914
Thank you @tdonohue @artlowel
If the proposed change is fine I can easily integrate it in the current PR

[2022-10-21 15:32] tdonohue commented on #1647
@abollini : Came across this ticket previously assigned to 4Science.  Should this remain assigned to you for 7.5, or should I unassign?

[2022-10-21 15:35] tdonohue commented on #1809
@benbosman : This is an older ticket that was previously assigned to you / your team to investigate.  I wanted to verify that this is something you are able to work on for 7.5?  If not, I'll unassign and look for a different volunteer.

[2022-10-21 15:35] tdonohue commented on #1486
@benbosman : Another older ticket previously assigned to you / your team.  Do you want this to remain assigned to Atmire for 7.5, or should I unassign?

[2022-10-21 21:51] tdonohue opened #1926 "TEST TICKET (DISREGARD)"
Verifying a new ticket gets added to our new Backlog Board

[2022-10-24 09:04] hutattedonmyarm commented on #1924
@tdonohue I've managed to reproduce it with vanilla dspace-angular, so it looks to be related to either our submission process (we have a fairly large submission form, using type-binds, scopes, and entity relations) or our backend process. I'll need to look further into it!

[2022-10-24 14:16] tdonohue commented on #1377
Closing, as 7.4 now includes Thumbnails in "Browse By" pages by default.

[2022-10-24 14:16] #1377 closed

[2022-10-24 14:20] tdonohue commented on #1810
Closing, this was fixed by https://github.com/DSpace/dspace-angular/pull/1858

[2022-10-24 14:20] #1810 closed

[2022-10-24 15:07] tdonohue commented on #1905
I've verified this locally & on demo7.dspace.org.  It appears, to me, that the link is incorrectly generated in the UI.

The UI is creating feed links that look like this:
[code]
That throws a 404.

Instead, the correct link is this:
[code]

I'm not sure where the extra `/search` is coming from yet.  I'll pull this over to our board though and flag as high priority & needing a volunteer.

[2022-10-24 15:47] tdonohue commented on #1009
Closing, outdated and no use case provided

[2022-10-24 15:47] #1009 closed

[2022-10-24 17:16] #1892 closed

[2022-10-24 20:08] tdonohue commented on #610
Closing as this is very outdated, and (at a glance) many/most of these appear to now be solved.

[2022-10-24 20:08] #610 closed

[2022-10-24 20:10] tdonohue commented on #339
Closing, this appears to be fixed in 7.x now.  I see we have `<html lang="en">` by default, and it updates based on the selected language, e.g. selecting German updates it to be `<html lang="de">`.

[2022-10-25 14:43] tdonohue commented on #1378
Closing as this is outdated. The letters have been removed from Browse By Title/Subject.

[2022-10-25 14:43] #1378 closed

[2022-10-26 12:08] michdyk opened #1931 "Complete Polish translation"
I want to contribute a complete Polish translation of the repository.

Because it is already in progress, I suppose that we will be able to deliver the complete translation at the beginning of November 2022.
I believe that it would be great for the community if you could put this issue in the 7.5. release.

[2022-10-26 15:15] tdonohue commented on #1931
@michdyk : We will gladly accept a PR for a Polish translation whenever one is ready.  I'll pull this ticket to the 7.5 board in the hopes that it'll be ready in time for 7.5 (which is due Feb 2023)

[2022-10-27 09:48] artlowel commented on #815
As discussed during the last meeting, some screenshots of the way we implemented hierarchical facets.

At the bottom of hierarchical facets, a browse tree link is added:

<img width="268" alt="Screen Shot 2022-10-27 at 11 33 05" src="https://user-images.githubusercontent.com/1567693/198249227-0ade4403-ada4-42e0-8526-4703c07755b6.png">

Clicking it opens a modal containing [the VocabularyTreeviewCo

[2022-10-27 14:03] artlowel commented on #1865
We'd like to claim this ticket

[2022-10-27 14:03] artlowel commented on #1537
We'd like to claim this ticket

[2022-10-27 14:03] artlowel commented on #1665
We'd like to claim this ticket

[2022-10-27 14:04] artlowel commented on #1889
We'd like to claim this ticket

[2022-10-27 14:05] artlowel commented on #1643
We'd like to claim this ticket

[2022-10-27 14:05] artlowel commented on #1331
We'd like to claim this ticket

[2022-10-27 14:38] pilasou commented on #771
@tdonohue Just for information, DSpace 7 allow to claim a task in one click, which is already an improvment for us compare to task claiming in DSPace 6 JSPUI. In DSpace 7, it is easy/quick to claim multiple tasks. It is not batch claiming but it helps users to work on multiple objects.

[2022-10-27 14:40] pnbecker commented on #1787
@hpwBLN will work on this. @kshepherd and myself will review.

[2022-10-27 16:17] tdonohue commented on #815
As discussed in today's DevMtg, we are reassigning this to Atmire for the 7.5 release to implement the [simple solution presented in the screenshots above](https://github.com/DSpace/dspace-angular/issues/815#issuecomment-1293270195).  The rough estimate was that would take only around 20hrs for both frontend & backend work (please correct me if that estimate is incorrect, @artlowel )

A new ticket

[2022-10-27 16:54] tdonohue opened #1932 "Enhance hierarchical search filters (for controlled vocabs) to support item counts, etc."
**Is your feature request related to a problem? Please describe.**
The initial implementation of hierarchical filters/facets for controlled vocabularies doesn't display matching item counts (like normal facet).  See screenshots in https://github.com/DSpace/dspace-angular/issues/815#issuecomment-1293270195

Currently, this means it acts more like a search filter instead of a facet.  It can be used

[2022-10-27 16:57] tdonohue commented on #1865
Sounds good @artlowel .  Assigning to you for your team to work on. Please provide an estimate when you can do so.

[2022-10-27 16:57] tdonohue commented on #1537
Sounds good @artlowel . Assigning to you for your team to work on. Please provide an estimate when you can do so.

[2022-10-27 16:59] tdonohue commented on #1665
Sounds good @artlowel . Assigning to you for your team to work on. Please provide an estimate when you can do so.

[2022-10-27 17:47] mwoodiupui commented on #1865
I've been running on Node 18 in my development environment for some time.  This patch made it work for me:

diff --git a/package.json b/package.json
index 33e337121..aee1a4083 100644
--- a/package.json
+++ b/package.json
@@ -172,7 +172,7 @@
     "eslint": "^8.2.0",
     "eslint-plugin-deprecation": "^1.3.2",
     "eslint-plugin-import": "^2.25.4",
-    "eslint-plugin-jsdoc": "^38.0.6",
+    "eslin

[2022-10-27 17:49] mwoodiupui commented on #1865
I think I had to upgrade typedoc too.  I found a 'typedoc.new.json':
{
    "entryPointStrategy": "expand",
    "exclude": "**/*+(spec.ts|po.ts|index.ts|.json|.js|.config.ts|.aot.ts)",
    "excludeExternals": "true",
    "name": "Angular 2 UI for DSpace",
    "out": "./doc",
    "readme": "./README.md",
    "theme": "default",

    "compilerOptions": {
        "mode": "modules",
        "module": "

[2022-10-27 21:10] nwoodward commented on #1905
Looking at the history of the RSS component, the opensearch link was hard-coded until this commit that brought in the `websvc.opensearch.svccontext` parameter from dspace.cfg in the REST API – https://github.com/DSpace/dspace-angular/commit/be8a8f5f6bf9359eecc8034b22c522fe9ac1389f. But the changes to the `formulateRoute` method don't accord with the default value of `svccontext`. I'll create a sma

[2022-10-28 07:04] abollini opened #1935 "Syndacation feed force a sort by title asc that makes no sense"
**Describe the bug**
The syndacation feed icon / link shown in the home page of the repository or of community/collection leads to an incorrect link to the opensearch controller that include sort parameter by title asc.

Syndacation feeds must be by their mean sorted by date accessioned desc, that is the default implemented by the controller if no sorting parameters are provided

https://github.co

[2022-10-28 07:56] artlowel commented on #1865
If you want to make a PR for that @mwoodiupui that's fine too. Feel free to add me as a reviewer

[2022-10-28 17:58] #1766 closed

[2022-10-31 15:25] #1890 closed

[2022-10-31 15:25] #1891 closed

[2022-10-31 15:53] #1767 closed

[2022-10-31 17:05] #1911 closed

[2022-10-31 17:38] #1900 closed

[2022-10-31 20:47] yingjin commented on #1321
I am wondering if this bug is reported for much older DSpace 7 release. I checked my DSpace 7.4 installation, it seems like the problem is not there anymore.

<img width="1332" alt="Screen Shot 2022-10-31 at 3 42 12 PM" src="https://user-images.githubusercontent.com/1444734/199106953-835cdb19-ef34-48c2-a4b1-d423a6498d33.png">

Also, the demo7.dspace.org displays the hints as well.

[2022-10-31 21:00] tdonohue commented on #1321
Thanks @yingjin for the testing.  You are correct, it looks like this was fixed somewhere along the way and the ticket never was closed.  Closing now as fixed.

[2022-10-31 21:00] #1321 closed

[2022-10-31 22:10] tdonohue commented on #1806
I tested this today and "Request a Copy" is working fine for me locally.

**However**, I have seen this scenario before, and I suspect you are hitting an authorization issue.  For instance, I've seen this same behavior when performing these steps:
1. Login as "User1" and submit an Item with a restricted Bitstream
2. Login as "User2" and submit a "request a copy" request to User1 for access to that

[2022-11-01 14:42] tdonohue commented on #1924
@hutattedonmyarm : I was able to reproduce it now on both the demo site, and locally.  **It seems to only be reproducible if you use Entities, specifically the Publication Entity submission form.**   It doesn't occur if you submit a normal Item (non-Entity)

I'll pull this ticket over to our 7.5 board and see if I can find a volunteer to look at it.

[2022-11-01 17:14] tdonohue commented on #1897
@tantz001 : I've confirmed (based on the tip from @alexandrevryghem ) that the UntypedItemComponent **is themable in 7.4**.

Here's the steps I used to get this to work:

1. Add/copy content to `themes/custom/app/item-page/simple/item-types/untyped-item/untyped-item.component.html` (this is the location of the themed HTML for the "custom" theme)
2. Enable that HTML file in `themes/custom/app/item-

[2022-11-01 17:14] #1897 closed

[2022-11-02 10:36] Nik5992 opened #1941 "need to fix test cases of date.util.spec.ts"
**Describe the bug**
While running test cases, its failing for date.util.spec.ts file

**To Reproduce**
Steps to reproduce the behavior:
1. run  yarn test:watch
2. then check in browser or terminal, it shows test cases failing with test case names
https://freeimage.host/i/brnWu4

**Expected behavior**
test cases should pass without failing

**Related work**
none

[2022-11-02 10:38] corrad82-4s commented on #1941
we at 4science can look into it, estimation to solve it is 2 to 4 hours

[2022-11-02 12:45] davide-negretti opened #1943 "Refactoring of login components"
DSpace currently uses a component for each login method. Currently we have`log-in-oidc` `log-in-orcid` and `log-in-shibboleth` which are basically the same, and they could be replaced with a single `log-in-external-provider` component.