[2021-06-15 19:08] tdonohue commented on #1231
Thanks @abollini : I can reproduce this.  It's a typo in the UI (wrong i18n key is used).  I'll claim it and create a tiny PR shortly.

[2021-06-15 19:28] #1205 closed

[2021-06-15 19:39] tdonohue commented on #1234
@atarix83 : This sounds like something we should fix in v7.0, so I've moved it to that board.  Flagging as "medium" priority. But, once your team is done with high priority tasks, feel free to create a PR.

[2021-06-15 19:48] tdonohue commented on #1232
@artlowel : Assigning this to you to investigate, as it appears your team built this component initially.

From what I see, this looks to be an Angular side issue.  There's a few issues;
1. First, the searchbox for a collection to move to is hard to use.  Typing something in it doesn't appear to work (or maybe it is case sensitive or requires the start of the collection name).  However, if I simpl

[2021-06-16 14:15] #1231 closed

[2021-06-16 14:24] tdonohue commented on #667
Related ticket https://github.com/DSpace/DSpace/issues/3290

[2021-06-16 15:40] tdonohue opened #1236 "No way to view an Item when in simple "Approve/Reject" workflow stage"
**Describe the bug**
If you use the default 3-step approval workflow, the first stage is a simple "Approve/Reject" (with no option to Edit).  In that stage, the reviewer has no way to view the Item under review...this means they cannot see the files or metadata, so they have no context for accepting or rejecting.  Here's what a reviewer sees in that scenario (and the item is not clickable in any w

[2021-06-16 15:49] tdonohue commented on #1142
@DSquareTechnologies : I've moved that into a separate ticket, see #1236

[2021-06-17 15:19] tdonohue commented on #1148
Splitting this ticket into two, as, after further review, I think the two bugs listed in this ticket may need to have separate priorities:

1. I'll leave this ticket as `medium`, but it'll only be about **adding** new relationships (which "works" for now, but it's clunky and needs to be improved to filter out existing relationships).
2. The second bug around pagination I'm splitting out separately

[2021-06-17 15:22] tdonohue opened #1238 "Viewing/Removing Relationships in Edit Item is impossible for Entities with >20 relationships."
**Describe the bug**
Discovered while testing #1139.  Related to #1148, but split out separately.

When an Entity has a large number of relationships, it becomes impossible to see them all on the "Relationships" tab. Either the "Relationships" tab needs pagination, or the "Current Selection" tab in the popup should list all existing relationships with pagination. Currently, if there's more than 20

[2021-06-17 15:25] tdonohue commented on #1238
@artlowel : Assigning this to you as we discussed briefly. Ideally, I'd like to see if we can get this into 7.0 (hence "high priority"), as this is currently broken functionality.

[2021-06-17 15:34] artlowel commented on #1238
- Instead of [getting all relationships and then filtering on the current type](https://github.com/DSpace/dspace-angular/blob/main/src/app/+item-page/edit-item-page/item-relationships/edit-relationship-list/edit-relationship-list.component.ts#L324-L350), we'll use the `/api/core/relationships/search/byLabel?label=<:relationshipname>&dso=<:uuid>` endpoint to get a paginated list of relationships wi

[2021-06-17 15:52] tdonohue commented on #1238
Sounds good, @artlowel .  Adding the estimate to this ticket & keeping assigned to your team for work.

[2021-06-17 16:17] artlowel commented on #1148
There is a fundamental problem with the way we check if search results are already related to the item being edited in this lookup. The UI currently needs to:
- get _all_ relationships for the item being edited,
- then retrieve _all_ the items on both side of the relationship (because we can't know whether the current item is on the left or right side until we fetch it),
- make a list of the relat

[2021-06-17 16:31] artlowel commented on #1232
For 1. I'd propose we get rid of the custom search code, and rewrite it using the same component we use when selecting the collection to create a new submission in. This has the added benefit of only returning collections the user has ADD permission in

The second issue is because rest returns an object without a `_links` section in response to the PUT that moves the Item. While we could fix this

[2021-06-17 17:21] tdonohue commented on #1232
@artlowel : that sounds reasonable. I think we should just keep the fixes to the UI side initially, if possible.  If we find a need to do a later, minor update to the REST API, we can do that in a separate ticket.   I'll add the estimate & reassign back to you for your team

[2021-06-17 20:48] #1170 closed

[2021-06-17 20:58] #1224 closed

[2021-06-21 16:33] tdonohue commented on #1148
@artlowel : Overall, this sounds reasonable.  I would recommend though that we start with a RESTContract, as that might more easily describe exactly how these projections would work.  These projections likely should be described under the endpoint where they exist...so, for example, updating the Search Results contract to describe the optional `isRelatedTo` projection which can be used there.

For

[2021-06-23 19:05] #1151 closed

[2021-06-23 19:05] #1154 closed

[2021-06-23 19:05] #1156 closed

[2021-06-23 19:05] #1160 closed

[2021-06-24 13:54] atarix83 opened #1248 "Improve logging Angular implementation"
This issue relates to https://github.com/DSpace/DSpace/pull/3303
To get the best from this logging mechanism, the Angular UI should be improved by adding to all the requests these two new custom header

- X-CORRELATION-ID with a random generated uuid or any hard to conflict string generated at the application load and keep stable for all the browsing session

- X-REFERRER to note the page that has

[2021-06-24 15:24] #1046 closed

[2021-06-24 15:24] #1162 closed

[2021-06-24 15:24] #1169 closed

[2021-06-24 18:47] #1124 closed

[2021-06-25 19:44] #1110 closed

[2021-06-25 19:44] #1119 closed

[2021-06-25 19:44] #1121 closed

[2021-06-25 19:44] #1144 closed

[2021-06-25 19:44] #1195 closed

[2021-06-25 19:44] #1220 closed

[2021-06-25 19:44] #1229 closed

[2021-06-25 20:46] tdonohue opened #1256 "Embargo date not saving properly during submission"
**Describe the bug**
When you attempt to select & save an embargo date in the submission form, the date selected is not saved.
This is reproducible locally and on https://demo7.dspace.org ... in both cases I'm using Chrome

**To Reproduce**
Video showing the behavior
https://user-images.githubusercontent.com/483997/123482592-07bf7f80-d5cb-11eb-8d6b-78091a3af178.mp4

Steps to reproduce the behavior

[2021-06-25 20:47] tdonohue commented on #1256
@atarix83 : Here's the embargo date issue that I'm seeing. Assigning to you for quick analysis. I've rated this `high priority` as I'd like to ensure it's fixed (assuming others can reproduce it) in 7.0, as it's important to have accurate embargo dates.

[2021-06-25 21:56] #1168 closed

[2021-06-25 22:14] #1122 closed

[2021-06-27 07:35] DSquareTechnologies opened #1257 "User groups inaccessible from the 'Assign Roles' tab - Edit Collection & Edit Community"
**Describe the bug**
A user group created in the 'Assign Roles' tab within the 'Edit Collection' module is inaccessible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the 'Edit Collection' by clicking on edit icon on the collection homepage.
2. Click on the Assign Roles tab
3. Click on Create button under any of the role
4. Click on the group link generated to access the group
5. App

[2021-06-27 10:34] DSquareTechnologies opened #1258 "Unable to edit group from Authorizations tab in Edit Collection & Edit Community"
**Describe the bug**
Unable to edit the user group using edit group button appearing next to the authorization policies listed in the Authorizations tab. Similar issue in the Edit Community as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the Edit button on the collection homepage
2. CLick on the Authorizations tab
3. Click on edit group appearing next to any policy
4. Appli

[2021-06-27 10:46] DSquareTechnologies opened #1259 "Unable to add/edit Users in the policy under Authorizations tab in Edit Collection & Edit Community"
**Describe the bug**
It is not possible to add or update users while trying to add any policy under the authorizations tab in the Edit Collection & Edit community section. Upon clicking the Edit policy button, there is no place for adding users.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the edit button on the collection home page
2. click on the authorizations tab
3. Click on

[2021-06-28 15:43] tdonohue commented on #1257
This will be fixed by https://github.com/DSpace/DSpace/pull/3293.  It seems I accidentally merged a front-end change too early, without the corresponding backend change. My apologies.  It'll be fixed as soon as the backend PR is merged.

[2021-06-28 15:49] tdonohue commented on #1258
This is the same bug as #1257 (just found in a different location). It will also be fixed by https://github.com/DSpace/DSpace/pull/3293

[2021-06-28 15:55] tdonohue commented on #1259
Can confirm this is an issue. The workaround for now is to simply create a new policy & delete the old one.  Currently, existing policies cannot be fully edited.

Scheduling this tentatively for 7.1 as I don't believe there's time to get this into 7.0.

[2021-06-28 18:10] DSquareTechnologies commented on #1259
Thanks Tim. These bugs are identified while preparing user manual for 7.0. Have updated the manual based on available functionality.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tim Donohue ***@***.***>
Sent: Monday, June 28, 2021 9:25:56 PM
To: DSpace/dspace-angular ***@***.***>
Cc: DSquare Technologies ***@***.***>; Author ***@***.***>
Subject: Re: [DSpace/d

[2021-06-28 18:46] #1238 closed

[2021-06-28 20:06] tdonohue commented on #1203
Summary of how Item Mapping now should work:
* **Collection Admins** can only map items if they administer *multiple* collections...in which case they can map from one Collection they administer to another they administer
* **Community Admins** can only map items across Collections within Community(ies) they administer
* **Site Admins** can obviously map items between any Collections in the site.

[2021-06-28 21:28] #1234 closed

[2021-06-29 09:51] ybnd opened #1260 "Opening new tab from search result toggles truncatable"
**Describe the bug**
Opening an Item page in a new tab from a `<ds-item-search-result-list-element>` can toggle its `<ds-truncatable>` component

**To Reproduce**
Steps to reproduce the behavior:

1. Open [demo7.dspace.org/search](https://demo7.dspace.org/search?spc.page=1&query=dc.description.abstract:*&spc.sf=score&spc.sd=DESC&f.entityType=Publication,equals&scope=) and look for an Item with a t

[2021-06-29 13:49] tdonohue commented on #1260
Thanks for reporting @ybnd .  That said, this seems extremely minor to me (and unlikely to be encountered frequently)...but we may want to fix at some point. For now, putting this into 7.2

[2021-06-30 14:02] #1217 closed

[2021-06-30 19:30] #1213 closed

[2021-06-30 21:05] #1179 closed

[2021-07-01 15:11] #1129 closed

[2021-07-01 15:13] #1232 closed

[2021-07-01 15:46] tdonohue commented on #1256
@atarix83 and @artlowel : Here's the `PATCH` request payload sent when I select `2021-07-31` (using the calendar tool *or* manually entered -- I tried both options and the PATCH request was the same each time):
[code]

As you can see above, the Angular UI is sending the wrong `startDate` to the REST API.  It is already changed to a day earlier `2021-07-30` (my expectation is it should be `2021-07-

[2021-07-01 15:51] tdonohue commented on #1256
@atarix83 and @artlowel : I just searched our codebase for anything to do with timezone specific code, and I stumbled on this `dateToISOFormat` method: https://github.com/DSpace/dspace-angular/blob/main/src/app/shared/date.util.ts#L30

I wonder if this is the cause...my selected date is being turned into a UTC date by the UI, which changes the actual *day* I selected.

[2021-07-01 16:27] atarix83 commented on #1256
probably we are encountering in this issue

https://stackoverflow.com/questions/55829344/momentjs-getting-wrong-timestamp-from-date-in-a-different-timezone

we're using moment here
https://github.com/DSpace/dspace-angular/blob/de8e306d9ffe24ba512a469aff7aa247e08e7b7a/src/app/shared/date.util.ts#L48

[2021-07-01 17:05] tdonohue commented on #1256
@atarix83 : If that's the case, it looks like there's a simple fix...maybe we need to force that date to be UTC from the beginning, as it sounds like it defaults to local timezone. Would you be able to create a quick PR that I could test tomorrow?

[2021-07-01 20:30] tdonohue commented on #1256
@atarix83 : I played around with this a bit today, and I have a **partial solution**... I've figured out it DEFINITELY is a timezone issue.  I'm now certain of that.  However, there's *two issues* it seems:

1. First, when I select a date in the calendar or manually enter it, it decreases by one day in the PATCH request.  This appears to be a **UTC to local timezone conversion** issue.  The select

[2021-07-01 22:23] tdonohue commented on #1256
Figured out the fix! https://github.com/DSpace/dspace-angular/pull/1262

[2021-07-02 02:27] cuervoest opened #1263 "Error uploading file"
While in Submission form drag&drop or browse for a file  get "Upload Failed" on the screen.
In the chrome console i gets an 201 status code message in the post request, with this response body:

errors: [{message: "error.validation.required",…},…]
0: {message: "error.validation.required",…}
1: {message: "error.validation.filerequired", paths: ["/sections/upload"]}
2: {message: "java.io.IOException

[2021-07-02 11:37] atarix83 opened #1265 "Downloading bistream during submission doesn't work"
**Describe the bug**
Downloading bistreams for worksapceitems/workflowsitems doesn't work, indeed clicking on the download button presents on the upload section of the submission page does not lead to any result.
![Schermata da 2021-07-02 13-30-59](https://user-images.githubusercontent.com/2486489/124268730-3218bc00-db3a-11eb-9ba0-a10787cddc3c.png)

**To Reproduce**
Steps to reproduce the behavior

[2021-07-02 11:55] atarix83 commented on #1265
@tdonohue it tooks 1hour to fix, I've opened directly the PR because it was easy to fix and it can be reviewed quickly

[2021-07-02 13:12] mwoodiupui commented on #1256
Nice detective work.  I thought it smelled like a timezone issue.

IMHO the originally reported behavior is backwards:  by the principle of least surprise, the date entered by the user should be assumed to be local to the user's location (unless a zone is explicitly stated on the form) while the API should always use UTC and the repository should store UTC.  When reading dates back, the UI should

[2021-07-02 13:39] tdonohue commented on #1263
@cuervoest : this sounds like either a configuration or permissions problem. You'll likely need to turn on debug mode or debug logging in the REST API to get a more detailed error in the response body. See this guide https://wiki.lyrasis.org/display/DSPACE/Troubleshoot+an+error#Troubleshootanerror-DSpace7.x(orabove)

As this isn't a reproducible bug, closing this ticket as "cannot reproduce". If y

[2021-07-02 13:39] #1263 closed

[2021-07-02 13:47] tdonohue commented on #1256
@mwoodiupui : what you are describing is the current behavior.  On `main`, the UI is accepting/presenting a localized date while the backend stores UTC.  This results in a very buggy experience with embargo dates. Here's an example:
1. Backend returns that an embargo is until `2021-07-31T00:00:00Z` (UTC time)
2. Frontend translates that to local time. For me, I'm at -5:00 hours, so it translates t

[2021-07-02 14:01] tdonohue commented on #1265
Thanks @atarix83 : I've pulled this into the 7.0 board since it's tiny. I'll give the PR a test today & see if I can merge immediately.

[2021-07-02 15:00] #1197 closed

[2021-07-02 19:19] #1265 closed

[2021-07-02 20:23] tdonohue commented on #764
Closing, as this has been implemented already in 7.0 and tested during Testathon. Any specific issues are in separate tickets.

[2021-07-02 20:23] #764 closed

[2021-07-02 20:24] tdonohue commented on #765
Closing, as this has been implemented already in 7.0 and tested during Testathon. Any specific issues are in separate tickets.

[2021-07-02 20:24] #765 closed

[2021-07-02 20:25] tdonohue commented on #766
Closing as this was already implemented in 7.0. See a logged in user's profile page.

[2021-07-02 20:25] #766 closed

[2021-07-02 20:32] tdonohue commented on #769
Basic SHERPA/RoMEO integration already exists in 7.0. Needs discussion as to what additional features are needed. May be overestimated.

[2021-07-02 20:40] tdonohue commented on #772
Simple solution being implemented for 7.0, see #1236.  This ticket is about enhancing that solution as needed, or possibly a popup modal style preview of an Item.

[2021-07-02 22:12] tdonohue commented on #1256
@mwoodiupui : I think we are saying the same thing in different ways. Essentially, the embargo date field/selector (in the UI) currently isn't supporting datetime, so it simplifies everything to a date, and that doesn't work well when translating between timezones.

In any case, I think the only solution we can achieve in time for 7.0 is moving everything to UTC (i.e. PR #1262).  But, I do agree t

[2021-07-03 15:05] DSquareTechnologies commented on #1259
Hi Tim,

Identical issue is with the community also. Updating Issue title from Collection to the Collection & Community.

[2021-07-03 15:07] DSquareTechnologies commented on #1258
Identical issue found in the Edit Community section as well. Adding Community in the issue.

[2021-07-08 10:11] ybnd opened #1268 "Dragging text selection over submission form triggers "drop files" message"
**Describe the bug**
In Firefox, dragging text selections around on submission pages causes the "drop files" message to appear over the form.
Sometimes, the overlay stays there until you refresh the page (this doesn't happen consistently though)

AFAIK Chrome doesn't have this "drag text selections feature", so this bug doesn't appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a n

[2021-07-08 11:27] #1173 closed

[2021-07-09 07:34] #1236 closed

[2021-07-12 12:29] atarix83 commented on #621
resolved with https://github.com/DSpace/dspace-angular/pull/1253

[2021-07-12 12:29] #621 closed

[2021-07-12 21:53] tdonohue opened #1270 "[Deque Analysis] Edit Item, Bitstreams Tab: "Content should be in a data table but is not" (Critical Issue)"
## Deque Analysis Summary

(Issue ID: 470946) Edit Item, Bitstreams tab: "Content should be in a data table but is not."  The page appears visually as a table, but it is not represented as a `<table>`.  Ideally, this will be fixed as follows:

Fix this issue by doing ALL of the following:
* Markup data that appears logically as a table using `<table>`, `<tr>`, and `<td>` elements.
* Ensure that he

[2021-07-12 22:02] tdonohue opened #1271 "[Deque Analysis] Reorder buttons in Submission forms are not keyboard accessible (Critical Issue)"
## Deque Analysis Summary

The buttons used to reorder multi-valued fields, or Bitstreams within an item are not fully keyboard accessible. Currently, while you can tab to the button, you cannot "click" it by pressing Enter.

(Issue ID: 469927) Submission Form: Reorder buttons (when field allows multiple values, e.g. Author, Other Title, etc) are inaccessible to keyboard navigation (you cannot tab

[2021-07-12 22:10] tdonohue opened #1272 "[Deque Analysis] ARIA / Label Issues in Submission form"
## Deque Analysis Summary

Two remaining Submission form critical issues exist.  Both of these seem to be caused by external libraries.

1. (Issue ID: 469503) The `aria-multiline` attribute is invalid on `combobox` role (it currently appears for `dc.subject` field). See https://www.w3.org/TR/wai-aria-1.1/#aria-multiline  It should be removed.
    * the aria is added by the [ngbTypeahead component,

[2021-07-13 14:06] #1256 closed

[2021-07-13 16:18] #1207 closed

[2021-07-13 21:57] tdonohue commented on #778
This can already be done in 7.0 via "Edit Item" -> "Authorizations" by adding a new policy restricting the Item to a group (e.g. Administrator) until a specific _end date_ passes.

So, this ticket is really just about making that process *easier* (perhaps via an Embargo button, or via a new submission-style edit option like described in #2876)

[2021-07-15 18:18] #1257 closed

[2021-07-15 18:18] #1258 closed

[2021-07-15 19:32] tdonohue opened #1273 "UI does not load when JavaScript is disabled in browser"
**Describe the bug**
If you turn off Javascript in your browser, the UI becomes unresponsive.  No errors appear (at least not in the DevTools in the browser), but no page will load successfully.

**UPDATE: I've determined this is caused by #1244** If I revert that PR, everything works.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn off JS in your browser tab (e.g in Chrome, go into Dev

[2021-07-15 20:14] #1203 closed

[2021-07-15 20:46] tdonohue commented on #1273
I've verified that the 7.0 Beta5 release **worked properly**.  You could turn off Javascript and still interact with the site. So, this issue has been caused _since_ Beta 5.  So, some [fix on our 7.0 board](https://github.com/orgs/DSpace/projects/5#column-9649750) has broken server-side rendering (SSR).  I'm attempting to narrow it down further.

[2021-07-15 22:13] tdonohue commented on #1273
After further testing/debugging, I've **determined the cause to be PR #1244** (created by @atarix83 ).  That PR accidentally breaks SSR.  If I revert that PR locally & start the UI (via `yarn start`), then I can run the UI with Javascript disabled.

@atarix83 or @abollini : Is there someone from 4Science that could help fix this issue?  If not, we likely will need to revert that PR prior to the 7.

[2021-07-19 15:45] tdonohue opened #1274 "Migrate e2e tests from Protractor to Cypress"
Angular has seemingly started to take a big step back from Protractor as newer (supposedly easier to use) e2e test solutions have become more widely used.

Additionally

Source: https://github.com/angular/protractor/issues/5502#issuecomment-837432362 (see full issue ticket for lots more details).

I've also started to (anecdotally) see more and more mentions of migrating from Protractor to [Cypres

[2021-07-19 19:13] #1167 closed

[2021-07-19 19:13] #1171 closed

[2021-07-19 19:13] #1172 closed

[2021-07-20 16:03] #1248 closed

[2021-07-20 18:39] #1206 closed

[2021-07-21 14:10] #1147 closed

[2021-07-22 08:14] #1273 closed

[2021-07-23 15:10] tdonohue commented on #327
@artlowel : Realized we have an old ticket about renaming the "+" directories.  Assigning to you to see if you or your team could quickly do this prior to 7.0.  If you run into issues though or complications, let me know & we can reschedule this for _just after 7.0_.

[2021-07-23 16:28] #327 closed

[2021-07-23 16:53] tdonohue commented on #209
This ticket may need to become higher priority, as we've done a lot of accessibility fixes in 7.0 based on an analysis by Deque.  Now that we've moved to GitHub CI, we need to look more towards GitHub Actions.    We may also want to investigate using [`axe-core/cli`](https://www.npmjs.com/package/@axe-core/cli) and compare with `pa11y-ci` (which the initial PR #356 tried using).  Not yet sure whic

[2021-07-26 11:38] artlowel opened #1279 "If there's no correlation ID cookie, server side rendering crashes"
**Describe the bug**
The log interceptor [gets the correlation ID from the cookie](https://github.com/DSpace/dspace-angular/blob/e9a03994e208e52337f32080d936997fef1b1dfc/src/app/core/log/log.interceptor.ts#L22) and [adds it as a request header](https://github.com/DSpace/dspace-angular/blob/e9a03994e208e52337f32080d936997fef1b1dfc/src/app/core/log/log.interceptor.ts#L26). However if you set a reque

[2021-07-26 14:58] tdonohue opened #1281 "CORRELATION_ID doesn't exist for first request of every client and for every request of non-JS clients"
(Copied over from #1279 , which was a fix for the SSR issue related to this bug.)

**Describe the bug**
The log interceptor [gets the correlation ID from the cookie](https://github.com/DSpace/dspace-angular/blob/e9a03994e208e52337f32080d936997fef1b1dfc/src/app/core/log/log.interceptor.ts#L22) and [adds it as a request header](https://github.com/DSpace/dspace-angular/blob/e9a03994e208e52337f32080d9

[2021-07-26 15:01] tdonohue commented on #1279
This ticket has been split into two:
1. Current 1279 ticket: re-scoped to **only fix** the immediate SSR bug, see #1280
2 Additional `CORRELATION_ID` issues were moved to #1281 and rescheduled for 7.1

[2021-07-26 15:03] #1279 closed

[2021-07-26 15:33] tdonohue commented on #1274
NOTE: Cypress also has a nice GitHub Action which seems very configurable: https://github.com/cypress-io/github-action

[2021-07-28 17:41] tdonohue commented on #1106
This appears to be duplicated by #1167 (see first bullet listed there) and it was fixed by #1252

[2021-07-28 17:41] #1106 closed

[2021-07-28 17:47] tdonohue commented on #1143
This appears to be fixed (likely by #1252 which fixes similar issues), although it's worth noting the up/down arrows are now part of the focus when clicking tab (for keyboard accessibility purposes).  So you have to tab past them to get to the month field, but it does work.

[2021-07-28 17:47] #1143 closed

[2021-08-01 09:49] DSquareTechnologies opened #1284 "Export/Import menus should not be displayed for "basic users" as they don't work for them"
**Describe the bug**
Unable to export the metadata using the basic user profile.

**To Reproduce**
Steps to reproduce the behavior:
1. Login with basic user credentials, in this case used submitter id on the demo DSpace site.
2. Go to the admin panel and click on the Export dropdown
3. Click on the Metadata link
4. Type the name of any collection and click on its link
5. Click on the Export button

[2021-08-02 20:07] tdonohue commented on #1284
I believe the bug here is that the menu option *exists* for a normal user.  IIRC, in DSpace 6.x, this feature was limited to Community/Collection Admins or full Admins.  So, basic users have not been able to export metadata in past releases either.

So, I think the correct solution here is to not display the Export menu unless you _minimally_ have Community/Collection Admin privileges.

[2021-08-03 22:09] tdonohue commented on #779
Related "Request a Copy" tickets about allowing it to expire:
#812 and https://github.com/DSpace/DSpace/issues/2886

[2021-08-03 22:46] ivicadimitrovski opened #1286 "Upload button in bitstreams not working"
The Upload button in bitstreams is not working:

![image](https://user-images.githubusercontent.com/44358971/128095886-d686afd9-075b-4fc5-91b3-d26aa9b92345.png)

[2021-08-04 14:13] tdonohue commented on #1286
@artlowel : Would someone on your team be available to look at this?  It's likely a small, but annoying bug, and it appears to be in 7.0

[2021-08-04 15:43] tdonohue commented on #805
Closing, as (along with #2872) this appears to duplicate #2834 No additional information is provided in this ticket, and they sound like the same feature.  Additionally, basic submission via identifier (from MyDSpace) functionality exists in 7.0.

[2021-08-04 15:43] #805 closed

[2021-08-04 16:05] tdonohue commented on #922
Stumbled on this old ticket. Re-tested today on demo7.dspace.org and it's no longer reproducible.  It appears this was fixed in 7.0

[2021-08-04 16:05] #922 closed

[2021-08-04 16:36] tdonohue opened #1288 "Implement "More like this" (similar items) in new UI"
This feature previously existed in the v6.x XMLUI only.

Documentation was at https://wiki.lyrasis.org/display/DSDOC6x/Discovery#Discovery-%22Morelikethis%22configuration

The goal of this feature was to display similar/related items on the Item page.

In DSpace 7, this Discovery configuration still exists, but it is not utilized.  This ticket may require first updating the REST API to expose this

[2021-08-05 16:07] tdonohue opened #1289 "Upgrade to Angular 12 (or 11)"
Currently our codebase is on Angular 10.  As [Angular 10 LTS support ends on Dec 24](https://angular.io/guide/releases), we should look at upgrading to either Angular 11 or 12 in the 7.1 release.

If an upgrade to Angular 12 would prove difficult, simply getting us on Angular 11 is perfectly OK for 7.1.  However, if upgrading to Angular 12 is not much different than an Angular 11 upgrade, we may w

[2021-08-05 16:07] tdonohue commented on #1289
@artlowel : As mentioned in today's meeting, assigning to you / your team for estimation / analysis

[2021-08-05 16:14] tdonohue opened #1290 "Migrate extra DSpace-CRIS "Live Import" sources to DSpace core"
DSpace-CRIS (built/maintained by 4Science) has a number of [Live Import sources](https://wiki.lyrasis.org/display/DSDOC7x/Live+Import+from+external+sources) which are not yet available in DSpace core.
These may include:
* Scopus
* CrossRef
* CiNii
* NASA/ADS
* Web of Science
* VuFind
* OpenAIRE (by Author and Title)

If possible, we should work with the 4Science team to contribute these back to co

[2021-08-05 16:15] tdonohue commented on #1290
@atarix83 : As promised today, I'd appreciate it if you (or someone from your team) could estimate the effort to give this code back to the core codebase.  While I've tentatively flagged this as "medium priority", an estimate might help me better explain why we might want to prioritize this more highly for 7.1.  If there are any questions, let me know!

[2021-08-05 21:53] #1188 closed

[2021-08-06 14:47] atarix83 commented on #776
@tdonohue we are interested on this task

[2021-08-06 14:48] atarix83 commented on #767
@tdonohue we are interested on this task

[2021-08-06 15:13] tdonohue commented on #776
Thanks @atarix83 .  Assigning to you for your team to start work on.

[2021-08-06 15:13] tdonohue commented on #767
Thanks @atarix83 .  Assigning to you for your team to start work on.

[2021-08-06 16:19] artlowel commented on #1095
To be able to show only the collections that are relevant for a certain external source we'd need to add two things on the rest side:

- A HAL link on each externalSourceEntry to the corresponding entitytype. ExternalSourceEntry instead of externalSource, because that way we could conceivably support external sources that can return multiple entity types
- A search endpoint that allows us to searc

[2021-08-06 22:31] unibravo opened #1291 "DSpace UI Issue"
Not Home Banner Image and Login panel the page https://repository.myuni.edu.
The page is not fully loaded https://repository.myuni.edu/home

in Browser Console:
No _links section found at https://repository.myuni.edu/server/api
hal-endpoint.service.ts:42

[2021-08-07 09:46] artlowel commented on #1291
That likely means your rest sever can't be reached. What do you see if you go to the url in the "No _links section found" error message?

[2021-08-09 10:23] KevinVdV opened #1292 "Mapped collections not displaying on item view page"
**Describe the bug**
If an item has mapped collections these aren't displayed on the item view page. This bug can be seen [here](https://demo7.dspace.org/entities/publication/dc379fc1-446c-4569-91da-9021dccb60c5).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an item
2. Edit the item
3. Go to the "Collection Mapper" tab
4. Map the item to a few collections
5. Return to the item view

[2021-08-10 14:10] tdonohue commented on #1291
Closing this ticket as answered.  As this same "No _links section found" error has been encountered by several people on lists & in Slack, I've added it to our "Common Installation Issues" at https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace#InstallingDSpace-%22No_linkssectionfoundat...%22errorfromUserInterface

[2021-08-10 14:10] #1291 closed

[2021-08-11 08:47] MarisArins opened #1294 "Required value-pair dropdown requires value selection twice"
1. Download fresh angular and REST projects (dspace-7.0 tag)
2. In REST project adjust in submission-forms.xml "Type" and "Language" fields to be required(set <required> text)
3. Run app with docker compose (building REST container from your local changes)
4. Enter submission form and check functionality of "Type" and "Language" fields

Expected - you pick a value and it stays selected

Actual - t

[2021-08-12 13:40] artlowel commented on #761
@tdonohue we'd like to claim this one

[2021-08-12 13:50] tdonohue commented on #761
@artlowel : Sounds good. Assigning to you for your team to work on.  Keep in mind, this estimate is really old, so you may first want to analyze whether it is accurate (and let me know if it is not).

[2021-08-13 17:36] atarix83 commented on #1044
The work that should be done here is an huge refactoring of all components involved in the search functionality. Currently there isn't an unique root search component that deal with the search state and propagate the information needed to the children, and the result is any changes to the functionality are hard to manage (see for example the workaround that we needed to implement  https://github.c

[2021-08-17 12:17] paulo-graca commented on #1095
Hi Art, could a submission form configuration be an option? You could specify a default collection?

[code]

[2021-08-17 13:55] davidenegretti-4science opened #1296 "Input fields in "Edit group" form that should be disabled by default are instead editable (until the page is refreshed)"
**Describe the bug**
In "Edit group" page the fields "Group name" and "Description" should be disabled if the group is permanent. When the page is accessed through the group list in ([access-control/groups](https://demo7.dspace.org/access-control/groups)) the fields are editable. If the page is accessed through its link, or is reloaded, the fields are disabled as expected.

**To Reproduce**
Steps

[2021-08-18 14:48] tdonohue commented on #1044
Thanks for the analysis @atarix83 .  I've added the estimate to this ticket.

[2021-08-23 21:01] #1185 closed

[2021-08-24 13:00] abollini commented on #1095
in dspace-cris we have linked a collection to exactly one entity type via a metadata. This avoid the need to use a template item if not really necessary, moreover all the necessary endpoints and search methods exist so that you can proposr to the user only reasonable options. We welcome anyone to port the existing code to dspace or we can sstimate the effort needed for such porting and perform it

[2021-08-24 17:30] hardyoyo commented on #1274
Consider me interested... I have spent the morning trying to get the e2e tests working in my local dev environment, and had to set it aside.

[2021-08-26 13:32] bbranan opened #1299 "Support overriding of i18n files from within a theme"
**Is your feature request related to a problem? Please describe.**

When applying customizations to the DSpace 7 UI, the majority of all changes can be done from within a theme. This allows for keeping customizations for a site separate from the base/default codebase, which is valuable for several reasons. Unfortunately, it is not currently possible to maintain this separation for UI label text th

[2021-08-31 19:48] tdonohue commented on #1302
@atarix83 : This came over from JIRA migration. Any idea if it's still applicable?  If not, I'll close it.

[2021-08-31 19:48] dspace-bot opened #1303 "[DS-4467] Multi-field sort selection from pagination component"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4467">[DS-4467]</a> created by andrewwood</i>
<p>In previous versions of DSpace there was the capacity to select what field to sort against in a set of data from from the gear icon E.G (<a href="https://imgur.com/a/HhuSKZ1" class="external-link" target="_blank" rel="nofollow noopener">https://imgur.com/a/HhuSKZ1</a>) . I've added a

[2021-08-31 19:50] dspace-bot opened #1304 "[DS-4372] Multilanguage support for Form-value-pairs and Controlled Vocabularies"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4372">[DS-4372]</a> created by julius.gruber</i>
<p><b>Use case</b><br/>
Please see the attached picture for a graphical representation of the use case.</p>

<p><span class="image-wrap" style=""><img src="https://jira.lyrasis.org/secure/attachment/19627/19627_UseCaseMultiLanguage.png" height="300" width="600" style="border: 0px soli

[2021-08-31 19:54] dspace-bot opened #1305 "[DS-4262] Administrator change relationships as virtual metadata?"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4262">[DS-4262]</a> created by paulo_graca</i>
<p>This is more as a concern...</p>

<p>Should the user, even if administrator, be able to manually edit existing relationships (virtual metadata)?  </p>

<p> </p>

<p><span class="image-wrap" style=""><img src="https://jira.lyrasis.org/secure/attachment/19364/19364_image-2019-05-31-14-

[2021-09-02 20:04] tdonohue commented on #1095
Per today's discussion this was reassigned to @abollini  & 4Science, as it will be fixed via the implementation defined by DSpace/RestContract#169

[2021-09-03 13:58] HunterBlacker opened #1308 "DSpace 7 - Profile page renders a blank page with no errors when using the custom theme"
In the custom theme, the [profile-page.component.ts](https://github.com/DSpace/dspace-angular/blob/main/src/themes/custom/app/profile-page/profile-page.component.ts) styleUrls and templateUrls point back to the custom theme's directory with the empty scss and html files which is unlike every other component class file.
[code]
To be consistent with the other component classes in the custom theme, I

[2021-09-03 14:15] tdonohue commented on #1308
@artlowel : This sounds like a bug in the `custom` theme template.  Could you take a look?  If it is a bug, it seems like something to fix quickly in 7.1.  Thanks!

[2021-09-07 16:40] #1308 closed

[2021-09-08 14:50] #1274 closed

[2021-09-09 15:45] tdonohue commented on #779
@artlowel : Assigning to your team for implementation based on the backend PR DSpace/DSpace#2129.  Let me know if the estimation needs to change

[2021-09-09 16:18] tdonohue opened #1312 "Create a new Version of Entities"
In #776, Versioning was implemented for Items.

However, this feature does not fully support Configurable Entities (which are special types of Items). Ideally, this feature should allow for Versioning to work more seamlessly for Configurable Entities. The Item versioning in #2844 would work at a basic level for Entities (as they are Items), but it ignores existing Relationships. This behavior woul

[2021-09-09 21:26] #1299 closed

[2021-09-09 21:53] tdonohue commented on #1296
I'm able to reproduce this locally.  The Group cannot be edited (result is a failure), but the name field is not disabled properly on the first page load.

This seems low priority, but I'd welcome a PR to fix it.  It also might be fixable as part of other work, for example in the #1298 open PR from @davidenegretti-4science

[2021-09-09 22:00] tdonohue commented on #1292
This is a new feature, as currently mapped collections are not supported on the Item page.  See this comment in the `ds-item-page-collection` component: https://github.com/DSpace/dspace-angular/blob/main/src/app/item-page/field-components/collections/collections.component.ts#L39-L41

However, it appears this might be possible on the REST API side of things by using the `mappedCollections` link of

[2021-09-13 14:47] bram-atmire opened #1313 "T048 Non-compliance: item page rendering breaks for bitstream names +45 characters without spaces"
**Describe the bug**
DSpace 7.0

When bitstream file names get longer than 45 characters, without spaces, the rendering of the filename breaks into the metadata right column

**To Reproduce**
Steps to reproduce the behavior:
1. Add a bitstream with filename +45 characters (no spaces in filename) to an item
2. Watch the rendering of the bitstream name and link on the item page

**Expected behavior*

[2021-09-14 16:42] tdonohue commented on #209
Update on direction.... Since we switched to Cypress.io, this is much easier to do via `cypress-axe`.  See new PR #1314 which builds on #1301

[2021-09-14 19:52] tdonohue opened #1316 "[Deque Re-Analysis] Submission "critical" accessibility issues"
**Describe the bug**
In Sept 2021, Deque did a reanalysis of the issues described in #1171 which were fixed in #1252.

They found the following 9 accessibility issues were either "Not Fixed" or only "Partially Fixed":

### Partially Fixed Issues
1. (Issue ID: 469979) "Keyboard Navigation" - Arrows above/below date field (to change year/month/day) are inaccessible to keyboard navigation (you cannot

[2021-09-14 19:55] tdonohue commented on #1316
@atarix83 : I know you have a lot on your plate right now. But this ticket is the result of a re-test by Deque of the accessibility issues you tried to fix in #1252.  While a lot of the fixes in that old PR were successful, there were 9 listed here that are not quite fixed.  Many of these could be quick to fix if you or someone on your team finds time before the 7.1 release.

[2021-09-16 11:25] corrad82-4s opened #1317 "edit item metadata not working when changing metadata field name"
**Describe the bug**
This is a bug shown Edit Item page.
It is related with edition of the metadata of an item, concretely, with the edition of the field of the metadata related with an item.
When the user tries to edit the field of one of the metadatas, with which it is related, an error is shown with popup in the edit item page.

**To Reproduce**
Steps to reproduce the behavior:
1. The first ste

[2021-09-16 13:17] atarix83 commented on #1158
@tdonohue scanning the page with axe DevTools doesn't report the errors indicated there, is it possible they have been already resolved with other accessibility issue ?

[2021-09-16 15:24] tdonohue commented on #1286
@artlowel : This has slipped through the cracks & it was also reported again on dspace-tech today: https://groups.google.com/g/dspace-tech/c/JvcxeV21tWk/m/WGQcriMHCgAJ

Any chance you or someone on your team could help get this fixed in 7.1?  It seems like uploads of files to existing Items just isn't working right now

[2021-09-16 15:39] tdonohue commented on #1317
@corrad82-4s : I'd recommend the **first approach** for this bug.  I think we should block the ability to edit the metadata field (either by disabling it, or removing the input field altogether, so it's just text).   So, I'll add a **7 hour** estimate to this and assign back to you for 4Science to work on.  Thanks!

[2021-09-16 16:30] artlowel commented on #1286
This will take an estimated **2 hours**. We should be able to get it in to 7.1, but we may miss the Sept 23rd PR deadline

[2021-09-17 21:48] tdonohue commented on #1158
@atarix83 : I think you are correct as I'm not seeing those color contrast issues any longer either.  This looks like this may have been fixed by #1241 which fixed similar color contrast issues in other areas of the application.

Closing this as fixed.

[2021-09-17 21:48] #1158 closed

[2021-09-22 08:08] alemarte opened #1320 "Reload of My Dspace results is broken"
**Describe the bug**
Reload of My Dspace results is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the MyDspace page and select **Task**
2. Perform an action which cause a state transition (ex **Claim** a task)
3. The row of the my dspace disappears

**Expected behavior**
The reloaded object should appear in place of the previous one.

[2021-09-22 08:57] alemarte commented on #1320
4Science can immediately work on this issue. Estimated 2 hours

[2021-09-22 09:08] f-rapp opened #1321 "Hint not visible in the UI for fields with input-type qualdrop_value"
**DSpace 7**
The hint for a field with input-type qualdrop_value is not visibile in the UI, even though there is a hint for that field in submission-forms.xml.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into DSpace 7 Demo and start a new submission. Look for a field which has input-type qualdrop_value, e.g. the field below.
![grafik](https://user-images.githubusercontent.com/6726699

[2021-09-22 14:15] tdonohue commented on #1320
Thanks @alemarte !  I'll assign this back to you to proceed with the fix.  I've added the estimate as well.

[2021-09-22 20:56] bbranan opened #1322 "Curation task results are not included in the output file or process output"
**Describe the bug**

When running a curation task via the DSpace 7.0 UI, the output generated by the task process is being written to the dspace.log but not being captured in either the provided Output File or the listed Process Output. The only purpose of some curation tasks is to perform an action and provide a result. If the user cannot see the result, there is little point in allowing them to

[2021-09-22 22:18] #1072 closed

[2021-09-23 11:47] corrad82-4s opened #1325 "Many notifications when trying to create an Eperson with an already existing email"
**Describe the bug**
When trying to register an Eperson with an already existing email, the save action does not create a new Eperson, but the form submission is performed and user sees three different error notifications.

![image](https://user-images.githubusercontent.com/70699836/134501391-5328ef58-0784-405b-852e-d76242f33e2c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Login as a

[2021-09-23 15:59] tdonohue opened #1330 "Out of Memory on demo7.dspace.org when submitting a new Item"
**Environment**
* Chrome 93.0.4577.82
* Windows 10 with 16GB of memory

**Describe the bug**
It's possible to trigger an out-of-memory error in your browser when submitting a new Item.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit demo7.dspace.org (first request will take ~30 seconds)
2. Login to the Admin acct (the `https://demo7.dspace.org/reload/[random-num]?redirect=%2Fhome` will

[2021-09-23 16:00] tdonohue commented on #1330
@artlowel : I'm still able to reproduce the out-of-memory issue on the demo site (which @atarix83 also verified).  Here's the ticket for how to reproduce it.  I'd be curious to hear if you can reproduce as well or not.

[2021-09-23 19:58] tdonohue commented on #1325
@corrad82-4s : I agree this behavior is not great.  The estimate sounds reasonable, so I'll assign this back to you for you/your team to work on.

[2021-09-23 21:10] #1286 closed

[2021-09-23 21:39] tdonohue commented on #1330
Based on a bit more testing, it looks (to me) like I'm hitting a possible 4GB memory limit per Chrome tab? See https://bugs.chromium.org/p/chromium/issues/detail?id=416284 This chromium issue is very old but there still mentions in StackOverflow, e.g. https://superuser.com/questions/1675677/error-code-out-of-memory-how-to-allocate-more-memory-to-google-chrome-64-gb

I reran my step by step process

[2021-09-24 01:14] TanyaHolm commented on #1198
I would argue that configurable meta tags are high priority, since DSpace metadata for most institutions are largely custom.
The following is from [Google Scholar guidelines](https://scholar.google.com/intl/en/scholar/inclusion.html#indexing): you need to provide at least three fields: (1) the title of the article, (2) the full name of at least the first author, and (3) the year of publication. Pa

[2021-09-24 08:00] f-rapp opened #1331 "Search function in sidebar menu "Edit" => "Item" does not consider user rights"
**Describe the bug**
**DSpace 7**
When a user clicks  "Edit" => "Metadata" in the sidebar menu they get a list of items to search. However, the search function also lists items which the user is not allowed to edit.
When the user clicks on such an item he receives the following message:
![grafik](https://user-images.githubusercontent.com/67266996/134637972-12ea5621-f623-407b-9f1f-83153df20a3b.png)

[2021-09-24 15:00] tdonohue commented on #1198
@TanyaHolm : Just to clarify, currently these mappings are defined in the MetadataService class in the UI:   https://github.com/DSpace/dspace-angular/blob/main/src/app/core/metadata/metadata.service.ts

However, you obviously are free to modify that class to add custom or additional fields to those Google Scholar tags.  So, they are somewhat "configurable" in that you can easily modify the UI code

[2021-09-26 13:46] MarisArins opened #1333 "Make submission form translateable"
Currently submission form fields are defined in single, fixed language on server side .xml file.
If your system is in several languages, there is no way to switch the label values along with rest of UI to desired language texts.

Either provide multiple fields on server-side config or enable translation upon building submission form.

[2021-09-26 15:07] MarisArins opened #1334 "Unsupported browsers should recommend users to check with a different browser"
Some older web browsers like IE11 cannot load DSpace 7 and hangs in middle of loading process and stays on "loading" indicator.
A browser check in first steps could lead to "unsupported browser" page instead.

[2021-09-26 18:49] MarisArins opened #1335 "Licence accept prompt not translatable"
1. Change UI language to anything but EN
2. Open Submission form
3. check the license segment at bottom of form
4. there are still english text visible "I confirm the license above"

There is no way to properly translate "I confirm the license above" checkbox prompt and related error message "You must accept the license" depending on selected language, as these are "generated" from static JSON

[2021-09-26 23:31] TanyaHolm commented on #1198
Thank you - that clarifies the issue for me and it's great that custom fields can be added.

[2021-09-27 07:53] f-rapp commented on #1234
Is the "change collection" action intended for workspace items only or for workflow items as well?
Changing the item's collection during workflow did not work:
![grafik](https://user-images.githubusercontent.com/67266996/134866349-325d8091-40bb-460c-a141-2b6240947bf0.png)
I was wondering if this was intended?

[2021-09-27 10:32] atarix83 commented on #1234
@f-rapp

it should work for the workflow as well.

if you're encountering any problem please open an issue

[2021-09-27 10:43] f-rapp commented on #1234
I opened an issue: https://github.com/DSpace/DSpace/issues/7965

[2021-09-27 15:11] tdonohue commented on #1333
@MarisArins : It's possible to create separate `submission-forms_[languagecode].xml` per supported language.  So, for example, the configuration `submission-forms_de.xml` will be used if German (de) is the selected language.  See also this section in the "Multilingual Support" docs: https://wiki.lyrasis.org/display/DSDOC7x/Multilingual+Support#MultilingualSupport-Localizationofsubmission-forms.xml

[2021-09-27 15:11] #1333 closed

[2021-09-27 15:22] tdonohue commented on #1335
Confirmed, the text is currently hardcoded in https://github.com/DSpace/dspace-angular/blob/main/src/app/submission/sections/license/section-license.model.ts

It appears to me that this JSON is being passed to the [ng-dynamic-forms library](https://github.com/udos86/ng-dynamic-forms#json-form-models), which doesn't appear (unless I'm missing it) to support i18n keys in the JSON.  So, fixing this b

[2021-09-27 15:22] MarisArins commented on #1333
Thanks @tdonohue for pointing this out, I must have missed this feature !

[2021-09-28 11:41] MarieVerdonck opened #1337 "Can't change embargo resource policy on bitstream to open access during submission"
**Describe the bug**
When you add an embargo resource policy to a bitstream during submission and save, but during the same submission later change the embargo selected to open access and save then that patch/action fails because the start date previously set for the embargo is also passed along in the patch despite the start date being grayed out when you change the option to open access. (From L

[2021-09-28 12:35] mwoodiupui opened #1338 "Incorrect documentation: `yarn run docs` doesn't work"
**Describe the bug**
`README.md` claims that the Typedoc can be formatted using `yarn run docs` but no `docs` script is defined.  This leaves us uncertain how best to generate developer-level documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow instructions:  enter `yarn run docs`.

**Expected behavior**
A way to format the embedded documentation.

[2021-09-28 18:41] #1317 closed

[2021-09-28 22:20] tdonohue commented on #1330
@artlowel and @atarix83 :  I tested this more today, and I think I've discovered that this OOM error is NOT caused by DSpace afterall.  At least for me, it ONLY OCCURS if I enable the ["Redux DevTools Extension" in Chrome](https://github.com/zalmoxisus/redux-devtools-extension).

After digging around a bit, I found mentions of occasional memory leaks in extensions...so, I tried to reproduce this O

[2021-09-29 12:45] kdenzel opened #1339 "error Command failed with exit code 137."
**Describe the bug**
I got a Problem with the quickstart guide. I cloned the repository and did the steps like described but it always fails with exit code 137.
[code]

**To Reproduce**
Steps to reproduce the behavior:

git clone https://github.com/DSpace/dspace-angular.git

cd dspace-angular

yarn install

yarn start

**Expected behavior**
A working test environment of the frontend

**Versions us

[2021-09-29 13:54] tdonohue commented on #1339
@kdenzel : If you google that error code from Yarn, it says that exit code 137 means the build ran out of memory.  See for example https://jcutrer.com/javascript/yarn-build-exit-code-137

The DSpace UI needs at least 2GB of memory to build...but more memory will build faster (so 4-8GB is recommended).  This does mean though that if your entire machine has only 2-3GB of memory, you may hit issues,

[2021-09-29 13:54] #1339 closed

[2021-09-30 07:10] f-rapp opened #1340 "Display full hierarchy of chosen collection (during submission/workflow)"
**Determining which collection an item was submitted to (during submission/workflow)**
It is essential that users can see which collection a workspace / workflow item was submitted to during the submission process. While they see the collection's name, they do not see the hierarchy, e.g. the community the collection belongs to. Since collection names often occur more than once, this is a problem.

[2021-09-30 07:28] atarix83 commented on #1330
@tdonohue @artlowel
I've verified that the OOM doesn't occur in firefox or without the "Redux DevTools Extension" in Chrome.
However the application seems slow and trying to debug the OOM issue I found that when OOM occurs several ngrx actions are dispatched with no apparent reason. Here a registration while the issue occurring :

https://user-images.githubusercontent.com/2486489/135406940-545601c

[2021-09-30 13:59] artlowel commented on #1330
I've looked at it, and can recreate it with the demo backend. I think the reason is that `top?size=9999` call you can see in @atarix83's video, in the network requests at 0:22

First of all it takes a very long time for rest to respond, and the response is a 565kb json file

So the actions you're seeing aren't without reason, they're still all the communities and their sub-comunities etc coming in

[2021-09-30 15:17] tdonohue commented on #1330
As discussed in today's meeting, while there's no OOM error, there is a definite performance issue with the `/top?size=9999` call to obtain top level community information.  We decided today to keep this assigned to @artlowel 's team for analysis... ideally, we implement a quick fix for 7.1. But if that's not possible, the backup plan is to *remove* the Community/Collection dropdown from both the

[2021-10-01 08:23] f-rapp opened #1342 "dc.type facet not visible on MyDSpace page"
**dc.type facet missing on MyDSpace page**
I noticed that the dc.type facet is not among the sidebar facets of the My DSpace page [1], even though it is included in discovery.xml [2],[3] and there are actually items with a dc.type field in the workspace / workflow.

![grafik](https://user-images.githubusercontent.com/67266996/135588332-d4e3f0c3-1d04-4c29-b6ff-f46f4df84a95.png)
Screenshot of worksp

[2021-10-01 08:39] f-rapp commented on #988
Perhaps this could be made configurable on a step level in item-submission?

[2021-10-04 12:56] LucaGiamminonni opened #1343 "Addition of button to delete a single process"
Buttons on the UI side should be added to cancel single completed or failed processes.
We are interested in this functionality and could implement it ourselves.

[2021-10-04 14:13] tdonohue commented on #1343
Thanks for the estimate. Putting this alongside https://github.com/DSpace/DSpace/issues/7974 as the two are semi-related

[2021-10-05 11:53] davidenegretti-4science opened #1345 "Hint below "Type" field (dc.type) in Edit Item page is wrong"
Create a new item, or edit an existing workflow item, and locate the combobox for `dc.type` (labelled "Type").

This combobox allows to select only one option at a time, but the hint below the combobox is:

![edit-item-bug](https://user-images.githubusercontent.com/87638927/136017446-3448a485-f3cd-443d-89c9-eae8f79f02a2.png)

As the behaviour for this field is correct (only one type can be selecte

[2021-10-05 20:16] tdonohue commented on #1345
This is a tiny configuration change that could be made quickly: https://github.com/DSpace/DSpace/blob/main/dspace/config/submission-forms.xml#L164-L165

Tiny PR is welcome

[2021-10-06 17:05] tdonohue commented on #647
See also #1059

[2021-10-07 17:54] bbranan opened #1347 "Allow setting favicon in a theme"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to specify a custom favicon image from within a theme. This image would override the default DSpace favicon.

**Describe the solution you'd like**

I expect there would be two steps to this:
1. Place the custom favicon.ico image in the /images directory of the active theme
2. Specify the path to the new favicon

[2021-10-08 17:20] mwoodiupui opened #1349 "Edit EPerson | Reset Password disabled"
**Describe the bug**
Logged on as a member of Administrator, on the Edit EPerson page,  Reset Password is disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Log on as a member of Administrator.
2. Try to reset someone's password.

**Expected behavior**
A member of Administrator should be able to reset someone's password.

**Related work**
Link to any related tickets or PRs here.

[2021-10-11 19:57] MarisArins opened #1352 "Enhance download bitstream function"
On current official demo site "https://demo7.dspace.org/" download bitstream function is bit different than on site generated by standard code.
Official site downloads bitstream in the same page where request originated from.
On site generated by standard dspace-angular code (latest for 11.Okt 2021) download triggers the same href, but it ends up loading a new page showing "Now downloading 'filena

[2021-10-12 14:32] tdonohue commented on #1352
@MarisArins : The demo7.dspace.org site is running standard code. It's running what is on the `main` branch at https://github.com/DSpace/dspace-angular/ with no customizations to the code.

When I run the Angular UI locally (starting it using `yarn start`), I see the same internal redirect that occurs on the demo site.  It's possible that internal redirect requires running in production mode (with

[2021-10-12 14:32] #1352 closed, assigned to nobody

[2021-10-12 21:18] #761 closed

[2021-10-13 09:31] Atmire-Kristof opened #1353 "Empty required name input not displaying error message after saving"
**Describe the bug**
Input fields of type "name" don't display an error message when left empty after saving the form in submission.

**To Reproduce**
Steps to reproduce the behavior:
- Setup a DSpace 7 with a submission form containing required input(s) of type "name" (doesn't matter if it's wrapped in a relation-field or not, both contain the bug)
- Go to submission and fill in a couple of field

[2021-10-13 13:27] Slatoust opened #1354 "Make the FileSectionComponent from Item page themeable"
**Is your feature request related to a problem? Please describe.**
The FileSectionComponent on the Item page can not be themed.

**Describe the solution you'd like**
Following description of @artlowel we made the component themeable.

**Describe alternatives or workarounds you've considered**
Everyone could change the main theme, but themeable components are the preferred way

**Additional context

[2021-10-13 19:31] #1320 closed

[2021-10-14 09:03] ShunhongSie opened #1356 "Upgrade from 6 to 7.0"
**Describe the bug**
I'd try to upgrade from 6.0 to 7.0; when do database upgrade by using
 "/bin/dspace database migrate ignored" , it will report error

**To Reproduce**
Steps to reproduce the behavior:
./dspace database migrate ignored

**Expected behavior**
[root@newRportal bin]# ./dspace database info

Database Type: postgres
Database URL: jdbc:postgresql://localhost:5432/dspace
Database Sche

[2021-10-14 09:19] davidatmire opened #1357 "Pages are loading twice"
**Describe the bug**
When you open some DSpace 7 pages, they appear to load twice, which is confusing for the user.

I have been able to reproduce this at least on homepage / collection page / item page even if it doesn't happen systematically.
This behaviour can be experienced on demo7 : https://demo7.dspace.org/home

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://demo7.dspace.

[2021-10-14 10:32] davidatmire opened #1358 "Green Deposit button remains disabled even when all required fields / sections are filled in"
**Describe the bug**
In some various situations which are not necessarily easy to reproduce, the green Deposit button at the end of the submission forms remains disabled even when all required fields / sections are filled in.

This prevents the submitter from actually depositing the item and completing the submission.

**To Reproduce**
It is not easy to provide a procedure which will result system

[2021-10-14 10:36] MarieVerdonck opened #1359 "Enable/Disable start/end date picker in submission broken when no access condition which has start/end date = true config"
**Describe the bug**
If you change the [`access-conditions.xml`](https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/access-conditions.xml) config so that your `UploadConfiguration.metadata.options` no longer contains an option which has true for `hasEndDate` (or `hasStartDate`) then the enable/disable of the date picker of that field in submission doesn't work (is always enabled).

[2021-10-14 13:56] MarisArins commented on #1357
I have not seen it in particular, but can this be somehow caused by UI language change ? That is causing UI reload.

[2021-10-14 15:17] #1354 closed

[2021-10-15 21:36] #209 closed

[2021-10-19 09:23] KevinVdV opened #1361 "Cannot download embargoed file as administrator from edit bitstreams page"
**Describe the bug**
If you download a file from the edit item bitstream page tab you get the following exception:
[code]
You can see it in effect here: https://demo7.dspace.org/items/1fa91144-d42b-48ab-97c7-1cc280bc5f8b/edit/bitstreams

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a new item with an embargoed file
2. Navigate to edit item
3. Navigate to the "Bitstreams" tab
4. Clic

[2021-10-20 08:48] LucaGiamminonni opened #1365 "The search loads indefinitely if the written query is invalid"
**Describe the bug**
The search that can be done from the search page and from the mydspace does not produce results, and loads indefinitely, if the query entered in the input is not valid.
Example: https://demo7.dspace.org/search?spc.page=1&query=test:&spc.sf=score&spc.sd=DESC

**To Reproduce**
Steps to reproduce the behavior:
1. Search for a string like 'test:' or for any other string that does

[2021-10-22 20:01] abollini opened #1367 "Password are not properly url encoded at login"
**Describe the bug**
The password in the login form is not url encoded when sent to the server, this lead to authentication failure are the servlet container reject the invalid request parameter.

**To Reproduce**
Steps to reproduce the behavior:
1. create an user with a password like test%x (%x is the key here as it looks like an encoded hex but is invalid)
2. try to login via angular

Please not

[2021-10-24 21:04] MarisArins opened #1369 "Statistic view displays some statistics without name"
After some use of DSpace 7 app, Site-statistics page may show some elements without title :
![image](https://user-images.githubusercontent.com/2697696/138612763-f110e7b8-3209-4412-9086-454b5242cbdc.png)

This is caused by particular items being unavailable to the user viewing them (not logged in or less access rights than needed for READ)

These either need to show item title or should not be incl

[2021-10-25 00:13] TanyaHolm commented on #1358
UNSW is experiencing the same issue in our DSpace test instance: all mandatory metadata fields are populated, but the section displays orange warning - which means depositor cannot complete deposit.
It is hard to reproduce, but happens regularly.
We are going live on 1 December with submissions and this is a very worrying problem.

[2021-10-25 14:03] atarix83 opened #1370 "Request copy page is shown when navigating to a not existing sub-route of the item page"
**Describe the bug**
The request copy page is shown unfitly when navigating to a not existing sub-route of the item page

**To Reproduce**
Steps to reproduce the behavior:
1. navigate to a not existing sub-route of the item page, for example https://demo7.dspace.org/entities/publication/34a0e6c1-af7c-44b8-a215-daa84941af35/test
2. the request copy page is shown

**Expected behavior**
The 404 page

[2021-10-25 14:44] atarix83 opened #1371 "Bug when removing relationship on items that have more than 20 relationship"
**Describe the bug**
This bug emerged when working on [this PR](https://github.com/DSpace/dspace-angular/pull/1329#issuecomment-949673980).

Basically removing relationship on items that have more than 20 relationship not always works properly and it's due to the fact that in the state are saved only the selected entities while for understanding which are the deleted entities a request to retrieve

[2021-10-26 13:41] #1367 closed, assigned to atarix83

[2021-10-26 18:06] MarisArins opened #1377 "Add an Item Thumbnail bitstream in"
In current solution browse-by views not only do not display any thumbnails, but also the data sets delivered from services do not contain "followLinks" for Thumbnails.
If these could be included, then in GridView the resulting item cards could be formed with thumbnails.

[2021-10-26 18:26] MarisArins opened #1378 "Enhance browse-by-title and browse-by-subject functional presentation"
When selecting a particular letter from which to start displaying results, e.g. "M", all the letters from A until picked "start-point" (from A until L in the given example) could be marked in lighter color or in other way made clear that they are not included in presentation.

![image](https://user-images.githubusercontent.com/2697696/138938829-018e3a86-34bb-418c-a71e-25f7eea28e15.png)

[2021-10-26 18:54] MarisArins opened #1379 "Browse-by Subject does not allow to proceed to next pages once filtered"
In demo site open "browse by Subject" page : https://demo7.dspace.org/browse/subject

Initially browsing to Next and Previous pages work.

As soon as start point is set e.g. letter "C", navigation buttons have no effect.

Expected:
At least navigation to Next pages should work.
P.S.  In Browse-by Title Previous/Next functions both work after setting start point.

[2021-10-26 19:07] MarisArins opened #1380 "Upload bitstream view should always present at least the standard 3 bundles to pick from"
If you start editing bitstreams for an Item where not all bundles are present (as in example there is no THUMBNAILS bundle), user must manually create a THUMBNAIL bundle if he wants to add thumbnail.
That seems normal for a well educated editor/admin, but its not very clear for a new starter, also there is a chance of mistakes in this process.

![image](https://user-images.githubusercontent.com/26

[2021-10-27 13:32] Atmire-Kristof opened #1381 "DSO sub-routes aren't displaying the correct titles"
**Describe the bug**
Some sub-routes of DSO pages aren't displaying the configured i18n title as the browser tab's name. Instead, they're showing the DSO's title, which should only be the case on the DSO's page itself or if the sub-route doesn't have a title configured.

[this part of the metadata-service](https://github.com/DSpace/dspace-angular/blob/main/src/app/core/metadata/metadata.service.ts

[2021-10-28 13:48] paulo-graca opened #1382 "Usability issue in Embargo's section at submission"
**Describe the bug**
There is an usability issue regarding file embargo features, that if you don't know, you will lose data because you didn't save that section of the submission form. And it's very easy to miss that save option.

**To Reproduce**
Steps to reproduce the behavior:
- start submission and upload any file
- at upload section, if you click the edit option you will have a form
- you ca

[2021-10-31 20:51] abollini opened #1384 "Attempt to access previous Item versions show the request a copy page"
**Describe the bug**
Trying to access an older public version via the version history table lead you to the request a copy page

**To Reproduce**
Steps to reproduce the behavior:
1. visit this page https://demo7.dspace.org/items/5c048b09-f4af-40b2-97d1-62f0f09f7118
2. try to use links in the version history table (the same happen on any version of the item)

**Expected behavior**
The selected vers

[2021-10-31 20:57] abollini opened #1385 "Editor (aka submitter) is not shown in the version history table"
**Describe the bug**
The version history table should include the submitter name in the table when accessed by an administrator

**To Reproduce**
Steps to reproduce the behavior:
1. login as admin
2. access this versioned item https://demo7.dspace.org/items/08cb98b3-faff-4682-8a7b-010778ccc600
3. check the version history table

**Expected behavior**
The submitter name should be presented to the a

[2021-11-02 08:04] corrad82-4s opened #1386 "Many notifications when trying to create a group with an already existing name"
**Describe the bug**
The behavior described in https://github.com/DSpace/dspace-angular/issues/1325 occurs also with groups management when the user tries to create a group with an already existing name

**To Reproduce**
Steps to reproduce the behavior:
1. connect to the demo and login as an Administrator
2. create a group with a not existing name
3. go back to "Access Control / Groups"
4. click "

[2021-11-02 10:16] paulo-graca opened #1387 "Entities relations with invalid associations shown"
**Describe the bug**
My model has two relation types, with same relation name, but involving different entities:
[code]
But when I try to associate a Person as an author, that Person, will be shown simultaneously as `Authors (persons)` relation and `Authors (organizational units)`

**To Reproduce**
Steps to reproduce the behavior:
1. You can use `/dspace/config/entities/openaire4-relationships.xml

[2021-11-02 18:47] mspalti opened #1388 "Add new fields to edit bitstream when IIIF is enabled"
**Is your feature request related to a problem? Please describe.**
When an item is IIIF-enabled it should be possible to edit the metadata fields used to generate the IIIF manifest.  This would, for example, make it possible for a collection curator to easily update the _label_ or _table of contents_ entry that appears in the viewer.

**Describe the solution you'd like**
When an item is IIIF-enabl

[2021-11-02 21:06] tdonohue commented on #1342
I've verified this bug exists.  Not exactly sure why the `dc.type` filter/facet (configured by `searchFilterType`) isn't appearing.   It's configuration looks valid (at a glance): https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/discovery.xml#L1685-L1692

Moving this to the 7.2 board to see if we can get to it, since this may also affect other facets.

[2021-11-02 21:09] tdonohue commented on #1359
Moving this and the related ticket to 7.2 for further analysis. Definitely sounds like a bug in our current logic here.

[2021-11-02 22:01] tdonohue commented on #1349
I agree this should be easier, so pulling this onto our 7.2 board.  There is a current workaround however.

**Workaround**
1. Enable `webui.user.assumelogin=true` on backend (no need to restart backend, it enables dynamically)
1. Login as an Administrator
2. Edit other EPerson
3. Click "Impersonate EPerson"
4. Go to Profile (as that other EPerson).  Change Password.
5. Click "Stop Impersonating EP

[2021-11-03 14:28] tdonohue commented on #1353
This definitely sounds like a bug. I suspect this simply doesn't work because we don't have a `name` field in default submission configs, and no one has tested it recently. Estimates or fixes welcome

[2021-11-03 14:33] tdonohue commented on #1357
@davidatmire and @artlowel : I've seen this behavior. I admit, I had assumed this was somewhat "expected" on the first page load, because the page starts as server-side rendered and then is re-rendered by the client.  That said, I'd love to see this fixed. Is there a recommendation/suggestion for how this would be fixed?

For now, moving to 7.2 board with `high priority` and estimate TBD.

(@Maris

[2021-11-03 14:51] tdonohue commented on #1358
@davidatmire and @artlowel : While I can reproduce this issue, every time I reproduce it, it looks like the cause is that there are "Unsaved Changes".  So, here's what the buttons look like to me:
![unsaved-changes](https://user-images.githubusercontent.com/483997/140081226-3f300c32-29c2-4c53-8cc9-569baf989faf.png)

When I see that button combination, if I click "Save", then the "Deposit" button i

[2021-11-03 15:02] tdonohue commented on #1361
This sounds like a small, but obvious bug.  The download of the embargoed file works perfectly fine if you download from the main Item page (e.g. https://demo7.dspace.org/items/1fa91144-d42b-48ab-97c7-1cc280bc5f8b).  It's only broken if you try to download it from the Edit Bitstreams page.

So, I suspect the Edit Bitstreams page download button just needs to be updated to have the correct link/act

[2021-11-03 15:06] tdonohue commented on #1365
@LucaGiamminonni : Yep, this is definitely a bug.  Moving over to the 7.2 board for someone to claim (let me know if you or your team is interested).  I'd also recommend treating your question about searching by escaping characters separately.  I think some basic character escaping already works... I'm not against doing more, but that should be a separate task from fixing this obvious bug.

[2021-11-03 15:11] tdonohue commented on #1388
@mspalti : Seems reasonable. I'll flag this as medium priority for now, but feel free to work on it already if it's of interest. Priority only applies to development paid out of DSpace's budget.

[2021-11-03 15:44] tdonohue commented on #1377
@MarisArins : I'm not sure I understand this ticket, or what you are asking for.  You mention the "Browse by" sections, but you also mention "GridView".  Currently, the GridView is only supported in *Search Results* (not in browse).  The current Search GridView already displays thumbnails (if they exist).

Browse By options would be much harder to support GridView (except for possibly Browse by Ti

[2021-11-03 15:50] tdonohue commented on #1379
Yes, I can reproduce this.  It appears that currently the letters act as a "filter" instead of jumping you to a page.  So, clicking "C" filters you to every subject starting with "C".  If there are more than 20 subjects starting with "C", you *will be able to go to the next page*. However, on that next page you'll just see more subjects starting with "C", and there's no way to move on to "D" or la

[2021-11-03 15:52] tdonohue commented on #1380
Agreed, this is a usability issue & a bug as it invites human mistakes.  Moving it to 7.2 and making high priority.

[2021-11-03 15:58] tdonohue commented on #1381
@Atmire-Kristof :  I'm able to reproduce this.  As you noted, it doesn't appear to affect all subpaths however....I also see that "Edit" pages (including all tabs on that page) work perfectly OK, e.g.  `/collections/b7bf809e-b8ea-41bf-b16a-38d78785f557/edit/metadata`

Moving this over to 7.2 for now & flagging as estimate TBD as it'd need someone to look at more closely to determine how to fix.

[2021-11-03 16:00] tdonohue commented on #1386
@corrad82-4s : Sounds good to me.  Assigning back to you for your team to work on for 7.2

[2021-11-04 10:51] atarix83 opened #1389 "Show an error page if the REST API is not available"
**Is your feature request related to a problem? Please describe.**
When the rest endpoint is not reachable due to a problem, the angular application doesn't work but show only a page with an hanging load spinner. It'd be nice instead to have a 500 page where to redirect in this case

**Describe the solution you'd like**
A possible solution is to create an angular guard that make a rest request to

[2021-11-04 15:10] tdonohue commented on #1389
@atarix83 : I agree this would be a nice feature.  It'd also be helpful to people who are first installing DSpace if we can provide this sort of better error handling for an unresponsive (or invalid) REST API.

Moving this to the 7.2 board in case we can get to it.  Flagging as needing an estimate though.

[2021-11-04 18:27] ndossari opened #1390 ""Import Batch Load (ZIP)" - not available in DSpace7"
"Import Batch Load (ZIP)" - not available in DSpace7

[2021-11-04 19:49] #1390 closed

[2021-11-04 22:01] ndossari commented on #1390
Thnks for your response.

Can you give me chance to translate to arabic.
Thanks

في الخميس، ٤ نوفمبر، ٢٠٢١ ١٠:٥٠ م Tim Donohue ***@***.***>
كتب:

[2021-11-05 11:38] abollini commented on #1349
Hi @tdonohue this should took 1-2hours, we have done that in dspace-cris for a customer so it would be mostly cherry-picking, verification and fixing issue. If you want we can claim it

[2021-11-05 14:30] tdonohue commented on #1349
@abollini : Sounds good. Will assign to @atarix83 for your team to work on & add the estimate to this ticket.

[2021-11-08 12:34] alanorth opened #1391 "Flash of unstyled content on DSpace 7 homepage"
**Describe the bug**
I'm not sure if this is "[flash of unstyled content](https://en.wikipedia.org/wiki/Flash_of_unstyled_content)" or not, but when you load the DSpace 7 homepage it seems to load, then flashes white, then shows the content. See this demonstration on dspace7.demo.org in Firefox Nightly:

https://user-images.githubusercontent.com/191754/140742391-5f7576a2-08a0-4293-b71b-2fd43b7ee57

[2021-11-08 13:34] alanorth commented on #1391
Update: for what it's worth, I tried this on a local DSpace 7.1 development instance and the "flash" does not happen. I will close this for now as it must be an issue with the deployment on demo7.dspace.org.

[2021-11-08 15:05] tdonohue commented on #1391
@alanorth : I think this is a duplicate of #1357, and it's something we're investigating / looking into fixing.

[2021-11-08 15:06] tdonohue commented on #1357
Duplicated (with video demo) in #1391

[2021-11-08 15:08] #1391 closed

[2021-11-08 19:57] alanorth commented on #1391
Thanks, @tdonohue! I searched for a few different descriptions in existing issues but couldn't find anything. Cheers. :)

[2021-11-09 11:08] Atmire-github commented on #1358
@tdonohue : Thank you for looking into this.
I agree with your analysis and also think that this is an auto-save problem.
The route you want to take is also one I had initially envisioned in my first comment in this issue :

In the meanwhile , I have come to realise that there are technical difficulties associated with such a solution: It is my understanding that previous issues have led to reduci

[2021-11-09 11:10] davidatmire commented on #1358
@tdonohue : Thank you for looking into this.

 I agree with your analysis and also think that this is an auto-save problem. The route you want to take is also one I had initially envisioned in my first comment in this issue :

In the meanwhile , I have come to realise that there are technical difficulties associated with such a solution: It is my understanding that previous issues have led to redu

[2021-11-09 11:28] f-rapp commented on #1340
Would this be a good first issue?

[2021-11-09 14:29] abollini opened #1392 "UX statistics links behavior is not consistent with the header behavior"
**Describe the bug**
The statistics link in the header navbar is contextualized to the DSpace Object that is currently visualized, site, community, collection or item. This is confusing for end users, especially users that are unfamiliar with DSpace (that could be the majority as statistics is by default available to anonymous users).

In https://github.com/DSpace/dspace-angular/issues/695 a simil

[2021-11-09 14:57] abollini opened #1393 "Navbar menu issue on screen with 800px width"
**Describe the bug**
The search feature in the navbar is problematic in screen with a width around 800px, At such size, attempt to use the search will result in overlapping between the query input and the other navbar links. The issue becomes more evident if more links are put in the navbar or a wider logo is used

**To Reproduce**
Steps to reproduce the behavior:
1. set the screen size at 800px
2

[2021-11-09 15:19] abollini opened #1394 "New popup/modal to limit search scope to one community or collection is not understood"
**Describe the bug**
It is not immediately visible that "All of DSpace" scope is a button that would lead to the model/popup selection.

**To Reproduce**
Steps to reproduce the behavior:
1. Perform a search https://demo7.dspace.org/search?spc.page=1&spc.sf=score&spc.sd=DESC
2. Check the look and feel of the "All of DSpace" button

**Expected behavior**
We should thing about an icon / a way to clea

[2021-11-09 16:49] artlowel commented on #1394
I don't think it's that big of an issue. You see a hand cursor when you hover over it, it changes color, it's in the tab order, it's in the position the dropdown was in DSpace 6, …

If you insist, I wouldn't go for that icon, as it is generally used to indicate an external link.

[2021-11-09 17:15] tdonohue commented on #1358
@davidatmire : Thanks for your additional thoughts here & you bring up some good points about the older (v6 and below) behavior versus the new behavior & general usability.

I'm OK with your & @artlowel 's idea to simply enable the Deposit button at all times, provided that we can ensure error handling, etc is still working appropriately for required fields/sections.  I'd recommend we do keep the

[2021-11-09 17:25] tdonohue commented on #1394
I feel that an icon should not represent behavior (a popup) but represent the *purpose* of the button.  So, if we were to add an icon to this button, it should represent how the button should be used to "filter" the results to a specific Community/Collection.  So, I'd recommend an icon that represents the concept of "filtering" rather than the concept of "popup".  Something like https://icons.getb

[2021-11-09 17:26] mspalti opened #1395 "Range root needs viewing hint to render properly in Mirador."
**Describe the bug**
Currently, the table of contents view does not include the "top" viewing hint. From the docs:

Without this viewing hint, the Mirador viewer displays redundant information: an expandable "table of contents" element that includes all ranges and the same ranges listed separately.

UPDATE: Since this is actually an omission in the IIIF backend service I created a new DSpace issue

[2021-11-09 17:34] tdonohue commented on #1393
@abollini : This appears to be browser specific & possibly specific to Firefox?

It's not reproducible in Chrome (v95.0.4638.69) or Microsoft Edge.

However, I do see the overlap if I use Firefox:
![firefox](https://user-images.githubusercontent.com/483997/140974802-127ffc6d-9aa8-45a5-a57d-2282984bc785.png)

I think this should be treated separately from #695, as that's a new feature which I feel

[2021-11-09 17:41] tdonohue commented on #1392
@abollini : I agree with this.  Perhaps it's better to consider just moving the statistics link _into the body of the page itself_, rather than having it be a part of the header.  Having the link in the header make it appear more as a "global" (not context specific) option. Whereas, if it were in the body of the page, it might be a separate button or tab that brought you to the statistics for that

[2021-11-09 18:41] mspalti opened #1396 "Image processing tool for IIIF metadata"
This proposal is for something we might include in the 7.2 release. I think it would be a helpful addition but I haven't explored the details yet. If anyone has thoughts on what I describe I'd welcome your input.

**Is your feature request related to a problem? Please describe.**
IIIF canvases are containers for the images rendered in an IIIF viewer. Canvases have height and width dimensions that

[2021-11-10 09:48] abollini commented on #1385
should be a minor issue, let say 2 hours

[2021-11-10 10:01] abollini commented on #763
@tdonohue we are interested in this task

[2021-11-10 10:03] abollini commented on #773
@tdonohue this is in the scope of https://github.com/DSpace/dspace-angular/issues/1044 and should be closed

[2021-11-10 10:17] abollini commented on #896
@tdonohue we suggest to close this task as nothing more is needed in regards to the auto-save behavior

[2021-11-10 11:08] abollini commented on #1337
@tdonohue estimation 2 hours, you can assign to us if you wish

[2021-11-10 11:21] abollini commented on #1365
Estimation 8 hours
- to catch the error on the server side and returning a 422 instead than 500
- implement error handling on the angular side to present an invalid query message

[2021-11-10 11:25] abollini commented on #1389
@tdonohue estimation 4 hours. We are working on it

[2021-11-10 11:46] atarix83 commented on #1270
@tdonohue

the solution of this issue is not trivial since it requires a complete refactoring of the components in order to be rendered as a table.
The estimation is about 60hours and in our opinion benefits are not commensurate with the cost

[2021-11-10 11:58] atarix83 commented on #1271
@tdonohue

here a possible solution is to add an input field displayed on click of the drag&drop icon. In this field should be possible to specify the position where you want to move the sortable item. The estimation is about 10hours

[2021-11-10 12:11] atarix83 commented on #1289
We suggest to start on work on this task during the 7.2 but to merge it only when the 7.2 has been released as a first task of the 7.3.
Basically we're suggesting to move this task to the 7.3 because an upgrade while many tasks are in progress may have a negative impact on the release time of the 7.2.

This could be a general rule also for all upgrading tasks in the future

[2021-11-10 12:37] atarix83 commented on #1272
@tdonohue

I've opened an issue to ng-bootstrap, since I don't see other ways to fix this issue

https://github.com/ng-bootstrap/ng-bootstrap/issues/4181

[2021-11-10 14:05] atarix83 opened #1399 "Usability issue when editing uploaded bitstream within the submission"
**Is your feature request related to a problem? Please describe.**
We found out that editing the bitstream information during the submission has an usability issue. Indeed when the bitstream form is open the user frequently click the save button in the footer instead of the green save icon, believing in this way to have saved the bitstream form, while it doesn't happen.
![Schermata da 2021-11-10 1

[2021-11-10 14:06] atarix83 commented on #1399
@tdonohue

estimation for this task is about 6-8 hours

[2021-11-10 14:29] tdonohue commented on #1399
@atarix83 : This appears to be the same issue that @paulo-graca noted in #1382 .  He had created a separate smaller PR to simply move the save button to a more logical location, see #1383

So, we should likely discuss which approach we feel is more appropriate here... *either* rebuild the section to use a popup modal for editing the bitstream & adding embargo info... *or* work to make the current

[2021-11-10 16:11] tdonohue commented on #896
Per today's meeting discussion, we decided this ticket relates back to #858 , as current 7.0 auto-save behavior may (or may not) require reanalysis once that Submission code refactor is completed.  So, this task should be analyzed as part of #858 or after #858 has been better scoped.

At that time, it may be that we decide to still just close this ticket...but, for now, I'll leave this open as a r

[2021-11-10 16:12] tdonohue commented on #858
Estimated by Atmire as roughly a 280hr task, 140hrs Angular & 140hrs REST API.

[2021-11-10 17:12] tdonohue commented on #1399
Per today's meeting discussion, I now understand that @atarix83 's proposal here is the simplest solution, as this section of the submission process doesn't get saved by the "Save" button at the bottom of the page.

Therefore, I'll update this ticket with the estimate and assign back to @atarix83 for his team to work on.

Because we are fixing this issue with a modal, that means I'm going to close

[2021-11-10 17:17] tdonohue commented on #1382
Closing in favor of #1399 which proposes solving this problem via a new popup modal, to be implemented as part of the 7.2 release.  So, this issue is a duplicate of #1399....and I'm moving this work over to #1399 as that ticket describes the proposed solution.

[2021-11-10 17:17] #1382 closed

[2021-11-10 17:22] tdonohue commented on #1272
@atarix83 : Thanks for letting me know.  In that case, we'll wait to see if there's response from ng-bootstrap on how to fix that first issue.  If we need to, we can separate that out into a different ticket & make it a lower priority, since it's not something we can take action on.

In that case, I'd just recommend seeing if we can solve
`(Issue ID: 469538) The <select> for the dc.identifier fiel

[2021-11-10 17:32] tdonohue commented on #1271
@atarix83 : That sounds reasonable, though I think we need to be careful to ensure the user interface still makes sense when displaying a position input field.  I'm slightly worried that displaying such a field could be confusing from a usability perspective.  But, I'm open to the idea, we just may want to plan it out better via screenshots or similar.

As another option here, we may want to consi

[2021-11-10 17:35] tdonohue commented on #1270
@atarix83 : Thanks for your honest estimate & opinion on this ticket.  Given that feedback, I'll add your estimate to this ticket...and I'll *decrease* the priority to `medium priority` for now.  I'll also flag it as needing a volunteer, in case there are others out there interested in such a refactor, even if it only provides accessibility benefits.

[2021-11-10 17:39] tdonohue commented on #1365
Thanks @abollini .  Added the estimate and assigned back to both you and @atarix83 , as it sounds like it'll require both frontend & backend fixes.  Feel free to delegate, obviously.

[2021-11-10 17:43] tdonohue commented on #1337
Thanks @abollini ! Added estimate & assigned to @atarix83

[2021-11-10 17:46] tdonohue commented on #773
Thanks @abollini .  Closing this in favor of #1044 then, which is already assigned & in progress.

[2021-11-10 17:46] #773 closed

[2021-11-10 17:48] tdonohue commented on #763
Thanks @abollini , assigning to @atarix83 .  As the initial estimate is over a year old, let me know if any changes are necessary as you review this work.

[2021-11-10 17:53] tdonohue commented on #1357
@artlowel : Per today's meeting discussion, assigning this to you / your team & adding your 4hr estimate.  Feel free to start implementation

[2021-11-10 17:55] tdonohue commented on #741
@artlowel : Per today's meeting, leaving this assigned to you / your team for implementation as part of 7.2.  Feel free to start implementation when ready.

[2021-11-10 18:05] tdonohue commented on #1357
Corrected estimate to 30hrs.  I mixed this up with a different ticket.

[2021-11-10 18:07] tdonohue commented on #1347
@artlowel : Per today's meeting, assigning you/your team to work on and adding your 4hr estimate.

[2021-11-10 18:09] tdonohue commented on #1358
@artlowel : Per today's meeting, adding your initial estimate of 6hrs & assigning back to you to delegate to your team for 7.2.  Your and @davidatmire 's design is fine per agreement in our meeting.

[2021-11-11 22:11] #1370 closed

[2021-11-11 22:11] #1384 closed

[2021-11-15 14:27] corrad82-4s opened #1402 "Difference in processes execution times timestamps"
**Describe the bug**
There is a difference in how the processes start and end dates appears in the processes list page and in the process details page, dates are expressed in different timezones.

**To Reproduce**
Steps to reproduce the behavior:
1. login to dspace 7 demo as administrator
2. Go to  Processes overview page
3. Process times are expressed UTC + 1
![image](https://user-images.githubus

[2021-11-15 18:39] tdonohue commented on #1402
@corrad82-4s : This seems fine. It's a tiny fix, but I agree it could be confusing. Assigning back to you to work on.

[2021-11-16 08:55] jonas-atmire opened #1404 "Porting the MathJax display from previous DSpace versions"
**Description of the feature request**
Previous versions of DSpace contained the possibility of enabling the rendering of scientific formulas and symbols on different item pages.
This should also be ported to DSpace 7 for preservation of default functionality.

An example of how this is currently displayed in DSpace:
The 2 formulas that are present in the abstract are:
* $\text{H}_2$/$\text{O}_2$

[2021-11-16 16:25] corrad82-4s opened #1405 "Process status not updated when passing from list to details"
**Describe the bug**
When passing from process list to a single process details, its status remains the same visible in list page, despite its actual status.

**To Reproduce**
Steps to reproduce the behavior:
1. login to the demo as administrator
2. trigger a process (i.e. metadata-export)
3. wait several seconds in process list page and then click on its details
4. the details page will show the

[2021-11-16 21:18] tdonohue commented on #1271
@atarix83 : Assigning back to you to look at my last comment.  I *think* it might be easier here to try to make the reorder buttons accessible via arrow keys on the keyboard, instead of adding a new input field to reorder things.  That said, if you have a simple way to achieve the input field, I'm not against it...just worried about what the page would look like & whether it'd be more confusing th

[2021-11-17 15:34] tdonohue commented on #1405
@corrad82-4s : Thanks, agreed that this sounds like a bug needing a fix.  Adding the estimate & assigning back to you for your team to create the small PR.

[2021-11-17 15:46] hardyoyo opened #1409 "Add a configuration for validating the Angular --> API connection in a dev environment"
**Is your feature request related to a problem? Please describe.**
The newly-added validation script for DSpace 7.1 [test-rest.ts](https://github.com/DSpace/dspace-angular/blob/main/scripts/test-rest.ts) is designed to test a production environment. This script fails to test a development environment with a fresh installation of DSpace.

**Describe the solution you'd like**
An additional configura

[2021-11-17 16:36] wwelling opened #1410 "Unable to run production distribution server without node_modules"
**Describe the bug**
For production deployment it is desirable to run distribution without node_modules. This is critical for containerization where as an image with node_modules is over 2GB and a little over 200MB without. Webpack node externals usually only provides benefits for libraries and not so much for servers. Bundling dependencies should reduce overall image size through additional tree-

[2021-11-17 16:59] wwelling commented on #1410
Here are the node_modules entry points required.
[code]

[2021-11-17 17:01] wwelling commented on #1410
Here is the error

[code]

[2021-11-17 17:37] hardyoyo commented on #1409
Turns out that the current script is fine, we just need to add a new invocation to package.json to use the dev config. I will revised this ticket's description and title to reflect this.

[2021-11-18 12:02] wwelling commented on #1410
![image](https://user-images.githubusercontent.com/8352733/142411839-20a3d87d-26b0-45ba-b4b1-018c374db8d5.png)

[2021-11-18 16:51] #1409 closed

[2021-11-18 17:17] wwelling commented on #1074
@artlowel I am curious, why do you think this is the case? "switching to npm is likely more effort than upgrading to yarn 2."

Shouldn't npm just work. If npm does not work, I feel there is something wrong. Find and replace of yarn to npm seems rather trivial.

[2021-11-19 15:57] artlowel commented on #1074
I was thinking about things like [resolutions](https://github.com/DSpace/dspace-angular/blob/main/package.json#L63) that don't work in exactly the same way between the two, or changes to the CI build which has some [code to deal with the yarn cache](https://github.com/DSpace/dspace-angular/blob/main/.github/workflows/build.yml#L57-L70), updating the docs, …

However if you say it's not that hard t

[2021-11-19 16:12] davidenegretti-4science opened #1415 "Can't delete description on bitstream"
**Describe the bug**
While working on issue #1337 I found another bug in bitstream edit form.
If the bitstream have a description it is not possible to delete it.
When saving the bitstream the submission is not removed (`remove` is not present in the patch).
The patch is successful and the user does not receive any error notification.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an

[2021-11-19 16:16] atarix83 commented on #1415
@tdonohue

this takes about 2hours yoc can assign to @davidenegretti-4science who is working on https://github.com/DSpace/dspace-angular/issues/1337

[2021-11-19 16:33] tdonohue commented on #1415
@atarix83 and @davidenegretti-4science : Sounds good. I've assigned it and moved to our 7.2 board

[2021-11-19 20:51] #1386 closed

[2021-11-21 16:22] abollini commented on #769
See comment in https://github.com/DSpace/DSpace/issues/2840 the Sherpa/RoMEO submission panel is mostly readonly, we can eventually think about a "force refresh" button. I would reduce the estimation to 3 days

[2021-11-22 15:57] #1410 closed

[2021-11-23 14:05] artlowel commented on #1347
@tdonohue I've looked into this in more detail now, and I'd like to change my estimate to **8 hours**. The reason is that instead of just adding support for a single favicon.ico file, I'd like to include more high res icons for iOS and Android, or SVG favicons for browsers that support it. This means adding multiple configurable tags per theme to the `<head>` instead of just one hardcoded one. I'd

[2021-11-23 14:54] tdonohue commented on #1347
Sounds fine, @artlowel .  Thanks for the update.  Bumping this up to 8hrs then.

[2021-11-23 20:15] #1402 closed

[2021-11-23 20:32] #1405 closed

[2021-11-24 13:10] walherb opened #1416 "Can't Seem to Login to UI with Administrator credentials created through [dspace]/bin/dspace create-administrator"
**Describe the bug**
I have done an installation of dspace backend 7.0 and dspace ui 7.1 successfully but can't seem to login. I created the login through the backend using [dspace]/bin/dspace create-administrator command and verified that the user was created through searching in the database  using select * from eperson. When I try to login using the credentials obtained from the process above u

[2021-11-24 13:37] #1416 closed

[2021-11-24 21:35] davidenegretti-4science commented on #1359
Solved together with:
- #1337
- #1359
- #1399
- #1415
- DSpace/Dspace#7977

[2021-11-24 21:35] davidenegretti-4science commented on #1359
Solved together with:
- #1337
- #1359
- #1399
- #1415
- DSpace/Dspace#7977

[2021-11-24 21:35] davidenegretti-4science commented on #1337
Solved together with:
- #1337
- #1359
- #1399
- #1415
- DSpace/Dspace#7977

[2021-11-24 21:36] davidenegretti-4science commented on #1399
Solved together with:
- #1337
- #1359
- #1399
- #1415
- DSpace/Dspace#7977

[2021-11-24 21:36] davidenegretti-4science commented on #1415
Solved together with:
- #1337
- #1359
- #1399
- #1415
- DSpace/Dspace#7977

[2021-11-26 07:22] f-rapp opened #1421 "DSpace 7: When creating a new item via drag&drop or browse the collections load unsuccessfully"
**Describe the bug**
When I created an item via drag&drop or browse, the collection selection window did not load successfully.

**To Reproduce**
1. Drag&drop a file or browse
![grafik](https://user-images.githubusercontent.com/67266996/143541933-2f55f086-7a18-4ef6-a43e-1a833bb60ebc.png)

2. Check the collection selection window. It keeps loading.
![grafik](https://user-images.githubusercontent.co

[2021-11-26 08:14] f-rapp opened #1418 "Drag & drop feature to rearrange bitstreams on submission page"
**Is your feature request related to a problem? Please describe.**
Sometimes it is necessay to rearrange the bitstreams on the submission page (upload section). For instance, there are use cases where the main PDF should appear first and additional material should follow. When bitstreams are imported, this is not guaranteed. It is then necessary to rearrange the bistreams.

**Describe the solution

[2021-11-26 12:08] paulo-graca opened #1420 "Caching issue for relationship place returning in missing relationships"
**Describe the bug**
Left and right place values for `relationships` are critical when returning related entities. For an instance if, for some reason, you have a duplicated `left_place` within a relationship, only one of those relations will be be available.

**To Reproduce**
Steps to reproduce the behavior:
1. You will need to have content with more than one relation. For instance, if you have a

[2021-11-29 21:25] tdonohue commented on #1420
This does sound like an issue to be resolved, however it's unclear to me how frequently this issue may be encountered, so I'm flagging this as low priority for now.  It also does sound like a possible UI caching issue, since it sounds like the REST API is returning all relationships, but the UI is assuming the place values will always be unique.

It does seem like it may be loosely related to http

[2021-11-30 03:38] wwelling opened #1422 "Runtime config"
**Is your feature request related to a problem? Please describe.**

The app config (environment file in Angular) is determined at build time and unable to change configuration without entire build. Making container images non portable and lengthy build times to test configuration changes.

**Describe the solution you'd like**

Build config file at server start and host as static resource. Support

[2021-11-30 15:33] tdonohue commented on #1422
As discussed briefly in Slack, this is definitely of interest to myself (& @artlowel mentioned his support as well).  Therefore, I'll pull this over onto the 7.2 board.  But, at this time, I'm going to flag it as "help wanted", as it seems like it'd likely need a volunteer to step forward to make this happen in 7.2 (so let me know @wwelling if it's of interest to you to implement).

[2021-11-30 18:08] cwilper opened #1423 "Authority controlled values filtered by value (should filter on authority)"
**Describe the bug**
When a user attempts to filter on authority controlled values, the filtering is incorrectly done based on the text value rather than the authority key. This is a UI issue only -- DSpace 7 REST is fully capable of providing authority key-filtered "objects" and "facets" results when the client correctly uses the `authority` operator.

**To Reproduce**
Steps to reproduce the beha

[2021-11-30 19:33] tdonohue commented on #1423
@cwilper : Thanks for submitting this.  I agree this sounds like something we'd want to fix soon to provide more logical behavior.  I'll assign this back to you for your team to work on, add the estimate & pull this over to the 7.2 board.  Feel free to work on for 7.2

[2021-12-02 12:15] atarix83 opened #1426 "Statistics are always accessible even if are restricted to administrator"
**Describe the bug**
Currently the dspace statistics are always accessible even if are restricted to administrator by using the REST configuration `usage-statistics.authorization.admin.usage=true`

**To Reproduce**
Steps to reproduce the behavior:
1. on rest side set `usage-statistics.authorization.admin.usage` to true. (currently on dspace 7 rest demo is configured to true)
2. on angular applicat

[2021-12-02 12:19] atarix83 commented on #1426
@tdonohue

A possible solution could be to implement on rest side a canViewStatistics feature to use on fornt-end side to decide if statistics can be accessible or not.
Moreover the `server/api/statistics` should be fixed in order to return 403 when statistics can't be accessible.

Estimation is about 6hours on rest side and 4hours on angular side

[2021-12-02 18:06] mspalti commented on #1395
@tdonohue , fyi, this issue can probably be closed. I created a new DSpace issue (and added it to the 7.2 board) because the fix is on the backend and I was having trouble linking the PR to this dspace-angular issue.

[2021-12-02 18:23] tdonohue commented on #1395
@mspalti : Sounds good! Closing in favor of the new #8048 ticket

[2021-12-02 18:23] #1395 closed

[2021-12-02 21:09] wwelling commented on #1422
@tdonohue I will begin working on this shortly.

[2021-12-02 21:52] davidatmire opened #1429 "Non-ergonomic display of long metadatavalue without space on admin metadata + bitstream edit AND public item pages"
**Describe the bug**
When an item has a very long metadata value without space (e.g. a long URL stored in dc.identifier.uri for example), the display of the admin metadata edit is not ergonomic, as in the admin user has to scroll to the right to be able to see the edit/delete buttons for ALL metadata of the item.
<img width="1139" alt="Screenshot 2021-12-02 at 22 48 19" src="https://user-images.gi

[2021-12-03 11:35] alemarte opened #1430 "Redux DevTools can degradate heavily the overall platform performance"
It is known that Redux Dev Tools can cause unpredictable performance issues as described [here](https://github.com/DSpace/dspace-angular/issues/1330).

At 4Science, we came across a very similar problem related to the MyDspace and we could only solve it by disabling the Redux DevTools in production.
For this particular customization (but not so uncommon in our opinion), a lot of information are em

[2021-12-03 11:38] f-rapp opened #1431 "DSpace 7: Not possible to reorder values of qualdrop_value fields during submission"
**Describe the bug**
The submission form does not allow reordering of values via drag and drop when the field has input-type qualdrop_value.

**To Reproduce**
1. Create a new item
2. enter multiple values into a field with input-type qualdrop_value
3. Try to reorder the values via drag and drop.

**Expected behavior**
It should be possible to reorder the values via drag and drop.

[2021-12-03 15:20] tdonohue commented on #1430
@alemarte : Isn't Redux DevTools a Chrome browser extension (i.e. not a part of DSpace itself)?https://github.com/zalmoxisus/redux-devtools-extension

I do agree that browser extension results in sometimes bad performance when using DSpace 7 -- so I've disabled it in my own Chrome browser by default, but keep it around in case I need it for development/debugging.

Overall, I agree that we should r

[2021-12-03 15:34] #1289 closed

[2021-12-03 15:45] tdonohue opened #1432 "Upgrade to Angular 12 or 13"
Currently (as of 7.2) we are running Angular 11, which is **under LTS support until May 11, 2022.**  Therefore, before that date (and in 7.3), we should ideally upgrade to Angular 12 or 13.

Use the Angular Upgrade guide for analysis: https://update.angular.io/

During the Angular 10->11 upgrade, we found that the `ng update` commands mostly work well for our codebase (see #1403).  However, some a

[2021-12-03 16:05] tdonohue opened #1433 "Upgrade to PostCSS v8 for custom-webpack v11 (and above)"
During the Angular 11 upgrade (see #1403), it was noted that we were unable to easily upgrade these dependencies
[code]

When attempting to upgrade to the v11 release of those webpack dependencies, it created a **requirement** to upgrade to PostCSS v8 (from v7). Here's the upgrade command that was attempted:
[code]

After running that update command, the `dspace-angular` codebase no longer builds

[2021-12-03 16:09] tdonohue commented on #1433
@atarix83 , @artlowel and @wwelling : This ticket now includes my detailed notes of how I attempted to upgrade us to PostCSS v8 (and custom-webpack v11) during the Angular 11 upgrade.  I'm hoping that one of you might have time to glance at this in more detail during the 7.2 development (even if it's after most other dev work wraps up).   It seemed like I was _most of the way_ to a successful Post

[2021-12-03 17:49] tdonohue commented on #1429
Thanks @davidatmire , I agree this is a usability bug we should look at fixing soon.  For now, pulled it over to the 7.2 board to see if we can find someone to look at this for 7.2.  If your team is interested (or anyone else reading this later), let me know & please provide a rough estimate of the effort (in hours).

[2021-12-03 18:14] mspalti opened #1435 "Mirador cannot retrieve iiif data for restricted item."
**Describe the bug**
Requests from the Mirador viewer are missing the authorization token. When an authorized user accesses the DSpace item the request fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an access restricted "dspace.iiif.enabled" item
2. Login as the authorized user and try to view the item

**Expected behavior**
The metadata and image should appear in the viewer.

[2021-12-03 20:24] tdonohue commented on #1377
Moving to "unscheduled backlog" until further info provided

[2021-12-06 16:47] benbosman opened #1439 "Support for & in hierarchical lookup: Submission"
**Describe the bug**
When using a hierarchical lookup, and the value contains a `&`, the lookup is not escaped

**To Reproduce**
Steps to reproduce the behavior:
1. Create a submission configured with a hierarchical lookup. Make sure a value contains an `&`, e.g. `Topics::Education::Access & Equity in Basic Education`
2. Add this value to the submission
3. Reload the page
4. It will get the detail

[2021-12-07 11:02] davidatmire commented on #1429
@tdonohue thank you for your prompt answer.
When checking with @artlowel, we have noticed that the same issues appear at different places :
- Admin metadata edit (mentioned in my previous comment)
- Admin bitstream edit:
![Screenshot 2021-12-07 at 11 51 32](https://user-images.githubusercontent.com/41991272/145016184-c7fb2868-65e3-4c22-8309-63c47a5c36c3.png)
- Item view, both at the level of metad

[2021-12-07 14:48] tdonohue commented on #1429
Thanks @davidatmire : I'll add your 4hrs estimate to this ticket & assign this back to you for implementation. Please feel free to delegate as needed to someone else within Atmire.

[2021-12-09 10:04] alemarte commented on #1430
@tdonohue The Redux DevTools is indeed a Chrome extension and is currently configured and enabled by default on DSpace production environment (we can see it on the demo, the icon turned on).

![Screenshot_2021-12-09_10-48-47](https://user-images.githubusercontent.com/63857/145373506-bd2f30e9-1dba-42e1-80d6-86325f500dc1.png)

This means that every user with this extensions installed (usually develo

[2021-12-09 13:05] santit96 commented on #1423
Hi! Just wanted to notice that this problem also affects the browse-by page when the browse is configured to use authority keys instead of text values. In that case when clicking on a browse result to list items filtered by that value, it filters by text value instead of authority value

[2021-12-09 16:29] tdonohue commented on #1430
@alemarte : Thanks for clarifying!  I hadn't realized that enabling that plugin requires configuration in our codebase.  So, I see now that the code you reference is in our `app.module.ts` here: https://github.com/DSpace/dspace-angular/blob/main/src/app/app.module.ts#L93-L98

I agree, we need to either remove/disable that code, or change it to only allow it for **development** environments (it cou

[2021-12-10 14:23] benbosman opened #1445 "Scripts & processes without parameter"
**Describe the bug**
When starting a process without parameter, Angular refuses to start the process. This happens when no parameter was selected (but there was one), or for a script without parameters

**To Reproduce**
Steps to reproduce the behavior:
1. Open /processes/new in Angular
2. Start a process without selecting parameters
3. The save button doesn't work

Steps to reproduce the behavior

[2021-12-10 14:43] artlowel commented on #1445
This seems to be due to the fact that the [parameters input](https://github.com/DSpace/dspace-angular/blob/4d4e920f0d7e1cc0c92763e488692c8e54cc3d7d/src/app/process-page/form/process-form.component.ts#L38) in ProcessFormComponent is used in a number of array operations without ever checking that it's defined.

This can be fixed in an estimated **2h**

[2021-12-10 15:42] tdonohue commented on #1445
@artlowel : Sounds reasonable.  I've added the estimate & moved to 7.2.  Let me know if you want to claim it, or feel free to assign to yourself (and move to "in progress" column of our board) to claim it

[2021-12-13 19:07] mspalti opened #1447 "Mirador IIIF viewer build failing"
**Describe the bug**
Carl Jones and I noticed that Mirador viewer builds have recently started to fail. Error message:

[code]

**To Reproduce**
1. yarn run build:mirador

[2021-12-14 10:59] atarix83 opened #1450 "Submission UI is no longer working with SSR"
**Describe the bug**
Submission UI is no longer working with SSR. It only works for me when I run `yarn start:dev` and it's no longer working when running `yarn start`.  This also impacts demo7.dspace.org

**To Reproduce**
Steps to reproduce the behavior:
1. running application with `yarn start`
2. create a new submission
3. submission sections are empty
![Schermata da 2021-12-14 11-58-03](https:/

[2021-12-14 15:29] #1450 closed

[2021-12-14 16:38] #1365 closed

[2021-12-15 08:03] WolfgangT71 opened #1453 "de German not working"
**Describe the bug**
A clear and concise description of what the bug is. Include the version(s) of DSpace where you've seen this problem & what *web browser* you were using. Link to examples if they are public.
The Language German de is not working, not even at the demo in version 7.
All other languages are working, but not german.
Look at:
https://demo7.dspace.org/home
All the time falls back to

[2021-12-15 17:16] WolfgangT71 commented on #1453
even whan one sets de as default it is not working as it should it just writes the internal codes

like
[code]

[2021-12-15 20:10] tdonohue commented on #1453
I've verified this today locally. It appears there may be a syntax problem in the German language file (de.json5).  When I select Deutsch in the UI, I see this error in my DevTools console:
[code]

It appears there's a missing closing quote on that line of the `de.json5` file: https://github.com/DSpace/dspace-angular/blob/main/src/assets/i18n/de.json5#L2185

I'll create a small PR to fix this bug.

[2021-12-15 21:04] #1453 closed

[2021-12-15 21:37] #1447 closed

[2021-12-15 22:03] tdonohue opened #1456 "Adding/Editing Authorization page no longer found (404 error)"
**Describe the bug**
It's no longer possible to edit authorizations from the UI (Community, Collection, Item or Bitstream).  All throw a 404 error

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an Admin
2. Edit a Collection. Go to the Authorizations tab.
3. Click "+ Add" -> 404 Error
4. Click Edit next to an existing policy -> 404 Error
5. Edit an Item -> visit "Status" tab & click

[2021-12-16 03:18] mspalti commented on #1396
@tdonohue  it looks like once again I created an IIIF issue on the wrong repository. Now I understand the limitation!!

This a pull request for the new feature. https://github.com/DSpace/DSpace/pull/8074

[2021-12-16 08:37] artlowel commented on #1456
This is likely due to the use of the "legacy" link resolution [here](https://github.com/DSpace/dspace-angular/blob/7a1b98ce838279e9e911316f7adbd433aa10091c/src/app/shared/resource-policies/resource-policies.component.ts#L284) and [here](https://github.com/DSpace/dspace-angular/blob/7a1b98ce838279e9e911316f7adbd433aa10091c/src/app/shared/resource-policies/resource-policies.component.ts#L299).

I'll

[2021-12-16 22:47] #1456 closed

[2021-12-16 22:53] tdonohue commented on #788
Updated this to a 0-hour estimate as the code was donated early in #1444 and https://github.com/DSpace/DSpace/pull/8064

[2021-12-17 07:21] WolfgangT71 opened #1460 "In the german file missing definition"
This line is missing in de.json5
`"home.search-form.placeholder": "Durchsuche Repositorium",`

[2021-12-17 07:21] WolfgangT71 commented on #1460
At appears to be missing in different language files, as also hu.json5 is missing it.

[2021-12-17 14:48] tdonohue commented on #1460
@WolfgangT71 : Could you submit a Pull Request (PR) when you want to make small updates like this?  That'd help us, as it means we can quickly review it and merge in the changes for the next release.  Otherwise, I have to try to find a different developer to create the PR.

[2021-12-17 16:05] #1429 closed

[2021-12-19 18:43] MarisArins opened #1463 "Hard/impossible to change main thumbnail of item"
If you create a material with lots of files , e.g 20+ there will be a thumbnail generated for each file that can produce a thumbnail.
These thumbnails will be arranged in paginated list.
If you want to specify a thumbnail from last page as the main thumbnail, it is not possible to move it to top of list as that is in different page.
Button "primary file" seems not to work in this situation:
![imag

[2021-12-19 19:02] MarisArins opened #1464 "Multi language support for collection/community fields (title, description, etc)"
It would be very useful to support collection/community fields input and display in different languages.
Option to change UI language is not enough to call DSpace multi-lingual, as only the labels change, the titles remain in one fixed language.

[2021-12-20 13:32] WolfgangT71 opened #1466 "dspace create-administrator loop after y(es)"
After upgrading some problems with not being able to upload items reappeared, so I decided to make a complete new installation, including droping the dspace database.
Than I made a complete new installation.
However when I started `dspace create-administrator` It never finishes it, after the y for yes, he is in an endless loop.

Therefore I cannot Login.
Is there a postgres direct command to creat

[2021-12-20 17:15] #1421 closed

[2021-12-20 17:53] #1347 closed

[2021-12-21 15:51] pnbecker commented on #806
We got a contract to develop this. Of course, we will create a pull-request once we're done with it.

[2021-12-21 20:33] #1337 closed

[2021-12-21 20:33] #1359 closed

[2021-12-21 20:33] #1399 closed

[2021-12-21 20:33] #1415 closed

[2021-12-22 14:37] #852 closed

[2021-12-22 20:18] #1422 closed

[2021-12-23 08:23] abollini commented on #672
@tdonohue this looks to have been solved

[2021-12-23 12:02] atarix83 opened #1473 "Workspaceitem's bitstreams are not available when setting an access condition during submission"
**Describe the bug**
While working on the https://github.com/DSpace/dspace-angular/issues/767 we found an issue with bitstreams access conditions reflected also on the new item embargo implementation.
During the submission if I set an access conditions to an uploaded bitstream then is no longer possible to download it from the upload section's download button.

**To Reproduce**
Steps to reproduce

[2021-12-23 12:07] atarix83 commented on #1473
@tdonohue

we already found the problem and the reason is that when adding a new policy to the bitstream the existing policies of `TYPE SUBMISSION` are deleted from the bitstream by mistake. This no longer makes the bitstream available during submission. We will resolve in the same PR of the item embargo functionality and takes about 8hours

[2021-12-23 14:53] tdonohue commented on #1473
@atarix83 : Thanks for digging into this. I'll add the 8hr estimate and assign back to you for your team.

[2021-12-23 15:38] tdonohue commented on #672
Thanks for the note, @abollini . I agree, it does look solved in latest `main`. Not sure exactly when this was fixed, but obviously either in 7.0 or 7.1

[2021-12-23 15:38] #672 closed

[2021-12-24 10:40] davidenegretti-4science opened #1477 "Back button is missing from download page"
**Describe the bug**
Try to download an attached file from a publication. A "Now downloading page" is displayed without any link back to the item. A back button should be provided.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for a [publication with attached files](https://demo7.dspace.org/search?spc.page=1&query=&spc.sf=score&spc.sd=DESC&f.entityType=Publication,equals&f.has_conte

[2021-12-24 10:57] davidenegretti-4science commented on #1477
We could handle this one, it should take 2 hours

[2021-12-27 04:39] thanapoj opened #1480 ""Did you mean" doesn't exist on search page? (Dspace 7)"
I tried demo dsapce 6 for https://demo.dspace.org/
it's has "Did you mean" default function (Solr spell check) but it not found in dspace 7 angular UI.

I searched issue about discovery, I found "More like this"
https://github.com/DSpace/dspace-angular/issues/1288
but I not found spell check.

Please consider this matter.
I apologize If it has function in dspace 7.

[2021-12-28 09:03] alemarte commented on #1296
@tdonohue it seems that this issue is not reproducible anymore (maybe after upgrading the dynamic form library). Tested today on the Demo.

[2021-12-30 09:43] muhep06 opened #1481 "Delete item button doesn't work"
I am using Dspace version 7.1. When I try to permanently delete the item, nothing happens. Delete button not working properly. Also, sometimes when I click the permanently delete button on the edit item page, it throws a "null" request.
``https://[domain]/server/api/core/entitytypes/label/null``

![image](https://user-images.githubusercontent.com/6313999/147739376-dc6b7c30-6989-4b0d-801a-53fd1e696

[2021-12-30 12:31] MarisArins opened #1482 "Too many items in "Edit Collection" lookup"
When logging in with a user who was rights to admin only 1 particular collection, the "Edit Collection" button opens a lookup dialog which presents way more than one collection (possible all are accessible).

Trying to pick a collection that is not in editable collections list an error gets presented.

Expected: the collections that are not editable by particular user should not be present in look

[2022-01-02 14:22] MarisArins opened #1483 "Too many functions available for logged in (non-admin) persons"
When a person without any special access permissions logs into DSpace, they get too many admin-sidebar functions present.
![image](https://user-images.githubusercontent.com/2697696/147878680-2953290c-7d2c-4a90-b286-b04176495f10.png)
Basically person without any access roles should have no functions present at all, as all attempts to perform any action will end up with error screen.

[2022-01-04 14:48] tdonohue commented on #1477
@davidenegretti-4science : I'll move this over to the 7.2 board, in case we can still fit it in there & add the estimate. Feel free to start this and we'll see if it can make it into 7.2

[2022-01-04 17:59] tdonohue commented on #1296
@alemarte : Thanks for the note. I agree, this is no longer reproducible.

Closing as fixed.

[2022-01-04 17:59] #1296 closed

[2022-01-04 18:04] tdonohue commented on #1481
@muhep06 : I cannot reproduce this on our Demo site (https://demo7.dspace.org/), or locally in the latest code on `main` (which does include code updates since the 7.1 release).  So, it appears to me that we've fixed this bug already, and the fix will be available in the upcoming 7.2 release (coming in Feb)

[2022-01-04 18:04] #1481 closed

[2022-01-05 20:10] #1349 closed

[2022-01-06 09:13] MarisArins opened #1484 "Item submission form validation sometimes not correctly triggered"
Issue observable on a form that has mandatory fields in "second page".
If user clicks and fills in order mandatory fields, as last clicking on Licence agreement checkbox, sometimes "second page" remains in "error" state even if all mandatory fields are filled.
Only clicking around some input fields in different pages can trigger revalidation that finally marks it as valid.
Likely reason for such a

[2022-01-06 17:52] ghost opened #1485 "Unable to route network requests to different DSpace REST API URL during SSR"
**Is your feature request related to a problem? Please describe.**

With Angular Universal, during server-side-rendering (SSR), REST requests are made from server-to-server. After rehydration the client-side-renderting (CSR) REST requests are made from the browser. Using the same URL for both is limiting for production infrastructure deployment causing server-to-server communication to route out o

[2022-01-06 17:58] tdonohue commented on #1485
Thanks for creating this ticket @wwelling .  For now, I'm pulling this into the 7.3 board, as it might be too late for 7.2 (due Feb 7) unless this work ends up moving quickly & being easy to review.  If somehow it moves quickly, we can see whether it's possible to fit into 7.2.

@artlowel and @atarix83 : just pinging you to make you aware of this ticket & get any initial feedback/ideas you may hav

[2022-01-06 18:04] bbranan commented on #1080
@tdonohue @pnbecker I've been looking into creating a default/example end-user agreement for use on DSpaceDirect sites and wanted to share what I have so far as a potential starting point for community discussion: https://docs.google.com/document/d/1QSB2cyUDagM_GnupxmLureTGAVNjYXGjdErh3tx0Yq4/edit.

This started as output from https://app.termly.io/ with several irrelevant sections removed and a b

[2022-01-06 21:13] tdonohue commented on #1485
@wwelling and I chatted a bit more about this privately via Slack today, and ran into a significant complication.

Because our REST API uses HATEOAS, and has absolute URIs in the `_links` section (see for example https://api7.dspace.org/server/), this makes using two different REST API URLs quite complex.

The end goal here is that when the UI runs in SSR mode, it might want a more "direct" way to

[2022-01-07 13:41] KevinVdV opened #1486 "First time visit to an item leads to an "Invalid CSRF token" when attempting to store usage event"
**Describe the bug**
When you visit an community/collection/item page for the very first time (as in your first page on a repository) the POST to the "/server/api/statistics/viewevents" leads to a 403 with the following message:

**To Reproduce**
Steps to reproduce the behavior:
1. Install something like "[Clear Session](https://chrome.google.com/webstore/detail/clear-session/maejjihldgmkjlfmgpgoe

[2022-01-07 14:48] tdonohue commented on #1486
Hi @KevinVdV : Just wanted to note why this seems to occur (as I've seen it as well)

Unfortunately, you don't receive a CSRF token until the first `GET` request. In this scenario, I believe this `POST` happens almost immediately after (or at the same time) as the first `GET`... so when the `POST` occurs, the client hasn't received a CSRF token yet, and therefore doesn't send the CSRF with the fir

[2022-01-10 12:24] MW3000 opened #1487 "Make label and error messages for license-step accept-checkbox available to i18n"
**Describe the bug**
In the license submission step, the label of the checkbox and the error messages are hardcoded strings in `section-license.model.ts`.

[code]

**Expected behavior**
In order to be able to customise and translate those messages, they should be made available for i18n.

**Discussion**
I tried to solve this myself, but could not find the right place to put an i18n key. If you put

[2022-01-12 14:09] atarix83 commented on #1487
hi @MW3000 you can take cue from what is done here https://github.com/DSpace/dspace-angular/blob/2835597073085108bc7b7479710fa48aec119812/src/app/submission/sections/upload/file/edit/section-upload-file-edit.model.ts#L89-L109

Pratically in the model you need to put the i18n key you will use for the translation, e.g.

[code]
and than in the language file you will add the translation with those key

[2022-01-12 15:06] MW3000 commented on #1487
Thank you, @atarix83. It is clear so far. This is my reason for opening the issue.

If I modify `section-license.model.ts` like you suggested above and add the keys and translations to `en.json5`, then not the translation, but the key is shown as label next to the checkbox in the running app.

So, I suspect, that somehow the `label` from the model gets put in verbatim for a checkbox, and is not tr

[2022-01-13 12:09] DSquareTechnologies commented on #667
@tdonohue Do we want to replicate XMLUI's Recent Submission functionality in 7? Team here is working on the same and inputs will be helpful to align the development with the roadmap. Thanks

[2022-01-13 14:24] #1423 closed

[2022-01-13 15:01] DSquareTechnologies commented on #667
Hi Tim,

Yes, we have started working on this item and got some success already.
Next two days are bank holidays here and team will be back on Monday.
Let me get them together and arrange for next steps.

Regards,

Narendra

On 13-01-2022 20:29, Tim Donohue wrote:

[2022-01-13 15:45] #1358 closed, assigned to artlowel

[2022-01-13 19:48] firoball commented on #1481
I can confirm this issue happening with DSpace 7.1.1 when working as administrator (creation and deletion).

[2022-01-13 22:15] #1445 closed

[2022-01-14 16:14] #1281 closed

[2022-01-15 16:06] muhep06 commented on #1481
I fix this issue insert entity models into database with using this command.
[code]
https://wiki.lyrasis.org/display/DSDOC7x/Configurable+Entities#ConfigurableEntities-DefaultEntityModels

Then i select entity type for new collection.
![image](https://user-images.githubusercontent.com/6313999/149628695-268ba9a4-e80d-411a-8c6b-e89d199e45fb.png)

After all, i try to permanently delete again it works

[2022-01-17 15:55] DSquareTechnologies commented on #667
Hi Tim,

Here are few screenshots of Recent Submissions added on the Repository
and Community's homepages. "View more" option like version 6 to be
added, or better would be to add pagination like it appear under the
community list on the home page.

What should be our next steps?

Thanks,

Narendra

On 13-01-2022 20:31, DSquare Technologies wrote:

[2022-01-17 16:44] DSquareTechnologies commented on #667
![community_page](https://user-images.githubusercontent.com/6321834/149808741-ea17a5af-68c4-40aa-93cf-4f0dbe45fa2e.png)
![home Page](https://user-images.githubusercontent.com/6321834/149808746-367416fa-98a3-4eb2-93c9-3624207526d4.png)

@tdonohue Looks like screenshots did not come in the above communication. Attaching them here.

[2022-01-19 10:15] DSquareTechnologies commented on #667
@tdonohue here is the updated Recent Submissions section with pagination.
![Community Page_recent items_paginated](https://user-images.githubusercontent.com/6321834/150110444-87e9f7ca-c05f-4bd0-853f-954d7dcfd233.JPG)

[2022-01-20 16:20] DSquareTechnologies commented on #667
Feedback during WG meeting 01/20/22
Need to separate out Recent Submissions from the community list. Following suggestions are received:
a. Pagination below the recent submissions section can be replaced with the "show more" and "Show less" links to make the list expandable.
b. Another option can be as demonstrated in the https://wiki.lyrasis.org/pages/viewpage.action?pageId=204308676&preview=/204

[2022-01-20 17:41] #1044 closed

[2022-01-20 20:57] bbranan opened #1491 "Add SWORDv2 auto-discovery link"
**Is your feature request related to a problem? Please describe.**

DSpace includes a built-in SWORD v2 server, but the endpoint that allows for deposit via SWORD is not always easily determined. Users of DSpace often know the URL of their DSpace repository, but usually don't know anything about SWORD or how to find a SWORD endpoint that would allow deposits to be made. If  easier discovery of the

[2022-01-21 10:27] astrowq opened #1492 "mismatch of the text items in Harvest Controls"
**Describe the bug**

The order of the harvest info items is wrong, specifically, the `Last time harvested` and `Harvest info`. See the screenshot below:

![image](https://user-images.githubusercontent.com/46059781/150510465-2e1962ff-132e-4be3-88e2-08bf369dd73c.png)

**To Reproduce**

1. Make a collection harvest OAI
2. Wait to see the mismatched text items

**Expected behaviour**

`Last time harv

[2022-01-21 14:55] tdonohue commented on #1492
@astrowq : PRs are welcome & encouraged. We don't have a centralized dev team for DSpace, so all code is built/maintained/improved by community members or service providers who use DSpace.  Please feel free to submit a PR, linking it up to this ticket, and we'll get it reviewed.

[2022-01-21 19:12] tdonohue commented on #1389
Reopening, as PR #1407 had to be reverted as it broke Authentication. Leaving assigned to @atarix83 who is working on a new PR to replace #1407.

[2022-01-21 20:36] tdonohue commented on #1431
Verified this bug on 7.1.1. When entering multiple "Identifiers", the reorder "button" appears on the left, but it's currently no possible to drag them and reorder.

Pulling this over onto our 7.3 board in case it can be solved there. However, this needs a volunteer.

[2022-01-21 20:49] tdonohue commented on #1482
I'm able to reproduce this on 7.1.1 & it's a bug.  That Edit Collection popup should ideally only show Collections you have access to edit.

[2022-01-21 20:59] tdonohue opened #1494 "User Profile page is broken"
**Describe the bug**
On `main`, the User Profile page no longer works in Production mode.  Selecting it results in a blank page.  Chrome DevTools will display this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Visit demo7.dspace.org & login as any user
2. Click on the Profile link.

[2022-01-21 20:59] tdonohue commented on #1494
@artlowel : Could you or your team look at this early next week, if possible?

[2022-01-21 21:15] tdonohue commented on #1491
A few notes... as of DSpace 7, the SWORDv2 app will *usually* be at [dspace.server.url]/swordv2 (e.g. https://api7.dspace.org/server/swordv2/ -- this doesn't exist, but it's an example).

Making it autodiscoverable would be possible, but would require the frontend to check the backend configs (namely `swordv2-server.enabled` and `swordv2-server.path`, to see if it's enabled and what path it is usi

[2022-01-22 16:04] firoball opened #1495 "HTML tags in administrative workflow view are being evaluated"
**Describe the bug**
First of all, I am not sure whether this is really a bug or more like a feature.
Since I came across this while doing some XSS attempts on  a local DSpace 7.1.1 setup, I entered some HTML/JS code in the resource submission form.
The sanitizer of Angular appears to detect my attempts and makes them safe. Still, in the administrative workflow the HTML tags are evaluated:

![graf

[2022-01-23 18:23] firoball commented on #1481
Thanks for the hint. With items (not collections) I have not been successful so far, though.

[2022-01-24 15:02] #1494 closed

[2022-01-25 14:49] tdonohue opened #1499 "Grid view of Search Results is broken"
**Describe the bug**
Originally reported on dspace-community list: https://groups.google.com/g/dspace-community/c/TDxR6FebOjc
**To Reproduce**
Steps to reproduce the behavior:
1. Run a search: https://demo7.dspace.org/search?query=test&spc.page=1&view=list
2. Switch to "Grid" view
3. Results never return. No errors appear in Chrome DevTools Console

**Expected behavior**
Obviously, grid view shoul

[2022-01-25 17:52] #1389 closed

[2022-01-25 22:18] #1499 closed

[2022-01-26 17:44] tdonohue commented on #1396
Closing, fixed by https://github.com/DSpace/DSpace/pull/8074

[2022-01-26 17:44] #1396 closed

[2022-01-26 17:52] tdonohue commented on #1284
Making this `high priority`. The fix here should be to **NOT DISPLAY** the Export/Import menus for normal users, as they cannot be used.

[2022-01-26 18:04] tdonohue commented on #1369
This appears like it may be the same issue as #8121

[2022-01-26 18:10] tdonohue commented on #1392
I'm bumping up the priority on this to `high priority`, as I've heard of similar confusion from several people now.  The current behavior of the "Statistics" header link is not ideal, and it may need some rethinking.

[2022-01-27 03:10] DSquareTechnologies commented on #667
@tdonohue attaching the wireframe showing Recent Submissions with option of "Show more". Will attach one more option soon.
![image](https://user-images.githubusercontent.com/6321834/151285232-474a9668-cccc-4297-9709-2e698b459911.png)

[2022-01-27 05:56] DSquareTechnologies commented on #667
@tdonohue Here is option 2 having Previous and Next buttons under the Recent Submissions list. This is similar to the Previous and Next buttons available on the Browse by Title page. The thought process is to maintain uniformity with regard to user experience.
![Recent submissions_wireframe v2](https://user-images.githubusercontent.com/6321834/151300098-117bc6f1-03de-4a13-8f4b-77222b7c4e80.png)

[2022-01-27 05:57] DSquareTechnologies commented on #667
Option 3 - Pagination similar to the Community section with a separator between community list and Recent Submissions.
![Recent submissions_wireframe v3](https://user-images.githubusercontent.com/6321834/151300313-cf24304b-708f-4ba0-b02f-f379e6c3011a.png)

[2022-01-27 08:35] abollini opened #1501 "Delete item confirmation page is broken"
**Describe the bug**
If you try to delete an item the confirmation page is currently broken. Confirming the delete operation will trigger NO rest call

**To Reproduce**
Steps to reproduce the behavior:
1. login as administrator
2. visit an item, i.e https://demo7.dspace.org/items/209eba26-7f6a-4f53-b0d4-21d6f96f8722
3. try to delete it, no call to the REST API are performed

**Expected behavior**

[2022-01-27 08:47] abollini opened #1502 "Deposit immediately after a file upload will not work properly"
**Describe the bug**
If you upload the file as the very last action before clicking the deposit button you will note that the upload panel will become empty and the deposit will be halted on the ui side due to missing mandatory information (as by default file is mandatory).
Nevertheless, the file is here, if you add another one or refresh the page you will see that.

**To Reproduce**
Steps to repr

[2022-01-27 17:02] tdonohue opened #1504 "Embargo / Access Conditions appear draggable/reorderable, but they are not."
**Describe the bug**
This bug was discovered while reviewing #1475.  It affects both the *Bitstream* and *Item* Embargo/Access Conditions forms in the Submission UI.

**To Reproduce**

1. To reproduce on the *Bitstream* access conditions form:
    * Create a new submission.
    * Upload a Bitstream
    * Click "Edit" on that Bitstream/file.
    * Hover over the "Access Condition type" field, and y

[2022-01-27 17:10] tdonohue opened #1505 "Embargo / Access Condition cannot be deleted in Submission form if only one remains"
**Describe the bug**
This bug was discovered while reviewing #1475.  It affects both the *Bitstream* and *Item* Embargo/Access Conditions forms in the Submission UI.

**To Reproduce**
1. To reproduce on the *Bitstream* access conditions form:
    * Create a new submission.
    * Upload a Bitstream
    * Click "Edit" on that Bitstream/file.
    * Add a single Access condition (e.g. an embargo).

[2022-01-27 19:56] firoball commented on #1501
I think this issue might relate (see discussion after closure):

https://github.com/DSpace/dspace-angular/issues/1481

[2022-01-27 21:12] #763 closed

[2022-01-27 23:16] tdonohue commented on #1481
@firoball and @muhep06 : thanks for the additional discussion here.  It appears I missed that this bug was related to the existence of an empty `dspace.entity.type` field.   That said, I'll leave this ticket closed, as it's now been duplicated into #1501.

However, you'll both be glad to hear **we have a PR to fix this issue in #1503.**

So, this bug will be fixed on `main` shortly & will be relea

[2022-01-27 23:34] firoball commented on #1481
I have already added this new PR into our local setup and can confirm this fixes the issue for me without leftovers.

[2022-01-28 09:58] Atmire-github opened #1506 "Impossible to disable the Privacy Statement / End-user Agreement"
**Describe the bug**
On DSpace 7, a new feature has been added to include a privacy statement and a end-user agreement:
https://github.com/DSpace/dspace-angular/issues/736

Some institutions do not want to use these (especially as the users are forced to accept the end-user agreement at their first login), but there is no configurable way to disable them.

Note that there is another ongoing issue

[2022-01-28 15:01] tdonohue commented on #1506
While I understand the desire to make things configurable, this seems lower priority from a roadmap perspective simply because the original goal expressed from Steering was to ensure DSpace 7 was better aligned with GDPR, and both of these features are required for GDPR alignment.

So, for now, I'm going to flag this as `help wanted`, and prioritize as `medium priority`.  That said, I'm not agains

[2022-01-28 15:47] #1082 closed

[2022-01-28 15:47] #1501 closed

[2022-01-28 16:06] #1502 closed

[2022-01-31 17:13] #767 closed

[2022-01-31 17:13] #1473 closed

[2022-01-31 20:51] tdonohue commented on #768
Closing, fixed by #1475

NOTE: In the UI, we've redesigned this into a "Discoverable" checkbox.  By default it's checked, meaning the Item will findable via search/browse. When unchecked, it's only findable via a direct link (which is the old definition of a "private" item)

[2022-01-31 20:51] #768 closed

[2022-02-01 08:07] davidatmire commented on #1506
Hi @tdonohue ,

I agree that this is lower priority.
I would just like to mention that some institutions might have their GDPR / data privacy policies defined in a central place (e.g. a page on their institutional website) and that having a dedicated end user agreement on their DSpace platform might be a duplicate step (especially if they use SSO and their users have signed an institution-specific

[2022-02-01 08:13] davidatmire commented on #1080
Hi @tdonohue , @bbranan , @pnbecker ,

I have no data privacy / GDPR expertise, but would just like to share a possible alternative for the default text of the end-user agreement.

This could be considered as a simplified default version of the agreement, which might be particularly applicable to institutions using SSO and having their users agree on a institution-specific data policy / GDPR agree

[2022-02-01 15:18] tdonohue commented on #1506
@davidatmire : To clarify, I'm completely supportive of this ticket... however, I rated it `medium priority` as I cannot easily prioritize this over new features at this time.  So, I'd welcome a contribution of this sort, but I cannot pay for it out of the DSpace budget at this time, so it'd have to be a donated contribution.  That said, if it is donated, I'll work to ensure it gets reviewed & int

[2022-02-01 17:21] #1388 closed

[2022-02-02 14:39] abollini commented on #806
This is already supported in DSpace-CRIS so you should take a look to backport the feature.
It was introduced in the first 7 version so it is a bit hard now to find all the reference but I'm able to track down the feature to these commits on the Angular side
https://github.com/4Science/dspace-angular/commit/64a4211d7e23f8c154a6259b096387f0b3a3e95d
https://github.com/4Science/dspace-angular/commit/

[2022-02-02 17:40] pnbecker commented on #806
@abollini Thank you. That helps a lot. We will definitely take a look!

[2022-02-02 22:36] tdonohue opened #1510 "Standardize terminology in UI between "Discoverable" and "Private/Public" items"
**Describe the bug**
Discovered this usability issue while writing/updating documentation for the 7.2 release.  We use two terms for the same thing within our User Interface. We should obviously use the same terminology throughout to avoid confusion.

1. Submission UI's new "Item Access Condition" step provides a "discoverable" checkbox.  This allows you to select whether an item is discoverable (

[2022-02-02 23:47] kshepherd commented on #806
@abollini thanks for this - can I clarify something further -- is the type binding in DSpace-CRIS for both input fields and available relations, or just relations?

[2022-02-03 12:55] mwoodiupui commented on #1510
Yes, please.  I will add my support for the more accurate "discoverable".

[2022-02-03 16:12] DSquareTechnologies commented on #667
Feedback during the working group meeting dated 02/03/2022

- Recent Submissions to have Load more button at the bottom of the list.
- The "Load more" button should be left-aligned.
- Upon clicking the Load more button, users will be redirected to the search results page, and items will list in descending order based on the submission date.
- Recent submissions count should be configurable. If the

[2022-02-08 10:47] YanaDePauw opened #1511 "Relationships between same entity types are not supported"
**Describe the bug**

DSpace angular is currently missing support for relationships between the same type.
Example: Linked publications, or parent and child projects.

In the edit item -> relationships tab, you will only get one of those relationships and won't be able to add more items.

**To Reproduce**
1. Set up a stock Dspace 7.2 to serve as the backend
2. Configure a relationship that uses th

[2022-02-10 08:20] atarix83 opened #1514 "Detail component is missing for archived item in the mydspace"
**Describe the bug**
The archived items don't have the detailed component used in the mydspace with the detail view mode

**To Reproduce**
Steps to reproduce the behavior:
1. open the mydspace page
2. filter for only archived items
2. turn to the detail view mode using the view mode switcher
3. since the there is no component using the detailed context for archived user the default list component

[2022-02-10 14:37] abollini commented on #782
Please check also the comment on the REST side https://github.com/DSpace/DSpace/issues/2849#issuecomment-1034990952

In regards to the angular side we propose **to raise the estimation to 24 hours** and to exclude the use of a custom endpoint with the subsequent overview page of changes done to avoid the need to perform the actual import in real-time.

If a such option should be provided, with an

[2022-02-10 14:45] tdonohue commented on #1514
Moving this to the 7.3 board.  Added a zero hour estimate to this task, as this bug will be fixed as part of #772, and is included in the 10hr estimate in that separate ticket.

[2022-02-10 15:03] artlowel commented on #1361
Nevermind, after a hard refresh I can

[2022-02-10 15:18] abollini commented on #801
We are working on a proposal for that based on standard approach to this kind of issue in the Spring community. If our proposal and estimation will found the favor of the community we will be interested in having this issue assigned

[2022-02-10 15:42] benbosman commented on #772
Some details about the issue of the preview I'm still seeing on the demo site:
https://demo7.dspace.org/mydspace?configuration=workspace&f.namedresourcetype=workspace,authority&spc.page=1&query=dspace.entity.type:Person&spc.rpp=1&view=detailed
This is displayed as
<img width="581" alt="Schermafbeelding 2022-02-10 om 16 40 11" src="https://user-images.githubusercontent.com/1528033/153442396-40ce5f2

[2022-02-10 16:46] tdonohue commented on #772
@benbosman : That "doesn't match" link you shared doesn't work for me yet (it's possible because it's an in-progress submission, I just don't have access to see it).

But, I did want to note that I don't believe it can always be an "exact match" for the Item page. Keep in mind that in the Workflow screen, this "Preview" is embedded in a paginated search results listing...so, we may be limited in w

[2022-02-10 16:57] tdonohue commented on #811
@abollini : Same here, will assign to your team for 7.3.  However, please review the original estimates, as they are nearly 2 years old...let me know if they need updating.

[2022-02-10 20:46] tdonohue commented on #782
@abollini : Thanks for your feedback/analysis here.

I've verified your analysis (in https://github.com/DSpace/DSpace/issues/2849#issuecomment-1034990952) that this feature already _exists_ to some extent in the DSpace 7.1 & 7.2 user interface.  For others watching this ticket, here's how to see a preview of Import Metadata changes in v7.2:

1. Login as an Administrative user (e.g. dspacedemo+admi

[2022-02-11 00:40] mspalti opened #1515 "Admin options don't appear after Shibboleth authentication"
**Describe the bug**
I can't find this described in another issue. I notice that when I login as an administrator using Shibboleth only basic options are rendered. All options become visible when I reload the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an administrator using Shibboleth
2. Limited options are rendered
3. Reload the page
4. All options appear

Before and aft

[2022-02-11 00:59] mspalti opened #1516 "Cannot pagination or search groups when creating new resource policy"
**Describe the bug**
When creating a new resource policy, it's not possible view the available groups (and probably also available users) beyond the first set. When you use the pagination widget to advance to the next set, the "Create new resource policy" just page reloads. The same thing happens when you try use the Search option.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit the aut

[2022-02-11 14:44] tdonohue commented on #1516
Thanks for reporting @mspalti .  I was able to reproduce this on demo7.dspace.org as well.  It looks recent & unfortunately rather serious since you cannot create a new Group based ResourcePolicy.

@artlowel or @atarix83 : Are either of you interested in looking into this for 7.3? At a glance, it looks to me like it is a UI-bug

[2022-02-11 15:12] tdonohue commented on #1515
@mspalti : Could this somehow be related to your other Shibboleth ticket (and it's fix)? https://github.com/DSpace/DSpace/issues/8161  I might be wrong, but this behavior sounds like it could potentially be related to Special groups (if Admin permissions are being inherited via a special group)...like they aren't loading initially, but then load properly on a refresh.

That's a bit of a guess, but

[2022-02-11 19:45] mspalti commented on #1515
@tdonohue , I thought of that and checked. What I see doesn't appear to be related to changes in #8160 -- I'll verify again today just to be sure that's true.

In this case, my admin privileges are not inherited from a special group (I'm logging in with my administrator account). I can see the Administrator group when I check my "Profile"

[2022-02-11 20:15] mspalti commented on #1515
**Of possible interest:**

 GEThttps://digitalcollections.willamette.edu/Shibboleth.sso/Login?target=https://digitalcollections.willamette.edu/server/api/authn/shibboleth?redirectUrl=https://digitalcollections.willamette.edu/home
[HTTP/2 302 Found 25ms]

GEThttps://login.willamette.edu/idp/profile/SAML2/Redirect/SSO?SAMLRequest=jZJBU8IwEIX/Sid3mhIpQoYyg3CQGRSGVg9enDRdaGbSpGZT0X9voajowfGct++9/TYTFJ

[2022-02-11 20:32] mspalti commented on #1515
@tdonohue : when you get a chance to glance at this issue again, I just shared some console logging that shows cookies are rejected when connecting to the `authn/login` endpoint, because they have expired.

I'm not very familiar with how authorization works, but IF this looks like the probable cause for this issue, then the next question is whether it's the result of a DSpace bug or a misconfigura

[2022-02-14 10:28] ybnd opened #1518 "Upload filename disappears on incomplete deposit"
**Describe the bug**
When depositing an incomplete submission, filenames disappear from the headings of `ds-submission-upload-section-file`

Before clicking "Deposit":
![20220214-112150](https://user-images.githubusercontent.com/31547038/153846488-b7a25c37-71ab-447a-b7d6-77cf9c303776.png)
After clicking "Deposit":
![20220214-112158](https://user-images.githubusercontent.com/31547038/153846583-28f8

[2022-02-14 10:48] atarix83 opened #1520 "Notification are displayed twice on page change"
**Describe the bug**
Sometimes notifications are displayed twice when changing the route. This is due to the fact that the pagination component is included in the [wrapper that disappears on route change](https://github.com/DSpace/dspace-angular/blob/e4f483c308dd319f7486c7fc5f9816f04a8d03a1/src/app/root/root.component.html#L9) while it should stay out of it

[2022-02-14 22:21] tdonohue commented on #1515
@mspalti : I found time to test this today in my Docker setup.  I cannot reproduce this issue when I test using https://samltest.id/ and the setup documented at https://github.com/DSpace/DSpace/tree/main/dspace/src/main/docker-compose#run-dspace-7-rest-and-shibboleth-sp-in-apache-from-your-branch

* First, I got that setup working in Docker, & verified that I could do a basic Shibboleth login via

[2022-02-14 22:54] #1460 closed

[2022-02-15 08:18] atarix83 opened #1522 "Disabling preboot doesn't work on production mode"
**Describe the bug**
When trying to run the application in production mode with preboot disabled doesn't work. A white page is displayed with the following error

![Schermata da 2022-02-15 09-11-35](https://user-images.githubusercontent.com/2486489/154020252-ddef339c-3765-4b09-9f7e-b15b0f3b41a3.png)

It seems the default configuration is not loaded when preebot is disabled

**To Reproduce**
Steps

[2022-02-15 11:07] davidenegretti-4science opened #1523 ""Browsing by issue date" is stuck on loading"
**Describe the bug**

[Browsing by Issue Date](https://demo7.dspace.org/browse/dateissued)

Component: `browse-by-date-page`

If the first item contains a `dc.date.issued` metadata whose value is not a valid date, then:

-  the `lowerLimit` variable becomes undefined
-  this causes the `startsWithOptions` variable to remain undefined
-  this causes the loader to be indefinitely shown.

An addition

[2022-02-15 11:07] davidenegretti-4science commented on #1523
This is a 5-minute fix, could you assign it to me?

[2022-02-15 13:47] ybnd opened #1525 "TS-to-YAML environment migration script produces non-functional YAML"
**Describe the bug**
The `env:yaml` script nests all TS config under `environment:`, causing it to be ignored when building

**To Reproduce**
Steps to reproduce the behavior:
1. Add a legacy environment file, e.g. `src/environments/environment.dev.ts`
[code]
2. `yarn env:yaml src/environments/environment.dev.ts config/config.dev.yml` generates the following YAML
[code]
      **which won't override

[2022-02-15 14:53] tdonohue commented on #1522
@atarix83 : This failure is because the `universal` settings were removed from the runtime configuration in #1437.  They are now hardcoded into the default `environment.ts` files (loaded by `angular.json`), and are not read from `config.*.yml`.

Here's where you find the Universal settings now:
* https://github.com/DSpace/dspace-angular/blob/main/src/environments/environment.ts#L12
* https://githu

[2022-02-15 14:56] tdonohue commented on #1523
@davidenegretti-4science : Sure, will do! When it's a very quick fix, you are welcome to just create a corresponding PR immediately, in which case I'll assign it to you after the fact.  Thanks!

[2022-02-15 20:03] mspalti commented on #1515
Thanks for testing this, @tdonohue  I still haven't resolved the problem.

Your test case was different than mine. The administrator in my case is not a special group. So what I'm seeing (I think) is _normal dspace group membership and feature authorizations_ are not resolved by the client's `admin-sidebar.component` when the page initially loads. When I reload as an already authenticated user the

[2022-02-16 00:23] mspalti commented on #1515
The logging that I shared for the "Authorization-cookie" and  "DSPACE-XSRF-COOKIE" appears only in Firefox. It seems to be a harmless warning. I see the authorization header and JTW token after the request to `login` and the "Authorization-cookie" is removed as expected (Firefox is probably just being proactive about the expired cookie warning).

Since cookies and headers _seem_ to be working as e

[2022-02-16 17:09] atarix83 commented on #1522
@tdonohue @wellingWilliam

I tried to disable it also by changing the default-app-config.ts and the problem is the same. So currently the application doesn't work if preboot is disabled and configuring it by using the config.prod.yml works as I expected.

For what concerning if should be possible to change this options in the yaml files we think that it should. Even if is highly discourages in our

[2022-02-16 17:49] wwelling commented on #1522
@atarix83 just to be clear, you want to be able to build a production distribution with preboot (universal) disabled?

[2022-02-16 17:56] wwelling commented on #1522
Turning off preboot as @tdonohue said can only be done in environment.js before compile.

It is not possible at runtime without recompile and restart the node server.

https://github.com/DSpace/dspace-angular/blob/main/server.ts#L174

It was not included in the default runtime config.

https://github.com/DSpace/dspace-angular/blob/main/config/config.example.yml

It was an oversight to not remove i

[2022-02-16 18:00] wwelling commented on #1522
@atarix83 please try disabling here https://github.com/DSpace/dspace-angular/blob/main/src/environments/environment.production.ts#L8 and rebuilding production dist.

[2022-02-16 18:29] wwelling commented on #1522
There is a minor bug making both environment.ts and default-app-config.ts be set to false.

https://github.com/DSpace/dspace-angular/blob/main/src/config/default-app-config.ts#L24

This should only be in the environment.ts as it is a build time config and not able to be changed without rebuild. Will have PR shortly to remove from default-app-config.ts.

[2022-02-16 21:30] mspalti commented on #1515
After Shibboleth login the admin-sidebar menu for the user is initialized correctly when `usedCachedVersionIfAvailable` is `false` in the observable that's returned by `authorization-data.service.ts` `isAuthorized()` When set to `true` (the current setting) then the payload `page` array is always empty and  a manual page reload is required to see admin options.

@artlowel or @atarix83 , I wonder w

[2022-02-16 21:48] pnbecker opened #1528 "Errors using the "custom" theme in DSpace 7.2"
**Describe the bug**
When using the custom theme in DSpace 7.2, I see errors in the browser's console:

[code]

This error is repeated multiple times.

The site looks like I would expect it should, but when I make any search, I do not see any results, filters, ...

<img width="1074" alt="image" src="https://user-images.githubusercontent.com/6109314/154362089-f16cb4de-639c-4a55-839d-15f2399dcc1f.pn

[2022-02-17 03:43] kshepherd commented on #806
I've opened PRs for DSpace and dspace-angular. They need work on tests before they're fully ready, but they can be practically tested as of now.

[2022-02-17 13:45] wwelling commented on #1522
The error above is from a built distribution where the [server](https://github.com/DSpace/dspace-angular/blob/main/server.ts#L170)is using preboot true and the [main browser](https://github.com/DSpace/dspace-angular/blob/main/src/main.browser.ts#L50) is using preboot false. The main browser is using an environment that has been extended from runtime config as the server is using the static environ

[2022-02-17 14:32] artlowel commented on #1432
That would include the work for https://github.com/DSpace/dspace-angular/issues/1433

[2022-02-17 14:33] artlowel commented on #1379
This will take an estimated **6 hours** to fix

[2022-02-17 14:35] artlowel commented on #1284
This will take an estimated **2 hours**

[2022-02-17 14:38] artlowel commented on #346
This will take an estimated **4 hours**

[2022-02-17 14:46] tdonohue commented on #1433
Adding an estimate of zero hours to this ticket as it's included as part of the estimate for #1432

[2022-02-17 14:47] tdonohue commented on #1432
Thanks @artlowel! I've added a 60hr estimate to this ticket (i.e. the middle of your range)

[2022-02-17 21:16] #1525 closed

[2022-02-17 21:25] tdonohue commented on #1528
@pnbecker : After further testing, I *am* able to reproduce this error. The reason I thought it worked is that I *never see this error on the Homepage*.  However, if I click on a Community, then I do see that error.

I also see a different (but possibly related) error in my DevTools Console if I attempt to run a search (and no search results  page appears blank in the UI):
[code]

Pulling this ont

[2022-02-17 22:24] ybnd commented on #1528
* [This provider](https://github.com/DSpace/dspace-angular/blob/736802cdbda6a78868b2a4cfaa4ab04bfd1ed9b0/src/app/search-page/search-page.component.ts#L8-L13) is missing from the `custom` themed component, adding it solves the main issue.
Since this is theme-related & minor I'll add it on to #1512 tomorrow.
* The undefined `injector` issue is something else altogether
    * Sometimes (some of) the

[2022-02-17 22:45] tdonohue commented on #1528
@ybnd : Since that `injector` issue is a one-line fix, I'm OK with simply adding it to your existing PR.  Other PRs sometimes cleanup small, unrelated bugs in a similar manner...as sometimes developers just stumble on something else while creating the PR.  Just add a note about it in the PR description.

[2022-02-18 09:55] KevinVdV opened #1532 "Issue with placing an open access file under embargo"
**Describe the bug**
Placing an open access item under embargo doesn't actually add the embargo.

**To Reproduce**
* Go to the admin edit of an item
* Navigate to the resource policy of a bitstream
* Open up a network tab
* Set a "start date" on the resource policy (effectively placing it under embargo)
* Save the changes
* The UI will state the file is under embargo but the actual resource policy

[2022-02-20 00:26] mspalti commented on #1515
@tdonohue : I realize you haven't verified this bug yet, but I'm pretty certain that it's real and that the PR above solves the problem.  It's a small change but needs review by someone who is familiar with caching and authorization in angular. I'm still finding my way around.

[2022-02-21 10:38] TimKuntze commented on #1528
Solution by @ybnd solves this issue. Thanks a lot!

[2022-02-21 10:59] pnbecker commented on #1528
@ybnd thank you!

[2022-02-23 22:32] #1528 closed

[2022-02-23 23:06] #1477 closed

[2022-02-24 16:34] atarix83 commented on #369
@tdonohue

to resolve this issue we suggest to modify the current pagination component in order to have the possibility to navigate through pages using the current paginator or just with next/prev buttons. In this way we are going to use the paginator also for browse-by component so the contextual information are displayed.
Estimation is about 12-16h

[2022-02-24 18:00] tdonohue commented on #801
@LucaGiamminonni : I summarized today's discussion in this comment on the other ticket: https://github.com/DSpace/DSpace/issues/2877#issuecomment-1050113535

I'll assign this ticket to you for 7.3.  Please provide an estimate for the effort it will take to build the basic Control Panel UI which only views the "info" and "health" actuators.

[2022-02-24 18:13] tdonohue opened #1537 "Create "System Wide Alerts" feature for Angular UI"
**Is your feature request related to a problem? Please describe.**
In DSpace 6.x XMLUI, the Control Panel had a "System-wide Alerts" tab which allowed Administrators to enable an alert notification which would be displayed across every page in the DSpace site.

Here's what that feature looked like:
![systemwide](https://user-images.githubusercontent.com/483997/155581417-f212c938-2a40-477c-b248-af3

[2022-02-24 20:08] tdonohue commented on #369
@atarix83 : Thanks, that sounds reasonable.  I'll assign add the estimate at 14h (middle of your estimate) and pull this over onto the 7.3 board for your team to work on immediately.

[2022-02-28 12:47] MarieVerdonck commented on #1136
For the 'cancel reset user agreement state' part of this issue:

This isn't actually the case, the cancel just logs the current user from the session out, see `EndUserAgreementComponent#cancel` [[here](https://github.com/DSpace/dspace-angular/blob/main/src/app/info/end-user-agreement/end-user-agreement.component.ts#L77-L90)](https://github.com/DSpace/dspace-angular/blob/main/src/app/info/end-user-

[2022-03-01 11:06] atarix83 opened #1543 "Deposit notification message is not clear when there are errors"
**Is your feature request related to a problem? Please describe.**
With the new release the deposit button in the submission form is always enabled. However when the deposit cannot be done due to rest validation errors, the displayed messages are not completely clear
![Schermata da 2022-03-01 12-00-01](https://user-images.githubusercontent.com/2486489/156157463-6ae06500-bb4d-4701-9a7d-b0c2b9a6400d

[2022-03-01 11:07] atarix83 commented on #1543
@tdonohue

WE can fix it and I estimate the change in about 2/4 hours

[2022-03-01 15:17] tdonohue commented on #1543
@atarix83 : That sounds reasonable.  Assigning to you for your team to work on.

I agree with the approach you described when clicking the deposit button.

However, obviously we'd want to ensure "Submission saved successfully" *is* displayed when the "Save" or "Save for later" button is clicked.  Currently, I think these buttons have similar behavior.

[2022-03-02 11:20] atarix83 opened #1544 "Search for a ePerson or Search for a group in the resource policies page doesn't work"
**Describe the bug**
When adding a new resource policy to dspace object, it's not possible to Search for a ePerson or Search for a group.
Also, the Browse All button doesn't work and it's not possible to browse through the lists of ePersons and Groups by using the next page buttons.

**To Reproduce**
Steps to reproduce the behavior:
1. got to Edit item page
2. by the status tab click on Authorizat

[2022-03-02 11:52] atarix83 commented on #1544
@tdonohue

this is a bit challenging to resolve because here the issue is due to the fact the `ResourcePolicyFormComponent` is initialized every time a pagination event is triggered (next/prev page, search or browse).

This is happening because in the [root.component](https://github.com/DSpace/dspace-angular/blob/main/src/app/root/root.component.html) the reouter-outlet is destroyed every time we

[2022-03-02 13:34] artlowel commented on #1544
I agree, hiding the outer-wrapper div (which contains the outlet) will be more efficient than removing it. I don't see how this should affect theme switching, but it's best to do a test with a few different themes on different routes after the change to make sure.

[2022-03-02 14:49] tdonohue commented on #1544
This appears to be a duplicate of #1516 , which was reported a few weeks back.

Nonetheless, I'd love to see this fixed ASAP.  So, if someone wants to claim this, please let me know & provide an estimate.

[2022-03-02 18:00] atarix83 commented on #1544
@tdonohue

we can work on this, the fix could be easy to apply but we need to try if it has impact on the theming so I'd give an estimation from 2 hours to 6 hours in case the fix has unexpected side effects

[2022-03-02 21:10] tdonohue commented on #1544
Sounds good, @atarix83 . Assigning to you. Will add the middle estimate of **4 hrs** to this ticket, but I know it may be a few hours over if there's side effects.

[2022-03-02 21:11] tdonohue commented on #1516
Closing, as this was duplicated into  #1544, and that other ticket has already been assigned/estimated.  So, #1544 replaces this ticket.

[2022-03-02 21:11] #1516 closed

[2022-03-02 23:08] #1532 closed

[2022-03-03 21:28] #1523 closed

[2022-03-07 15:29] paulo-graca opened #1548 "Probably a caching issue for impersonate feature on an admin user"
**Describe the bug**
After a user was created, as an admin I've assign him the admin profile and went to see the user profile.
![2022-03-07 15_09_45-DSpace Angular __ EPeople](https://user-images.githubusercontent.com/877488/157063265-f44cba6b-d126-44ad-8d02-a779ad0c3e6c.png)

Then I assign him the admin group
![2022-03-07 15_10_15-DSpace Angular __ Edit Group](https://user-images.githubuserconten

[2022-03-10 16:08] #1522 closed

[2022-03-10 17:02] #1136 closed

[2022-03-10 20:52] #1520 closed

[2022-03-11 10:31] atarix83 opened #1551 "Improve usability of TruncatableComponet"
**Is your feature request related to a problem? Please describe.**
Currently the `TruncatableComponent` has the aim of truncate long text and make it extendible/collapsible. We have received several feedback that detect it not so user friendly. Indeed the user needs to click on the text to extend/collapse itself and it is resulted not perfectly understandable.

**Describe the solution you'd like**

[2022-03-11 10:34] atarix83 commented on #1551
@tdonohue

I'd add this topic as to discuss on the next community meeting, Do you agree?

[2022-03-11 15:10] tdonohue commented on #1551
@atarix83 : Sure, I'll add this to next week's meeting.  I do agree that it may need usability improvements. We also should keep in mind that it was noted as having accessibility issues as well, see #1164

[2022-03-14 10:19] atarix83 opened #1554 "App is not running in dev mode"
**Describe the bug**
The main branch can't be run in dev mode (yarn start:dev). A blank page is returned with this error :

![Schermata da 2022-03-14 10-26-20](https://user-images.githubusercontent.com/2486489/158152371-46723eec-de47-4611-b37f-fb097e34fd99.png)

**To Reproduce**
Steps to reproduce the behavior:
1. run with yarn start:dev
2. go to http://localhost:4000/home
3. you should get a blan

[2022-03-14 13:57] tdonohue commented on #1528
For the record, this issue was fixed by these two commits (in a larger PR):
* https://github.com/DSpace/dspace-angular/commit/fba1dfb689b18263b5c7ef9e92f301f6d2e2b528
* https://github.com/DSpace/dspace-angular/commit/2830da955739b61c91c15f587051b0d75f4e5464

[2022-03-14 13:59] #1554 closed

[2022-03-14 18:44] abollini opened #1557 "UX: delete a workflow group causes an error without enough information"
**Describe the bug**
If you try to remove  workflow group that is associated with some workflow tasks the backend raise a 422 error but the UI will just report a generic error

**To Reproduce**
Steps to reproduce the behavior:
1. create a collection
2. assign an editor role to the collection setting an user as member of the created group
3. deposit an item in such collection
4. try to remove the e

[2022-03-14 18:48] abollini commented on #1557
would be appropriate to assume that the 422 status is only returned in such scenario as by the current code? if so, we can easily fix that just in the message otherwise this would required a major redesign of the error message on the rest side to include more details

[2022-03-16 16:29] tesema opened #1559 "Dspace 7.2 Active directory ldap Integration manual request-"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives or workarounds you've considered**
A clear and concise description of any alternative solutions or features you've co

[2022-03-17 13:17] artlowel opened #1560 "Fix circular dependencies in the codebase"
**Describe the bug**
While working on a customization to dspace-angular, we came across the error

This turned out to be an instance of the issue described in https://github.com/webpack/webpack/issues/9173, and it was caused by circular dependencies in the community codebase. It seems that the majority of circular dependencies go unreported by the built-in angular check.

If you run:

[code]

in t

[2022-03-17 13:23] tdonohue commented on #1560
@artlowel : This sounds reasonable to me.   I'll add the estimate and assign back to you for your team to work on.

I agree that we should also include a `madge` check in order to verify that new PRs aren't causing the same issue.  Perhaps it could be done right after the linting in our CI process, right about here: https://github.com/DSpace/dspace-angular/blob/main/.github/workflows/build.yml#L73

[2022-03-17 13:32] atarix83 commented on #1551
this is just another option where the toggle has a different style

![image-20220316-052430](https://user-images.githubusercontent.com/2486489/158819303-d086db2b-72dd-40dc-8a74-967584cc1f4b.png)

[2022-03-17 17:10] SrinivasRao17 opened #1563 "Delete button Not Working"
Hello Team,

We have installed DSpace 7.1 version and we are not able to delete items. When we click on Delete its not working, wherein we are able to Withdraw the Item. Need your suggestion how can we activate or solve this Delete issue in 7.1 version.

Please help us to resolve this issue.

Thanks & Regards,
Srinivas Rao

[2022-03-17 17:32] artlowel commented on #1563
This issue was reported before: https://github.com/DSpace/dspace-angular/issues/1481 and https://github.com/DSpace/dspace-angular/issues/1501

It was fixed in version 7.2.

If you need to fix it in 7.1 you can try to cherrypick the commits in the PR that fixed it: https://github.com/DSpace/dspace-angular/pull/1503/commits

[2022-03-17 17:32] #1563 closed

[2022-03-17 18:04] SrinivasRao17 commented on #1563
@artlowel Thanks for the update and links. I will try to fix delete option with the provided link. Thanks!!

[2022-03-18 09:18] SrinivasRao17 opened #1565 "Indent in the Abstract and Definition"
Dear Team,

When we import glossary terms into DSpace 7.1 version we are getting Indent in the Abstract and Definition. Please let me know what could be the possibilities chances to clear those spaces before Abstract and Definition. Thanks!!

Regards,
Srinivas Rao

[2022-03-18 12:40] pilasou commented on #1080
Hi, providing a standard licence can be an avenue but I would tend to prefer one that would take the form of a template. One can be found on GDPR website (https://gdpr.eu/privacy-notice/). It is providing a good starting point to replace the lorem ipsum text. Maybe the stanrdard licence can come later? What do you think?

[2022-03-18 12:54] pilasou opened #1566 "Displaying item access status in search results in DSpace 7"
In DSpace 7, a user can only know if an item is open access or not by opening the item record.

User must be able to know quickly in the UI if the main file of an item is Open Access or not. One first step would be to display the access status on search results.

The item metadata dc.date available cannot be rely upon to determine access status as it is not consistently used by DSpace to display t

[2022-03-19 06:50] tesema commented on #1036
I am a problem with DSpace backend install directory problem and confusion. How could I install dspace bankend in the same installation.

[2022-03-21 12:59] muhep06 opened #1569 "Stuck on loading screen"
Sometimes when I create a new item or just change the page I get stuck on the loading screen. I don't see any error output in developer console or logs. So I don't know exactly what the problem is. But there is such an error and it affects the usage.
![image](https://user-images.githubusercontent.com/6313999/159265028-cbf50543-bae0-45e1-a61c-b48ea44b99c0.png)

Here it is stuck on the loading scree

[2022-03-21 13:49] tdonohue commented on #1565
Closing, as not enough information is provided to reproduce the issue.  The issue doesn't appear to be reproducible on our demo site (at least I'm not seeing obvious indentations on abstracts, e.g. https://demo7.dspace.org/entities/publication/12623672-25a9-4df2-ab36-699c4c240c7e)

Therefore I suspect this is either a local data issue or a configuration issue, as it doesn't appear to be a bug.  If

[2022-03-21 13:49] #1565 closed

[2022-03-21 13:56] tdonohue commented on #1569
@muhep06 : I'd recommend moving this over to one of our Support options documented at https://wiki.lyrasis.org/display/DSPACE/Support   This doesn't sound like a bug, as it sounds like something is erroring out on the backend, or there is a configuration issue between the frontend & backend -- that last screenshot shows the backend is throwing a 401 exception, which is saying you are not authentic

[2022-03-21 13:56] #1569 closed

[2022-03-21 14:00] SrinivasRao17 commented on #1565
![Abstract](https://user-images.githubusercontent.com/101823122/159276984-d120a632-f112-4fa7-bd01-12d5e1d23492.JPG)

I have uploaded a screenshot of the issue. You can see before description there is an space in start. Please let me know if you required any further information.

[2022-03-21 14:02] tdonohue commented on #1565
@SrinivasRao17 : I cannot reproduce that on our demo site (demo7.dspace.org).  So, it seems like there's something different in your setup?  That's why I closed this as not being a bug in DSpace...we need to be able to reproduce the issue in a different DSpace site, and currently I've not been able to figure out a way to do so.

[2022-03-21 14:05] SrinivasRao17 commented on #1565
![Abstract 1](https://user-images.githubusercontent.com/101823122/159277873-c18a428e-93d2-4df8-895a-9e5c44cb0696.JPG)
before start of abstract "description" there is an space generated in our DSpace 7.1 version

[2022-03-21 14:38] tdonohue commented on #1565
@SrinivasRao17 : Again, we are not able to reproduce this on our demo site (which is running DSpace 7.2), so maybe it's something that was fixed in 7.2?  Or maybe you've customized your DSpace in some way...perhaps even a CSS style customization... which is causing this to appear on your site?

Since we cannot reproduce the issue, it's not something that can be fixed on our end. You may need to ei

[2022-03-21 16:07] SrinivasRao17 opened #1571 "Twice "dspace.entity.type" has been created"
**After Importing Glossary into DSpace we see multiple dspace.entity.type created in the DSpace 7.1 when we check in "Full Item Page"

One dspace.entity.type will be blank
second dspace.entity.type will be filled with Metric

Please help us out with this issue. Thanks!!**

A clear and concise description of what the bug is. Include the version(s) of DSpace where you've seen this problem & what *we

[2022-03-21 16:38] tdonohue commented on #1571
Ah, here's the issue I was thinking about: #1481 ... that issue was related to finding empty `dspace.entity.type` values in 7.1.  It was fixed in 7.2.  It's possible this issue is a duplicate of that one.  If so, then upgrading to 7.2 will fix the problem you are seeing.

[2022-03-21 20:13] tdonohue commented on #1566
@nibou230 : My immediate response is that you may hit major performance problems if you attempted to do most of the "logic" (behind these badges) in the Angular UI codebase.  I'd worry that, at best, you'd need to make several additional queries to the REST API _per Item_....which could be _very slow_ on any search/browse page that is displaying more than 10 items at once. (While the default is 10

[2022-03-22 14:00] pilasou commented on #1566
@tdonohue Thanks! Our goal is, as a starting point, to display the access status only for the anonymus group. This is the basis of the contribution we want to make. We want to implement it as a configuration in DSpace (people can easily switch on/off). We see some similarities with the Request Copy feature in Dspace (are we mistaken?) Let's discuss all this on Thurday then! :)

[2022-03-23 08:46] artlowel commented on #1510
Atmire would like to claim this. It will take an estimated **2 hours**

[2022-03-23 10:36] davide-negretti opened #1575 "Facet filters don't work if search field is used"
**WORKING**

Select a value from the facet, e.g. "HUMANITIES and RELIGION" from the Subject facet. The application will open this page, containing the search results:
[https://demo7.dspace.org/search?spc.page=1&f.subject=HUMANITIES%20and%20RELIGION,equals](https://demo7.dspace.org/search?spc.page=1&f.subject=HUMANITIES%20and%20RELIGION,equals)

**NOT WORKING**

Search a value in the search field o

[2022-03-23 14:19] tdonohue commented on #1510
@artlowel: sounds good! Will assign to you, so that you or your team can work on it.

[2022-03-23 16:16] mhvezina opened #1576 "Names and values of text variables seem to differ"
I came across this while revising the French translation. Not sure about this but, is there a mismatch between the name and value of the following variables ? :

https://github.com/DSpace/dspace-angular/blob/59104c4fbe1d3ea63c1ea52af5477654f3c98b9e/src/assets/i18n/en.json5#L3286

  "search.filters.filter.**entity**Type.head": "Item Type",
  "search.filters.filter.**entity**Type.placeholder": "Item

[2022-03-23 17:33] tdonohue commented on #1576
@mhvezina : It might actually be that these i18n keys are duplicative.  Both "Entity Type" and "Item Type" are two words for the same idea.  All Entities are "typed" Items.  So, Entities all have a Type, which can be referred to as either it's "Entity Type" or "Item Type".

It's possible that one of these keys isn't being used and should be removed.  If not, we'd have to look closer at how these a

[2022-03-24 19:47] tdonohue opened #1578 ""Primary Bitstream" toggle on Edit Bitstream page doesn't work"
**Describe the bug**
The "Primary Bitstream" toggle on the Edit Bitstream page doesn't work, even though a success message is returned to the user.

![primary](https://user-images.githubusercontent.com/483997/159997099-58bce0ee-214d-47ca-986a-50ad35ca29c7.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Edit an Item with multiple bitstreams
2. On the "Bitstreams" tab, edit one bitstream

[2022-03-25 15:00] tdonohue opened #1579 "Restricted Thumbnails don't load for any users"
(Discovered during the review of #1556, but it's not specific to Withdrawn Item thumbnails)

**Describe the bug**
When a Thumbnail image has any sort of access restrictions, it is unable to display _even to EPersons who have those access rights_.  As a basic example, if you modify a Thumbnail image bitstream to have an Administrator READ policy (without an Anonymous READ policy), then that Thumbna

[2022-03-25 15:03] #346 closed

[2022-03-25 18:58] mhvezina commented on #1576
Thank you @tdonohue. So I will only use "Type" for translation, avoiding, for now at least, to specify if it is an entity or an item. I think the context will help to understand. https://github.com/DSpace/dspace-angular/blob/75bdf3de79ce0d8f0622b6c6ca5a7617bdf013ae/src/assets/i18n/fr.json5#L4615

[2022-03-25 18:58] #1576 closed, assigned to nobody

[2022-03-25 19:15] #1361 closed

[2022-03-28 14:05] pnbecker commented on #1080
@pilasou we have a budget to contract a lawyer to right one for DSpace. Unfortunately every state has it's own law and the GDPR just defines a minimum that every state has to guarantee. The lawyer will write it following German law which is one of the most strict data protection laws within the EU and probably worldwide.
Why isn't it there yet? I do miss the time to gather all the information the

[2022-03-30 16:13] abollini opened #1583 "Item authorization page is not usable by normal users"
**Describe the bug**
The item authorization page show a long list of authorization tables related all the objects inside an item. The only information about the contained object are
- his type (Bundle/Bitstream)
- his uuid
The name of the object is absolutely required but missing here.

If the items contains tons of bitstreams only the first 20 bitstreams for each bundle are included without pagin

[2022-03-30 16:19] abollini opened #1584 "Bitstream edit page is broken if no policies are set"
**Describe the bug**
If you remove all the policies of a bitstream the edit bitstream page is broken and you cannot add back any policies or edit bitstream metadata.
The bitstream edit authorization page should be improved to include the breadcrumbs as the other pages and the name of the bitstream that you are editing

**To Reproduce**
Steps to reproduce the behavior:
1. remove all the policies as

[2022-03-30 17:26] abollini opened #1585 "Edit of resource policy set some fields as readonly without a business reason"
**Describe the bug**
In the edit resource policy screen the resource policy type, Action and eperson/Group fields are set in readonly mode.
This was due to lack of support on the rest side but from an user perspective it makes no sense.
Moreover, if you want to edit an INHERITED policy it would be more correct to switch the policy to a TYPE_CUSTOM as this would be the result of the same operation

[2022-03-30 17:27] #1510 closed

[2022-03-31 12:34] nibou230 commented on #1566
@abollini Thanks! I'm happy you took the time to write this message.

It gives many hints at how we can implement this now and in the future for improvements. We will take the time to analyze all those possibilities considering the time we have left on the project.

This will help us a lot going forward!

[2022-03-31 15:14] tdonohue commented on #1584
Definitely seems like a high priority bug. Thanks for reporting. Pulling over to 7.3

[2022-03-31 15:15] tdonohue commented on #1583
Agreed, this sounds like a major usability issue. Pulling onto the 7.3 board.

[2022-04-04 09:30] artlowel opened #1586 "Menu options can't contain parameters"
**Describe the bug**
It's currently impossible to add parameters to a link in the menu. The reason is that the link is put into [the `routerLink` input of an `<a>` tag](https://github.com/DSpace/dspace-angular/blob/714ea5d8f9d526e90bcfa650a81475e6bd6e90f5/src/app/shared/menu/menu-item/link-menu-item.component.html#L5), and that doesn't allow parameters directly. They will be escaped and considered

[2022-04-04 14:12] tdonohue commented on #1586
@artlowel : This seems reasonable to me. I'll add the estimate & assign back to you for your team to work on for 7.3

[2022-04-04 15:07] #369 closed

[2022-04-07 14:03] artlowel commented on #1557
Showing a more specific error in case rest returns a 422 can be done in **2 hours**
We'd like to claim this task

[2022-04-07 14:05] artlowel commented on #1430
This can be done in **1 hour**
We'd like to claim this ticket

[2022-04-07 14:15] artlowel commented on #1380
I'd make the list of bundle names that are shown by default configurable in the angular config

This can be done in an estimated **3 hours**
We'd like to claim this issue

[2022-04-07 15:08] tdonohue commented on #1578
As discussed in today's meeting, it appears we don't yet have a REST API endpoint to support Primary Bitstreams.  So, that would need to come first.  We discussed it may be necessary in two places:
* Submission Side (selecting primary bitstream during submission), perhaps as part of the Upload endpoints: https://github.com/DSpace/RestContract/blob/main/submissionuploads.md
* Bundle Side (updating/

[2022-04-07 19:50] tdonohue commented on #1380
@artlowel : That seems reasonable.

I admit, a part of me wonders if this should eventually be a backend configuration/setting. But it appears Bundle Name is "uncontrolled" on the backend right now, as it's just a `dc.title` value.  So, making it a frontend configuration seems reasonable for now.  If, in the future, there's ever a way to do a lookup of valid Bundle names from the backend we can al

[2022-04-07 19:51] tdonohue commented on #1430
Thanks @artlowel .  Adding the estimate and assigning to you.

[2022-04-07 19:53] tdonohue commented on #1557
@artlowel : Sounds good. Adding estimate & assigning to you.

[2022-04-07 19:55] tdonohue commented on #1575
Sounds good @artlowel .  Adding estimate & assigning to you.

[2022-04-08 09:06] davide-negretti opened #1588 "Scope selector is missing from search box"
**Describe the bug**

Scope selector is missing from search box. `showScopeSelector` flag has been set to `false` by default.

![image](https://user-images.githubusercontent.com/87638927/162403154-f39c7da7-538b-427a-b930-da8fce48c4ce.png)

**Expected behavior**

`showScopeSelector` flag should be set to `true` by default. It would be useful to make this configurable through the Angular configurati

[2022-04-08 09:07] davide-negretti commented on #1588
We'd like to take this task. Estimated effort is 2-4 hours.

[2022-04-08 12:05] SrinivasRao17 opened #1589 "Enabling "Relationship" tab in Edit Item"
Dear All,

Could you please help me out how do we enable Relationship tab in Edit Item. When i try to access relationship tab it gives an  message "Add 'dspace.entity.type' metadata to enable relationships for this item". Please find the attached screenshot for your reference. Thanks!!

Unable to upload screenshot

[2022-04-08 12:41] #1571 closed

[2022-04-08 12:41] SrinivasRao17 commented on #1571
Thanks for the update. As mentioned above we will try to upgrade our DSpace

[2022-04-08 13:55] tdonohue commented on #1589
@SrinivasRao17 : If you have simple usage questions, please ask them using one of our Support options listed at https://wiki.lyrasis.org/display/DSPACE/Support

This GitHub ticketing system is only for suspected bugs or submitting feature/improvement requests.  Since this is a question I'm closing it. Please use our mailing lists or similar (see that Support page).  Thanks.

(As a sidenote, I'm pr

[2022-04-08 13:55] #1589 closed

[2022-04-08 13:58] tdonohue commented on #1588
I see that behavior on demo7.dspace.org as well.  It appears this scope selector has disappeared / isn't loading, e.g. https://demo7.dspace.org/search?query=test

@davide-negretti : I'll add this to the 7.3 board, add the estimate & assign to you for you or your team to fix it.

[2022-04-08 17:22] tdonohue opened #1590 "Update to ng-dynamic-forms v15 and rxjs v7"
**Description**

Discovered in #1567.  There's a newer version of `ng-dynamic-forms` available to support Angular 13.  However, it requires also upgrading to rxjs v7.

@ybnd [analyzed the effort here and noted](https://github.com/DSpace/dspace-angular/pull/1567#issuecomment-1093048741):
  * Upgrading _only_ `rxjs` to v7 results in ~200 test failures, a good number of which fail due pretty uninform

[2022-04-08 18:02] pilasou opened #1591 "Display additionnal metadata in DSpace 7 MyDSpace Workflow tasks list"
By default, DSpace displays for each record in MyDSpace Workflow tasks list limited descriptive metadata: title, date, author and abstracts.

The objective is to offer flexibility to repository managers to choose and display additionnal metadata in MyDSpace Workflow tasks dashboard being it another descriptive metadata or a costum administrative metadata (ex. notes to describe a problem with the d

[2022-04-08 18:03] pilasou commented on #1591
@tdonohue This is a feature we are interested to work on. Any advice is welcome :)

[2022-04-11 14:45] tdonohue commented on #1591
@pilasou : I'm not sure I understand the feature as described.

Obviously, it is already possible to change the metadata that is displayed by modifying the component HTML which displays these Workflow Items (but that would require some basic programming skills).  However, making it configurable & allowing notes to be added to Workflow Items all sounds like it could be very complex.  It's also curr

[2022-04-11 15:17] pilasou commented on #1591
Hi @tdonohue We would like to have the ability to add specific item metadatas, either public metadata (for example adding the journal name for article ; we use dcterms.bibliographicCitation for it) or an administrative metadata (define in metadata.hide.* ; for example we use a specific metadata elements to describe a problems with the item). Does it clarify a bit what we would like to achieve?
Whe

[2022-04-11 15:34] abollini commented on #783
@tdonohue we are interested in that. We can work on it after / in parallel with the other higher priority tickets already claimed

[2022-04-11 15:49] tdonohue commented on #1511
Bumping up priority to *medium* as a slightly clearer use case may exist (based on this [dspace-tech thread](https://groups.google.com/g/dspace-tech/c/OyFlPHHVOTM/m/YCdDv7amAQAJ)).  One use case is relating an OrgUnit to another OrgUnit (which would be necessary to create an OrgUnit hierarchy).

[2022-04-11 17:25] tdonohue opened #1594 "Separate Build step from Deployment to avoid downtime during rebuild"
**Is your feature request related to a problem? Please describe.**
Based on [this dspace-tech question](https://groups.google.com/g/dspace-tech/c/lyKYM19kJ1Y).

Currently we don't do a great job of separating the `dspace-angular` build step from the deployment step.  In other words, when using our default [UI installation instructions](https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace#Ins

[2022-04-11 17:25] tdonohue commented on #1594
@artlowel and @atarix83 : I'd appreciate your thoughts on this.  I'm not sure of the best approach here, or maybe I'm overlooking a way to achieve this more easily.

[2022-04-11 18:31] mwoodiupui commented on #1594
"Copy the `./dist` folder" is what I've always done.

[2022-04-11 19:59] tdonohue commented on #1594
@mwoodiupui and I worked out an alternative approach here, where the `dist` folder can be copied to a different location, so that it is not touched during the next rebuild.  But, there are two rules to keep in mind with this approach:
* The `dist` folder MUST NOT BE RENAMED.  We have runtime code that expects this folder to be named `dist`, and if you rename it to something like `deploy`, then the

[2022-04-11 20:07] tdonohue commented on #1594
Alternative found by @wwelling .  If we wanted to *keep* using the `dist` folder both for build & deployment, we could use an approach like described in this blog post: https://alexdevmotion.medium.com/implementing-angulars-missing-delete-output-path-after-build-option-468f83add157   It's a non-standard approach using a temp directory, but it seems like it'd work.

[2022-04-11 20:07] mwoodiupui commented on #1594
The destination tree must be writable by the user that will run `node`.  dspace-angular wants to write a combined configuration file to `dist/browser/assets/config.json`.  (We should fix that someday.)

[2022-04-11 23:22] tlloydthwaites opened #1595 "Search not honouring URL parameters"
**Describe the bug**
If I follow a link to a preconfigured search result, it does not honour the search parameter, but always changes it to score.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://repository.divinity.edu.au/search?f.staff=f568f24a-dca1-46e1-80ef-74ab2647ca63,equals&spc.sf=dc.date.issued&spc.sd=DESC&spc.page=1
2. You will see it has changes spc.sf from dc.date.iss

[2022-04-12 14:44] tdonohue commented on #1594
After more thought, I've realized this ticket might just be a **Documentation Issue**.  Our existing [UI Installation Docs](https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace#InstallingDSpace-FrontendInstallation) are slightly backwards now that we've fixed #1410 and #1422.  By reordering a few of the steps we can simplify things.

Now that `dist` contains everything, and we have runtime c

[2022-04-12 15:57] pnbecker commented on #1566
Thanks to @tdonohue to make me aware of this issue here.

In DSpace 6 there was a feature that allowed to add visual indicators of different kinds to browse and search results. I know that it was used to mark items as Open Access depending on metadata like dc.rights or dc.rights.uri. As far as I know this is not ported to DSpace 7 yet. I just created an issue to discuess whether we want to port or

[2022-04-12 16:11] pnbecker commented on #1566
I don't know that JSPUI feature very well, but seeing class names like `org.dspace.app.itemmarking.ItemMarkingCollectionStrategy` and `org.dspace.app.itemmarking.ItemMarkingAvailabilityBitstreamStrategy` and taking a look on [item-markin.xml](https://github.com/DSpace/DSpace/blob/main/dspace/config/spring/api/item-marking.xml) suggest that it is easy to extend the ideas about what you want to use

[2022-04-12 18:54] mwoodiupui commented on #1594
This sounds like the right approach.  (Of course I think so:  that is essentially what I have been doing all along.)

And yes, the code in `dist` should not know or care how the deployment directory is named, if we can make that happen.

[2022-04-12 19:28] nibou230 commented on #1566
@pnbecker Yes, I looked at the old code and this could be nice to port this feature in DSpace 7 in the future by converting all the badges to something more generic. Sadly, as you may know, I don't have much time and I won't be able to do and include this work in my future pull request. Maybe it could be discussed furthermore in the new issue.

[2022-04-12 21:48] tdonohue commented on #1594
Per [my last comment](https://github.com/DSpace/dspace-angular/issues/1594#issuecomment-1096823388), I just did a major refactor of the Frontend Installation docs to recommend creating a separate deployment directory.  Reviews / improvements welcome!

https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace#InstallingDSpace-FrontendInstallation

[2022-04-13 10:09] davide-negretti opened #1596 "Import locale data for all languages"
**Describe the bug**

The pipe `number` allows to format a number according to the default `en-US` locale.

`const myNumber = 12345678.9`
`{{ myNumber }}` renders as _12345678.9_
`{{ myNumber | number }}` renders as _12,345,678.9_ with default `en-US` locale

Other locales use different decimal and thousand separators.
`{{ myNumber | number : '' : 'it-IT' }}` should renders as _12.345.678,9_

Angu

[2022-04-13 10:10] davide-negretti commented on #1596
We'd like to handle this issue. Estimated effort is <4 hrs

[2022-04-14 13:01] pilasou commented on #1591
Hi @tdonohue in your first comment on this feature, you seems to think that it could be very complex. Can you tell us why ? We just fear we may be missing, because we were not concidering this feature would be this difficult to code.

[2022-04-14 14:16] pilasou commented on #1591
@tdonohue We are not looking to offer this config through Angular UI, it will be more in config files. Simply put, adding a parameter in the configuration files (yaml) to specify which metadata should be added. @nibou230 and me will be discussing  how to implement this feature in the next few weeks. We will then be able to provide more infomation on how we plan to approach this ticket.

[2022-04-14 18:37] tdonohue commented on #1594
I'm going to close this ticket as "fixed" as the Documentation changes to our Installation Guide fix the main issue here.  In the new installation instructions, the Build step is now separate from Deployment: https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace#InstallingDSpace-FrontendInstallation

[2022-04-14 18:37] #1594 closed

[2022-04-18 14:37] PabloDeAlbu opened #1602 "Insufficient collection information when submitting an article"
**Describe the bug**

Sometimes the collections returned by the collection browser cannot be differentiated because their name is exactly the same as another collection, as well as the name of their parents community.

For example, supose you have two communites named "Institution A" and "Institution B", and they have two subcommunities named "Reports" that have a collection called "Research repor