[2020-12-10 12:37] abollini commented on #787
for some unknown reasons github refuse to post this comment that was agreed in the last dev mtg  in the last 7 days, at the end it seems to be related to some content that broken the rendering... that said, I try to add it again rephrasing a bit :)

the updated estimation for this task is **72 hours** (that has been already spent up to the 3 Dec **plus probably a couple of other days**  that would

[2020-12-10 12:58] artlowel commented on #943
This is harder than it appears at first sight. There is no direct link between the list of selected items (which is used for both the list in the selected tab, and to determine if something is selected in any of the other tabs)  and the succeeding of the creation of the relationship because otherwise if you select something it would immediately be deselected until the rest response returns, which

[2020-12-10 13:23] atarix83 commented on #847
I can confirm it works also on agular side, for example the following configuration works
[code]
![Schermata da 2020-12-10 14-14-56](https://user-images.githubusercontent.com/2486489/101777719-2e1c4280-3af3-11eb-810e-de61a99e0437.png)

[2020-12-10 14:46] tdonohue commented on #943
Thanks @benbosman and @artlowel !  That all sounds reasonable.

I'm going to keep this as one ticket for now, as it's primarily Angular work -- and we'll combine the estimates together.  So, this estimate is **23hours** (3 hrs REST, 20 hrs Angular).  Also assigning this to @artlowel as @lieven-atmire privately volunteered you both for this work.

[2020-12-10 16:21] tdonohue opened #971 "In Item Submission, the template row in repeatable fields is problematic."
**Describe the bug**
(Copied directly from the detailed description in #960, as this issue was discovered in the work in #960)

From @alemarte:

**PR #960 works around several of these problems, namely  (2) and (3) -- see that PR for more details**

Also from @alemarte:

[2020-12-10 17:48] atarix83 commented on #971
As said by @alemarte the main reason of the reported issue is that when we have repeatable fields the form state is not reflected by the angular `FormGroup` because of the first field that is considered only a template. This required code to make the form work properly, but that unfortunately doesn't cover all the problems and the solution would be a series of workaround without having the confide

[2020-12-10 22:13] #936 closed

[2020-12-10 22:39] #368 closed

[2020-12-10 22:39] #915 closed

[2020-12-10 22:44] #966 closed

[2020-12-11 16:02] #848 closed

[2020-12-11 19:56] #964 closed

[2020-12-15 12:06] artlowel commented on #971
Thanks for the write up @atarix83!

I have a few questions:
- For either of these solutions: would we keep the feature where you can enter a value in the field and press the lookup button to use it as a query, and not a metadata value or would that no longer be possible?
- for the "moving lookup entities to a new model" solution, would that mean that we can still have the lookup button next to any

[2020-12-15 12:17] artlowel commented on #971
- For the solution where we remove the template row: would it mean that we'd again have hints and errors for each repeated value in a repeatable field, or is there a way to render those only once?

[2020-12-15 14:09] atarix83 commented on #971
If is something that is used by the entity lookup field this functionality could be kept when moving it to a new form model.

the idea is that every field configured as `relation-field`
[code]
will use the new form model. This new model will provide to render any field passed as `input-type` with the lookup button next to it (as it is now). The most important difference is that the new model can b

[2020-12-17 11:21] artlowel opened #974 "The Edit Collection - Item Mapper page has disappeared"
**Describe the bug**
In https://github.com/DSpace/dspace-angular/pull/348, a page was added to edit the mapped items in a collection. Now I can no longer see any links to it in the UI, and if you go to the route directly you get a 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Authenticate as an admin
2. Go to the edit/mapper route of a collection
3. Verify that you get a 404

**Expect

[2020-12-17 14:45] abollini commented on #924
@tdonohue  I like the idea to limit auth cookie send to the backend single use only, nevertheless I don't see how this can help in the scenario of multiple tab described by this issue. If the user right click and open the link in a new tab (or new window) no cookie will be present here. Moreover, I guess that @MarisArins also noted a very important use case here https://github.com/DSpace/dspace-an

[2020-12-17 14:54] abollini commented on #847
BTW I have just checked that Zenodo and Dataverse both follow the approach "onebox" using an hint to suggest to write Family name, given names or organisation, see the screens below
**Zenodo:**
![zenodo](https://user-images.githubusercontent.com/1537527/102503322-e449d400-407f-11eb-8a9b-d58a31dbaaf5.png)

**Dataverse:**
![dataverse](https://user-images.githubusercontent.com/1537527/102503330-e4e26

[2020-12-17 15:03] artlowel commented on #974
The issue seems to be that the links to retrieve and store mapped items have been renamed on the rest side, and were never updated on the angular side.

It also seems that there never was a link for the item mapper on the edit collection page. So I propose we simply add it as a tab.

That should take an estimate **3h**

[2020-12-17 16:07] #626 closed

[2020-12-17 16:07] #739 closed

[2020-12-17 16:07] #963 closed

[2020-12-17 16:12] tdonohue commented on #847
@abollini : thanks for adding those screenshots. Those help prove that the approach of a single author textbox (with validation obviously) is a reasonable solution to this problem.

[2020-12-17 16:21] tdonohue commented on #971
As discussed in today's meeting, we want to go with the 2-3 day estimate.  So, I'm going to add `24hrs` as the estimate for this work.

More specifically, this is the solution we discussed:
* Generally, use @atarix83 's proposed 2-3 day estimate [approach](https://github.com/DSpace/dspace-angular/issues/971#issuecomment-742683658)
* The "+" button should only appear **once** for repeatable fields.

[2020-12-17 19:01] tdonohue commented on #974
Thanks for noticing this & giving it an estimate, @artlowel .  I'll move this over into Beta 5 as it seems the task is not yet complete.  If you'd like to claim it for your team, let me know.

[2020-12-21 14:29] artlowel opened #976 "The page title and breadcrumb trail are not set consistently."
**Describe the bug**
Not all pages set a page title or breadcrumb trail, which causes them to retain the title and trail of the previous page. The names are also inconsistent e.g. for the home page it's "DSpace Angular :: Home" for the Community list it's "DSpace - Community List" etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [community list page](https://dspace7-demo.atmire

[2021-01-04 16:25] #835 closed

[2021-01-04 17:03] #947 closed

[2021-01-05 17:53] AndrewZWood commented on #680
I have a PR for this issue here: https://github.com/DSpace/dspace-angular/pull/979

[2021-01-05 19:44] tdonohue commented on #680
@AndrewZWood : Please link together the PR with this issue ticket by using one of GitHub's keywords (e.g. Saying `Fixes #980` in the PR description will link them). See docs at https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue

(I wanted to call this out as I sometimes have to do this for developers who forget to use these keywor

[2021-01-05 20:26] AndrewZWood commented on #680
@tdonohue Done and I will do such in the future. Thank you for pointing that out to me.

[2021-01-07 12:12] jonas-atmire opened #980 "Add support for templated HAL links"
**Describe the bug**
https://docs.spring.io/spring-hateoas/docs/current/reference/html/#fundamentals.uri-templates
The REST will return an URL containing a templated parameter, like `{?query} `and an additional `templated: true` attribute in the link so that the client can understand that an additional parameter is expected and can be used to build the final link.

For example, at the moment, the

[2021-01-07 14:52] benbosman commented on #924
I've been thinking about this thread for a while, also based on our last meeting where we were looking for alternative solutions which avoid proxying the files since that would be big disadvantage.

A solution which should be simple and solve the issue can be:
* An item page (e.g. https://dspace7-demo.atmire.com/items/42c216ca-6e08-40de-86b9-7f8c33591646) would not link to the content in REST (e.g

[2021-01-07 15:31] dsipos-dev opened #981 "Search page result number bug"
**Describe the bug**
When Paginating on search results there is a bug with the number of result i get.
The result page sad "Now showing 111 - 120 of 890" so 10 item, but there are only 8 result item
![image](https://user-images.githubusercontent.com/71388767/103910404-12618780-5105-11eb-9dbc-a1f68a35a028.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Open : https://dspace7-demo.atmire.

[2021-01-07 17:55] tdonohue commented on #927
@benbosman , @artlowel and @abollini :  Just stumbled on this old JIRA ticket which seems to align with some of what @benbosman and @artlowel were noting in today's meeting: https://jira.lyrasis.org/browse/DS-4505    It sounds like we discovered this earlier and forgot about it...so, the suggested approach of looking towards indexing this information in Solr might be necessary.  I just wanted to l

[2021-01-07 21:21] tdonohue commented on #370
Closing, as this appears to be fixed now on the latest demo site.  Not sure exactly where it was fixed, but you can now page *backwards* after using "Starts With" on Browse by Title.  See https://dspace7-demo.atmire.com/browse/title?startsWith=T

[2021-01-07 21:21] #370 closed

[2021-01-07 21:24] tdonohue commented on #250
This has been fixed, see https://jira.duraspace.org/browse/DS-3898 for details

[2021-01-07 21:24] #250 closed

[2021-01-07 21:41] tdonohue commented on #981
@dsipos-dev : I noticed that if we look at that *same* result set using the list view (instead of the grid), it appears like there are "empty" (possibly untitled?) results on that page (notice there's a `collection` label at the end with no title under it): https://dspace7-demo.atmire.com/search?page=12&view=listElement&pageId=search-page-configuration&pageSize=10&sortDirection=DESC&sortField=scor

[2021-01-08 08:50] dsipos-dev commented on #981
I checked the backend call and there is only 8 result, so possible it is a backend issue
https://dspace7.4science.cloud/server/#/server/api/discover/search/objects?sort=score,DESC&page=11&size=10
![image](https://user-images.githubusercontent.com/71388767/103992037-d590a180-5193-11eb-8101-448237b49a05.png)
![image](https://user-images.githubusercontent.com/71388767/103992092-e9d49e80-5193-11eb-8ad

[2021-01-08 10:06] benbosman commented on #927
This is indeed in line with what I would expect here.
I've updated the status of this issue, and will update it with my input next week

[2021-01-08 15:05] cwilper opened #982 "Breadcrumbing not showing on item pages on first page load"
**Describe the bug**
If you visit an item page via URL, so it's the first URL visited for the site, breadcrumbing sometimes does not appear in the page initially. Reloading the page sometimes fixes it.

Example: https://imgur.com/a/4BJ2tEp

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any item page directly in your browser, e.g.: https://dspace7-demo.atmire.com/items/37231e40-801c-47

[2021-01-12 11:49] benbosman commented on #927
@tdonohue I've read through all the details in this ticket, and found 3 parts requiring support in REST. The code for all these parts is quite common.
Could you please read through this to verify whether you agree with the suggestion, I'll make an estimate if you agree with these specs:

### Goal 1:
Check if someone is a community or collection admin without iterating all communities and collectio

[2021-01-12 15:12] tdonohue commented on #927
@benbosman : Yes, those goals sound correct to me.  A few minor notes about the first two goals:

**Goal 1**
The indexing logic needed here seems to already be in `SolrServiceResourceRestrictionPlugin` at: https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/discovery/SolrServiceResourceRestrictionPlugin.java#L105-L122

So, we may not need a separate plugin. It might be e

[2021-01-12 17:36] tdonohue commented on #847
I've created a small PR which provides an example of how we could re-configure this Author field to simply be a `onebox` instead of a `name` field, therefore bypassing the most severe usability issues.  The PR includes an example `<regex>` validation configuration as well, but is commented out by default:
https://github.com/DSpace/DSpace/pull/3115

[2021-01-14 10:23] artlowel commented on #924
To implement this feature in the UI:
- We'll add the page `/bitstreams/:uuid/download`
- When the page loads we'll first GET the bitstream
- if the server returns a 404, we'll redirect to the 404 page
- If the server returns a 401 or 403
	- and the user is not authenticated, they'll be redirected to the login page first, and redirected back after logging in
	- and the user is authenticated, they'l

[2021-01-14 16:03] tdonohue commented on #917
@artlowel mentioned this in today's meeting as possibly related to #979 (specifically @AndrewZWood 's questions in the PR description about the odd TypeError in his console).  After re-reading @artlowel 's [estimate comment](https://github.com/DSpace/dspace-angular/issues/917#issuecomment-718758213), I agree that these sound like they may be related.  So, I've updated this ticket with the **16 hou

[2021-01-15 14:49] tdonohue commented on #924
@artlowel : That sounds reasonable.  I agree that the ideal here is to remove the `rewriteDownloadUrls`... I think we should start with this approach of treating all bitstream downloads the same. We can always have Google Scholar test it out, and improve on it if they find issue with it. (If you feel we may want to bring this up with Google Scholar earlier, that's also an option -- I could ask the

[2021-01-18 04:14] TanyaHolm opened #985 "Submission Form - incomplete section message when mandatory Author field is populated by Lookup rather than manual entry"
I add a new 'Articles' item in demo DSpace.
For mandatory author field I use the 'Lookup' button.
The section shows the "orange" symbol (incomplete section) and I am unable to save the item - but all mandatory fields ARE populated.
However, when I start manually entering an author in the LastName field, the section icon changes to "green" and the item can be saved. When I delete the manually enter

[2021-01-18 04:32] TanyaHolm opened #986 "Submission Form - error message "There was an issue when saving the item, please try again later." appears randomly and item has to be discarded even if there are no errors in form"
The error message "There was an issue when saving the item, please try again later" appears randomly - even when just starting to submit an item (and not having populated any fields yet).
Once this message appears, one has to discard the item, because even when _all_ sections are "green", pressing the 'Save' button or 'Save for later' button or the 'Deposit' button also then gives the message "The

[2021-01-18 04:45] TanyaHolm opened #987 "Submission Form - cannot edit uploaded file because Group field is mandatory and has no input values in drop-down"
I submit a new Article item.
I upload a file.
In the 'Upload Files' section I add a description, choose 'embargo' as access condition type and choose the dates.
However, The Group field is mandatory, but there are no values to choose from in the drop-down - hence I cannot save any of the previously-entered file metadata.

[2021-01-18 04:56] TanyaHolm opened #988 "Submission Form - collapse sections as default"
When you have a long submission form with many sections, it is preferable for the user to see the sections collapsed (i.e. _not_ expanded). This way the user can quickly see how many sections there are and what each section entails. If all the sections are expanded as default, the user has to scroll through a long form.
There is less reason for a user to collapse a section _after_ the user has alr

[2021-01-18 05:04] TanyaHolm opened #989 "Submission Form - error message for mandatory fields missing/incorrect for some input types"
I submit a new Article.
If I do not populate the mandatory 'Title' field, I get message "You must enter a main title for this item" - correct.
If I do not populate the mandatory 'Date of Issue' field, I get message "You must enter at least the year" - correct.
If I do not populate the mandatory 'Author' field, I get either no message or **"error.validation.required"** - incorrect

[2021-01-18 05:08] TanyaHolm opened #990 "Submission Form - Lookup extremely slow"
I submit a new 'Article'
I use the Lookup functionality for mandatory Author field.
The lookup sometimes takes so long to display the name in form, that I think it does not work and attempt to do another Lookup.

[2021-01-18 05:21] TanyaHolm opened #991 "Submission Form - Authority Controlled field linked to drop-down input"
I would like to see the ability of an authority controlled field (e.g. Person) linked to a drop-down field.

An example:
A user would like to do a Lookup of a person, but then also assign a role to that person, e.g. Curator, Illustrator, Data Collector etc. from a drop-down. The expectation is that the role determines the metadata field to which the Person will be added, e.g. there may be custom f

[2021-01-18 09:25] benbosman commented on #927
@tdonohue For **Goal 1** the SolrServiceResourceRestrictionPlugin only indexes READ permissions. It would be possible to use the same Plugin, but the plugins are intended to be light-weight and easy to read and maintain.
Most of the work will also be spent on creating ITs, so the difference in work for creating a separate plugin vs increasing the responsibilities of 1 plugin are negligible.

For *

[2021-01-18 10:48] abollini commented on #787
As anticipated in the dev mtg of the 2021-01-14 the complexity of this task was higher than expected, the final cost on the 4Science side including the latest fix done on the 15th Jan that should "finalize" the contribution is **112 hours**.

[2021-01-19 15:13] tdonohue commented on #927
@benbosman :
For **Goal 1**, it seems a bit silly to me to loop through the same set of ResourcePolices in two separate plugins.  I do realize they are meant to be small, but it's more logical to me to loop through the ResourcePolicies *once*. It also helps with performance slightly to avoid duplicative loops in several plugins...especially since that loop climbs the hierarchy of objects, see http

[2021-01-19 16:01] #787 closed

[2021-01-19 17:24] benbosman commented on #927
Hi @tdonohue We can work with the single loop for both READ and ADMIN permissions
I don't know for sure about the manage group permissions, we don't use the config to disable group editing permissions for collection/community admins. But since you're convinced that should work, I'll assume it should be fine.

Based on this, I'd estimate 6-8 hours of REST work
We have availability left to work on t

[2021-01-19 17:26] tdonohue commented on #787
@artlowel : Could you add your final hours into this ticket (just as a reminder to me that you had paid time on this task as well)?  Thanks!

[2021-01-20 08:12] atarix83 opened #992 "Tests broken after Angular 10 upgrade"
Due to jasmine update it seems that is not possible to create spy on pure function imported from a module or 3rd party package.
There are several tests (currently disabled) that use this approach by adding a spy on a decorator's function. Those need to be redesigned and rewritten. Here the list:

- src/app/+browse-by/+browse-by-switcher/browse-by-switcher.component.spec.ts
- src/app/shared/cookies

[2021-01-20 08:32] atarix83 opened #993 "Check relationship.effects.spec.ts after Angular 10 upgrade"
During Angular 10 upgrade the relationship.effects.spec.ts has been redesign because it used a spy on rxjs's debounceTime operator and due to jasmine update this is not possible. To allow to test with asynchronous operator we replaced the use of spy with the more appropriate [TestScheduler function](https://ngrx.io/guide/effects/testing#with-testscheduler). It works for almost all class's tests, w

[2021-01-20 08:44] artlowel commented on #787
I spent 7 hours in total on this PR

[2021-01-21 19:24] mwoodiupui opened #994 "More and more-configurable logging"
Currently dspace-angular gives very little insight into its operation.  There is very little logging in place and no control over it.

The UI runs in two environments:  the browser and Nodejs.  They have somewhat different requirements.

In both environments:

- The UI should log significant progress in its operations, as well as errors and diagnostic information.  Log records should be classified

[2021-01-21 19:32] mwoodiupui opened #995 "Separate configuration from codebase to make it more responsive"
Configuration of dspace-angular is currently set in stone at build time, which is painfully awkward for development and testing, and not much better in production.  Every little tweak requires a rebuild of several minutes' duration, followed by reinstallation and restart.

To the greatest extent possible, site-specific configuration should be separated from the codebase into external storage provi

[2021-01-21 19:53] tdonohue commented on #950
As discussed in today's meeting, we expect this bug will be fixed by the (in progress) fix for #971. Therefore, I'm adding a **0hr** estimate to this bug. If we later find it is not fixed, then we can reanalyze at that time.

[2021-01-21 19:54] tdonohue commented on #948
As discussed in today's meeting, we expect this bug will be fixed by the (in progress) fix for #971. Therefore, I'm adding a **0hr** estimate to this bug. If we later find it is not fixed, then we can reanalyze at that time.

[2021-01-21 19:56] tdonohue commented on #949
As discussed in today's meeting, we expect this bug will be fixed by the (in progress) fix for #971. Therefore, I'm adding a **0hr** estimate to this bug. If we later find it is not fixed, then we can reanalyze at that time.

[2021-01-21 19:58] tdonohue commented on #976
As discussed today, this should be fixed in the context of #728 (i.e. assigned to the same person).  Adding an extra **4 hours** to this ticket to ensure it can be addressed at the same time.

[2021-01-21 19:59] tdonohue commented on #728
NOTE: As discussed today, the person who works on this ticket should likely also be assigned #976...as it is easiest to achieve as part of this larger cleanup task.

[2021-01-21 20:03] tdonohue commented on #884
We expect this bug will be fixed by the (in progress) fix for #971

[2021-01-21 20:03] tdonohue commented on #864
We expect this bug will be fixed by the (in progress) fix for #971

[2021-01-21 20:24] tdonohue commented on #931
This issue should be resolved by the solution to #971

[2021-01-21 20:31] tdonohue commented on #995
This sounds like it'd need more discussion/analysis before it could be actionable.  Putting it in 7.1 board for now, to at least get discussion started then.  At that point we can better determine need/priority.

[2021-01-21 20:34] tdonohue commented on #994
Flagging as "needs discussion" and moving to the 7.1 board for that discussion. At that point we can reprioritize as needed.

[2021-01-21 20:44] tdonohue commented on #991
Currently, storing a "role" per item is not supported, other than by using different `dc.contributor.*` fields (e.g. different persons can be added to `dc.contributor.illustrator`, `dc.contributor.advisor`, or other role-based metadata fields).  I'll flag this as "needs discussion" just to see if additional interest arises in this sort of feature.

[2021-01-21 20:55] tdonohue commented on #985
Closing, as this is a duplicate of #931.  It's currently being fixed.

[2021-01-21 20:55] #985 closed

[2021-01-21 20:57] tdonohue commented on #989
This is a configuration issue (Author was accidentally set to "required") which is fixed in https://github.com/DSpace/DSpace/pull/3115.  It's also a validation issue on repeatable fields which we are fixing in #931.  So, I'm closing this as this issue is covered elsewhere.  Thanks!

[2021-01-21 20:57] #989 closed

[2021-01-21 20:59] tdonohue commented on #986
This might be either the validation issue again in #931 (as we've seen very odd errors from that), or (if you are running this locally), it's possible you don't have the fixes from #960 (which fixed some odd auto-save bug where the form would auto-save at very odd intervals).  We'd need more information here to determine what might be going on.  Thanks!

[2021-01-21 21:01] tdonohue commented on #987
Thanks, this is a duplicate of #869 (which we are currently working on).  Closing as a duplicate

[2021-01-21 21:01] #987 closed

[2021-01-21 21:03] tdonohue commented on #982
@cwilper : I *believe* this is a duplicate of #976 .  As noted there, we've found odd breadcrumb behaviors as not all pages are setting the page title / breadcrumb.  So, I think we might be able to close this as a duplicate, unless I'm misunderstanding.

[2021-01-22 08:24] artlowel commented on #982
@tdonohue I don't think it's a duplicate. #976 deals with breadcrumbs not being configured. This ticket deals with an issue where a breadcrumb that _is_ configured doesn't always show up on the first page load. I'll assign myself to put an estimate on it

[2021-01-22 16:06] tdonohue commented on #912
Moved to 7.1 alongside #820, as it looks like this might be better fixed once we select a new angular upload library.

[2021-01-25 17:59] corrad82-4s opened #997 "search results not displayed while searching external sources"
**Describe the bug**

When a search against external sources is performed in order to import data from them, results are found but not correctly displayed in the UI

**To Reproduce**
Steps to reproduce the behavior:
1. log in into DSpace
2. Go to "MyDspace" section
3. start a submission from an external source
4. select source and enter a query string
5. if results are found, no data are displayed

[2021-01-25 18:21] tdonohue commented on #997
I was able to verify this locally...something must have broken recently as this used to work.  Moving it to Beta 5 for analysis.  @artlowel would you be interested in providing an estimate for this (since it seems like it's UI-related)?

[2021-01-25 22:29] tdonohue commented on #244
In reviewing DSpace 7 tasks, I just realized this was forgotten.  Currently we have two Google Analytics keys... `gaTrackingId` in dspace-angular, and `google.analytics.key` in the REST API.

Now that the REST API has a configuration endpoint (https://github.com/DSpace/DSpace/pull/2762), we should remove the `gaTrackingId` and retrieve this key from the `/config/property/` endpoint.

@artlowel : w

[2021-01-25 22:37] tdonohue opened #998 "Discuss whether to restore Google Analytics Reporting to the UI"
In DSpace 6.x XMLUI, the Mirage 2 theme supported "Google Analytics Reporting" using the Google Analytics Reporting API v3.  This allowed sites (who configured this feature) to see GA reports in the DSpace UI.  Details can be found at https://wiki.lyrasis.org/display/DSDOC6x/DSpace+Google+Analytics+Statistics

We should discuss whether this feature should be recreated for the new UI.  It's unclear

[2021-01-26 08:02] TanyaHolm commented on #991
This ticket is not really about assigning roles to contributors. This was just an example.
The ticket is about functionality in the submission form itself, i.e. allowing a authority-controlled field (like contributor) to a drop-down (like role). In this case the expectation is that the two pieces of metadata (the contributor and the role, e.g. Steven King and illustrator) gets "linked" in the back

[2021-01-26 08:05] atarix83 commented on #997
The problem is only on missing import of the modules that contains the loadable components, I'll fix quickly in a new PR

[2021-01-26 15:08] tdonohue commented on #991
@TanyaHolm : Thanks for the clarification.  Just to verify, this is currently not possible in DSpace, so you are definitely talking about a new feature.  It does sound like a feature that'd be interesting to others, but it would require some further discussion/scoping before we could schedule it for development.  For now, I've put this ticket in our "unscheduled backlog" simply because I'm not yet

[2021-01-27 10:38] benbosman opened #1000 "Submission language selector bug"
**Describe the bug**
When configuring a submission field to contain a language selector, the language is lost when clicking the "Add" button

**To Reproduce**
Steps to reproduce the behavior:
1. Add `<language value-pairs-name="common_iso_languages">true</language>` in submission-forms.xml (I've tested with dc.title.alternative)
2. Enter a value and select a language
3. Click on the "Add" button
4

[2021-01-27 14:32] tdonohue commented on #1000
May be related to #971, which @atarix83 is working on.

[2021-01-27 15:16] benbosman commented on #1000
That sounds related indeed. It would be good to check again once 971 is ready to review

[2021-01-27 16:18] #680 closed

[2021-01-28 09:00] benbosman commented on #869
The REST part has been implemented in https://github.com/DSpace/DSpace/pull/3136, this required more than the expected 6 hours because there were even more bugs in the API than expected

With the REST part ready, we can also estimate the Angular part, this is expected to require 13 hours of work. We can work on this implementation

[2021-01-28 13:42] atarix83 commented on #957
@tdonohue this can be fixed in 1 hour

[2021-01-28 14:44] artlowel commented on #244
This will take an estimated **1h**
Atmire would like to claim this ticket

[2021-01-28 14:49] tdonohue commented on #244
Thanks @artlowel .  Sounds good, assigning back to you for your team.

[2021-01-28 14:51] tdonohue commented on #957
Thanks @atarix83 .  I've added that estimate to the ticket. I'll keep this in Beta 5 since it's such a small change.

[2021-01-28 14:55] tdonohue commented on #869
Thanks @benbosman . I've updated the estimate. I've kept it assigned to you so that your team can start on this.

[2021-01-28 20:10] tdonohue commented on #847
**UPDATE: In 7.0 beta 5, we applied a workaround** to this issue by switching the Author submission field to the `onebox` type. See https://github.com/DSpace/DSpace/pull/3115  This works around the issue because this above usability issue ONLY occurs when using the `name` type for the Author field. As noted in comments below, there is some question about whether Authors should just be entered in a

[2021-01-29 10:29] artlowel opened #1002 "Preboot = false crashes app in prod mode"
**Describe the bug**
If you disable preboot, and build the app in prod mode, it won't start. The path to index.html is relative, and express needs an absolute path.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn off preboot in your environment.prod.ts file
2. Build and start the app in prod mode
3. Go to any page

**Expected behavior**
The app should serve index.html unmodified, so cli

[2021-01-29 16:16] #1002 closed

[2021-01-29 22:40] tdonohue opened #1005 ""Curate" and "View Item" on Edit Item page go to the wrong place"
**Describe the bug**
The tabs "Curate" and "View Item" on the Edit Item page both seem to go to the "Bitstreams" tab.  They display a list of all bitstreams by bundle.

**To Reproduce**
Steps to reproduce the behavior:
1.Login as an Admin
2. Browse/search for an Item
3. Edit the Item
4. Click on "Curate" tab.  You'll see Bitstreams (incorrect)
5. Click on "View Item" tab.  You'll see Bitstreams ag

[2021-01-29 22:41] tdonohue commented on #1005
@artlowel : would you or someone on your team be willing to estimate this?

[2021-02-01 14:17] abollini opened #1006 "Edit communities/collections/items lookup reuse public default discovery configuration"
**Describe the bug**
The edit feature doesn't specify any configuration so the default one is used. As the default configuration is tailored to the end users need this is not appropriate as some institution can change the default configuration to exclude the communities, the collections or part of it.

**To Reproduce**
Steps to reproduce the behavior:
1. in the default configuration of discovery a

[2021-02-01 15:09] tdonohue commented on #1006
This does sound like a bug, but it is low priority in my opinion (as most sites don't touch these Discovery configurations). Scheduling tentatively for 7.2...though if we fix it in 7.1, that's also fine.

[2021-02-04 11:31] kanasznagyzoltan opened #1009 "Let the admin export the statistics using the angular frontend"
At the moment the you can only export the usage statistics using the DSpace command line tool.

This issue is purely a feature request, which could enable the admin user to export & download the usage statistics using the angular frontend. The angular frontend already has a submenu which can be extended for this purpose.
I attached a screenshot how we could do the feature addition:

![image](https

[2021-02-04 15:11] bram-atmire opened #1010 "Duplicate keys in en.json5"
**Describe the bug**
The key menu.section.admin_search appears twice in the language catalog en.json5.
The consequence is that likely, the first label is overwritten by the second definition.
Lines 2324 and 3947

In addition to this, a block of keys, starting with "profile." at line 2750 is also duplicated starting at line 2836

**To Reproduce**
N/A

**Expected behavior**
Every key should only be

[2021-02-04 16:25] #747 closed

[2021-02-04 17:28] abollini commented on #869
@tdonohue as noted in https://github.com/DSpace/DSpace/pull/3136#issuecomment-773474396 I suggest to reconsider this decision or to create a followup action to restore the functionality.

The issue can be solved as follow
1. instead than expose the uuid of the parent group containing the selectable (sub)groups having  we would have modified the access condition configuration exposed via REST to di

[2021-02-04 18:24] tdonohue opened #1011 "Consider restoring support for selecting embargo group during submission"
In https://github.com/DSpace/dspace-angular/issues/869 , we decided to remove the Group select box from the Embargo step in the Submission process, as the initial implementation was problematic.

* The reasons for this were summarized by @cwilper in his analysis of the issues: https://github.com/DSpace/dspace-angular/issues/869#issuecomment-713594267
* As noted in [my follow-up response](https://g

[2021-02-04 18:26] tdonohue commented on #869
@abollini : I've created a new follow-up ticket & scheduled it tentatively for 7.2 https://github.com/DSpace/dspace-angular/issues/1011  Could you copy your recommendations & estimate over to that ticket?

Unfortunately, I don't feel we have sufficient time to rethink this now.  I'd much rather reschedule this for later, so that we can spend more time ensuring that we aren't accidentally opening u

[2021-02-05 15:31] #997 closed

[2021-02-05 21:35] #740 closed

[2021-02-08 08:51] benbosman opened #1013 "Creating a new EPerson Group fails"
**Describe the bug**
When trying to create a new EPerson group, the Group creation fails:
https://www.dropbox.com/s/6z778yh8dxxf2z3/Schermopname%202021-02-08%20om%2009.49.09.mov?dl=0

**To Reproduce**
Steps to reproduce the behavior:
1. Open /admin/access-control/groups/newGroup
2. Try to create a new group
3. Notice the group name is not passed to REST

**Expected behavior**
The group name should

[2021-02-08 09:26] artlowel commented on #1013
This will be fixed in the context of #962

[2021-02-08 17:36] #974 closed

[2021-02-09 13:34] artlowel commented on #729
During the last meeting we agreed on the following approach:

- Create a ThemeService that can provide the name of the active theme, based on the theme config in the environment, and the current route.
	- other options (such as the language) are possible, but won't be part of the first iteration.
- Create a generic ThemeableComponent,
	- It should get the name of the active theme from the ThemeSer

[2021-02-09 17:35] tdonohue commented on #729
Thanks @artlowel .  I've kept this assigned to you for your team to start work on immediately, but changed the estimate to **30hrs** (20hr estimated + 10hr already spent).

[2021-02-11 09:36] abollini commented on #1011
The issue can be solved as follow

instead than expose the uuid of the parent group containing the selectable (sub)groups having we would have modified the access condition configuration exposed via REST to directly list the group and the uuid. This should mean a json like that
[code]
the patch operation could have been extended to protect against illegal attempt to select unexpected group (that s

[2021-02-11 10:46] artlowel opened #1016 "Search filter from entity page carries over to discovery"
**Describe the bug**
If you enter the URL of an entity page that contains a search at the bottom, and then open the search bar in the header, and enter an empty query, you'll get the same results on the search page that were on the item page.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter the URL of an entity page that contains a search at the bottom (e.g. https://demo7.dspace.org/ite

[2021-02-11 10:47] artlowel commented on #1016
I came across this issue, and I investigated because I thought it might be caused by the recent cache changes. But it turns out it's due to a fixedFilter being set in the store, but not removed afterwards in certain situations.

This will take an estimated **2h** to fix

Atmire would like to claim this task

[2021-02-11 14:36] artlowel commented on #927
In order to use these features in angular we'll
- move access control out of the admin module
- create guards for the new features
- use them on the appropriate routes
- use the features to show and hide the sidebar menus and edit buttons

This will take an estimated **6h**

This is higher than [my previous estimate](https://github.com/DSpace/dspace-angular/issues/927#issuecomment-722308978) as th

[2021-02-11 16:14] tdonohue commented on #1016
@artlowel : Thanks, this sounds fine to me. I've added to Beta 5 and assigned to your team

[2021-02-11 16:17] tdonohue commented on #927
@artlowel : Thanks, that Angular estimate sounds fine.  I've added that to the initial REST estimate (of 8hrs) and changed this ticket to 14 hours total.  I've also added you as an additional assignee to start work on this.

[2021-02-11 16:36] tdonohue commented on #728
In today's DSpace 7 meeting, we scoped this ticket to the following:
First, this ticket is NOT about creating a new theme or significantly changing the (existing) default, vanilla-Bootstrap theme visible at https://demo7.dspace.org/

Instead, this ticket is more about cleaning up all current Angular Component in the following ways:
1. Ensure Angular components meet basic accessibility guidelines (

[2021-02-11 16:48] tdonohue commented on #727
In today's discussion of #728 , we've re-scoped this ticket again.

This is NOT about creating a second theme, but more around creating a *basic, example theme* which can be used as a "template" for anyone who wishes to override the DSpace 7 theme.  This basic, example theme may be the *default theme* which just overrides a few basic default Bootstrap styles.

Based on today's discussion, we'd lik

[2021-02-15 08:04] ybnd opened #1019 "Icons of disabled items in the admin sidebar are clickable"
**Describe the bug**
The icons of disabled items in the admin sidebar still react to hover and click events; route to the home page on click

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an administrator with limited access (e.g. dspacedemo+admin@gmail.com on https://demo7.dspace.org/home)
2. Mouse over & click on the _icons_ of disabled sidebar links

**Expected behavior**
The i

[2021-02-15 19:21] MarisArins opened #1020 "Vocabulary element in Sumission form cannot be focused"
Recently (probably after Angular v10 upgrade) vocabulary elements cannot be focused by clicking them.

As example check the "Subject Keywords" in demo site.

![image](https://user-images.githubusercontent.com/2697696/107985801-76644f00-6fd3-11eb-91b0-efc7bf15218e.png)

You can focus the input field only by clicking label of this field (blue area).
Clicking input field directly has no effect.

[2021-02-15 22:17] MarisArins opened #1021 "Cannot uol"
While in Submission form drag&drop a file on form and "Upload Failed" appears on screen.

In developer tools network tab you can see an error response to workspace save request :
`{timestamp: "2021-02-15T22:09:04.642+0000", status: 403, error: "Forbidden",…}
error: "Forbidden"
message: "Access is denied. Invalid CSRF token."
path: "/server/api/submission/workspaceitems/3508"
status: 403
timestamp:

[2021-02-15 22:17] MarisArins opened #1023 "Cannot upload file"
While in Submission form drag&drop a file on form and "Upload Failed" appears on screen.

In developer tools network tab you can see an error response to workspace save request :
`{timestamp: "2021-02-15T22:09:04.642+0000", status: 403, error: "Forbidden",…}
error: "Forbidden"
message: "Access is denied. Invalid CSRF token."
path: "/server/api/submission/workspaceitems/3508"
status: 403
timestamp:

[2021-02-16 15:33] tdonohue commented on #1009
@kanasznagyzoltan : I'm not sure I understand the use case for this.

The `solr-export-statistics` command is a complete dump of all statistical information in your Solr `statistics` index, and based on the number of records in that index, it may create several dump files (looking at [`SolrImportExport`](https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/util/SolrImport

[2021-02-16 15:39] tdonohue commented on #1021
I've been able to reproduce this.  It's actually a backend issue (so, I'll move this to the backend). It seems to have been accidentally caused by https://github.com/DSpace/DSpace/pull/3103  I'll claim this and get it fixed.

[2021-02-16 15:44] kanasznagyzoltan commented on #1009
@dsipos-dev
Could you write some info what and how we have done this?
Thank you!

[2021-02-17 13:50] mwoodiupui commented on #1009
1. We need to speak carefully:  the `statistics` core contains *cases* not *statistics*.
2. I also am wary of running at arms' length a process that produces this much output.
3. How does the Processes subsystem deal with a process instance that yields multiple outputs, perhaps hundreds?
4. The reporting directory can be on a separate mounted filesystem, which would confine out-of-storage problems

[2021-02-17 21:42] tdonohue commented on #1023
The issues is with the `ng2-file-upload` library, which doesn't seem to fully support Http interceptors (like our `xsrf.interceptor.ts` which manages CSRF/XSRF tokens for all parts of our Angular app).  This is a known issue in `ng2-file-upload`:  https://github.com/valor-software/ng2-file-upload/issues/950

I've found a temporary workaround...but, longer term, this is another reason to move away

[2021-02-17 23:07] #244 closed

[2021-02-18 14:42] artlowel commented on #918
It will take an estimated **4h** to add support for embed sizes on the angular side, and to ensure the community list page makes use of them to decrease the number of requests.

Atmire would like to claim this ticket

[2021-02-18 14:44] tdonohue commented on #918
Thanks @artlowel . Assigning back to you for your team.  Updated the estimate here to 8 hours (4 hrs REST, 4 hrs Angular).

[2021-02-18 15:07] bruno-atmire opened #1026 "Unit test false negatives (usage of `fixture.debugElement.query` + `toBeDefined`)"
**Describe the bug**
Multiple unit tests always succeed (even when they should fail). This happens because `expect(...).toBeDefined()` checks are used on variables that will never be set to `undefined`.

[For example](https://github.com/DSpace/dspace-angular/blob/main/src/app/shared/mydspace-actions/claimed-task/approve/claimed-task-actions-approve.component.spec.ts#L52):
[code]
If `fixture.debugE

[2021-02-18 15:08] tdonohue commented on #870
May already be solved. Just needs testing

[2021-02-18 20:03] #943 closed

[2021-02-18 20:44] #962 closed

[2021-02-19 13:14] artlowel commented on #549
@tdonohue I came across this again today, we should assign this issue to a milestone

[2021-02-19 15:03] tdonohue commented on #549
@artlowel : Do you have a rough estimate of what this would take?  If you feel it's small (<=4 hrs) we may be able to squeeze this into Beta 5.  But, if it's larger than that, I feel it may need to wait for post-Testathon...and we can try to get it done between Beta 5 and 7.0 Final.

[2021-02-19 17:21] artlowel opened #1027 "Stale remotedata emitted first"
**Describe the bug**
Currently, if you set a remotedata object to stale, and immediately afterwards retrieve it again, you can still get the stale remote data object as the first emitted object of the returned observable.

That is because a dataservice returns an observable looking at the expected place in the store immediately after sending the request. However the request is dispatched to the st

[2021-02-19 17:28] tdonohue commented on #1027
@artlowel : While you work on an estimate, I'd also appreciate any advice on the priority of this one. For instance, is this something we should work to solve in Beta 5, or is it lower priority as it's not encountered frequently?  Thanks for getting this logged

[2021-02-19 22:33] #1016 closed

[2021-02-23 13:43] MarisArins opened #1028 "Navigation in "Access Control/Groups" breaks search page"
OK scenario :
1. As Admin user go to "Access Control" "Groups"
2. From that screen perform any global search or just double click global search button
3. Search seems to work fine

Broken scenario :
1. As Admin user go to "Access Control" "Groups"
2. Navigate around the list of groups with paginator
3. From that screen perform any global search or just double click global search button
4. Search f

[2021-02-23 13:51] MarisArins opened #1029 "Item Authorizations view very slow"
1. Create an item with a attached file/files
2. Go to edit screen of this item and go into "Edit item's authorization policies" view
3. There will be several groups of access rights (item, bundles, bitstreams)
4. Add in every Policies group multiple User groups (any level of permission, e.g. READ)
5. Loading/Reloading this screen becomes extremely slow at 10+ groups per policies group

In some cas

[2021-02-23 17:27] tdonohue opened #1030 "Changing language redirects to homepage"
**Describe the bug**
Whenever you change the language (using the globe in the header), you are always redirected to the homepage.   I'd expect you'd remain on the page you are on.

**To Reproduce**
Steps to reproduce the behavior:
1. Browse to any page in the application. For instance, go to a Collection Homepage
2. In the header, click the globe icon & select a different language
3. The language

[2021-02-23 17:28] tdonohue commented on #870
Closing, as this issue is fixed.  However, the separate issue described in [my initial comment above](https://github.com/DSpace/dspace-angular/issues/870#issuecomment-698448436) is not yet resolved, so I've moved that into #1030

[2021-02-23 17:28] #870 closed

[2021-02-23 17:48] tdonohue commented on #1005
@artlowel  was correct...these tabs are *unimplemented*.  I've created a tiny PR to simply comment them out for now (until they are implemented).  See #1031.

[2021-02-23 18:14] tdonohue commented on #744
**TICKET SIMPLIFICATION / RESCOPING**

For 7.0, this ticket has been simplified to the following, based on the scoping of the corresponding REST API ticket https://github.com/DSpace/DSpace/issues/2815

1. Any Angular UI code that previously used an Item's `relationship.type` field (which stores the type of entity) should be updated to use a new `dspace.item.type` field. This new field will store t

[2021-02-23 19:51] tdonohue commented on #1013
Closing, this has been fixed & is no longer reproducible.

[2021-02-23 19:51] #1013 closed

[2021-02-23 19:53] tdonohue commented on #864
I've verified this is fixed by #1025

[2021-02-23 20:17] tdonohue opened #1032 "Issues with modifying Date field in Submission"
**Describe the bug**
When you modify or delete values out of the Date field in the Submission UI, and click "Save" or "Save for Later" you can trigger a 500 error on the backend.  After triggering that error, it's impossible to save any other edits -- you have to click away from your submission and start over.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new submission, adding al

[2021-02-23 20:17] tdonohue commented on #1032
@atarix83 : Could you look into this and provide an estimate?  It's seemingly a UI level issue in the Submission UI.

[2021-02-23 20:21] tdonohue commented on #882
Closing, as noted above this was fixed in #960, as that disabled the auto-save

[2021-02-23 20:21] #882 closed

[2021-02-23 20:25] tdonohue commented on #950
I've verified this is NOT fixed by #971, the problem still exists.  This *might* be semi-related to #1032 , as that also seems to be caused by an invalid PATCH request.  @atarix83 : Could you look into this and analyze what might be going on?

[2021-02-23 20:28] tdonohue commented on #948
This appears to be fixed by #1025 (at least I cannot reproduce it with that PR applied)

[2021-02-23 20:31] tdonohue commented on #949
Retested this today & verified that PR #1025 fixes this issue

[2021-02-23 20:32] tdonohue commented on #931
Retested today when testing #1025 and I've verified that PR will fix this issue.

[2021-02-23 20:43] tdonohue commented on #1000
I've tested this with #1025 applied and I've verified that PR fixes this bug.

[2021-02-23 20:48] tdonohue commented on #986
I've also seen behavior like this in #950 and #1032.  When reproducing those bugs, the form becomes unusable & you have to reload the entire form to fix the error.

However, I'm closing this ticket as it doesn't have enough information on how to reproduce it.  I suspect what you are seeing is the behavior described in one of the other tickets (that I've linked to) and all of those are currently be

[2021-02-23 20:48] #986 closed

[2021-02-23 20:50] tdonohue commented on #988
Moving this to 7.0 for initial discussion. Might get delayed however depending on feedback of upcoming Testathon.

[2021-02-23 20:56] tdonohue commented on #990
This is mostly fixed by https://github.com/DSpace/dspace-angular/pull/984 (as that limits which external services are searched for an author lookup). That fix was recently applied to https://demo7.dspace.org/, and I'm seeing it working much faster.  That said, it's still not "speedy" as it uses an external site (e.g. ORCID) for the lookup.

I'm closing this for now as "fixed" by #984 , but we may

[2021-02-23 20:56] #990 closed

[2021-02-23 20:59] tdonohue commented on #1019
Agreed & can reproduce, this is a minor usability issue. Scheduling for possible fixing in 7.0 (during testathon)

[2021-02-23 21:02] tdonohue commented on #1020
Can reproduce on https://demo7.dspace.org/, though this appears to be at least partially fixed by https://github.com/DSpace/dspace-angular/pull/1025

[2021-02-23 21:06] tdonohue commented on #1026
This does seem like an issue, though it may require a more detailed analysis of how many tests have this issue.  Therefore scheduling for 7.1 and adding `Estimate TBD`

[2021-02-23 22:32] tdonohue commented on #1029
@MarisArins : If I understand this ticket correctly, this may be a misunderstanding of the feature.

Ideally, this "Edit Item's authorization policies" view would specify only 1-2 (or a small handful) of policies per policy group.  So, for example, for a Bitstream, you might specify it's Admin-only, so you remove the "Anonymous" policy and add one for the "Administrator" group.

Alternatively, may

[2021-02-23 22:37] tdonohue commented on #1028
Good catch, @MarisArins !  I'm able to reproduce this.  Moving this into 7.0 Beta 5 for further analysis.

@artlowel , could you provide an estimate for this?  It sounds somewhat similar to #1016, which was recently fixed by your team in #1022.  It seems, to me, like something from the Groups pagination/search is carrying over into the main search results & causing issues.

[2021-02-23 23:06] tdonohue commented on #1010
I've created a small PR to clean this up. See #1033

[2021-02-24 08:29] atarix83 opened #1034 "Several bugs on collection's item template"
**Describe the bug**
There are several issue while handling a collection's item template :
- after generating a template item for a collection the system redirect you on the template edit page. If you go back directly to the collection edit page the new template item is not yet displayed, but you have to refresh the page to have it. I suppose it's only a cache issue.
- when generating a template i

[2021-02-24 14:51] tdonohue commented on #1034
@artlowel : Could you (or someone on your team) provide an estimate for these fixes?  It looks like the initial implementation was in #749

[2021-02-24 14:52] tdonohue commented on #748
@atarix83 : Somehow this ticket got lost between Beta 4 and Beta 5.  Could you estimate this? (It may be dependent on fixing #1034 first)

[2021-02-24 22:29] #869 closed

[2021-02-25 09:30] atarix83 commented on #748
@tdonohue I've verified it again and it seems that the issue is not present anymore.
On the demo the `1-step Workflow collection` has an item template configured, and if you start a submission there you see the metadata of the template immediately

[2021-02-25 09:41] atarix83 commented on #1032
@tdonohue I'm sorry but I can't reproduce the issue. I've test it over main branch and also over #1025 and for both I can't reproduce it

[2021-02-25 14:50] tdonohue commented on #748
@atarix83 : Thanks. I'll close this as fixed then.

[2021-02-25 14:50] #748 closed

[2021-02-25 14:52] vahem2lu opened #1036 "Unable to login/create session when dspace 7 angular is in production mode"
Using **backend** DSpace 7.0-beta5-SNAPSHOT and DSpace 7.0-beta4 and frontend **dspace-angular** beta4 release or main branch from git it occurs when angular is ran in production mode `dsAuthInfo` cookie is not properly saved. And therefore login is not made.

As username and password is correct (because login is accepted and HAL browser (from 8080 port) confirms that those are accepted credential

[2021-02-25 14:52] tdonohue commented on #1032
@atarix83 : Thanks for testing. I'll claim this ticket back and re-test on my end.  Maybe I had something misconfigured when I was hitting this error a few days ago.

[2021-02-25 17:00] tdonohue commented on #1036
@vahem2lu : I just responded to your thread in Google Groups (before seeing you created a ticket)

Unfortunately, I think we'd need more information to help debug this.
* What's the exact error you are seeing?
    * If you are using a browser like Chrome, you could also open up "DevTools" (More Tools -> Developer Tools) and look at the "Network" tab right before you try to login.  Then attempt to

[2021-02-25 17:12] #1005 closed

[2021-02-25 18:46] tdonohue opened #1037 "Make memory to build UI more configurable"
**Describe the bug**
Currently, we "hardcode" & require 8GB of available memory to build the Angular UI.  See this setting:
https://github.com/DSpace/dspace-angular/blob/main/package.json#L26

Ideally, we should support systems which have less than 8GB of available memory, as there's no reason (that I can tell) for this default setting except that it speeds up the build on systems which have more

[2021-02-25 18:48] tdonohue commented on #1037
@artlowel and @atarix83 : I'd appreciate your (very quick) opinions on this.  I suspect this might help make it easier for people to build the UI on lower memory machines, but I also realize that will make the build much _slower_ as a result.

Another option here could be to change the default to 2-4GB (which should work for everyone), but allow a way for CI & developers to override that value eas

[2021-02-25 19:02] hardyoyo commented on #1037
A 2GB default is what I'm currently using for the UI build, on an AWS ec2 t3.medium instance (4GB RAM... which is the same size of VM I'm using for our API instance).

[2021-02-25 23:03] tdonohue commented on #1037
From chatting with @hardyoyo on Slack, it sounds like he's tested that Node v12 (and above) manage the memory automatically (by using any available memory as noted in https://nodejs.medium.com/introducing-node-js-12-76c41a1b3f3f).  So, it appears that the `--max_old_space_size` setting is not necessary in Node v12, unless you want to *limit* it to a subset of available memory.

Therefore, it might

[2021-02-26 07:11] vahem2lu commented on #1036
Thanks for the feedback!

The thing is that there's no "error" in dspace.log, tomcat9 logs, nor in verbose angular mode or in dev tools in Chrome/Firefox. I've tested Safari as well, so it does not seem like browser issue.

I've used git version of DSpace and dspace-angular for 1.5 week now and there's no difference. Also, latest upgrade for me was yesterday some hour before posting here.

environ

[2021-02-26 08:39] #1010 closed

[2021-02-26 09:32] artlowel commented on #1037
I've verified that it works without --max_old_space_size, on node 12 and 14. Since, in order to test it, I had to make the changes anyway I created a PR: #1038

[Node 10 is EOL in April this year](https://nodejs.org/en/about/releases/), so I wouldn't worry about supporting it too much

[2021-02-26 10:51] ybnd opened #1039 "Firefox: Unstyled scrollbars in admin sidebar"
**Describe the bug**
On smaller viewports in Firefox, the admin sidebar scrollbars clash with the overall theme.

<img width="1598" alt="image" src="https://user-images.githubusercontent.com/31547038/109290391-d787f000-7827-11eb-833a-f2a8e6569b43.png">

Compared to Chrome:

<img width="1705" alt="image" src="https://user-images.githubusercontent.com/31547038/109290454-ea022980-7827-11eb-9d46-bf547

[2021-02-26 14:59] tdonohue commented on #1036
@vahem2lu : Could you share the exact error message returned by the REST API when a login fails?  Is it a 401 or a 403 response code (You should be able to see this on the Network Tab in Chrome DevTools)?  Any additional information provided in that 401/403 response code?

You noted that this works when you modify `environment.common.ts` and do `yarn run start:dev`.   Are the changes you are makin

[2021-02-26 15:12] tdonohue commented on #1036
I should also mention, this point from your initial description is very odd to me:

I can confirm there is a *purposeful* hard refresh after you login (or logout).  That is done on purpose to refresh/reload all components based on your authenticated user (as you may be able to "see" more content or options once authenticated).  This "hard refresh" _should not_ be destroying the `dsAuthInfo` cookie

[2021-02-26 16:09] vahem2lu commented on #1036
There seems no error codes or failed requests and my guess is that there's no error code, as login does not "fail", because when I literally enter wrong password, then I get error in angular AND error code 401 from server POST request as well.
![Screenshot 2021-02-26 at 17 58 06](https://user-images.githubusercontent.com/15649157/109323712-70386300-785c-11eb-970b-4c6fddd82a95.png)

Yes, only diffe

[2021-02-26 17:08] tdonohue commented on #1036
@vahem2lu : Thanks for the additional info.  A few of us were talking on Slack & a new idea came up.

Could you try something for us?  In your *backend* configuration, can you add the following to your `local.cfg` configuration:

[code]

Then, restart your backend & try to login again.  We're wondering if either CORS or these proxy settings are "getting in the way" here and blocking you.  If **so*

[2021-02-26 17:18] vahem2lu commented on #1036
Thank you for thinking along!

I've tried CORS before as well, this came up to my mind as well, even I thought that maybe somehow angular does not like http (port 80) login POST or something like that in "prod" mode...

Anyway, your solution worked, and:

*Tried both*: worked

*tried only CORS with*
`rest.cors.allowed-origins = ${dspace.ui.url}, http://internal_ip:4000`
did not work (CORS was defa

[2021-02-26 17:20] tdonohue commented on #1036
@vahem2lu : Thanks for your help in testing this out.  It *sounds like* `proxies.trusted.ipranges` is to blame then, and this also sounds like a **bug** to me.  I'm going to move this over into our Beta 5 work board & start to figure out a way to fix this -- it's unexpected that `proxies.trusted.ipranges` is required...it should NOT be.

[2021-02-26 17:29] tdonohue commented on #1036
And, I just realized this bug is also described in #2984 (which I found months ago and forgot about).  In any case, I'll get these scheduled for analysis & fixing.

[2021-02-26 17:38] vahem2lu commented on #1036
I even saw this but did not think it was a deal, as I focused on angular (because on DSpace backend, port 8080 (HAL) login worked).

[2021-02-26 18:32] #1037 closed

[2021-03-02 09:25] vahem2lu commented on #1023
Is there a temporary workaround for public as well? Or when is merge planned?

[2021-03-02 14:34] tdonohue commented on #1023
@vahem2lu : Unfortunately there's no easy workaround, unless you want to install the under review PR locally (https://github.com/DSpace/dspace-angular/pull/1024).  Merging will occur as soon as that PR is approved...currently it's undergoing further testing though (it seems to mostly work, but initial tests found an additional bug...now it's waiting for a follow-up review).

[2021-03-02 22:56] tdonohue commented on #1032
Closing, as I'm no longer reliably able to reproduce this.  When I have reproduced this, it appears to be a CSRF mismatch issue which seems resolved by ensuring the CSRF token changes less frequently (see https://github.com/DSpace/DSpace/pull/3168).

[2021-03-02 22:56] #1032 closed

[2021-03-02 23:00] tdonohue commented on #1020
@atarix83 : I ran into this same issue while testing #1025 today.  I think this is unrelated to that other issue, but I figured you might be able to estimate this quickly since you are working on other parts of the submission UI.  So, I've assigned this to you for analysis & estimation.  If possible, I'd like to fix this in Beta 5 (since it used to work), but let me know what you find.

[2021-03-03 17:26] #1023 closed

[2021-03-03 17:33] tdonohue commented on #1023
@vahem2lu : Just a quick follow up. This bug has now been fixed on our "main" branch, as the PR was approved & merged today.

[2021-03-04 10:51] artlowel commented on #549
Because the discovery endpoints don't all have distinct types and self links, they can't be parsed by the default response parser, so this isn't a trivial fix. We need to:
- extend the FacetConfigResponseParsingService to also parse sortOptions
- also return these sortOptions in searchService.getConfig
- Call searchService.getConfig and use in SearchSettingsComponent, similar to the way it happens

[2021-03-04 11:09] artlowel commented on #982
This will take **1h** to fix.

Atmire would like to claim this task

[2021-03-04 12:22] artlowel commented on #1034
All issues, except the dual notification error are due to the fact that the item template editor shares code with the item metadata editor, and _it_ will know which item to work on by using the dso resolved in the route. For item templates, that dso is the collection. So the ItemMetadataComponent will need to be refactored to get its item from an input.

The dual notification issue is separate and

[2021-03-04 13:07] artlowel commented on #992
The reason is that Typescript > 3.9 no longer allows jasmine to affect direct module exports: https://github.com/jasmine/jasmine/issues/1817

There are a few workarounds, such as lowering the target in tsconfig to es5, or using an older version of tslib. None of those are very future proof. Instead I suggest we inject any direct exports we need to spy on, and use the injected function rather than

[2021-03-04 13:07] artlowel commented on #993
Here I would roll back the changes that were made, and use the proposal I made for #992 to spy on debounceTime. It seems that the approach tried here with the scheduler and flush can't work for debounceTime. There's an open ticket for it: https://github.com/angular/angular/issues/25457#issuecomment-728876345

But we can inject debounceTime, spy on it that way and its input value immediately as we

[2021-03-04 13:23] atarix83 commented on #1020
@tdonohue  I think it could be fixed in 1 hour.

[2021-03-04 14:30] artlowel commented on #982
I spoke too soon. I quickly tried my idea, and while it makes the problem less likely to occur, it doesn't get rid of it entirely. So better bump this up to **4h** so we can investigate further

[2021-03-04 14:34] artlowel commented on #1027
We'll have to filter out stale remote data objects in the find methods in dataservice. This will take an estimated **4h**.
I think should be done ASAP, to prevent losing time on other hard to debug problems that ultimately end up being caused by this issue.

Atmire would like to claim this task

[2021-03-04 15:14] tdonohue commented on #950
Talked today and this should be part of #1025

[2021-03-04 17:29] alemarte commented on #950
@tdonohue Tested against the latest of https://github.com/DSpace/dspace-angular/pull/1025 and all seem to work good.

[2021-03-04 20:54] tdonohue commented on #727
Updated scope of this ticket per today's discussion. See updates in [description above](https://github.com/DSpace/dspace-angular/issues/727#issue-648473818)

[2021-03-05 19:05] tdonohue commented on #950
After retesting, I've verified this is now *fixed* in #1025.  I'll link this ticket up to that PR.  Thanks @alemarte

[2021-03-08 20:22] tdonohue opened #1044 "MyDSpace page should use the same components as other search results pages & should not have custom object swapping/reloading functionality"
**Describe the bug**

The changes made in #978 to fix #721 were not ideal as they treat the MyDSpace page's search results differently from other search results listing.  These changes however were deemed necessary because the MyDSpace page doesn't use the same components as other search results...see @atarix83's [comment here](https://github.com/DSpace/dspace-angular/pull/978#issuecomment-7914505

[2021-03-09 22:02] AndrewZWood opened #1046 "Item thumbnails exist but do not load on initial route"
When I generate thumbnails for items they do not load initially. I can refresh the page but even after I've cleared all related cache I have to re-route the the item for the thumbnail to display.

To reproduce:
Submit a new item.
Run the filter media process.
Route to your new item.
Verify the "No Thumbnail" default display.
Press the back button.
Re-route to the your new item.
Notice the thumbnai

[2021-03-10 12:49] jonas-atmire opened #1047 "Write policies on items show the edit button on the item page, but redirect to a 403 page"
**Describe the bug**
When users have a write policy on an item, the UI shows the edit button on the item page, but it redirects to a 403 forbidden  page when clicked. If the user has the appropriate rights, he/she should be allowed to alter (a subset, for example the metadata) of the item's information.

**To Reproduce**
Steps to reproduce the behavior:
1. As an admin, edit an item, and give a non

[2021-03-10 14:29] cwilper commented on #1046
Note: At first glance this might look similar to https://github.com/DSpace/dspace-angular/issues/797 but it is different: This is a case where thumbnails that were generated long ago (many restarts and browser cache clears) will not display on initial page display, and only after you browse through the interface are they finally displayed for the user.

[2021-03-10 15:11] #721 closed

[2021-03-11 14:35] artlowel commented on #1028
This should be fixed by #1048

[2021-03-11 16:59] #570 closed

[2021-03-12 13:13] alemarte opened #1054 "Error deleting an item when its entity type has no relations"
When an entity type has no existent relations the item deletion is not executed.

Steps to reproduce the behavior:
1. Create a temporary entity type with no relation (ex: TmpType)
2. Create an item with the metadata 'relationship.type' with the value 'TmpType'.
3. Go to the item edit page and click on Permanently Delete and then on Delete.

The application should execute a DELETE Http Request.

[2021-03-12 14:07] alemarte commented on #1054
There is an observable of types to subscribe in order to execute the deletion, but when types are empty it never emit.

Estimated 2h.

4science can claim this task.

[2021-03-12 19:13] #745 closed

[2021-03-16 14:47] #918 closed

[2021-03-16 16:43] atarix83 opened #1058 "Collection item template functionality should be moved in a tab"
Regarding the work on usability/accessiblity done in #728 it is considered more appropriate to move the functionality for creating/editing a collection's item template in a separate tab
![Schermata da 2021-03-16 17-41-17](https://user-images.githubusercontent.com/2486489/111346950-07841f80-867f-11eb-8242-7f73551df995.png)

[2021-03-16 17:00] atarix83 opened #1059 "Group's edit page should be reviewed to ensure usability"
Regarding the work on usability/accessibility done in #728 it seems the edit group admin page should need a refactor to improve the usability and to uniform to the behaviour used in other admin functionalities. Indeed the sections to edit group's metadata, to add members and to add subgroups are in the same page view and this could be create a confusion. A better approach could be to use different

[2021-03-16 17:07] tdonohue commented on #1054
@alemarte : Thanks, this sounds like something to definitely fix.  Assigning this back to you to work on.  (I realize this might be hard to implement by our current PR deadline of before the meeting on Thurs, but do your best to get this done this week if possible)

[2021-03-17 17:04] bruno-atmire opened #1067 "UI sends wrong request when creating new metadata field without qualifier"
**Describe the bug**
Use the UI to create a new metadata field. (It does not matter which metadata schema is used.) Leave the qualifier form input blank.

A POST request is sent to `<url>/api/core/metadatafields?schemaId=<schema id>` with the following body:
[code]

Note that qualifier contains an empty string (instead of `null`). The request is able to create the metadata field, but an empty stri

[2021-03-18 14:32] #909 closed

[2021-03-18 14:43] tdonohue commented on #859
This may already be solved...Assigning to myself to retest it.

[2021-03-18 14:51] tdonohue commented on #1067
Estimated by @benbosman as 4 hours total (2 hours REST, 2 hours Angular).  Assigning to @benbosman  to try to fit in prior to Testathon.

[2021-03-18 14:59] tdonohue commented on #1047
estimated at 2hrs by @artlowel .

[2021-03-18 16:05] tdonohue commented on #1047
As discussed today, the upcoming PR for this ticket can be assigned to @tdonohue and @atarix83

[2021-03-18 20:47] tdonohue opened #1069 "Remove hardcoding of some search endpoints and retrieve them via HAL links instead"
In https://github.com/DSpace/DSpace/pull/3179 we fixed several broken HAL links in search endpoints.  This change did not impact the Angular UI as the UI has hardcoded these links instead of reading them via HAL (this was necessary as the links were broken).

This ticket is simply a reminder that we should review how/where those links are hardcoded in the UI and see if they can be retrieved instea

[2021-03-19 11:57] atarix83 opened #1070 "main navigation menu entries should have a hover style"
Regarding the work on usability/accessibility done in #728 it's recommend the introduction of a color that contrasts with the background (the same green of the DSpace logo would be perfect), on the 'hover' of the elements of the 'main navigation bar' (not to be used anywhere else) to uniquely distinguish that elements, in order to associate that color to the most important navigation elements.

[2021-03-19 18:21] corrad82-4s opened #1071 "Discovery result sort options not reflecting what is configured"
**Describe the bug**
The "sort" select box displayed in the discovery results page contains by default "Relevance", "Title Ascending" and "Title Descending" as possible "sort by" options, instead of options that are defined in discovery.xml file.

**To Reproduce**
Steps to reproduce the behavior:
1. login
2. go to "My DSpace" page
3. check "sort by" select
4. Displayed options are different than w

[2021-03-22 14:02] tdonohue commented on #1071
@corrad82-4s : If you (or someone at 4Science) could provide an estimate for this, then I can more easily make a decision on whether we can fit it into Beta 5.  Thanks!

[2021-03-22 19:44] #982 closed

[2021-03-22 20:21] tdonohue opened #1072 "Cannot easily tell similar named EPeople or Groups apart (usability issue)"
**Describe the bug**
In testing other PRs, I've had to recently add some new EPeople & assign them to groups, I've found that the current UI screens rely too much on UUID and Name, making it very difficult to tell similar named EPeople apart.  Examples below...

**To Reproduce**

**Issue 1: Difficult to tell apart two EPeople of same name:**
1. Create two EPerson users with the same name
2. Now, e

[2021-03-22 20:42] mwoodiupui commented on #1072
email address may not work in some settings where netid is used.  The EPerson may have a netid but no email.  Probably we should display whichever is available.  Which should we prefer if both are available? or should we just punt and show both?

Possibly this should be abstracted into a new EPersonService method.  Then, if we someday invent a third external unique identifier possibility, we only

[2021-03-22 20:46] tdonohue commented on #1072
@mwoodiupui : Good point, I'd say for now we just display *either* netid or email (with a preference for email if available).

At this point, I'd recommend a quick fix here (as we are in the final stages of Beta 5).  But, I'd like the opinion of others on the DSpace 7 team regarding the best fix.  It seems (to me) we may already have all the information we need, we just are not displaying enough o

[2021-03-23 14:45] artlowel opened #1073 "Add fine-grained permission checks for the edit item page"
**Describe the bug**
The work we did for #1047 made it clear that apart from edit metadata, which that ticket addressed, there are also a lot of other parts of the edit item page and its tabs that can use more fine grained feature checking

**Expected behavior**
After we've come to an agreement and have an implementation for https://github.com/DSpace/DSpace/issues/3201 we should go over the edit i

[2021-03-23 16:46] tdonohue commented on #859
Closing. I've verified this has been fixed & is no longer reproducible on our demo site at https://demo7.dspace.org/

This was likely solved by https://github.com/DSpace/DSpace/pull/3133, but it's possible other recent fixes to the MyDSpace page also helped resolve it.

[2021-03-23 16:46] #859 closed

[2021-03-24 09:06] artlowel opened #1074 "Upgrade to Yarn v2 or switch back to npm"
Yarn v2 was released last year, and yarn 1 will only get security upgrades anymore. I can't seem to find the date when those will end.

Yarn 2 isn't backwards compatible, but the migration process doesn't seem too daunting. More info [here](https://yarnpkg.com/getting-started/qa).

However we could also consider dropping yarn and going back to npm. The main reasons we switched back in 2017: the la

[2021-03-24 14:44] tdonohue commented on #1074
@artlowel : Thanks for logging this.  My inclination is to resolve this in either 7.1 or perhaps 7.0 final (after Beta 5 / Testathon) if we deem it higher priority.

In terms of yarn vs npm, I don't have strong opinions right now (haven't dug enough).  It seems like the main pro of `npm` is we wouldn't need to install anything besides Node (since NPM comes with it).  But, the main pro of `yarn` is

[2021-03-24 15:59] corrad82-4s commented on #1071
Hi @tdonohue we estimate that this issue can be resolved in 4 to 6 hours of work. Thanks

[2021-03-24 19:55] tdonohue commented on #1071
@corrad82-4s : that sounds reasonable. I'll tentatively add this to Beta 5.

As a sidenote, any work on this ticket should be based on the work in #1048, since that affects pagination of search results in general across the UI.  So, please make sure to review that work first before starting a new PR... I don't believe that work fixes this bug, but it might affect your fix.

[2021-03-25 19:44] #1027 closed

[2021-03-25 20:20] #729 closed

[2021-03-29 08:50] atarix83 commented on #1072
@tdonohue
For the issue #1 the possibility to show eperson's email and netid, if not empty, requires about 2hours.

Regarding the changes needed for the issue #2 the estimation is about 3/4 hours.
A further improvement should be to allow the collection name to be used to search the group but this requires a much larger rest side change in order to use solr. This requires to be discussed so it is t

[2021-03-29 14:41] tdonohue commented on #1072
@atarix83 : That all sounds fine.  I've added a total estimate of **6 hours** to this PR & kept it assigned to you for your team to work on.  Keep in mind, this work is lower priority than finishing up any theming work, as technically these screens work, but they are just difficult to use.

[2021-03-29 16:27] #1034 closed

[2021-03-29 17:01] #1047 closed

[2021-03-30 08:21] bruno-atmire opened #1078 "Key of controlled vocabulary value not submitted during item creation"
**Describe the bug**
When using a `onebox` input field in conjunction with a controlled vocabulary, the authority value of the controlled vocabulary is left empty when the item is submitted.

**To Reproduce**
1. use the [latest REST](https://github.com/DSpace/DSpace/commit/d2386bc4abcb62b9b233d15eb4783a14af3cf8b6)
2. use the [latest angular](https://github.com/DSpace/dspace-angular/commit/436b9522

[2021-03-30 14:53] artlowel commented on #1073
We'll need to:
- Add the ability to combine features for a guard in an OR query
- Implement the guards for the routes
- enable/disable the tabs and buttons on the edit item page itself based on authorization for these features.

This will take an estimated **16 hours**

[2021-03-30 15:55] tdonohue commented on #1073
Thanks @artlowel .  I'll tentatively schedule this for 7.0 (to be built during/after Testathon), and assign back to your team.

[2021-03-31 08:10] artlowel opened #1080 "Provide a default privacy statement and end-user agreement"
**Describe the bug**
We added components for a privacy statement and end-user agreement in #862. However, currently they contain filler, lorem ipsum text. Before 7.0 we should preferably replace that filler text with a good default for both documents, or if we can't do that, disable the components by default.

**To Reproduce**
Click the privacy policy or end-user agreement links in the footer.

**

[2021-03-31 09:43] bruno-atmire commented on #1078
When the input type is left as `tag`, no authority value is sent to the backend either:

[code]

[2021-03-31 17:17] #885 closed

[2021-03-31 17:17] #876 closed

[2021-03-31 17:42] #1067 closed

[2021-04-01 14:17] tdonohue commented on #1071
Once Angular PR is ready, assign to me & @artlowel to review.

[2021-04-01 15:34] ubks-mp opened #1081 "Metadata Registry create new metadata schema doesn't appear without reload"
**Describe the bug**
On Metadata Registry page, when creating a new schema, the new schema is not listed after successful submit.
Name-field keeps old value.

**To Reproduce**
Create a new schema.

**Expected behavior**
New schema should list as last entry, both Namespace- and Name-fields should be empty.

**Temporary solution**
Reload.

[2021-04-01 18:47] #927 closed

[2021-04-01 18:53] #971 closed

[2021-04-01 18:53] #864 closed

[2021-04-01 18:53] #884 closed

[2021-04-01 18:53] #931 closed

[2021-04-01 18:53] #948 closed

[2021-04-01 18:53] #949 closed

[2021-04-01 18:53] #950 closed

[2021-04-01 18:53] #1000 closed

[2021-04-01 19:05] tdonohue opened #1082 "Not possible to delete an Item which has an invalid EntityType"
**Describe the bug**
In testing of #1066, it was discovered that **from the UI** it's currently not possible to delete an Item which has an invalid Entity Type (i.e. an invalid value in the  `dspace.entity.type` metadata field).

The reason is that, prior to deletion, the UI first makes a GET request for the EntityType label/value.  If that EntityType doesn't exist (i.e. isn't valid), then the RES

[2021-04-01 19:07] #1054 closed

[2021-04-02 14:14] #728 closed

[2021-04-02 14:14] #1030 closed

[2021-04-02 14:14] #976 closed

[2021-04-02 14:14] #1020 closed

[2021-04-02 14:22] #744 closed

[2021-04-02 21:45] tdonohue commented on #849
PR #1053 had to be reverted, as it broke the submission form. Reopening & assigning back to @LotteHofstede

[2021-04-02 21:45] tdonohue commented on #957
PR #1053 had to be reverted, as it broke the submission form. Reopening & assigning back to @LotteHofstede

[2021-04-06 14:10] #1036 closed

[2021-04-06 16:22] #849 closed

[2021-04-06 17:12] #917 closed

[2021-04-06 17:12] #1028 closed

[2021-04-08 17:23] #924 closed

[2021-04-08 20:20] tdonohue commented on #1080
@pnbecker : I recall you were working with the DSpace GDPR Working Group on perhaps drafting some default privacy statement / end-user agreement text.  Is this still accurate, and can it be made available in time for 7.0 final?

[2021-04-09 10:05] alemarte opened #1091 "Repeatable fields with look up still broken in some cases"
**Describe the bug**

I'm testing main with the [latest changes](https://github.com/DSpace/dspace-angular/pull/1025) to the submission repeatable fields against the candidate [PR](https://github.com/DSpace/DSpace/pull/3224) rest side and I've found a couple of bugs still.

1. If the first inserted value comes from a lookup, the form breaks because in that case the auto save is not fired.
2. If you

[2021-04-09 11:23] abollini commented on #1091
@tdonohue this has requested 3 hours of work

[2021-04-09 14:16] #727 closed

[2021-04-09 14:22] tdonohue opened #1093 "CSS for a custom theme should be selected/loaded automatically."
**Describe the bug**
Discovered during the review of https://github.com/DSpace/dspace-angular/pull/1063#discussion_r610419190

When creating a custom theme (or even the "dspace" base theme), it is currently recommended to modify the `src/index.html` to reference your theme's CSS directly. See https://github.com/DSpace/dspace-angular/blob/main/src/index.html#L10

**Expected behavior**
Ideally, this

[2021-04-12 20:46] tdonohue opened #1094 "Most relation fields (except Author) do not display their relations in the Submission form."
## Describe the bug

The majority of relation fields (except the Author field on the Publication form) do not display their selected relations in the submission form.

Known Relation fields that work:
* The "Author" field on the Publication form (this is a repeatable field which allows free text entry)

Know Relation fields that **do not work:**
* The "Publication" field on the Person form (this i

[2021-04-12 21:33] tdonohue commented on #1094
I've tentatively scheduled this for Beta 5, as I feel it is very high priority to resolve (there's no clear workaround).  However, if we cannot find an immediate volunteer, we may have to consider fixing it _during Testathon_ and flagging it as a "known bug" to any testers until it is solved.

[2021-04-12 22:07] tdonohue opened #1095 "Importing & creating a Person Entity via ORCID is confusing"
**Describe the bug**
While it all works, the process to import a new Person Entity from ORCID is confusing.  We may want to find ways to make it more user friendly.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an Admin
2. Start a new Publication submission (e.g. new submission in "Articles" collection)
3. In Author field, click the Lookup button
4. In Popup, go to "ORCID" tab and

[2021-04-13 13:25] artlowel commented on #1094
I created a PR to fix this issue: #1096. Kristof and I spent **4h** on this. Since it's urgent, we decided to go ahead and fix it rather than estimate and wait for approval first

[2021-04-13 13:34] tdonohue commented on #1094
Thanks @artlowel !  I'll add the estimate and help get the PR reviewed immediately.

Since your PR looks to be dependent also on #1092, I'd appreciate your help/support (or someone on your team) in moving that forward quickly too.  Thanks again.

[2021-04-13 16:42] #1091 closed

[2021-04-14 15:36] tdonohue opened #1101 "Deleted Relationships may still appear selected in Lookup window in submission form"
**Describe the bug**
When using Configurable Entities, if you add a related Entity and then delete the relationship, the deleted relationship still appears to exist in the Lookup window

**To Reproduce**
Steps to reproduce the behavior:
1. First, tested using the demo Entities data & Collections configured to match that data: https://github.com/DSpace-Labs/AIP-Files/releases/tag/demo-entities-data

[2021-04-14 16:45] #1094 closed

[2021-04-15 11:44] artlowel opened #1103 "Adding relationships from the edit item page is broken"
**Describe the bug**
If you try to add a relationship from the edit item tab as an admin the modal it will keep loading. It looks like this was broken by #1025, where a [number of observables specific to the submission where added to the modal](https://github.com/DSpace/dspace-angular/pull/1025/files#diff-7153c84b248096cb62023c0a8281c69489e686b19e1aa93210b193ba9907cca6R209-R226) and used to [deter

[2021-04-15 21:45] tdonohue commented on #1103
@artlowel : Assigning this back to you for analysis & estimation. It sounds like something that should be fixed in 7.0, so I gave it a `medium` priority.

[2021-04-15 21:46] tdonohue commented on #1101
@artlowel : Assigning to you to review for possible inclusion in 7.0. I gave this `low` priority for now, as the feature works, but looks misleading to a user.

[2021-04-15 21:48] tdonohue commented on #1095
@artlowel : Another one for you or your team to look at.  This is `low priority` because it works, but it's very confusing to use.  If there's any quick fixes possible for 7.0, we may wish to consider them.

[2021-04-15 21:55] tdonohue commented on #1081
@artlowel : Assigning to you (or your team to review).  To me, it sounds like a caching issue.  Placing this as low priority for now, as it works but is annoying

[2021-04-15 21:59] tdonohue commented on #1070
@atarix83 : I'm placing this in "Unscheduled" for now, as I'd want to hear back from our Accessibility analysis & tester feedback before scheduling this.  I'm not sure myself if this is really required, but feedback is welcome.

[2021-04-15 22:29] tdonohue commented on #957
Fixed by #1087

[2021-04-15 22:29] #957 closed

[2021-04-15 22:32] tdonohue commented on #837
@abollini : This ticket appears to have been "lost" for some time.  This sounds like a serious issue, so I'm flagging as `high priority` for 7.0.  However, it first needs to be validated (to see if it still exists).  Can you or someone on your team analyze this ticket?

[2021-04-16 14:51] artlowel commented on #1037
It turns out that with node 12 the max amount of memory is still only 2GB: https://github.com/nodejs/node/issues/28202

This seems a likely cause for the issues we've been having with the demo server. I've set the max higher using an environment variable for now. We'll see whether that improves stability. If it does, it still doesn't mean we have to add that flag to our yarn script again, but we m

[2021-04-16 15:04] artlowel opened #1106 "Non-unique ids for DOM elements"
**Describe the bug**
Since we merged #1057, a number of warnings about non-unique ids have shown up in the dev console:

![Screen Shot 2021-04-16 at 16 58 12](https://user-images.githubusercontent.com/1567693/115043597-f5430e80-9ed4-11eb-9b49-fa0b57c6e975.png)

The problematic elements are the username and password inputs for the login form and the search input in the header. They're likely duplic

[2021-04-16 15:30] artlowel opened #1107 "Cardinalities aren't taken into account when adding or removing relationships"
**Describe the bug**
We don't take cardinalities into account when adding or removing relationships in the submission or on the edit relationships tab for an archived item.

For example, if you submit a new item that has a relationship with minCardinality 1, you can add that relationship once. But afterwards you can't remove it or replace it. Rest refuses a DELETE request, because that would leave

[2021-04-16 15:59] tdonohue commented on #1107
@artlowel : Based on your description & linking to the larger Submission refactor, it sounds like you are implying we should wait to fix this for 7.1, as it may require a larger amount of work/discussion that isn't easily achievable in the 7.0 timeline.  Based on all that, I'm moving this to the 7.1 board alongside #858.

[2021-04-16 16:12] tdonohue commented on #1106
I agree, and this sounds like an accessibility issue that we should fix prior to 7.0. That said, I'm bumping this up to `medium priority`, as I know duplicate IDs cause issues in screen readers and similar... plus, I know accessibility is a priority for Steering.

Some fields do *require* an ID, if they are referenced in an ARIA attribute (by their ID) or by a label tag (again by their ID).  So, i

[2021-04-16 16:15] tdonohue commented on #1009
Flagging as `needs discussion` and moving into our unscheduled backlog, as the use cases are still unclear here.

[2021-04-16 16:28] tdonohue commented on #1059
While I agree this may provide better usability, I'm moving this to 7.1 as the current functionality works fine.  Also, I'd like to get feedback from users on the approach they'd like to see.

[2021-04-16 16:29] tdonohue commented on #1058
Agreed, this might be a good change to make. However, I'd like to have user feedback on this first, as the feature works as is.  Moving this to our 7.1 board to re-discuss during that release

[2021-04-16 16:33] tdonohue commented on #1046
@cwilper or @AndrewZWood : Have you done any further analysis of the issue here?  This seems like something we may want to solve in 7.0, but also seems low priority.  If you don't feel experienced enough to figure out the issue, we could also pull in @artlowel or someone on his team.

For now, moving this to 7.0 board, flagging as low priority & assigning back to @cwilper and @AndrewZWood (please

[2021-04-16 16:40] tdonohue commented on #1039
This appears (to me) to be solved in Beta 5.  Just tested on https://demo7.dspace.org

While the style of the scrollbar is not 100% identical between Chrome & Firefox, both of them now show a dark background that matches the sidebar color scheme.  So, I no longer see the white/light background in Firefox (as shown in the first screenshot).

Therefore, closing this as fixed in Beta 5.

[2021-04-16 16:40] #1039 closed

[2021-04-16 16:56] tdonohue commented on #549
This appears to be a duplicate of #1071, and is therefore being fixed by #1086.  Closing this issue ticket as work is already in progress to fix the issue.

[2021-04-16 16:56] #549 closed

[2021-04-19 13:10] atarix83 opened #1108 "Shibboleth authentication is broken due to CSRF token"
**Describe the bug**
After the introducing of CSRF token the shibboleth authentication is no longer working. The issue consists that after the user has logged-id with shibboleth the angular application make a login request but receive an 403 response with `Access is denied. Invalid CSRF token.` error

**To Reproduce**
Steps to reproduce the behavior:
1. go to the demo site https://demo7.dspace.org

[2021-04-19 13:23] abollini commented on #1108
it is worth to note that the shibboleth login works in the HAL browser

[2021-04-19 16:09] tdonohue opened #1110 "Deleting a single file in a multi-file submission makes all files disappear."
**Describe the bug**
If you start a submission, and upload many files, then delete one...all of the files disappear from the submission.  However, only the one is deleted.  The others will reappear if you exit the submission & reopen it.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new Item submission
2. Upload 3 files.  This succeeds. All three files will be listed.
3. Now, delet

[2021-04-19 16:11] tdonohue commented on #1110
@atarix83 : Could you look into this bug for me & see if you can figure out what may be going on? (Please provide an estimate & let me know if your team is interested in working on it.)  It sounds (to me) like some sort of caching issue -- all the files are removed from the cache & "disappear", even though only one is actually deleted.

[2021-04-19 16:25] tdonohue opened #1111 ""Burger" (3-line) menu doesn't work on most pages."
**Describe the bug**
(Copied from [Test Plan, Item T008](https://docs.google.com/spreadsheets/d/1BdK8SzytA7HoxOZgldCIHabMxeR4mYTXt_ynVT_-KR8/edit#gid=1865680815)):

**To Reproduce**
This is also reproducible on a desktop by making your window small. I've been able to reproduce on both Chrome & Firefox as follows:
1. Load up homepage
2. Drag window to be very small, until the 3-line menu option app

[2021-04-19 16:26] tdonohue commented on #1111
@atarix83 : Could you look into this one as well & report back?  It sounds like something may have accidentally broken in the recent theme/accessibility rework that you did in the header.

[2021-04-19 16:30] tdonohue opened #1112 "Date filter no longer works in Search"
**Describe the bug**
(Copied from [Test Plan, Item T009](https://docs.google.com/spreadsheets/d/1BdK8SzytA7HoxOZgldCIHabMxeR4mYTXt_ynVT_-KR8/edit#gid=1865680815)):

Video of behavior: https://ibb.co/GnK1pSX

**To Reproduce**
Steps to reproduce the behavior:
1. Search on "test" on https://demo7.dspace.org/
2. Filter by Author "Simmons, Cameron"
3. Filter by a Date (or Date range).  The results will

[2021-04-19 16:31] tdonohue commented on #1112
@artlowel : Could you (or someone on your team) look into this & let me know what you find?  It almost appears (to me) like the Date filter isn't sent to the backend -- so I *think* it's a UI problem.

[2021-04-19 16:48] tdonohue opened #1113 "Forgot Password page not working (disappears after initial load)"
**Describe the bug**
(Copied from [Test Plan, Item T012](https://docs.google.com/spreadsheets/d/1BdK8SzytA7HoxOZgldCIHabMxeR4mYTXt_ynVT_-KR8/edit#gid=1865680815)):

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new account (if needed) at https://demo7.dspace.org/ (or locally)
2. Use the "Forgot Password" page.
2. Password reset link will be sent via email
3. Click the link. If you

[2021-04-19 16:49] tdonohue commented on #1113
@artlowel : Could you or someone on your team look at this?  This appears (to me) to be a UI issue...and it looks like your team initially built this feature.

[2021-04-19 16:58] tdonohue opened #1114 "Collection selector always shows loading image on some pages"
**Describe the bug**
(Copied from [Test Plan, Item T017](https://docs.google.com/spreadsheets/d/1BdK8SzytA7HoxOZgldCIHabMxeR4mYTXt_ynVT_-KR8/edit#gid=1865680815)):

**To Reproduce**
I've been able to reproduce, and it seems like it has to do with whether the Collection select finds a collection or not.

For, instance, it works perfectly if you browse to a Collection first:
1. Browse to any Collect

[2021-04-19 16:58] tdonohue commented on #1114
@artlowel : Another one for your team to look at.  This also appears to be a UI level issue.

[2021-04-19 18:33] tdonohue opened #1115 "Private/Withdrawn filters no longer working in Administrative Search"
**Describe the bug**
The Private/Withdrawn filters in the Administrative Search always seem to return zero results.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an Admin and go to https://demo7.dspace.org/admin/search
2. Currently, on the demo site, there is one Withdrawn item & one Private Item
3. Click the "Withdrawn: Yes" filter. You'll see zero results, even though one withdr

[2021-04-19 18:57] tdonohue commented on #1115
@benbosman : Could you (or someone on your team) take a look at this? I *think* it actually may be a server-side Solr issue, as it looks (to me) like the proper request is being sent from the UI, but the results returned are zero.  For now, leaving this as a `dspace-angular` ticket though until we determine where the cause is.

[2021-04-19 19:10] tdonohue commented on #346
Just realized this was never implemented.  Currently, if unauthenticated, you are sent to the login screen.  If authenticated (but not an admin) then a withdrawn item shows a "403 Forbidden" error (after login). No tombstone is given.

@artlowel : Assigning this to your team for analysis. If this is a "quick fix", then I think we may want to get it into 7.0 (low priority though).  If there's somet

[2021-04-19 19:15] tdonohue opened #1116 "Item-level statistics pages no longer working"
**Describe the bug**
(Copied from [Test Plan, Item T122](https://docs.google.com/spreadsheets/d/1BdK8SzytA7HoxOZgldCIHabMxeR4mYTXt_ynVT_-KR8/edit#gid=1865680815)):

**To Reproduce**
1. Login as an Admin
2. Browse to an Item
3. Click on the "Statistics" link the header (nothing happens)
4. Browse to a Collection
5. Click on the "Statistics" link in the header -- you see Collection-level statistics

[2021-04-19 19:42] tdonohue opened #1117 "Pagination of ORCID search results not functioning properly."
**Describe the bug**
(Copied from [Test Plan, Item T113](https://docs.google.com/spreadsheets/d/1BdK8SzytA7HoxOZgldCIHabMxeR4mYTXt_ynVT_-KR8/edit#gid=1865680815)):

"

**To Reproduce**
Verified on demo site
1. Login as an Admin
2. Start a new Submission to the "Articles" collection (or any collection which has Publication Entities enabled)
2. Click the Lookup button next to the "Author" field
3. C

[2021-04-19 19:44] tdonohue commented on #1117
@artlowel : This looks like it was originally built by your team (namely @Atmire-Kristof )....so, assigning to you to analyze. Please feel free to delegate though, as I know you have a lot of these analyses on your plate.

[2021-04-19 20:13] pnbecker commented on #1080
I wrote to the mailing list from the GDPR working group. We haven't bin in touch for some while, but I'll try to come up with something.

[2021-04-19 20:18] pnbecker commented on #1080
Do we have a list of CDNs that we include content from? Do we have a list of external services that we include (e.g. Google Analytics, if it is switched on)?

[2021-04-19 20:34] tdonohue commented on #1080
@pnbecker : I don't believe we use any CDNs.  Everything is precompiled and served directly from your server running Angular to the client.  The client isn't pulling anything from elsewhere.

I'm not sure what sort of external services would qualify here.  Google Analytics is only used when enabled.  But, we do have many other services similarly available to enable, like ORCID, Sherpa, etc. Though

[2021-04-20 07:36] atarix83 commented on #1111
@tdonohue
it's due to a missing style, I've already resolved I can open directly a PR if you prefer

[2021-04-20 07:47] atarix83 commented on #1110
@tdonohue this should take about 2-3 hours to fix, we are interested to fix it

[2021-04-20 14:00] tdonohue commented on #1110
Thanks @atarix83 ! That sounds good to me.  Adding the estimate & will keep you assigned so that your team can start work on fixing this.

[2021-04-20 14:02] tdonohue commented on #1111
@atarix83 : Yes, please open a PR immediately whenever you know the fix is small.  Will keep this assigned to you and just add a 1 hour estimate since it was quick to fix.

[2021-04-20 14:45] artlowel commented on #1112
The date filter is sent to the backend, but the backend returns a 422. The reason is that the filter doesn't contain the equals operator.

I also notice there's an issue with the handles of the date slider:
![image](https://user-images.githubusercontent.com/1567693/115374931-97147500-a1cd-11eb-863a-1d84cd717a37.png)

Both issues can be fixed in an estimated **3 hours**

[2021-04-20 14:45] artlowel commented on #1113
This is due to an error in the EpersonRegistrationService.searchByToken logic. It doesn't work if the response has already been cached server side.

This will take an estimated **3 hours** to fix.

[2021-04-20 14:45] artlowel commented on #1114
We should:
- Show the unfiltered list of collections before the user starts typing
- Only show the no results alert if a search has occurred first
- Not show the loading component if there are no results

This will take an estimated **4 hours**

[2021-04-20 14:45] artlowel commented on #1103
@atarix83 Could you tell me why [this setItem method](https://github.com/DSpace/dspace-angular/pull/1025/files#diff-7153c84b248096cb62023c0a8281c69489e686b19e1aa93210b193ba9907cca6R209-R226) was added? The item was already being set by the method that initializes the modal in [the submission](https://github.com/DSpace/dspace-angular/blob/31e4aa788ee484815c3588a7077e56d11af1068a/src/app/shared/form

[2021-04-20 14:50] tdonohue commented on #1113
Thanks @artlowel .  Adding the estimate & assigning back to you & your team to work on.

[2021-04-20 14:51] tdonohue commented on #1114
Thanks @artlowel .  Estimate sounds good & assigning back to you for your team to work on.

[2021-04-20 14:52] tdonohue commented on #1112
Thanks @artlowel .  Estimate sounds good & assigning back to you for your team to work on.

[2021-04-20 15:17] artlowel commented on #1116
The problem is that it re-uses the item page resolver to determine for which item to retrieve the stats, but that resolver was changed to redirect to the entity url for #1001. So that resolver needs to be split up so the logic can be shared but so the one for the stats page doesn't redirect.

This can be done in an estimated **2 hours**

[2021-04-20 15:22] artlowel commented on #1117
This was likely broken by #1048. The pagination params in the URL are wrong.

It will take an estimated **3 hours** to fix

[2021-04-20 15:24] atarix83 commented on #1103
@artlowel that method has been added to retrieve the item end collection when I've tried to place the lookup button, along the `Add more` button in the form.component. There, both submission and collection are not available so I made that method. In the current implementation is not needed but we should keep in mind if we'll move the lookup button as suggested by @tdonohue [here](https://github.co

[2021-04-20 16:03] tdonohue commented on #1117
Thanks @artlowel .  Estimate sounds good & assigning back to you for your team to work on.

[2021-04-20 16:13] tdonohue commented on #1116
Thanks @artlowel , estimate sounds good. Assigning back to you for your team to work on

[2021-04-21 14:49] tdonohue opened #1119 "Embargo of Bitstream during submission not working"
**Describe the bug**
(Copied from [Test Plan, Item T023](https://docs.google.com/spreadsheets/d/1BdK8SzytA7HoxOZgldCIHabMxeR4mYTXt_ynVT_-KR8/edit#gid=1865680815)):

**To Reproduce**
In verifying this bug, I found that the Embargo date doesn't seem to be saving

1. Start a new submission
2. Upload a File
3. Edit the File, changing the "Access condition type" to "embargo", and adding a "Grand access

[2021-04-21 14:50] tdonohue commented on #1119
@atarix83 : Assigning this to you for analysis.  I'll admit, I'm not yet certain whether this is a frontend or backend error, but hopefully you can determine that will your colleagues.  Also flagging as high priority for 7.0.

[2021-04-21 14:58] tdonohue opened #1120 "Item Collection Mapper search for Collection not working"
**Describe the bug**
(Copied from [Test Plan, Item T037](https://docs.google.com/spreadsheets/d/1BdK8SzytA7HoxOZgldCIHabMxeR4mYTXt_ynVT_-KR8/edit#gid=1865680815)):

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an Admin (for example at https://demo7.dspace.org/)
2. Browse/search for an Item & Edit it
3. Go to the "Collection Mapper" tab
4. Go to the "Map new collections" subtab
5.

[2021-04-21 15:00] tdonohue commented on #1120
@artlowel : Assigning this to you & your team for analysis, as it seems like the search/pagination is broken here as well.  Strangely the original testathon report says they tried to map a Collection & it failed, but I cannot even get Collections to appear in search results.  So, see what you can reproduce here.  In any case, flagging this as high priority for 7.0

[2021-04-21 15:15] tdonohue commented on #1108
Assigning this to myself for initial analysis, since it seems CSRF related.  This is definitely high priority for 7.0

[2021-04-21 16:05] artlowel commented on #1120
@tdonohue It seems there is currently an issue with discovery on the backend. The call to search for collections to map returns [an inconsistent result](https://api7.dspace.org/server/#/server/api/discover/search/objects?sort=score,DESC&page=0&size=10&query=Collection%20AND%20-search.resourceid:38b3d22d-ad91-4daf-a4e1-3dc683523f9f&dsoType=COLLECTION). It has a nonzero totalPages and totalElements,

[2021-04-21 18:40] gsteinhart opened #1121 "Files disappear in submission process"
When I upload a file and complete metadata, then accept the license, the uploaded file disappears. If I try to upload again, I see BOTH files. If I try to delete one before completing the submission, they BOTH disappear.

[2021-04-21 18:45] tdonohue commented on #1121
Thanks @gsteinhart !

@atarix83 : I believe this is a duplicate of #1110  (or at least caused by that same bug). So, I'm assigning to you for analysis...if it is a duplicate, we can close this ticket in favor of #1110 (which I know is already in progress).

[2021-04-22 07:56] artlowel commented on #1120
Now the discovery index is rebuilt I seem to be able to map items just fine. Tried multiple item and collection combinations. One at a time, multiple at once. It all seems to work.

Granted I can no longer find the "Test work for CBL" item, or the Books collection in order to test the exact issue being reported.

I'm closing this for now. Feel free to reopen if there's a way to reproduce it.

[2021-04-22 07:56] #1120 closed

[2021-04-22 12:43] artlowel commented on #1103
In that case we can fix it in **1 hour**

[2021-04-22 14:08] atarix83 opened #1122 "Delete community/collection should be disable when a delete operation is in progress"
**Describe the bug**
This is a follow-up issue of https://github.com/DSpace/DSpace/issues/3243.
During the analysis made for https://github.com/DSpace/DSpace/issues/3243 it is obvious as that many consecutive delete request on the same community have been made by the user.
This is due to the delete community/collection page where the delete button is not disabled while the request is in progress.

[2021-04-22 14:41] tdonohue commented on #346
Depends on https://jira.lyrasis.org/browse/DS-4456 (which is not yet fixed & needs recreation)

[2021-04-22 14:53] tdonohue commented on #1122
@atarix83 : As mentioned today, I'm assigning this back to you for your team to investigate and provide an estimate. I've also labeled as high priority for 7.0

[2021-04-22 15:35] tdonohue commented on #1103
Sounds good @artlowel . I've assigned back to your team to begin work

[2021-04-22 15:51] tdonohue commented on #1046
Per today's meeting, I'm reassigning this to @artlowel so that he can delegate to appropriate team members to analyze the issue.

[2021-04-22 20:47] KingKrimmson opened #1123 "Class overrides no longer working after change to classpath"
**Describe the bug**
Traditionally, the `additions` module has been used to override base DSpace classes. However, due to a recent change, overrides within `additions` (and likely other modules) are no longer functioning correctly.

The PR in question is [PR 2544](https://github.com/DSpace/DSpace/pull/2544), and specifically the change which moved away from
[code]

**To Reproduce**
1. Override a c

[2021-04-22 20:55] cwilper commented on #1123
Note: The reason this probably broke is because the wildcard classpath capability of Java says the order is "not specified and may vary from platform to platform", whereas the previous approach relied on globbing by the shell, which sorts alphanumerically.

From https://docs.oracle.com/javase/8/docs/technotes/tools/unix/classpath.html

[2021-04-22 20:58] KingKrimmson commented on #1123
Accidentally made this in angular instead of REST. closing

See https://github.com/DSpace/DSpace/issues/3248

[2021-04-22 20:58] #1123 closed

[2021-04-23 19:34] santit96 opened #1124 "Access control section is visible to non admin users"
When logged in as an collection administrator i can to visualize and even access the Access control section. I even can see the groups and people lists and access to person and group details. But i can't edit groups that i don't belong to (this is ok)

Steps to reproduce the behavior:
1. Log in as an collection admin
2. Open the "Access control" section in the menu
3. Enter groups or people sectio

[2021-04-23 22:07] bbranan opened #1125 "Remove menu options for disabled features"
**Describe the bug**
In DSpace 7.0 beta 5 the *Statistics Task* and *Control Panel* options in the sidebar menu are always disabled. This is because these features are not completed and not planned for inclusion in DSpace 7.0. These menu options should be removed or hidden until the features that they point to are completed.

The purpose of this change is to avoid user confusion. If a feature does

[2021-04-25 12:28] DSquareTechnologies opened #1126 "Forgot password page - Unstable behavior and Submit password button not working"
**Describe the bug**
Unable to complete User registration process due to password creation page not loading after clicking password generation link received in email.

Page supposed to show password fields after clicking on the link disappear immediately after loading and the pre-loader keep running on the page continuously.

After multiple attempts, the page loaded in Incognito mode in Chrome but

[2021-04-25 14:53] DSquareTechnologies opened #1127 "Bug in Navigation - Current Members in Edit group page"
**Describe the bug**
Upon clicking the User name link appearing on Edit groups page. The system is opening User groups page instead of Eperson profile page for the selected user.

**To Reproduce**
Steps to reproduce the behavior:
1. Login using Administrative credentials
2. Go to User Groups from Administration Panel - Access Control > Groups
3. Click on Edit button appearing next to any User grou

[2021-04-26 17:37] tantz001 opened #1128 "Shibboleth login fails for Mac/Safari"
**Describe the bug**
In DSpace beta 5 (server and ui) along with https://github.com/DSpace/DSpace/pull/3242 (UPDATE: this is the current environment on https://demo7.dspace.org & can be reproduced there), Shibboleth authentication fails on Mac/Safari.  Upon successful authentication with the IdP, instead or redirecting to the application, a small text file is downloaded, the contents of which is "

[2021-04-26 20:53] tdonohue commented on #1126
This appears to be a duplicate of #1113. Closing, as that ticket is already assigned and being worked on.

[2021-04-26 20:53] #1126 closed

[2021-04-26 20:56] tdonohue commented on #1127
@artlowel : assigning this to you for your team to analyze & estimate.  Looks like it might just be a broken/bad link in UI

[2021-04-26 21:59] bbranan commented on #647
Related to:

It would be nice if the page number were maintained so that when you edit a group on page 3 of a group search, then select "Back", you're taken back to page 3 rather than to page 1.

[2021-04-26 22:05] bbranan commented on #647
Also, the Groups search results table should include a column that includes information about the community or collection that is managed by each auto-generated group.

Browsing through pages of groups that all have names like `COLLECTION_a1fea3fc-b0d8-401b-82cb-ca15b59c5c12_ADMIN` and no other information to indicate what that might mean makes it really hard to track down which group you need to

[2021-04-27 14:38] tdonohue commented on #1124
@artlowel : assigning this to you for your feedback.  I suspect this is a "side effect" of the fact that Community/Collection Admins *can view* People & Groups (as they need to be able to view them in order to manage Community/Collection based groups).  However, I wonder if there's a way to either hide the "Access Control" section, or perhaps somehow make it clearer that they only have *read-only*

[2021-04-27 14:45] tdonohue opened #1129 "Cannot add/edit Embargo on Bitstream of archived Item"
**Describe the bug**
Cannot add/change the Embargo on a Bitstream of an Archived Item

**To Reproduce**
Steps to reproduce the behavior:
1. Login as someone with Admin level permissions (full Admin, Comm/Coll Admin)
2. Eit an Item
3. Go to Bitstreams tab
4. Edit a Bitstream
5. The "Embargo until specific date" field will be listed but it's grayed out.

**Expected behavior**
It should be possible t

[2021-04-27 14:46] tdonohue commented on #1129
@atarix83 : I'm assigning this to you for your team to investigate & estimate.  It looks (to me) like we may have forgotten to implement this feature as the field appears to always be grayed out.

[2021-04-27 14:47] tdonohue commented on #1125
@artlowel : Assigning this to your team.  It's definitely a small task (likely 1 hr), but I agree with @bbranan that we should remove / comment out the grayed out menu options (which currently don't exist).

[2021-04-27 14:57] tdonohue opened #1130 ""All Repository" dropdown in search results has bad usability"
**Describe the bug**
In Testathon, several users reported that the "All Repository" dropdown in the search results (to all you to filter to a specific community/collection) doesn't make sense & is hard to use.

To me, it appears to *work* but it is very confusing as the context of the current results is never displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to search results
2.

[2021-04-27 14:58] tdonohue commented on #1130
@artlowel : Assigning this to your team to review & estimate.  I ranked it "medium", even though it somewhat "works" just because it's very difficult to understand how it's working.

[2021-04-27 15:39] artlowel commented on #1127
The problem is that [whenever you navigate away from the edit groups page for any reason, its onCancel method is called](https://github.com/DSpace/dspace-angular/blob/main/src/app/access-control/group-registry/group-form/group-form.component.ts#L408), and that will [navigate back to to the groups list](https://github.com/DSpace/dspace-angular/blob/main/src/app/access-control/group-registry/group-f

[2021-04-27 15:55] artlowel commented on #1125
This can be done in **1 hour**

Atmire would like to claim this issue

[2021-04-27 16:23] tdonohue commented on #1125
@artlowel : Assigning back to you for your team to work on. Thanks!

[2021-04-27 16:25] tdonohue commented on #1127
Thanks @artlowel .  I'll assign this back to your team. I've also scheduled #647 tentatively for 7.1

[2021-04-27 16:33] artlowel commented on #1124
I don't think we can hide the groups page entirely for community or collection admins. They need to manage the groups related to the communities and collections they manage. See #927

The best solution for groups in my opinion would be to add a search endpoint for groups similar to [findSubmitAuthorized for collection](https://github.com/DSpace/RestContract/blob/main/collections.md#findsubmitautho

[2021-04-27 17:18] santit96 opened #1131 "Error when permanently deleting an Item as a collection administrator"
**Describe the bug**
(Copied from [Test Plan, Item T030](https://docs.google.com/spreadsheets/d/1BdK8SzytA7HoxOZgldCIHabMxeR4mYTXt_ynVT_-KR8/edit#gid=1865680815)):

".  The API returns a 403 status response

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a collection administrator
2. Go to an item page in the collection that you are administrator of
3. Click the pencil icon on the

[2021-04-27 17:28] tdonohue commented on #1128
@tantz001 : That second line looks like the problem to me.  Notice that it shows you (somehow) coming from a *different* Origin/Referrer when you use Safari.

* In the Firefox/Chrome case, you'll see it's doing a `POST /Shibboleth.sso/SAML2/POST` coming from an Origin/Referrer of `https://login.umn.edu/`.  (This is how things work on my end when I use Shibboleth, so it looks like the expected resu

[2021-04-27 18:19] tantz001 commented on #1128
I tried adding that to my local.cfg (as a comma separated addition to rest.cors.allowed-origins = ${dspace.ui.url}) but the result was exactly the same.  Don't know if it makes any difference, but on closer inspection, I missed a line from the log file:  the second line of the apache log is actually:

10.21.59.48 - - [26/Apr/2021:11:51:03 -0500] "-" 408 - "-" "-"

[2021-04-27 18:27] #1111 closed

[2021-04-27 18:48] tdonohue commented on #1131
I was able to reproduce this locally.  The `DELETE https://370c9af427ee.ngrok.io/server/api/core/items/[uuid]` request returns a 403 error which is the result of a exception on the server-side (which is a general access denied exception):
[code]

I briefly glanced at the DELETE request, and it appears to be sending the proper `Authorization` header.  So, this appears (to me) to be a backend issue.

[2021-04-27 19:23] #992 closed

[2021-04-27 19:23] #993 closed

[2021-04-27 19:52] tdonohue commented on #1128
@tantz001 : That's odd too, as a 408 is a "Request timed out".

Overall, this entire scenario seems odd to me.  I don't understand why a Shibboleth IDP would be responding to DSpace with different Origins/Referrers when you use different browsers...  That's unexpected behavior, and it almost seems like your IDP is not behaving properly when you use Safari with it.

I'm simply not seeing a way to s

[2021-04-27 20:01] tdonohue commented on #1124
@artlowel : thanks for the notes. I agree that your "best solution" is ideal in this scenario, but the other solution would also work and be good enough (if the best solution is too complex to implement at this time).

@benbosman : Assigning this over to you for REST API analysis (as you worked on this previously).  Do you agree with the solution proposed by @artlowel , and could you share an esti

[2021-04-27 22:07] tdonohue opened #1132 "Cannot export Metadata (CSV) from Collection"
**Describe the bug**
Cannot export a Metadata CSV from a Collection while logged in as an Administrator

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an Admin
2. Browse to a Collection containing one or more Items
3. In the Admin Sidebar, select "Export" -> "Metadata" and select the Collection
4. A Process kicks off, but it immediately fails with this error:
[code]

**Expected beh

[2021-04-27 22:07] tdonohue commented on #1132
@benbosman : I'm assigning this to you/your team for analysis, as I *suspect* it's actually a backend bug.  As noted above, it sounds related to https://github.com/DSpace/DSpace/pull/2924, which your team worked on.

[2021-04-27 22:17] tdonohue opened #1133 "Cannot Import Metadata (CSV) as an Admin"
**Describe the bug**
Cannot import a Metadata CSV while logged in as an Administrator.  Seems like the same problem as reported in https://github.com/DSpace/dspace-angular/issues/1132

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an Admin
2. Create a CSV to import (preferably something small. It could be one line starting with a "+" to test creating a metadata import Item)
3. In t

[2021-04-27 22:18] tdonohue commented on #1133
@benbosman : Assigning this to you as well for your team to analyze & estimate.  As noted above, this sounds (to me) like a very similar problem as https://github.com/DSpace/dspace-angular/issues/1132, so they likely should be investigated/solved together.

[2021-04-28 14:20] alemarte opened #1134 "Runtime theme switch unexpected behavior"
**Describe the bug**
There is a very weird behavior when Angular draws a ThemedComponent involving a theme switch at runtime.
In fact it seems that the component is first drawn by using the previous active theme, and then updated with the new one.
It is odd especially when themes have significant differences in term of colors contrasts (which I think can happen sometimes).

**To Reproduce**
To qui

[2021-04-28 16:56] gsteinhart opened #1135 "Next/previous buttons not functioning in browse-by view"
To reproduce the problem:

1. Make any selection from the "all of Dspace" menu
2. Scroll to the bottom of the page
3. Try to use the Next button - it doesn't work

[2021-04-28 17:47] tdonohue commented on #1135
Hi @gsteinhart : This is actually a result of someone deleting all our test content (again).  These buttons don't work because there's only one page of results being returned.

So, I'm going to close this as it's a result of bad data.  The 4Science team is currently working on restoring our test data again.

[2021-04-28 17:47] #1135 closed

[2021-04-28 21:55] tdonohue commented on #445
Closing, as this looks to be obsolete. Protractor Patch was removed a while ago

[2021-04-28 21:55] #445 closed

[2021-04-29 09:09] benbosman commented on #1115
This is due to solr containing `"discoverable": "true"` and the filter is `fq=discoverable_keyword:true`
Since `discoverable_keyword` is not indexed, this doesn't work
This is indeed an API querying issue, and also an indication of a missing IT

This can be solved in 3 hours, including the IT
We can work on this

[2021-04-29 09:42] atarix83 commented on #1121
@tdonohue I think is something related the bug reported in #1110 so it can be fixed within that issue

[2021-04-29 09:52] artlowel opened #1136 "Used forgot password or registration links keep loading forever"
**Describe the bug**
If you click a forgot password link after it's been used, or get the URL wrong, the page will keep loading forever. The reason is that rest returns a 404, but the UI only takes succeeded responses in to account.

For the registration link it's slightly more convoluted. If you click a used or wrong registration link you'll see the end-user agreement first. And if you've already

[2021-04-29 09:53] artlowel commented on #1136
Fixing these issues will take an estimated **6 hours**

I would label these low or at most medium prio

[2021-04-29 12:24] artlowel commented on #1132
There are issues on the angular and the backend side here

One issue is that the -f option to pass the file name has been removed on the backend, but the UI still provides it. So we need to remove it

But another is that while the script should works with handles and uuids, it only accepts handles. @benbosman will still add an estimate to address that.

The angular side can be fixed in **1 hour**

[2021-04-29 12:26] artlowel commented on #1133
As with #1132 the issue is that the params on the backend have changed, but the UI wasn't updated. It will take **1 hour** to update them. There are no rest issues here

Atmire would like to claim this task

[2021-04-29 13:46] tdonohue commented on #1133
@artlowel : Thanks for figuring this out. Assigning back to you for your team to work on.

[2021-04-29 13:48] tdonohue commented on #1132
@artlowel : Thanks for digging here. You are welcome to begin Angular work (added you to assignment).  I'll also keep this assigned to @benbosman for his assessment on the REST API issues.

[2021-04-29 13:51] tdonohue commented on #1136
@artlowel : Thanks for the bug ticket. I think this is `medium priority` as it sounds like something that really shouldn't happen in a production system.  I've added the estimate, let me know if your team would like to claim.

[2021-04-29 13:52] tdonohue commented on #1121
Thanks @atarix83 , leaving this assigned to you then & moving to "in progress".

[2021-04-29 13:53] tdonohue commented on #1119
Thanks @atarix83 .  Adding the estimate.  Let me know if your team would like to work on this.

[2021-04-29 13:56] tdonohue commented on #1115
Thanks @benbosman .  Sounds good & assigning back to you for your team to start work.

(Please also keep in mind that there *might* be a small Angular fix here too...notice how you select the value "yes" or "no" but in the Angular UI it changes to "true" or "false" once selected.  I suspect we may need a small Angular PR to fix that too.  This could be assigned to @artlowel 's team as needed, if I

[2021-04-29 15:01] PabloDeAlbu opened #1140 "Cannot map new items with Collection Admin"
A Collection Admin should be able to add (map) existing items from other collections

**Describe the bug**
The Collection Admin can edit item metadata, assign roles but cannot map existing items from other collections.

**To Reproduce**
Steps to reproduce the behavior:
1. Log as a "Collection Administrator" (not as an Admin)
2. Edit the collection for which you have permissions
3. Go to "Item Mapp

[2021-04-29 15:01] PabloDeAlbu opened #1203 "Cannot map new items with Collection Admin"
A Collection Admin should be able to add (map) existing items from other collections

**Describe the bug**
The Collection Admin can edit item metadata, assign roles but cannot map existing items from other collections.

**To Reproduce**
Steps to reproduce the behavior:
1. Log as a "Collection Administrator" (not as an Admin)
2. Edit the collection for which you have permissions
3. Go to "Item Mapp

[2021-04-29 15:14] #1108 closed

[2021-04-29 21:00] tantz001 commented on #1128
Apparently I did not test this before.  I experience the same result on the demo site authenticating against smltest.id

[2021-04-29 22:00] tdonohue commented on #1128
@tantz001 : This makes me wonder if it's a feature of Safari causing issues?  I notice they recently (2020) started blocking all third-party cookies: https://www.infoq.com/news/2020/04/safari-third-party-cookies-block/  If that setting is on in your Safari browser, it *might* be the cause of the issues here, as Shibboleth authentication **requires cookies**, and those cookies **must be third-party

[2021-04-29 22:18] tantz001 commented on #1128
I tried disabling this option in Safari (referred to as "prevent cross site tracking"), however the results are the same.  As an experiment, I disabled third party cookies in Chrome, and I can still successfully redirect to the test site after authenticating, so it must be some other issue.  For my local testing, the UI and the rest api are on the same host.

[2021-04-30 14:54] tdonohue commented on #1128
This is a complete mystery to me now.  It doesn't seem like this process should be browser specific, but something odd is going on.  I'll ask around to see if I can find others who have a Mac/Safari environment & willing to help us test this (I unfortunately don't have a Mac anywhere, so I'm not useful in debugging this one.)

[2021-04-30 15:04] tantz001 commented on #1128
Clearly this is not slowing down our testing, local or on the test site, but we should keep this issue open as a reminder to test the most common OS/browser combos.  At any rate, I think we can eliminate the IdP as the problem.

[2021-04-30 15:06] tdonohue commented on #1128
https://github.com/DSpace/DSpace/pull/3242 has now been merged & I pushed those updates out to https://demo7.dspace.org/   That means we may be able to more easily have others test this if they simply have a Mac & Safari.

[2021-04-30 15:25] tdonohue commented on #1128
@tantz001 : This was verified by someone else on Slack (see #dev channel there), so it's not just you.  For them (MacOS 11.3), Shibboleth login works via Chrome, but not via Safari.  So, you are correct...somehow this Shibboleth login process doesn't work for Safari & I'm currently stumped as to why that would be.

[2021-04-30 15:59] tdonohue commented on #1128
In discussion on Slack (#dev channel), @abollini noted the errors seem like they might be related to https://www.drupal.org/project/simplesamlphp_auth/issues/3066598, which is a very similar error that Drupal encountered with Shibboleth + Safari.  In that issue ticket, it specifically notes:

It's possible (not yet proven) that Safari is adding an unexpected `Origin` header, which then triggering

[2021-04-30 17:23] tantz001 commented on #1128
Sounds good!

On Fri, Apr 30, 2021 at 11:00 AM Tim Donohue ***@***.***>
wrote:

--
Human wheels spin round and round
While the clock keeps the pace... -- John Mellencamp
________________________________________________________________
Bill Tantzen    University of Minnesota Libraries
612-626-9949 (U of M)    612-325-1777 (cell)

[2021-04-30 17:38] tdonohue commented on #1128
@tantz001 : It turns out this is a simple configuration issue!  It's fixed now on https://demo7.dspace.org/

For Safari to work, we've discovered that the main URL of the Shibboleth IdP **must be added** to the `rest.cors.allowed-origins` setting in the `local.cfg`.

So, to fix this on https://demo7.dspace.org/ (which uses https://samltest.id as the Shibboleth IdP), we just had to update that conf

[2021-04-30 18:22] #1128 closed

[2021-04-30 19:26] gsteinhart opened #1141 "Can't create new policy for a bitstream"
To reproduce the issue, logged in as admin:

1. Find or create an item with bitstreams
2. Edit item
3. Choose Status > Authorizations
4. (Can't keep doing the steps to document here, now, because demo instance is hung up and I can't access my item, but here are the errors messages: "An error occurred while creating resource policy" and ""Unprocessable or invalid entry")

[2021-04-30 21:57] #1113 closed

[2021-05-01 07:46] DSquareTechnologies opened #1142 "Approver/Editor not receiving Items for verification during submission"
**Describe the bug**
User assigned as Editor and/or Reviewers in a collection does not receive item submitted in that collection for approval/editing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection
2. Go to Assign roles under Collection Administration
3. Add group under "Editors" and/or "Reviewers" section and add user in these groups. Please refer to Collection id: http

[2021-05-01 08:08] DSquareTechnologies opened #1143 "Focus shift issue with Date of issue field in the submission form"
**Describe the bug**
Tab sequence does not behave as expected across three subfields appearing under Date of Issue. Upon pressing the tab after entering the year, the focus shifts to Publisher field instead of shifting to month field. However, after entering the year if 'enter' key is pressed then the month gets active, and upon pressing the tab key focus shifts to the month field.

**To Reproduce

[2021-05-01 08:29] DSquareTechnologies opened #1144 "Bitstream/Attachment appearance issue during submission process"
**Describe the bug**
Bitstream/Attachment uploaded at the beginning of the submission process disappears as soon as the "terms acceptance" check box is checked and the "Deposit" button gets deactivated.

Upon re-uploading the attachment in the same submission process, both fresh and previous attachments uploaded appear. Upon selecting the "terms acceptance" check box on the second attempt, the "De

[2021-05-03 15:17] tdonohue commented on #1134
@artlowel : I'd appreciate your feedback on this.  I've tentatively labeled as `medium priority`, but I'd like to better understand the complexity of fixing this.  If it's overly complex, we may be able to delay past 7.0 (and simply document the problem), but it'd be nice to fix now if plausible.

[2021-05-03 17:13] tdonohue commented on #1140
I've verified this is a bug. It appears to be on the backend, as the backend throws this `403 Forbidden` error:
[code]

It looks like the problem is that the Item needs to also be updated to complete the mapping...see this line of code: https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/main/java/org/dspace/app/rest/MappedCollectionRestController.java#L107

[2021-05-03 18:15] tdonohue commented on #1142
@DSquareTechnologies : I'm not able to reproduce this issue.  Here's what I see:

1. Setup a Collection as you describe, with at least one Editor or Reviewer
2. Submit a document to that collection
3. Login as the "Editor" or "Reviewer".  Visit their "My DSpace" page.
4. Nothing will be displayed in the "Your Submissions" view. But, if you change the "Show" dropdown to say "All Tasks", you'll see

[2021-05-03 18:30] tdonohue commented on #1144
I'm able to reproduce this on the demo site (demo7.dspace.org), but I cannot reproduce this locally (in a local.  I think though that it *might* be related to the other bitstream upload issues, namely #1121 .

@atarix83 : Assigning this to you for review/analysis, as I think this is the same issue as #1121, or at least caused by the same process. I've had difficulty reproducing it on my local inst

[2021-05-03 18:38] tdonohue commented on #1143
I can reproduce this both locally & on the demo site.

It seems to be caused by the month & date fields being disabled until the year (or month) is filled out & deselected. @atarix83 : Assigning this to you & your team for analysis, as this was also reported as part of our accessibility analysis.  Flagging as `medium priority` as it'd be ideal to move between fields by pressing tab.

[2021-05-03 18:51] tdonohue commented on #1141
@gsteinhart : I tried this today, and it's working for me on the demo site (and locally).  So, I wonder if this was a temporary issue (perhaps caused by deleted data last week).  Here's what I see:

1. Login as an admin (dspacedemo+admin@gmail.com)
2. Browse/search for an Item which has a Bitstream
3. Click Edit on the Item
4. On the "Status" tab, click "Authorizations"
5. Under "Bitstream" polici

[2021-05-04 00:41] DSquareTechnologies commented on #1142
Hi Tim,

Let me follow steps and confirm you soon.

Thanks,

Narendra

On 03-05-2021 23:46, Tim Donohue wrote:

[2021-05-04 14:24] #1073 closed

[2021-05-04 15:19] benbosman commented on #1131
A quick glance at the code [reveals](https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ItemRestRepository.java#L151):
[code]

The actual permissions needed for this use to be a REMOVE resource policy on the collection and a DELETE resource policy on the item

What we can do here is:
* Change the PreAuthorize to `@PreAuthorize("hasPermissio

[2021-05-04 16:16] tdonohue opened #1147 "Old 6.x URL paths should redirect to new 7.x location (for SEO)"
**Describe the bug**
To ease in upgrading, major 6.x URLs should redirect to the new location in 7.x.  Several of these already work (so this ticket is documenting that), but a few remain to be fixed:

Community URLs
* `/handle/[prefix]/[suffix]` (6.x) -> `/communities/[uuid]` (7.x)  - ALREADY WORKS

Collections URLs
* `/handle/[prefix]/[suffix]` (6.x) -> `/collections/[uuid]` (7.x)  - ALREADY WOR

[2021-05-04 16:19] tdonohue commented on #1147
@artlowel : Assigning this to you for your team to investigate, as I know you've helped with Bitstream download URLs in the past.  In this situation, as you'll see, we simply need to redirect old URLs to the new Bitstream download URL.  Rated this `high priority` as it was mentioned by Google Scholar as necessary for their spiders when they crawl after an upgrade from 6.x -> 7.x.

[2021-05-04 17:26] tdonohue commented on #1131
Thanks @benbosman . All that sounds good. Assigned back to you for your team to start work.

[2021-05-04 17:26] tdonohue commented on #1131
Oh, and I'm moving this to DSpace/DSpace as it's a backend ticket!

[2021-05-04 17:39] tdonohue opened #1148 "Viewing/Removing Relationships in Edit Item is difficult for entities with >20 relationships"
**Describe the bug**
Discovered while testing #1139

In the "Edit Item" screen, "Relationships" tab, there are two related issues which make managing >20 relationships difficult.  I've listed these in one ticket, as a single solution _might_ be "good enough" for now.

**[Bug 1]** When adding a new relationship, the (popup) modal window works overall.  However, it doesn't show which entities alread

[2021-05-04 17:40] tdonohue commented on #1148
@artlowel : Assigning this to your team to investigate & estimate.  As noted above, I think there might be two possible solutions here...but, I'd appreciate your thoughts/ideas on which direction is better for 7.0 vs later.

[2021-05-04 17:41] #1103 closed

[2021-05-04 19:19] #1112 closed

[2021-05-04 19:34] tdonohue commented on #1095
Bumping this up to `medium priority` as this was encountered also during Testathon by @bram-atmire .  As he noted in his comments, when an error is triggered (by missing step 6 in the description) the rest of the submission form becomes unusable.

[2021-05-05 08:37] benbosman commented on #1132
The REST part to support the UUID and add an IT should be doable in **2 hours**

We can work on that part as well

[2021-05-05 09:41] artlowel commented on #1147
This will require a new rest endpoint: a search endpoint for bitstreams that allows us to find one based on the combination of handle, filename and sequence id. Since handle is a param it could also conceivable be housed under the pid/find endpoint instead.

After we have that, we can add Angular support in an estimated **4 hours**

[2021-05-05 15:00] tdonohue commented on #1132
Thanks @benbosman .  Since this is small, for simplicity, I'm going to add both REST & Angular into this one ticket.  So, bumping the estimate to 3 hours total and assigning both you and @artlowel

[2021-05-05 15:52] #1071 closed

[2021-05-06 11:39] benbosman commented on #1147
I would recommend to create a new Rest endpoint:
`/api/core/bitstreams/search/bySequenceId?handle=[prefix]/[suffix]&sequence=[sequence_id]`

This would return a single bitstream (not a list) if there's a match

The implementation and ITs would require **4 hours**

[2021-05-06 21:18] tdonohue opened #1149 "[Deque Analysis] Hyperlinks on non-white backgrounds have insufficient color contrast"
## Deque Analysis Summary

Two examples of this issue exist, spread across 10 issues in Deque analysis

1. Element has insufficient color contrast of 4.28 (foreground color: `#207698` , background color: `#e8ebf3`). Contrast must be 4.5 or more
   * **Location: Search Results page, all hyperlinks in the "Filters" sidebar (e.g. "show all", "collapse", date range links)**
   * Example: https://demo7

[2021-05-07 14:38] tdonohue commented on #1147
@benbosman : That seems reasonable...although I've just found a third URL pattern we need to support which does *not* include the sequence ID.  This XMLUI URL pattern also works: `/bitstream/handle/[prefix]/[suffix]/[filename]`

So, I think we may need to modify that REST endpoint to be something like

`/api/core/bitstreams/search/byItemHandle?handle=[prefix]/[suffix]&sequence=[sequence_id]&filena

[2021-05-07 14:42] #1127 closed

[2021-05-07 14:48] tdonohue commented on #1080
@pnbecker : I'm assigning this ticket to you officially, since you are taking the lead on this (per discussions in DSpace Governance meetings).  Let us know obviously what support you may need.

[2021-05-07 15:45] tdonohue opened #1151 "[Deque Analysis] Form elements, tabs, buttons & dropdowns have insufficient color contrast"
## Deque Analysis Summary

This issue exists on 8 pages, spread across 43 issues in our Deque analysis.  In all situations, a form element has the following color contrast issue:

"Element has insufficient color contrast of 4.47 (foreground color: `#777777`, background color: `#ffffff`). Contrast must be 4.5 or more."

1. Search Results (9 tickets)
   * https://demo7.dspace.org/search?spc.page=1&q

[2021-05-07 15:45] mgrothe-gu opened #1152 "LDAP user information should be read-only"
**Describe the bug**
In DSpace 7 Beta 5.0 users managed via an LDAP directory can edit their information in their user profile. Changing the password is said to be successful by the UI, but the password is in fact not changed. First name and last name can be edited. The email address can be edited by admins.

**To Reproduce**
Log in with an LDAP user and navigate to the user profile or as an admin

[2021-05-07 16:02] mgrothe-gu opened #1153 "Configuration option for disabling self-registration"
**Is your feature request related to a problem? Please describe.**
Self registration of users can not be disabled in DSpace 7 Beta 5.0. Most institutions mange user accounts via services like LDAP, but also require password-authentication to be enabled for local admin accounts. With local accounts enabled, registration with an email address is enabled too. The prominent sign-up field might convinc

[2021-05-07 16:21] tdonohue opened #1154 "[Deque Analysis] Avoid using "text_muted", as it has insufficient color contrast on a white background"
## Deque Analysis Summary

The `text_muted` style is used in a number of scenarios, and it's contrast is insufficient on a white background.  A few of the scenarios where it is used include:
* Displays of objects in lists...often the displayed non-Title metadata (e.g. date, authors, etc) uses `text_muted`.
* Placeholder text in input fields use `text_muted`.

The contrast error is common in all th

[2021-05-07 16:36] tdonohue opened #1155 "[Deque Analysis] Disabled Side Menu options have insufficient color contrast"
## Deque Analysis Summary

Options which appear in the Admin/Side menu but are *disabled* have insufficient color contrast.

These have two separate errors (as there are slightly different colors for disabled headers vs sublinks)

1. Element has insufficient color contrast of 2.25 (foreground color: #4b545e, background color: #0f1b28
     * Deque issue ticket IDs: 469232, 469233, 469234, 469235, 4

[2021-05-07 16:44] tdonohue opened #1156 "[Deque Analysis] Dark badges/buttons have insufficient color contrast"
## Deque Analysis Summary

In several locations, dark buttons (with white text) have insufficient color contrast.  Most of these (possibly all) may be using `btn-secondary` or `badge-secondary` which just needs to be made darker.

"Element has insufficient color contrast of 4.47 (foreground color: `#ffffff`, background color: `#777777`.  Contrast must be 4.5 or more."

1. Browse by Author (https:/

[2021-05-07 17:13] mwoodiupui commented on #1154
Something to think about for the future:  perhaps we have this problem because the class is *incomplete*.  IMHO "muted text" should define both the foreground and the background color, and should not be a class itself but a consideration when designing a class.  This suggests to me that we should be thinking in terms of the basic functional blocks of a page and defining classes that style everythi

[2021-05-07 17:24] tdonohue opened #1157 "[Deque Analysis] On homepage of "dspace" theme, text over image has insufficient color contrast"
## Deque Analysis Summary

On homepage, text over image has insufficient color contrast (both for the regular text and the green hyperlinks).

https://demo7.dspace.org/home

1. Regular white text: "Text content lacks 4.5:1 contrast ratio. Text color:` #FFFFFF`  Background color: `#8C8C8C` Contrast ratio: 3.4:1"
    * Deque issue ticket IDs: 469494
2. Green link text: "Text content lacks 4.5:1 cont

[2021-05-07 18:18] tdonohue opened #1158 "[Deque Analysis] Submission Form Collection Selector has insufficient color contrast"
## Deque Analysis Summary

On the Submission form, the Collection selector (at the top of the page) has several color contrast issues

https://demo7.dspace.org/submit

1. "Collection" label: "Element has insufficient color contrast of 3.77 (foreground color: `#777777`, background color: `#e9ecef`). Contrast must be 4.5 or more."
     * Deque issue ticket IDs: 469505
2. In dropdown, placeholder tex

[2021-05-07 18:34] tdonohue opened #1159 "[Deque Analysis] Bitstream Embargo Date Picker has several color contrast issues"
## Deque Analysis Summary

On the Submission form, the Embargo Date Picker / Fields have several color contrast issues

https://demo7.dspace.org/submit -> Upload a File -> Edit File & look for the embargo fields

1. Placeholder text has insufficient color contrast when date fields are disabled. Element has insufficient color contrast of 3.77 (foreground color: `#777777`, background color: `#e9ecef

[2021-05-07 18:47] tdonohue opened #1160 "[Deque Analysis] Table subheadings lack color contrast (against a non-white background)"
## Deque Analysis Summary

Table subheadings lack color contrast:

"Element has insufficient color contrast of 3.77 (foreground color: `#777777`, background color: `#e9ecef`, font size: 12.0pt (16px), font weight: bold). Expected contrast ratio of 4.5:1"

This was noticed on the "Edit Item" -> "Bitstreams" tab.  This issue occurs in the "BUNDLE: [name]" subheaders within the Bitstreams table.

Deq

[2021-05-07 18:56] tdonohue opened #1161 "[Deque Analysis] File upload progress bar & success message lack color contrast"
## Deque Analysis Summary

1. While a file upload is in progress, the progress bar displayed has insufficient color contrast (e.g. "Queue length: 1 | sample.txt"):  Foreground: `#9C9C9C`, Background: `#FFFFFF`, The contrast ratio is: 2.7:1
2. After a file upload is successful (or really any successful task) a green success message appears.  This also has color contrast issues: Foreground: `#647D3E

[2021-05-07 19:01] tdonohue opened #1162 "[Deque Analysis] "No Thumbnail" SVG inline image has insufficient color contrast"
## Deque Analysis Summary

The "No Thumbnail" image displayed (e.g. on Item view page) when an Item is missing a thumbnail has color contrast issues.

Text content lacks 4.5:1 contrast ratio. Foreground: `#AAAAAA` Background: `#FFFFFF` The contrast ratio is: 2.3:1

Deque issue ticket IDs:  469999, 471020

_NOTE: In a separate ticket, Deque also noted that this might be changed from a image to HTML

[2021-05-07 19:11] tdonohue opened #1163 "[Deque Analysis] DSpace Green buttons/badges have insufficient color contrast for white text"
## Deque Analysis Summary

Buttons/badges which use a DSpace-like green background have color contrast issues.  This appears in several locations:

1. MyDSpace page, "archived" status green badges: Element has insufficient color contrast of 1.69 (foreground color: `#e8ebf3`, background color: `#92c642`) Contrast must be 4.5 or more."
    * Deque issue ticket IDs: 470124
2. Edit Item page, Metadata

[2021-05-07 19:25] tdonohue opened #1164 "[Deque Analysis] Faded text (for long abstracts / text blocks) may be seen as insufficient color contrast & as "content lost" on small screens"
## Deque Analysis Summary
Two "serious" issues with faded text:

**1. Faded text triggers insufficient color contrast errors**
When viewing a list of Items, sometimes faded text will appear (for long lists of authors, or a long description/abstract).  This is most easily seen in the Search Results (especially the grid view): https://demo7.dspace.org/search?spc.page=1&query=test&spc.sf=score&spc.sd

[2021-05-07 19:47] tdonohue commented on #1154
@mwoodiupui : `text_muted` isn't a concept we (DSpace) created. It's something we are using from Bootstrap: https://getbootstrap.com/docs/4.0/utilities/colors/#color   So, I'm just noting here that *Bootstrap's* `text_muted` class shouldn't be used, as it isn't sufficient on a white background (which we use).  While I get your point, this isn't a problem we can really solve ourselves...Bootstrap o

[2021-05-07 19:52] tdonohue commented on #1154
@artlowel : Assigning this to you for you/your team to investigate (as it sounded like you had an interest in replacing our usages of `text-muted` with something like `text-secondary` or similar).

Please also keep in mind that, fixing this ticket will require updating the style of "placeholder" text in form fields (as it widely uses `text-muted`), but you should not worry about fixing the color o

[2021-05-07 19:54] tdonohue commented on #1151
@atarix83 : Assigning this to you for you/your team to analyze, as I know you've done a lot of work with form fields (especially in submission).  Please keep in mind though that this ticket only involves fixing the color of form fields...you should not worry about fixing the color of their "placeholder" text, as that will be handled separately in #1154.

[2021-05-07 19:56] tdonohue commented on #1157
@artlowel : Assigning this to you for analysis, as it's all about the homepage image & overlay text.  As you'll see above, I have a few early ideas for how to fix accessibility, but I'm open to other ideas here.  (And we might need to remove the green link color if it's just too difficult to deal with)

[2021-05-07 19:57] tdonohue commented on #1158
@atarix83 : Assigning this to you for your analysis as it has to do with the Collection selector on the Submission form.

[2021-05-07 19:58] tdonohue commented on #1159
@atarix83 : assigning this to you for your analysis/feedback as it's all about the Embargo features on the Submission form.  (As a sidenote, if we cannot get the embargo "date picker" to meet our accessibility guidelines, I'm also OK with removing it in favor of a manual date entry. Just let me know what you think is most reasonable.)

[2021-05-07 20:00] tdonohue commented on #1162
@artlowel : Assigning this to you / your team for analysis.

[2021-05-07 20:01] tdonohue commented on #1164
@artlowel : I'd appreciate your feedback here...but this is `low priority` as I think it may be a "false positive" (it was only found from manual testing, not automated, so it might be confusion over how this feature works).  That said, if you have feedback or ideas, let me know.

[2021-05-07 20:03] tdonohue commented on #1160
@artlowel : assigning this to you for analysis.  This is likely a quick fix

[2021-05-07 20:04] tdonohue commented on #1156
@artlowel : Assigning this to you for analysis.  Might be a quick fix (make the color darker)

[2021-05-07 20:05] tdonohue commented on #1149
@atarix83 : Assigning this to you for analysis.  Might be a quick fix (make the color darker)

[2021-05-10 16:23] tdonohue opened #1167 "[Deque Analysis] Header's "critical" accessibility issues"
## Deque Analysis Summary

A total of 9 Critical issues exist in the Header (visible on all pages). They are summarized here:
1. (ID 468402, 468403, 469227, 469228) IDs/Labels must be unique: Two elements exist having each of the ID=`dropdownLang` and ID=`dropdownUser` and ID=`inputEmail` and ID=`inputPassword` . It appears these elements appear twice in the generated HTML code, but only one is vi

[2021-05-10 16:34] tdonohue commented on #1167
@atarix83 : Assigning this to you/your team for analysis, as you helped redesign the new one-line header. Hopefully these will be pretty straightforward, though I linked to the full results if you need more details.

[2021-05-10 16:47] mwoodiupui commented on #1154
I won't drag this thread out, but I did understand that `text-muted` is from Bootstrap.  "Muted text" is not; it's a styling concept, and its meaning is dependent on the styling of adjacent and related elements.  In the long term we *can* solve this ourselves, at the cost of less dependence on Bootstrap.  (But not in this ticket, so I'll quiet down now.)

[2021-05-10 17:00] tdonohue opened #1168 "[Deque Analysis] Search Results "critical" accessibility issues"
## Deque Analysis Summary

A total of 24 Critical issues exist in the Search Results (https://demo7.dspace.org/search?spc.page=1&query=test) . They are summarized here:
1. (20 issues) All Filter checkboxes are missing labels.  The values next to the checkboxes are improperly in `<span>` tags instead of `<label>` tags which reference the checkbox input field.  See for example: https://www.a11ymatte

[2021-05-10 17:10] tdonohue opened #1169 "[Deque Analysis] Thumbnail images must have alt text"
## Deque Analysis Summary

A total of 2 Critical issues exist in the Item/Entity pages, both having to do with alt text on thumbnails:

1. (IDs 469681, 469997) "No Thumbnail" image needs "alt" text, e.g. https://demo7.dspace.org/entities/publication/4e203020-8fd6-406a-addc-f4f08365b662  (In this case alt text could just say "No thumbnail available")
     * This includes placeholder images on entit

[2021-05-10 17:10] tdonohue commented on #1169
@artlowel : Assigning this to you/your team for analysis.

[2021-05-10 17:24] tdonohue opened #1170 "[Deque Analysis] Action/Admin Sidebar is not entirely keyboard accessible"
## Deque Analysis Summary

A total of 3 Critical issues exist in the Action/Admin sidebar, all pertaining to keyboard accessibility:

1. (ID 470074) Under "New" menu, "Community", "Collection" and "Item" link are inaccessible to keyboard.  Strangely, when that menu is open, clicking Tab jumps to "Process".  (It may be because these three entries use Javascript and have an `a` tag without an `href`

[2021-05-10 17:25] tdonohue commented on #1170
@artlowel : assigning this to you / your team for analysis.

[2021-05-10 20:03] tdonohue opened #1171 "[Deque Analysis] Submission / MyDSpace "critical" accessibility issues"
## Deque Analysis Summary

A total of 28 Critical issues exist in the Submission/MyDSpace pages. They are summarized here:

1. (3 issues) "Elements must only use allowed ARIA attributes."
    * (Issue ID: 469501, 469502) The `aria-expanded` attribute is invalid on `input` fields (it currently appears for dc.type and dc.language.iso fields). See https://www.w3.org/TR/wai-aria-1.1/#aria-expanded  It

[2021-05-10 20:03] tdonohue commented on #1171
@atarix83 : Assigning this to you/your team for analysis.

[2021-05-10 20:36] tdonohue opened #1172 "[Deque Analysis] Edit Item/Collection "critical" accessibility issues"
## Deque Analysis Summary

A total of 5 Critical issues exist related to editing Items or Collections. They are summarized here:

1. ~~(Issue ID: 470946) Edit Item, Bitstreams tab: "Content should be in a data table but is not."  The page appears visually as a table, but it is not represented as a `<table>`.~~ MOVED TO #1270
2. (Issue ID: 471444) Edit Item, Metadata tab: "Label in `<th>` is not as

[2021-05-10 20:42] tdonohue commented on #1172
@atarix83 ; Assigning this one to you/your team for analysis as well, as several issues overlap with the Submission accessibility ticket (#1171)... So, it may be possible to solve both together, or take what you learn from the Submission fixes & reapply them here.

[2021-05-10 21:03] tdonohue opened #1173 "[Deque Analysis] User is not warned of session timeout"
## Deque Analysis Summary
Copied from Issue ID: 471071

Content times out without providing any warning to the user.

The current session has a time out of around 30 minutes and there is no warning to the user.
The user gets logged out automatically and redirected to the login page.

RULE :
If there is a session time limit, users MUST be warned before the session ends and MUST be given time to sav

[2021-05-10 21:05] tdonohue commented on #1173
@artlowel : I'd appreciate your feedback on this one (and we could bring to a future meeting if needed).  It might need more discussion, but I've added a few early ideas in the "Recommended Fix" section above.  If that sounds logical to you, we could move this forward into estimation...but, I'd be interested in other ideas as well.

[2021-05-10 21:58] tdonohue opened #1174 "[Deque Analysis] Header's "serious" accessibility issues"
## Deque Analysis Summary

Our Header has a total of 11 serious accessibility issues (not including color contrast which are handled in other tickets).:

1. (Issue ID: 468401) ~~Document has active elements with the same id attribute: `query`.  We may need to change the `id` of the query field in the header, as it may conflict with the query field in the main section of the homepage.~~
2. (Issue I

[2021-05-10 21:59] tdonohue commented on #1174
@atarix83 : Assigning this to you as well, since you have the other header ticket #1167....this one is lower priority though.

[2021-05-11 19:55] tdonohue opened #1175 "[Deque Analysis] Search Results "serious" accessibility issues"
## Deque Analysis Summary

Search results page has a total of 10 "serious" accessibility issues (not including color contrast issues which are in other tickets):
1. (IDs: 468496, 468497) ~~"ARIA input fields must have an accessible name" (on both of the Date range slider bars). An `aria-label` or `aria-labelledby` attribute should exist, or element needs a title.~~
    * FIXED BY #2468
2. (ID: 468

[2021-05-11 21:27] tdonohue opened #1176 "[Deque Analysis] Browse by Author "serious" issues"
## Deque Analysis Summary

Browse by Author pages have a total of 4 serious issues (not including color contrast which are handled in other tickets):

1. ~~(ID 469380) "Selected/Active state of the element is missing" (in the gear dropdown where "Results per page" and "Sort options" are visible).  In the dropdown, the selected RPP and Sort by options _are shown with a visible checkmark_, but that

[2021-05-11 21:42] tdonohue opened #1177 "[Deque Analysis] Browse Community/Collection "serious" issues"
## Deque Analysis Summary

Browse by Community/Collection page has a total of 2 serious issues (not including color contrast which are handled in other tickets):

1. (ID 469376) ~~"The element appears and functions like a treeview but is missing required ARIA role(s) and/or attribute(s)" (on the entire page structure).~~
    * ~~Fix this issue by doing ONE of the following: (1) Follow the ARIA acc

[2021-05-11 22:07] tdonohue opened #1178 "[Deque Analysis] Community/Collection Homepage "serious" issues"
## Deque Analysis Summary

Community & Collection homepages have a total of 8 serious issues (not including color contrast which are handled in other tickets).  These have been grouped into one ticket because they are similar issues on both pages.

1. (ID 469493, 469644) (BOTH pages) ~~"Text should not be marked as a heading" on the "Permanent URI for this.." text on both pages.  In both cases thi

[2021-05-12 11:07] alemarte opened #1179 "Sidemenu incomplete after Shibboleth login"
**Describe the bug**
When a user with administrative permission log in via shibboleth, the sidebar is populated with an incomplete items set. After a page refresh the sidebar is then populated correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Perform the login via shibboleth with a user with administrative permission (ex sheldon/bazinga).
![sheldon1](https://user-images.githubuserco

[2021-05-12 13:49] tdonohue commented on #1179
@atarix83 : Assigning this to you to look into & estimate.  Is it perhaps as easy as doing a hard refresh (which I know also occurs after a default login with username/password)?  In any case, this sounds high priority if we want Shibboleth to work correctly, but let me know what you find.

[2021-05-12 13:52] tdonohue commented on #1152
@abollini : I'd appreciate your feedback on this on. This sounds, to me, like it may require backend changes to let the UI know when User Profile information is editable (or not) -- and it's also be needed for Shibboleth.  Perhaps this is a new auth "feature" (`/api/authz/features/`)?  My guess is this might need to wait for 7.1 to do correctly, but let me know if you disagree.

[2021-05-12 13:55] tdonohue commented on #1153
Agreed, this should be implemented in 7.x...it'll likely need to wait for 7.1 though (tentatively scheduling for that release).

For implementers, this feature previously existed in v6.x in the XMLUI as the `xmlui.user.registration` configuration (in `dspace.cfg`).  It likely could be implemented similarly with a new backend configuration (I suspect it would need to be on the backend to ensure reg

[2021-05-12 14:50] tdonohue opened #1183 "[Deque Analysis] Item/Entity Homepage "serious" issues"
## Deque Analysis Summary

Item / Entity homepages have a total of 4 serious issues (not including color contrast which are handled in other tickets).  These have been grouped into one ticket because they are similar issues on both pages.

1. (ID 470327) "Purpose of the link is not clear in context." on the "Show 4 more" and "Hide last 4" links which appear in long lists of Entity relationships (e

[2021-05-12 15:51] tdonohue opened #1184 "[Deque Analysis] Login module's "serious" accessibility issues"
## Deque Analysis Summary

A total of 3 serious issues exist (not including color contrast which are handled in other tickets) in our login module (available in the upper right on each page).

1. ~~(ID: 469328) "Label is not persistent" on the email/password fields. "placeholder is being used as the only visual label for a text field. The placeholder label is not visually available after data is e

[2021-05-12 16:09] tdonohue opened #1185 "[Deque Analysis] Admin/Action Sidebar's "serious" accessibility issues"
## Deque Analysis Summary

Our Admin/Action Sidebar as a total of 20 serious accessibility issues (not including color contrast which are handled in other tickets).

1. (IDs 469240, 469241, 469242, 469243, 469244, 469245, 469246, 469247, 469248, 469249, 469250, 469251, 469252) "`<ul>` and `<ol>` must only directly contain `<li>`, `<script>` or `<template>` elements" and "`<li>` elements must be co

[2021-05-12 16:38] tdonohue opened #1186 "[Deque Analysis] MyDSpace page's "serious" accessibility issues"
## Deque Analysis Summary

Our MyDSpace page as a total of 5 serious accessibility issues (not including color contrast which are handled in other tickets).

1. (ID 470746) "Hover content disappearing." on the tooltip/hints that appear when you hover over the action buttons (e.g. hover over "View" shows "Select this option to view the Item's metadata").  They all appear to be related to `ngb-toolt

[2021-05-12 19:02] tdonohue opened #1187 "[Deque Analysis] Submission form's "serious" accessibility issues"
## Deque Analysis Summary

Our Submission form as a total of 17 serious accessibility issues (not including color contrast which are handled in other tickets).

1. ~~(ID 469537) "`<ul>` and `<ol>` must only directly contain `<li>`, `<script>` or `<template>` elements" on the Subject field.  Currently the Subject field (`ds-chips`) is implemented as a `<ul>` with a `<div>` and `<input>` in it.  Thi

[2021-05-12 19:43] #1019 closed

[2021-05-12 19:43] #1125 closed

[2021-05-12 19:43] #1155 closed

[2021-05-12 21:27] #1115 closed

[2021-05-12 21:47] tdonohue opened #1188 "[Deque Analysis] `<html>` element must have a `lang` attribute"
## Deque Analysis Summary

Deque noted this as a site-wide issue (across the entire UI), see [ID 471067](https://axeauditor.dequecloud.com/test-run/0856438a-a19a-11eb-bc31-b7d5be387c86/issue/4f2cbf62-a3fe-11eb-883c-671d38276f41?sortField=ordinal&sortDir=asc&filter%5Bseverity%5D=3&filter%5Btype%5D=issue&filter%5Bpage_number%5D=16&row=0) (requires login)

Simply put, the `<html>` tag (at the root of

[2021-05-13 21:34] ipcraiurosario opened #1189 "Dspace 7 doesn't load"
Hi,

I just installed Dspace 7 (backend and frontend) however, the front end doesn't load as expected.

Here is what my browser shows:

![image](https://user-images.githubusercontent.com/53486765/118190162-542e7180-b408-11eb-901e-adf0edb7dd23.png)

something that doesn't seems right is the error in the console, dspace tries to get data from http://localhost:8080//api/config/properties/google.analy

[2021-05-13 21:40] ipcraiurosario commented on #1189
Something to have in mind, my /server/api/config/properties/google.analytics.key returns my key without any issue:

{"name":"google.analytics.key","values":["**mykeygoesHere**"],"type":"property","_links":{"self":{"href":"http://**myIPgoesHere**:8080/server/api/config/properties/google.analytics.key"}}}

[2021-05-13 21:54] tdonohue opened #1190 "[Deque Analysis] Item Edit "Status" Tab "serious" accessibility issues"
## Deque Analysis Summary

Our Item Edit "Status" tab has a total of 5 serious accessibility issues (not including color contrast which are handled in other tickets).

1. ~~(IDs 470076, 471046, 471452) "Selected state of the element is missing or incorrect." on all the tabs (not just Status).  When a specific tab is active it should have `aria-current` or `aria-selected` specified to note the curr

[2021-05-13 22:02] tdonohue opened #1191 "[Deque Analysis] Item Edit "Bitstreams" Tab "serious" accessibility issues"
## Deque Analysis Summary

Our Item Edit "Bitstreams" tab has a total of 11 serious accessibility issues (not including color contrast which are handled in other tickets).  (**UPDATE AS OF DEC 2023**, only 6 issues still appear on this page.  See details below)

1. Two structure issues with all the buttons on the "Bitstreams" tab:
    * (ID 470939) ~~"Buttons have same name but different actions."

[2021-05-13 22:06] tdonohue commented on #1189
Please check that your backend configurations are correct, mainly `dspace.server.url` and `dspace.ui.url`. Make sure the `dspace.server.url` includes the `/server` path.

Also, be sure to check our "Common installation issues": https://wiki.lyrasis.org/display/DSDOC7x/Installing+DSpace#InstallingDSpace-CommonInstallationIssues

[2021-05-14 13:58] ipcraiurosario commented on #1189
That solved it! my dspace.server.url was declared like "localhost:8080/" the "server" after the / was missing.

Thank you very much!

[2021-05-14 13:58] #1189 closed

[2021-05-14 14:41] ipcraiurosario opened #1192 "Dspace 7 beta 5 - Login error"
Hi,

I'm trying to login with my administrator account that I've created with ./dspace create-administrator however, I get this:

![image](https://user-images.githubusercontent.com/53486765/118286201-d5811500-b497-11eb-9714-efa0aa57d0b9.png)
and this error in my browser console:

![image](https://user-images.githubusercontent.com/53486765/118286236-de71e680-b497-11eb-861f-6a798146c294.png)

Howeve

[2021-05-14 15:02] tdonohue commented on #1192
@ipcraiurosario : These questions are better asked on [Slack](https://wiki.lyrasis.org/display/DSPACE/Slack) or our [Mailing lists](https://wiki.lyrasis.org/display/DSPACE/Mailing+Lists).  Opening up multiple tickets just to ask questions is not encouraged as we use issues for known bugs/problems.

That said, I highly suspect you are hitting one of the "common installation problems" (especially if

[2021-05-14 15:02] #1192 closed

[2021-05-14 16:08] tdonohue opened #1193 "[Deque Analysis] Item Edit "Metadata" Tab "serious" accessibility issues"
## Deque Analysis Summary

Our Item Edit "Metadata" tab has a total of 3 serious accessibility issues (not including color contrast which are handled in other tickets).

1. (ID 471438) "Non-decorative content is inserted using CSS pseudo-elements." on all buttons.  Every button on this page (edit, delete, stop editing, undo) is represented by an icon, but those icons are inserted using CSS :before

[2021-05-14 16:09] tdonohue commented on #1191
NOTE: This ticket likely should be worked on with #1193 (Item Edit "Metadata" tab issues) as there is a lot of overlap in the issues on these two tabs.  Additionally, it might be combined with #1190 (Item Edit "Status" tab issues)

[2021-05-14 16:30] tdonohue opened #1194 "[Deque Analysis] Collection Edit "serious" accessibility issues"
## Deque Analysis Summary

Our Collection Edit page has a total of 4 serious accessibility issues (not including color contrast which are handled in other tickets).

1. ~~(ID 470097) "Link does not have a role." on the "browse" link with the drag & drop upload box. (<input type="file">) has no "role". Should be fixed by using a `<button>` tag, or by adding `role=button` attribute.~~ FIXED ALREADY

[2021-05-17 15:37] artlowel commented on #1154
The default bootstrap has for $gray-600 (which is used for text-muted) does have enough contrast against a white background to pass. I propose we stick to bootstrap's default gray values at all in the base or dspace themes. That will fix this issue and likely a few of the other contrast tickets as well

This can be done in 1 hour.

[2021-05-17 15:47] artlowel commented on #1169
- Add inputs to ds-thumbnail to specify an i18n key to use as alt text for when the thumbnail exists, and when it's missing.
- Default to "No Thumbnail available" and "Thumbnail Image" when that input isn't used
- Use those inputs on entity pages to provide different values (e.g. "Project placeholder image")

This will take an estimated 3 hours

[2021-05-17 15:56] artlowel commented on #1162
Since the base64 string isn't exactly easy to change (for us in this case, but also for institutions that might want to customize it later) I'd go with the HTML approach:

Replacing the default fallback image with an HTML version using colors that pass contrast guidelines will take an estimated **2 hours**.

This is best done at the same time as #1169

[2021-05-17 15:58] tdonohue commented on #1154
Sounds good @artlowel and thanks for digging into that. That sounds like a clean solution.  Adding 1 hour estimate & assigning to you for your team to fix.

[2021-05-17 16:00] tdonohue commented on #1162
Thanks @artlowel .  Sounds good...adding estimate (to both) and keeping assigned to you for your team to work on.

[2021-05-17 16:03] tdonohue commented on #1169
Sounds good...obviously, alt text is not needed when the thumbnail doesn't exist (since in #1162 you noted we'll switch to HTML approach).  However, I agree with your overall note here...we should make alt text (when image exists) a key in i18n.  When image doesn't exist, the HTML should also use an i18n key.  Will add estimate & keep assigned to you/your team

[2021-05-17 17:33] #1114 closed

[2021-05-18 10:18] atarix83 opened #1195 "Bugs on submission form"
**Describe the bug**
I've fount out a couple of bugs in the submission form.

**To Reproduce**
Bug #1
1. start a new submission
2. edit the title
3. save the submission form
3. edit again the title by cancelling all the text and then point the form focus to another form's field
4. edit again the title by entering a new text
5. save the submission form, you should get an error notification

Bug #2

[2021-05-18 10:20] atarix83 commented on #1195
@tdonohue the estimation is about 2 hours and I can open the new PR to resolve them

[2021-05-18 12:03] artlowel commented on #1168
- Adding a `<label for="${id}">` is difficult because we have no good way to have id's that are sure to be unique page-wide in angular. Instead we'll add `<label>` tags around both the checkbox and the span, which is also valid HTML. I've tested it and it's approved by Deque's chrome extension as well.

- We'll add a "Search filter values" label above each field

- We'll turn the toggle icons in t

[2021-05-18 14:22] tdonohue commented on #1195
@atarix83 : Yes, these sound like issues to fix immediately.  Thanks, I'll add the 2 hr estimate & move to the 7.0 board for your team to work on.

[2021-05-18 15:38] artlowel commented on #1173
Currently there is an interceptor that will check that timestamp for every rest request you make. If the token is within 5 minutes (hardcoded) of expiring it gets automatically refreshed inside that interceptor without user interaction. If it has already expired you're redirected to the login page.

The problem with it is that it doesn't take caching in to account. If you're actively working but e

[2021-05-18 18:26] tdonohue commented on #1173
@artlowel : That all sounds reasonable to me.  However, we may wish to consider making the second timer ("user-activity-timer") have a default value based on the value of `jwt.login.token.expiration` (defaults to 30mins), as that's our real "session timeout".

I just want to avoid a scenario where the backend has one timeout while the frontend has another -- so, ideally the frontend should read th

[2021-05-18 18:49] tdonohue opened #1196 "Authors section appears twice on every Item page"
**Describe the bug**
On every item page (including Entities like Publication) the list of Authors appears twice...once on the left & once on the right.

**To Reproduce**
Some examples from the demo site:
* Regular Item: https://demo7.dspace.org/items/80b35f2d-cd10-4281-b180-fc6378b02d4c
* Publication Entity: https://demo7.dspace.org/entities/publication/12623672-25a9-4df2-ab36-699c4c240c7e

**Expe

[2021-05-18 18:49] tdonohue commented on #1196
@artlowel : Assigning this to you as it also effects Entities. It's probably a tiny mistake & easily fixed.

[2021-05-18 19:58] tdonohue opened #1197 "Several minor SEO issues in HTML `<meta>` tags"
**Describe the bug**
There are 5 minor issues in our HTML `<meta>` tags at this time.  I decided to copy them all into a single ticket as they are most easily tackled by one person.  All of these issues appear to be in our [MetadataService](https://github.com/DSpace/dspace-angular/blob/main/src/app/core/metadata/metadata.service.ts) which generates these tags.

1. The `citation_pdf_url` has incorr

[2021-05-18 20:00] tdonohue commented on #1197
@artlowel : Assigning this to you for your team to look at.  These were found during testathon by a tester & I've verified them & suggested possible fixes.

[2021-05-18 20:07] tdonohue opened #1198 "Make the Google Scholar `citation_*` HTML `<meta>` tags configurable again"
**Is your feature request related to a problem? Please describe.**
In DSpace 6.x, these were configurable in the `google-metadata.properties` file: https://github.com/DSpace/DSpace/blob/dspace-6_x/dspace/config/crosswalks/google-metadata.properties

In DSpace 7.x, the `<meta>` tags are all generated by the UI's [`MetadataService`](https://github.com/DSpace/dspace-angular/blob/main/src/app/core/met

[2021-05-19 09:06] artlowel commented on #1173
While we could make them the same, they don't necessarily need to be. If we implement this as described, the backend's token expiration time is irrelevant for the UI. If the user is active when it expires it is extended automatically, and if the user is inactive before it expires, they're logged out automatically. The only thing that matters is the idle timeout, so you could configure that to be q

[2021-05-19 11:25] artlowel commented on #1196
The left one is a metadata-only field, the right one will resolve virtual metadata values and turn them in to links to the Person item page. Since the right field works also if there are no related Persons in the author field, I was about to just replace the left one with the right one and create a PR, but there's one difference:

The virtual metadata component can only work with a single field me

[2021-05-19 11:44] artlowel commented on #1197
This can be fixed in an estimated **4 hours**

For the `citation_pdf_url` rules, just to make sure, what needs to happen if there is only one ORIGINAL bitstream, but its format _isn't_ in the whitelist? Do we omit the `citation_pdf_url` tag ?

[2021-05-19 12:29] artlowel commented on #1188
This wil take an estimated **1 hour**

[2021-05-19 12:48] artlowel commented on #1160
This will be fixed if we put the default bootstrap gray's back, as the proposed for #1154

[2021-05-19 12:51] artlowel commented on #1156
This will be fixed if we put the default bootstrap grays back, as the proposed solution for #1154

[2021-05-19 14:00] artlowel commented on #1185
This is trickier than the stackoverflow post because in our case the elements are dynamically loaded. We can't just change their tag to `<li>` in the parent component. Nonetheless I think I have a workaround. However the css is currently written for the exact structure the menu had, so will need some serious tweaking afterwards.

**The solution will also affect the public menu as they share the sa

[2021-05-19 14:38] mgrothe-gu opened #1199 "German translation of GUI elements is incomplete"
**Describe the bug**
If German is selected as the preferred language, several GUI elements either show placeholders instead of a translation or show the english version instead.

**To Reproduce**
Examples:
- Search bar on the frontpage says "Search the repository ..." in english and "home.search-form.placeholder" in german.
- On the community-list page, the path below the header says "Home - Commu

[2021-05-19 14:48] tdonohue commented on #1185
Thanks @artlowel . Those details & estimates sound reasonable to me.  I've also removed the menu section from #1174, noting that it'll be fixed by this ticket instead.  I'll add the estimate & assign back to you for your team to work on when you are ready.

[2021-05-19 14:50] tdonohue commented on #1156
@artlowel : sounds good, I'll mark this as a zero hour estimate then as it'll be fixed by #1154

[2021-05-19 14:51] tdonohue commented on #1160
Sounds good, marking as a zero hour estimate then since it'll be fixed by #1154

[2021-05-19 14:52] tdonohue commented on #1188
Thanks @artlowel , labelled as such & moved to in progress for your team to work on.

[2021-05-19 15:00] artlowel commented on #1183
We'll add the entity name to the i18n message. It will result in a lot more messages though.

We could set a contrasting outline on `btn-outline-primary` buttons across DSpace. However this will be a problem for all buttons. The focus outline is set by a bootstrap function to be a color derived from the type of button it is. It makes sense to group [all non-text contrast issues](https://axeauditor

[2021-05-19 15:01] tdonohue commented on #1196
@artlowel : That sounds reasonable & correct, with _one_ minor modification: I don't think we should include `dc.contributor` in the Author field by default (as general contributors are more often *not* authors).  Instead, it should just combine `dc.contributor.author` and `dc.creator`.  (A separate field could always be added at a later time to list Contributors, but I don't feel that's required

[2021-05-19 15:06] tdonohue commented on #1173
@artlowel : Good point, I hadn't thought of that in this way.  Ok, we can keep these separate. I think in the docs/comments we will need to clarify that the UI-level settings control when you are **automatically logged out** (from the UI), while the REST API settings are a global session expiration (it expires on all devices at the same time).

So, I think we can better describe this in documentat

[2021-05-19 15:17] tdonohue commented on #1199
@mgrothe-gu : This simply means that our German language pack is incomplete

https://github.com/DSpace/dspace-angular/blob/main/src/assets/i18n/de.json5

If you, or someone else is interested in helping us update it with missing translations, we'd welcome the support.   Here's a general guide for contributing translations: https://wiki.lyrasis.org/pages/viewpage.action?pageId=117735441

It's possi

[2021-05-19 18:43] tdonohue commented on #1183
@artlowel : Thanks for that feedback.  I like your suggestion to break out the non-text contrast issues into a separate ticket (as they are currently embedded in several tickets. So, I'll do that & update the affected tickets.

So, let's leave 2 out of this ticket (I'll remove it once the new ticket exists), and I'll add the estimate of 2hrs & assign this back to you for your team to work on.

[2021-05-19 18:54] tdonohue opened #1202 "[Deque Analysis] Fix non-text Color Contrast issues"
## Deque Analysis Summary

Three main non-text color contrast (serious) issues have been reported across the entire site, spread across 31 Deque issues:

1. **"Focus indicator of an active component lacks 3:1 contrast ratio."**
    * (IDs 469778, 469994, 470016, 470047) **On Submission Form:**
        * the Collection dropdown (at top of page) when it is focused (by pressing tab on the keyboard).

[2021-05-19 19:47] tdonohue commented on #1185
@artlowel : Just an FYI, just realized the `<ul>` and `<li>` issue also exists in the submission form.  See #1187.  I'm not sure if that should also be added to this ticket? Or perhaps it should just use the same solution that you develop in this ticket?

[2021-05-19 20:11] tdonohue commented on #1202
@artlowel : Per your suggestion in #1183, I've grouped all the "non-text" color contrast issues into this ticket.  It may be a bit larger than you anticipated, as it doesn't *just* deal with white backgrounds, and it also contains contrast issues with icons.  So, I'm assigning this to you for reanalysis/estimation, as I suspect it may be larger than the original 3 hours you estimated previously.

[2021-05-20 08:02] artlowel commented on #1185
@tdonohue That seems to be a more straightforward case where there's simply [a `<div>` inside an `<ul>` in the HTML of a single component](https://github.com/DSpace/dspace-angular/blob/740228695477889320e161b49626149e20a43fe2/src/app/shared/chips/chips.component.html#L45). No dynamic component loading involved.

[2021-05-20 11:50] benbosman commented on #1124
The best solution suggested by Art was a search endpoint for groups: e.g. findManageGroupsAuthorized, which will only return the groups a user has edit or delete access to.
This would require a scalable solution to identify which groups a user can manage, and thus implies the groups will need to be indexed in discovery. I would expect 1-2 days of work to deal with this

The less ideal solution sug

[2021-05-20 12:10] atarix83 commented on #1179
We found out the way to resolve the issue we can fix it in about 4 hours

[2021-05-20 13:01] atarix83 commented on #1172
Here the critical point is that the item's bitstream tab list has a draggable list. I estimate about 3/4 hours to fix all them

[2021-05-20 13:30] atarix83 commented on #1167
(ID 469256) Also it needs to be accessible via keyboard (current you can tab to it, but cannot arrow down to select a different language)....this might be fixed by turning this into a <select> as well.

I'm not really sure how it can be turned to a select tag having the same behaviour of a dropdown menu, if the problem is that list item should be accessible via keyboard it can be resolved also mai

[2021-05-20 13:41] atarix83 commented on #1151
I think can be resolved ina 1 hour and I suggest to do it within the #1154 in order to resolve them by using the same approach

[2021-05-20 13:43] benbosman commented on #1124
Just discussed this with Art, we already have canManageGroups, but not canManageGroup (given a specific group), I will update the ticket based on that

[2021-05-20 13:49] atarix83 commented on #1144
the issue is due to #1121 and it's been resolved within https://github.com/DSpace/dspace-angular/pull/1201

[2021-05-20 13:57] atarix83 commented on #1129
Since the issue is due to a missing implementation on rest side the and it can be done anyway by editing resource policy of the bitstream, the solution could be to remove the disabled field and to add a shortcut to the edit page for bitstream's resource policy.

I estimate about 1 hour

[2021-05-20 13:59] atarix83 commented on #1122
I estimate about 1 hour to fix it

[2021-05-20 14:03] benbosman commented on #1124
We can create a `canManageGroup` feature, with the group as resource type. It will check whether the user is admin for that specific group
Including ITs, this should be realistic in 2 hours

[2021-05-20 14:29] artlowel commented on #1170
We'll add hrefs to all links, and ensure the tab order makes sense

This will take an estimated **2 hours** and is best done in the context of #1185

[2021-05-20 14:59] tdonohue commented on #1179
Thanks @atarix83 ! I'll add that estimate & assign to you for your team to work on (when you are ready)

[2021-05-20 15:00] tdonohue commented on #1172
Thanks @atarix83 ! I'll add that estimate & assign to you for your team to work on (when you are ready)

[2021-05-20 15:12] tdonohue commented on #1167
Thanks @atarix83 , there's two issues noted with that Language dropdown (and you may want to read the full details in the Deque link)
    * (ID 469259) Listbox: Listbox is missing appropriate roles and/or attributes.  -> The suggestion here from Deque was to turn it into a `<select>`.  However, this may be solvable in a different manner...it looks like we might be able to provide the missing roles

[2021-05-20 15:15] tdonohue commented on #1151
@artlowel : As you can see above, @atarix83 has noted this ticket might be most easily solved alongside #1154.  As you are assigned to that ticket, does that sound reasonable to you as well?  Both of these are relatively small effort (though they affect a large number of fields).

For now, thanks for the estimate @atarix83 .  I'll add the estimate but **unassign** this ticket until we clarify who

[2021-05-20 15:17] tdonohue commented on #1129
@atarix83 : That sounds reasonable to remove the field for now & replace it with a link to edit the resource policies.  I'll add your estimate & assign to you for your team to work on.

[2021-05-20 15:18] tdonohue commented on #1122
Thanks @atarix83 ! I'll add that estimate & assign to you for your team to work on (when you are ready)

[2021-05-20 15:22] artlowel commented on #1151
Yes, most of these will likely be fixed by the solution to #1154

[2021-05-20 15:24] tdonohue commented on #1124
Thanks @benbosman & @artlowel  .  In that case, let's go with the easier approach for 7.0.
* REST API: Implement `canManageGroup` (estimate 2 hours)
* Angular UI: Use `canManageGroup` to only display an edit button next to groups you can edit.  Update EPerson management to be behind an `isAdmin` check. (estimate 4 hours)
    * This will mean that Community/Collection Admins see all Groups still. I

[2021-05-20 15:46] tdonohue commented on #837
Closing, I've retested this on https://demo7.dspace.org/ today & this is now working. I can successfully edit both a user profile & other eperson names (when logged in as an Admin).  I've verified the PATCH is not empty and the changes are saved to the backend (as they persist after logout & re-login).

I'm not sure where/when it was fixed, but it's fixed!

[2021-05-20 15:46] #837 closed

[2021-05-20 15:58] tdonohue commented on #1170
Sounds good @artlowel .  Adding that estimate & assigning back to you for your team.  Feel free to assign both tickets to the same individual & one PR is perfectly OK.

[2021-05-21 14:55] tdonohue commented on #1203
Thanks @atarix83 for the estimate. I've transferred this back to `dspace-angular`, added the 2 hour estimate & kept it assigned to you.  Feel free to start work on this approach whenever your team is ready.

[2021-05-24 15:20] #1117 closed

[2021-05-24 16:22] #1132 closed

[2021-05-24 16:22] #1133 closed

[2021-05-24 16:47] #1116 closed

[2021-05-25 08:25] atarix83 opened #1205 "Creating a new submission should redirect to workspaceitem edit page"
**Is your feature request related to a problem? Please describe.**
When the user create a new submission it's redirected to the submit page (`/submit`). This sometimes generates some problems when the user refreshes the page and finds a totally new submission instead the current already started.

**Describe the solution you'd like**
The solution could be to redirect directly to the workspaceitems

[2021-05-25 08:25] atarix83 commented on #1205
@tdonohue  the solution ca be implemented in 1 hour

[2021-05-25 16:44] tdonohue commented on #1205
@atarix83 : Sounds good and reasonable. I'll move this over to the 7.0 board, label this as `medium priority` and assign to you for your team to work on. Thanks!

[2021-05-25 17:57] atarix83 opened #1206 "Improve error handling during submission"
**Is your feature request related to a problem? Please describe.**
The error handling of the submission form is not always aligned between the form error state and the errors present in the workspaceitem object, this can cause the icon status of the submission form sections does not always represent the errors status.
It happens for example when the validation of a form's field is triggered on blu

[2021-05-25 17:59] atarix83 commented on #1206
@tdonohue we've already resolved the issue for dspace cris 7 taking 34 hours. We can estimate porting and manage of PR in about 4/8 hours

[2021-05-25 18:50] atarix83 opened #1207 "positioning of buttons in the submission form"
**Is your feature request related to a problem? Please describe.**
After tests on the submission form, we have received feedback on the following usability problems :

- the position of the discard button, together with all other buttons, generate confusions because it seems the main operation
- not all users can really understand why sometimes the save button is disabled

**Describe the solution

[2021-05-25 18:50] atarix83 commented on #1207
@tdonohue the estimation for the changes is about 3 hours

[2021-05-26 14:21] tdonohue commented on #1206
@atarix83 : That sounds reasonable.  I'll move this into 7.0, but I'm going to label it as `medium priority` as the current behavior is problematic, but we could deal with it in 7.0 (if the port or review of the code takes longer).  Assigning back to you for your team to work on

[2021-05-26 14:23] tdonohue commented on #1207
@atarix83 : Makes sense. I'll move this into the 7.0 board, but labeling as `low priority` for now.  This doesn't seem like it has to be fixed in 7.0, but it'd be nice to get to if we find time.

[2021-05-26 14:54] tdonohue commented on #1199
As this has no volunteers, I'll have to move this to 7.1 for now. If someone gets to it sooner though, that's great.

[2021-05-26 14:55] tdonohue commented on #1142
Closing, as this has been unreproducible. If it's able to be reproduced at a later date, we can reopen with additional information.

[2021-05-26 14:55] #1142 closed

[2021-05-26 14:55] tdonohue commented on #1141
Closing, as this has been unreproducible. If it's able to be reproduced at a later date, we can reopen with additional information.

[2021-05-26 14:55] #1141 closed

[2021-05-26 14:57] tdonohue commented on #1152
Moving to 7.1 for now as this seems unlikely to be fixed in time for 7.0

[2021-05-26 20:30] abollini opened #1208 "cclicense panel doesn't work"
**Describe the bug**
The cclicense panel doesn't work. Once a license has been selected a loading icon will stay on the screen, no error are reported to the user and the data are not saved

**To Reproduce**
Steps to reproduce the behavior:
1. enable the cclicense step
2. try to use it

**Expected behavior**
The selected cclicense should be saved

**Related work**
The error is due to the change in

[2021-05-26 21:51] tdonohue commented on #1208
Thanks @abollini .  This sounds like a high priority issue to bring into 7.0 (especially since it's a quick fix).

[2021-05-27 12:49] artlowel commented on #1093
I created PR #1212 to fix this issue and #1134. It took 2 hours

[2021-05-27 12:50] artlowel commented on #1134
I created PR #1212 to fix this issue and #1093. It took 2 hours

[2021-05-27 13:33] tdonohue commented on #1134
Thanks @artlowel !  I'll add 1 hour to each ticket then.

[2021-05-27 15:56] artlowel opened #1213 "Thumbnail resolution should happen on the rest side"
**Is your feature request related to a problem? Please describe.**
Finding the correct thumbnail for an item or a bitstream is every slow at the moment, because it is done client side. The UI has to download the entire thumbnail bundle, ignoring pagination, to compare filenames with bitstreams in the ORIGINAL bundle and find a match.

We've never had much issues with this because we've never used

[2021-05-27 16:15] tdonohue commented on #1213
Thanks @artlowel .  I'm going to move both of these tickets (REST & Angular side) over into our 7.0 board with `medium priority`.  Currently though I'll leave unassigned until we have the REST side estimated, as I think that could impact whether we can fit this into 7.0 or not.

[2021-05-28 14:58] alemarte opened #1217 "Pending json patch operations should be canceled when leaving the submission page"
**Describe the bug**
JSON patch operations are queued inside the json/patch feature of the ngrx store.
When the user leaves the submission page without saving, this pending json patch operations are not removed and could be commited on behalf of the user during possible following submissions.

**To Reproduce**
1. Start a new submission (ex. Publication)
2. Edit the author field (dc.contributor.aut

[2021-05-28 15:01] atarix83 commented on #1217
@tdonohue we've spent 3 hours to fix it and we can open the PR

[2021-05-30 04:53] DSquareTechnologies commented on #1142
Hi Tim,

Apologies response was skipped from my side. Affirmative, its working the way you shared. However, there is another issue identified. Unable to read detailed metadata and attachments while trying to approve/reject an item. Ccreenshots of process followed available on below link. Happy to open separate ticket if this is a bug.

https://drive.google.com/file/d/1nkswjwzullhEqObbFteP8aPjilf14

[2021-05-30 12:00] DSquareTechnologies opened #1218 "Attachment disappearing during submission process"
**Describe the bug**
Attachment added at the beginning of the submission process gets disappeared automatically upon clicking 'I confirm the license above' checkbox under the deposit license section appearing at the bottom of the submission form and the deposit button remains disabled. When added another attachment in the same submission, the earlier attachment starts appearing again.

DSpace vers

[2021-05-31 10:17] atarix83 opened #1220 "Bug on repeatable qualdrop value"
**Describe the bug**
trying to delete a qualdrop fields with different metadata generates an error

**To Reproduce**
Steps to reproduce the behavior:
1. start a new submission with a qualdrop value field (e.g a publication has `Identifiers` field)
2. enter a new identifier
3. save submission
4. click add more to add a new identifier
5. select a different identifier than the one saved before
6. ent

[2021-05-31 10:19] atarix83 commented on #1220
@tdonohue it takes 1hour to fix, I can include fix directly in the current #1201

[2021-05-31 14:49] artlowel commented on #1197
@tdonohue

I noticed that currently citation_pdf_url _doesn't_ contain the hostname e.g.

[code]

I'm ok with doing the same for `citation_abstract_html_url`, but are we sure that works for google scholar?

Alternatively we could use [`HardRedirectService.getRequestOrigin()`](https://github.com/DSpace/dspace-angular/blob/425f530f087eba079e12223109b23d9d1a55187d/src/app/core/services/hard-redirect.

[2021-06-01 14:00] tdonohue commented on #1197
@artlowel : Good catch, I guess I overlooked that the URL in the HTML is not an absolute URL.  My understanding is it is supposed to contain the Origin.  According to https://scholar.google.com/intl/en/scholar/inclusion.html#indexing

So, both `citation_abstract_html_url` and `citation_pdf_url` should be absolute URLs.  Your approach of using `HardRedirectService.getRequestOrigin()` sounds fine to

[2021-06-01 14:42] tdonohue commented on #1217
@atarix83 : Sounds good. I'll move this over to the 7.0 board with `medium priority` and assign to your team.

[2021-06-01 14:58] tdonohue commented on #1220
@atarix83 : Sounds good. Moving onto the 7.0 board. Feel free to fix in 1201

[2021-06-01 14:59] tdonohue commented on #1218
Closing, as this is a duplicate of #1144 and #1121.  This issue is being worked on and will be fixed in #1201 (currently under review)

[2021-06-01 14:59] #1218 closed

[2021-06-06 10:07] MarisArins commented on #1046
Hi, I would like to add an extra scenario that I see and it could be very much related to this bug.
1. I navigate to an item with thumbnail via links
2. Thumbnail is displayed in place as supposed.
3. I hit page refresh (regular and full refresh without cache usage all the same)
4. Thumbnail does not get loaded (No thumbnail svg in place)

This also has same effect if I pass the item URL to someon

[2021-06-07 07:33] #622 closed

[2021-06-09 11:48] bruno-atmire opened #1224 "Workflow rejection reasons are not properly encoded"
**Describe the bug**
When an item is rejected in the workflow, the user has the option to provide a rejection "reason". That "reason" is not properly encoded when it is sent to the backend. In particular, the ampersand character causes the remainder of the message to be "ignored".
I was able to reproduce the bug on https://demo7.dspace.org/. [The bug is located here](https://github.com/DSpace/dspa

[2021-06-09 12:02] benbosman commented on #1224
@tdonohue this should be doable with 1 hour of work

[2021-06-09 15:51] tdonohue commented on #1224
Thanks @benbosman and @bruno-atmire for getting this added. I'll pull this into the 7.0 board with `medium priority` and assign to your team. That said, please do feel free to work on this once `high priority` tickets are all completed/in progress, as it seems like something that'd be good to fix in 7.0

[2021-06-11 17:22] #1208 closed

[2021-06-11 19:57] #1093 closed

[2021-06-11 19:57] #1134 closed

[2021-06-11 20:45] #1196 closed

[2021-06-14 08:43] jonas-atmire opened #1229 "Deposit license in submission is reset because of page-changes"
**Describe the bug**

During the submission, even for a codebase that is [completely default DSpace](https://demo7.dspace.org/), when you tick the licence and fill a metadata and/or a upload a file afterwards, the licence gets unticked.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a submission
2. Fill in some metadata
3. Tick the 'I confirm the license above' box at the bottom of th

[2021-06-14 15:41] tdonohue commented on #1229
@jonas-atmire : Thanks for reporting this. I've verified this is an existing bug, but I've also verified it's fixed by #1201 (which fixes several other similar submission bugs).  So, I'll link this up to #1201... thanks!

[2021-06-15 08:53] abollini opened #1231 "Labels in delete collection screen refer to community instead than collection"
**Describe the bug**
The confirmation message for a delete collection request talks about community instead than collection

Delete Community
Are you sure you want to delete community "Suspendisse pretium"

**To Reproduce**
Steps to reproduce the behavior:
1. visit the collection https://demo7.dspace.org/collections/d2ad146a-0f69-4cb2-9759-fddaf50a4651
2. try to delete it https://demo7.dspace.org/

[2021-06-15 09:02] abollini opened #1232 "Move item features is not working"
**Describe the bug**
The move item feature seems to be completely broken. The search collection is not working most of time, entering some query terms produce the expected REST call with results but nothing is shown to the user. Empty the input leads to a menu with some collections (1-step Workflow collection, 3-step..., abc) but selecting one of them and clicking move the loading indicator over t

[2021-06-15 10:09] atarix83 opened #1234 "Switching submission collection between ones with different submission definitions doesn't work"
**Describe the bug**
When during a submission with the collection step enabled, switching collection between ones with different submission definitions doesn't work. Indeed the submission form show an hanging loading icon after trying to switch collection.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure two collections mapped to different submission definitions with the collection

[2021-06-15 10:12] atarix83 commented on #1234
@tdonohue We have already resolved on DSpace-CRIS and we can create the PR immediatly. It took 1 hour