[2020-03-20 20:34] mspalti commented on #620
@tdonohue I haven't been able to replicate the 401 error that you see.

I added a line of logging to see a bit more from the Angular server-side rendering. For unsuccessful pid lookups against the demo REST API I see a response like this:
[code]
For a successful lookup, I see:
[code]
Both of these lookup responses [are from here](https://github.com/DSpace/dspace-angular/blob/103605c36e2b1b682aa584

[2020-03-23 08:59] atarix83 opened #630 "Delete of an item doesn't work"
When from the item's delete page trying to permanently delete item nothing happens.

![Schermata da 2020-03-23 09-51-51](https://user-images.githubusercontent.com/2486489/77299210-691fe100-6cec-11ea-8482-4f06f24a3e2f.png)

Moreover when an item isn't an entity, I noted that a request fails while delete page is loading  :
`http://localhost:8080/server/api/core/entitytypes/0`

[2020-03-26 16:18] artlowel opened #631 "Authorization for downloads"
Currently you have to provide a bearer token in a header to do anything that requires authorization on the rest api, including downloads

That's a problem because when you're logged in and you click a link for a bitstream that isn't public, but you are permitted to download, you'll get an authentication error. The browser doesn't send that header with the download request automatically, and I have

[2020-03-26 21:11] tdonohue commented on #626
@artlowel : I've tentatively added this to beta3 in our spreadsheet: https://docs.google.com/spreadsheets/d/1NTJ_ZZL2J_q0XbUqTesVxztOVmDOj9-RG57krKZjWbs/edit#gid=0

[2020-03-30 12:28] abollini opened #635 "Cache should be authorization aware"
During the test of the PR: https://github.com/DSpace/DSpace/pull/2707#pullrequestreview-382744007 @benbosman as noted that after login as a privileged user the page was not automatically updated to show the additional communities/collection that was available to such user.

This indicate a more general issue with the current angular cache / component refresh mechanism as it is expected that many c

[2020-03-30 15:05] artlowel commented on #635
Yes the solution should be to do a hard refresh after authenticating and storing the token in the cookie. This already happens when you log out, it makes sense to also add it when you log in.

[2020-03-31 16:23] stefaneidelloth opened #637 "Is there a plan to support visualizations?"
Currently DSpace does not seem to support visualizations for the data sets. (?)
Is this somehow on the roadmap for the new angular front end?

Something comparable to ckan Data preview and visualization?

https://docs.ckan.org/en/ckan-2.7.3/maintaining/data-viewer.html#other-view-plugins

We want to create a web page where it is possible to manage data sets and
have some interactive charts based o

[2020-03-31 16:29] tdonohue commented on #637
@stefaneidelloth : There are no *immediate* plans for this in the upcoming 7.0 release.  However, I fully expect it will come sometime in the future (post-7.0) as it's a more and more common use case.  The only reason it's not on the immediate roadmap for 7.0 is simply because 7.0 is primarily about creating a new UI (and REST API) to replace the aging XMLUI & JSPUI (and therefore we are concentra

[2020-03-31 21:51] kanasznagyzoltan opened #639 "Creating new community and collection is not working on the angular-ui using the beta1 version of DSpace 7"
After a fresh installation of DSpace 7 Beta 1 I could not create a community or a collection using the angular ui frontend. I am using the frontend with an admin user created by the dspace console application.

When I click on the create a new top-level community button i got this error message in the Crome console bar
![image](https://user-images.githubusercontent.com/32355628/78078319-3cce2980-7

[2020-04-01 15:04] tdonohue commented on #639
This bug has been fixed by #640 (which was just merged)

[2020-04-01 15:04] #639 closed

[2020-04-02 14:26] abollini commented on #631
I agree, with the proposed approach. The first step should be to create the REST Contract to generate this short living token to use as request param

[2020-04-02 15:39] tdonohue commented on #631
For now, I've tentatively added this to beta3 in the [spreadsheet](https://docs.google.com/spreadsheets/d/1NTJ_ZZL2J_q0XbUqTesVxztOVmDOj9-RG57krKZjWbs/edit#gid=0), currently line 62. It may be moved to a later beta though depending on interest & beta3 schedule.

As noted in today's meeting, this needs estimation for the REST API portion (along with the contract as noted by Andrea), and then estima

[2020-04-02 15:51] tdonohue opened #641 "WithCredentials=true is passed on requests after authentication"
As noted in https://github.com/DSpace/dspace-angular/pull/577#pullrequestreview-386199571, after merging the Shibboleth implementation PR #568, we've discovered that the UI is setting [withCredentials to true](https://stackoverflow.com/questions/27406994/http-requests-withcredentials-what-is-this-and-why-using-it/27407440#27407440) in all requests after authentication.

During discussion in today'

[2020-04-06 18:33] atarix83 opened #644 "Issue with request of embed objects, where object cache entry is missing"
During implementation of https://github.com/DSpace/dspace-angular/issues/601 I encountered several issues with request of embed objects. In many case when the request is already fetched by rest, the payload returned is undefined due to a missing object cache entry in the cache. Objects cache should exist for this requests because are not expired, as a result the request is not dispatched again.
Pr

[2020-04-07 07:39] bram-atmire opened #646 "Translations for submission form labels and hints"
Traditionally, labels for the submission forms were managed in input-forms.xml, outside of the general message catalog. It's not 100% clear to me how we are going to tackle i18n for the submission forms in DSpace 7.

Are we continuing keeping this separate?
Or is there a plan to add the input forms messages to the main catalog?

[2020-04-07 09:25] artlowel opened #647 "UI Improvements for Manage Groups/People"
I suggested a number of UI improvements in my review of #613

I discussed them with @tdonohue [on slack](https://dspace-org.slack.com/archives/D3U7QDLET/p1586176052001100) and while they weren't critical issues and there wasn't time to fix them right away, we agreed to move them to this ticket so they could be handled as soon as there was time.

Those suggested improvements were: ([original commen

[2020-04-07 15:52] tdonohue commented on #646
At this time, Submission labels/hints are managed in the `submission-forms.xml` (the replacement for `input-forms.xml`) in a similar manner to DSpace 6.  See https://github.com/DSpace/DSpace/blob/master/dspace/config/submission-forms.xml#L56-L57

So, as far as I'm aware, they will be manages similar to DSpace 6, unless we find a volunteer to create a different approach.

At a simple level, if anyo

[2020-04-13 15:48] tdonohue commented on #647
An additional improvement:
* Per PR#632 and #643 , when an Administrator starts from the Edit Community / Collection interface, and clicks on a role-based Group to edit, they jump over to `/admin/access-control/groups/[uuid]`.  At that point, there's not way to return to the Edit Community/Collection interface.
     * This might be resolved either via a smarter "trail" (which knows whether you sta

[2020-04-16 15:35] artlowel opened #654 "Force the browser not to use a cached html page after the user changes"
PR #653 adds a feature where you can impersonate another user as an admin. When you impersonate a user, there will be a hard refresh, to ensure no state from the admin user is kept while you're impersonating. Likewise, when you stop impersonating, there's a hard refresh.

An unresolved issue with this PR is that the browser can cache the html rendered on the server for the user you were impersonat

[2020-04-16 16:22] atarix83 commented on #654
@artlowel If I properly understood, the problem occurs because we hard refresh the page after logout.
I think that another possible and simpler solution could be to avoid the hard refresh of the page and to simply reset the state on logout. I found a simply way to do that https://medium.com/@moneychaudhary/how-to-reset-the-state-or-clear-the-store-on-logout-in-ngrx-store-d2bd6304f8f3
Maybe there c

[2020-04-20 16:12] tdonohue commented on #628
Closing, fixed on the REST API side by https://github.com/DSpace/DSpace/pull/2748

[2020-04-20 16:12] #628 closed

[2020-04-22 22:39] mspalti commented on #620
The Angular client tries to lookup the handle id -- for example "10673/1145".

Older items in the REST demo server use the default prefix. More recently added items use the "10673/" prefix. The Angular client handle lookup works for the more recent items.

I was able to recreate this problem on a local test server.  Adding `handle.additional.prefixes` to dspace configuration fixed the problem on m

[2020-04-23 11:34] atarix83 opened #655 "Authentication issue when SSR is disabled"
This issue occurs only when SSR is disabled.
Once you are logged in and refresh page then you are no longer logged in.

[2020-04-23 11:37] artlowel commented on #655
I think this is a duplicate of #428 or at least related.

I've looked in to this before, and I think it is an issue with the CORS config on the rest side. The reason it does work with SSR is because the node server doesn't enforce CORS rules.

[2020-04-24 11:56] artlowel commented on #654
@atarix83 I tried it out, and while it works to clear the store, it breaks a number of features that expect certain things to be initialized inside the store (e.g. the menu will be empty, as it's populated by having pages to add menu options when they load for the first time). To do it this way, we'd also need to reinitialize everything after clearing the store.

So I came up with a variation on t

[2020-04-24 11:56] #654 closed

[2020-04-24 13:31] tdonohue opened #657 "Collection / Community "Permanent URI" are hardcoded and do not use configuration"
The "Permanent URI for this community/collection" field displayed at the top of Community & Collection pages does not use backend configurations for `handle.canonical.prefix` and `handle.prefix`.  Instead, it currently hardcodes all URLs to "localhost:3030/handle".  See: https://github.com/DSpace/dspace-angular/blob/main/src/app/shared/comcol-page-handle/comcol-page-handle.component.ts#L27

This s

[2020-04-27 07:44] Aziris opened #658 "Cannot submit to a Collection if given Submitter privileges only"
When I add non-admin user to Collection submitters, the user cannot add new Items.

Scenario:
1. create new, non-admin user via CLI command (Peter the Submitter)
2. Log in as admin
3. Create new collection "Collection 1"
4. Open it in Edit mode and in Assign Roles tab press Create button in Submitters section, new group gets created. Cannot be renamed now, but lets call it "Submitters_Group_1"
5.

[2020-04-27 19:43] ericlmontag opened #659 "Unable to create Collection (No community found)"
Even though I created a Community, I am unable to create a Collection within it.
This is the Community I created:
Permanent URI for this community http://localhost:3000/handle/123456789/1

![Screenshot_2020-04-27 DSpace Angular Universal](https://user-images.githubusercontent.com/53164928/80413646-a1cf4f00-8884-11ea-9e03-9554359f26e0.png)

[2020-04-29 02:03] ericlmontag commented on #659
ds-dso-selector (Create Collection Form. Does not return list of Communities.)
http://localhost:8080/server/api/discover/search/objects?dsoType=COMMUNITY

ds-top-level-community-list (Home page Community list. Does return list of Communities.)
http://localhost:8080/server/api/core/communities/search/top

[2020-04-29 09:03] artlowel commented on #428
Closing, duplicate of #289

[2020-04-29 09:03] #428 closed

[2020-04-29 20:04] tdonohue commented on #471
Closing, as this was already done. Communities and Collections display URIs on their homepages

[2020-04-29 20:04] #471 closed

[2020-04-29 20:05] tdonohue commented on #464
Closing, as PR for this was merged.

[2020-04-29 20:05] #464 closed

[2020-04-29 20:10] tdonohue commented on #436
@artlowel : I'm reviewing old tickets. Is this still valid?  I suspect we can close as I believe we refactored out all "normalized" object models, correct?

[2020-04-29 20:13] tdonohue commented on #404
This appears solved to me as well. Closing

[2020-04-29 20:13] #404 closed

[2020-04-29 20:14] tdonohue commented on #403
Closing. This is fixed as we use DSPACE_REST env variables in our travis configs right now. https://github.com/DSpace/dspace-angular/blob/master/.travis.yml

[2020-04-29 20:14] #403 closed

[2020-04-29 20:16] tdonohue commented on #391
Closing as this appears fixed based on the linked PRs

[2020-04-29 20:16] #391 closed

[2020-04-29 20:18] tdonohue commented on #373
Seems related to or duplicate of #487

[2020-04-29 20:20] tdonohue commented on #365
Closing, as this redesign occurred.  If further redesign is necessary, we can open new tickets for it

[2020-04-29 20:20] #365 closed

[2020-04-29 20:23] tdonohue commented on #358
Closing, as this appears to be fixed (based on my current tests)

[2020-04-29 20:23] #358 closed

[2020-04-29 20:32] tdonohue commented on #326
This appears to be outdated, as we've already updated to FontAwesome v5.  Closing

[2020-04-29 20:32] #326 closed

[2020-04-29 20:34] tdonohue commented on #286
Closing, as this seems outdated at this time

[2020-04-29 20:34] #286 closed

[2020-04-29 20:36] tdonohue commented on #281
Unclear whether this is still valid as it's nearly 2 years old

[2020-04-29 20:39] tdonohue commented on #244
Related to this recent REST Contract PR: https://github.com/DSpace/Rest7Contract/pull/119

[2020-04-29 20:44] tdonohue commented on #216
It's unclear if this is still an issue or not.  Initially #219 claimed to fix this, but was replaced by #367.  Is this fixed?

[2020-04-29 20:46] tdonohue commented on #48
This appears to possibly have been done in #152?

[2020-04-29 20:47] tdonohue commented on #73
@artlowel : I believe this is completed, as I know we have a loading service.

[2020-04-29 20:51] tdonohue commented on #177
This seems to be an answered question (not a bug report). Closing

[2020-04-29 20:51] #177 closed

[2020-04-29 20:52] tdonohue commented on #130
Closing, fixed by #205, it appears

[2020-04-29 20:52] #130 closed

[2020-04-30 07:07] artlowel commented on #436
We have. I'll close this

[2020-04-30 07:07] #436 closed

[2020-04-30 07:32] artlowel commented on #48
Yes, this can be closed

[2020-04-30 07:32] #48 closed

[2020-04-30 07:44] artlowel commented on #73
Actually we don't. But we haven't needed it so far, and this is over two years old. So we can close this.

[2020-04-30 07:44] #73 closed

[2020-04-30 10:52] artlowel commented on #281
None of these seem to have been fixed yet. Although one service has been removed. I'd keep this ticket open.

[2020-05-08 07:16] #225 closed

[2020-05-11 08:33] atarix83 opened #662 "Edit item's metadata doesn't work"
After editing an item's metadata, from item edit page, an error occurs when trying to save changes so they are not premanently saved on rest side

![Schermata da 2020-05-11 10-29-13](https://user-images.githubusercontent.com/2486489/81540860-92670000-9372-11ea-8b2c-7c3bfb52f3e6.png)

[2020-05-11 15:02] tdonohue opened #664 "Support for checking user permissions via /api/authz/features REST endpoint"
Per discussion in https://github.com/DSpace/dspace-angular/pull/653#issuecomment-626636737, we realized that the Angular UI currently does not support calling/caching feature-based authorizations.

This initial ticket should just involve implementing a way to easily check feature-based authorizations using the `/api/authz/features/` endpoint.  More specifically, select 1-2 features currently imple

[2020-05-11 15:52] tdonohue opened #665 "Editing a Community, Collection or Item doesn't handle errors properly"
Found while testing #653

How to reproduce:
1. Login as a non-Admin user, or "impersonate" a non-Admin user using #653
2. Edit a Community, Collection or Item (it doesn't matter which).  (Currently, as #664 doesn't yet exist, it's possible to access these pages as any user.)
3. Make an edit and save.  This will result in a `PATCH` request to that object.
4. The server (REST API) will respond with

[2020-05-11 16:18] tdonohue commented on #659
@ericlmontag : Thanks for reporting this! I am able to reproduce this.  It looks like it may actually be a bug on the **backend** (REST API), as I believe that first path *should return* a list of Communities.

For example, in the Create a New Item screen (which is similar), the list of Collections is retrieved via:
http://localhost:8080/server/api/discover/search/objects?dsoType=COLLECTION

But,

[2020-05-11 18:09] tdonohue commented on #659
I've retested this on the latest `master` and I'm no longer able to reproduce this.  Keep in mind the application now runs on port 4000 by default cause of #625 (switch to Angular CLI).  I had previously tested this on an old version of `master` (prior to that CLI switch) and I saw the same behavior as reported by @ericlmontag .  However, I cannot reproduce it anymore, so I believe this may now be

[2020-05-11 18:17] tdonohue commented on #662
I am seeing this same bug. After pressing the Save button, no request is sent to the REST API. Instead, the browser's console shows a `ERROR TypeError: Cannot read property 'key' of undefined`.  This error is repeated each time you press the Save button.

[2020-05-11 18:31] tdonohue commented on #658
I'm able to reproduce this bug.  If you login as a someone who has submit permissions in one collection, then you cannot actually submit to that collection successfully.  I've changed the title of this ticket to better describe that.

What occurs is exactly what is described above.  An empty Workspace Item **is created** each time you try to submit to the Collection, however you cannot edit it or

[2020-05-11 19:27] tdonohue commented on #620
@mspalti : Apologies for the lack of response on this ticket. You are correct, this **is working**.  It appears that I had previously tested this with objects that had a different handle prefix (as you've discovered).  So, if I enter in the old handle prefix as a `handle.additional.prefix`, this all works right.

So, as you noted, this means that Handles starting with 10673 work perfectly on the d

[2020-05-11 19:27] #620 closed

[2020-05-11 19:34] tdonohue commented on #242
Closing in favor of #664 which describes the next steps here.

[2020-05-11 19:34] #242 closed

[2020-05-11 19:56] tdonohue commented on #622
@atarix83 : I'm still not sure how to move it forward.  Submission works for me with the default workflow, and PR #623 doesn't seem to work for the default workflow (see my comments on that PR).  It seems like we either need an update to #623 or another solution.

As a sidenote, is it possible this is related to #581?  I know that the reliance on embedded resources in the Submission/Workflow proce

[2020-05-11 20:32] tdonohue commented on #630
I've verified this as well. It doesn't work on `master` as of May 11 either.  Might be possibly related to #662 (or the same developer could tackle both).

[2020-05-12 11:36] artlowel opened #666 "Issues with the edit community and collection pages"
### 1. No PATCH Support
Since the `DataService.update()` method switched from PUT to PATCH requests, editing a community or a collection no longer works properly. The shared edit component should be fixed to support PATCH.

### 2. Adding or changing the logo doesn't always work.
There are also some irregularities when adding or changing the logo for a collection or community, although they may be

[2020-05-12 16:56] dspace-bot opened #1302 "[DS-4502] Handle bitstram's access conditions change for inprogress submission"
<i>Imported from JIRA <a href="https://jira.lyrasis.org/browse/DS-4502">[DS-4502]</a> created by giuseppe.digilio</i>
<p>When an inprogress submission has a bitstream with an access condition that is no longer valid or no longer available it would be better to have the upload step to deal with the "error" related to selection of an invalid option. </p>

<p> the presence of an access condition no l

[2020-05-13 14:32] tdonohue opened #667 ""Recently Added Items" doesn't exist on homepage & community pages"
Per a discussion in Slack, it was noted that the "Recently Added Items" (or Recent Submissions) listing doesn't appear on the homepage in the Angular UI.  Instead, they only appear on Collection homepages.

In v6 XMLUI, this feature exists on the homepage and lists the recently added items across the entire repository.  In v6 JSPUI, this feature does *not* exist on the homepage.

So, currently the

[2020-05-13 15:07] Aziris opened #668 ""Type" list keeps growing on DSpace 7"
1. Log in to be able to create new item
2. Go to create new Item page and observe the "type" dropdown
3. Once you open it and scroll down, new items get added endlesly

[2020-05-13 15:20] tdonohue commented on #668
@Aziris : Thanks for reporting this!  It's a known issue that we've scheduled to be fixed in the next beta (beta3) See #482, which is this same issue worded in a different way.

So, this is a duplicate of #482.  I'll close this bug ticket & copy your details over to that ticket.

[2020-05-13 15:20] #668 closed

[2020-05-13 15:21] tdonohue commented on #482
As noted in a duplicate ticket (#668) by @Aziris, this bug also appears in the Type dropdown.  Here's the details on reproducing:

1. Log in to be able to create new item
2. Go to create new Item page and observe the "type" dropdown
3. Once you open it and scroll down, new items get added endlesly

[2020-05-13 16:07] Aziris opened #669 "Required dropdown becomes broken after validation"
Define a "type" or "language" dropdown required :
<required>Its needed</required>

run app and fill in values in create item page section to cause pre-saving and validation messages to appear, e.g. set title and change focus.

![required](https://user-images.githubusercontent.com/2697696/81836711-88005e00-954c-11ea-85e6-4c43de5cc022.JPG)

Elements get marked as required, but also there appears a r

[2020-05-14 11:47] paulo-graca opened #670 "Angular with "Invalid Host header""
I'm getting an issue related with the recent changes to angular (angular-cli).
Configuration examples are sparse and my last configuration stopped working. I'm using Apache with mod proxy and now I'm getting "`Invalid Host header`".
I saw that this "The problem occurs because webpack-dev-server 2.4.4 adds a host check" could be the issue. Any ideas, or missing configuration?

My src/environments/e

[2020-05-14 14:29] paulo-graca commented on #670
@artlowel this is what I see when accessing it with a SSH tunnel for my server:

![image](https://user-images.githubusercontent.com/877488/81946203-fc8fd700-95f6-11ea-9e8f-2120ce80c077.png)

[2020-05-14 14:33] paulo-graca commented on #670
This is what I see when accessing the server (with Apache and proxypass):
![image](https://user-images.githubusercontent.com/877488/81947128-1a117080-95f8-11ea-8536-486368cbce4c.png)

[2020-05-14 14:35] paulo-graca commented on #670
It seems to me that the `ui` settings are being ignored.

[2020-05-14 16:10] paulo-graca commented on #670
As @artlowel suggested to temporally solve this we need to change this line:
https://github.com/DSpace/dspace-angular/blob/4c480889201c0e127358e9df7b3a560779de7f43/package.json#L20

«You could change this to `ng serve --disable-host-check`  »

or «alternatively you could try to specify your host and port there, with `--host myhost.pt` and `--port 3000` but without `--disable-host-check`

[2020-05-14 16:33] tdonohue commented on #487
This issue is dependent on this REST API ticket: https://jira.lyrasis.org/browse/DS-4504

Once there's a way in the REST API to provide a list of Collections you can submit to (in a performant way), then we will need to update *both* the (optional) Collection dropdown in the submission UI as well as the Collection selector in the Admin side menu.

[2020-05-14 16:44] tdonohue opened #671 "MyDSpace page should include a way to select a Collection for starting a new submission"
As in DSpace 6, it was possible to start a new submission & select a Collection via a user's the MyDSpace page.  This feature is necessary for individuals who only have SUBMIT level rights, as they will not be able to access this Admin side menu to start a new submission.

For DSpace 7, we must implement a way to start a new submission from the MyDSpace page while also selecting the Collection to

[2020-05-15 15:08] tdonohue opened #672 "Facets are not sending required "operator" field to the REST API"
Related to https://jira.lyrasis.org/browse/DS-4500

Currently, when you select a facet (any facet) from the search page, the request to the REST API looks like this:

https://dspace7.4science.cloud/server/api/discover/search/objects?sort=score,DESC&page=0&size=10&f.author=Marioni,%20John

However, as documented in the [REST Contract](https://github.com/DSpace/Rest7Contract/blob/master/search-endpo

[2020-05-15 15:27] tdonohue commented on #670
@artlowel and @paulo-graca : Is this considered "fixed"?  Or do we need improvements to either our documentation or our default `package.json` in order to consider this "fixed"?

I'm just trying to determine what actions we need here, if any, to move this ticket forward.

[2020-05-15 15:39] tdonohue opened #673 "Collection dropdown in Submission UI should not appear if disabled in backend configuration"
As discussed in this week's DSpace 7 meeting and in https://wiki.lyrasis.org/display/DSPACE/Collection+dropdown+in+submission, we need to support the ability to **disable the Collection dropdown** in the Submission UI.  This change is necessary as not all institutions may be willing to accept the side effects of changing a Collection after already starting a submission (see wiki page for details o

[2020-05-15 15:40] artlowel commented on #670
No, it isn't fixed yet. There are certain settings in the UI section of the environment that aren't taken in to account in all situations. @LotteHofstede will create a PR to fix this next week.

[2020-05-15 20:27] tdonohue commented on #647
From https://github.com/DSpace/dspace-angular/pull/653#issuecomment-627950764, the Manage People interface should also include a button to "Impersonate an EPerson" next to the Edit/Delete buttons.

[2020-05-15 20:45] MarisArins opened #674 "Gridview of collection/category does not show Thumbnails"
When swithcing to Grid view in DS7 demo, there are no Thumbnails (logo) appearing on elements:

e.g. Collection:
https://dspace7-demo.atmire.com/communities/72a49b3b-de92-4c94-a471-ab9bad5eff4e?view=gridElement (this collection has logo: https://dspace7-demo.atmire.com/collections/5464f180-18d4-4a53-8166-33691b37c0f1)

e.g. Community:
https://dspace7-demo.atmire.com/home?view=gridElement ("Brasil"

[2020-05-20 13:07] tdonohue opened #678 "Angular UI does not properly logout when clicking logout"
This bug was initially reported on the REST API as https://jira.lyrasis.org/browse/DS-4507

After further testing, we've realized that the Angular UI does not specify the proper logout command when attempting to logout an existing user.  This results in the user session never being closed, and the authentication token still remains valid (which is a security issue).

See this comment for full deta

[2020-05-20 18:30] tantz001 opened #679 "Bitstream drag and drop"
There does not appear to be a way to reorder bitstreams with drag-and-drop when the bitstreams in a given bundle span multiple pages.

[2020-05-20 18:32] artlowel commented on #679
You should be able to drop it on a page number

[2020-05-20 18:36] tantz001 commented on #679
Thanks, I have tried that both on Safari and Chrome with no luck -- the item simply remains at the bottom of the current page.

[2020-05-20 18:38] artlowel commented on #679
In that case it broke. We'll take a look

[2020-05-20 19:36] tdonohue commented on #289
This should be retested now that https://github.com/DSpace/DSpace/pull/2735 has been merged (and deployed to https://dspace7.4science.cloud/server).  It's possible this bug is fixed now that the backend should be returning proper CORS headers.

[2020-05-21 18:51] tantz001 opened #680 "Recent Submissions pagination is not reloading properly"
When browsing a collection with more than one page, advancing to another (next or previous) page does not work.  The page indicator moves as expected, but the items on the page do not change.  In addition, mousing over the items results in a 'flicker' as if some sort of mouseover event is being handled.  A page refresh results in proper display.  Tested on chrome, safari, edge, and firefox with th

[2020-05-21 18:56] tantz001 opened #681 "Shibboleth authentication inconsistent."
Initial login and authentication seems to work, but the Admin menu seems to disappear rather randomly, requiring users to click the 'login with shibboleth' button again.  This restores the Admin menu (without actually logging in again).

[2020-05-22 15:05] atarix83 commented on #655
closed because duplicate #289

[2020-05-22 15:05] #655 closed

[2020-05-22 15:31] atarix83 commented on #289
@tdonohue @artlowel
the issue is not due to CORS, but is an angular bug, I made a PR to solve it

[2020-05-24 09:58] lomadi commented on #662
Maybe this is related to the bug, that the "key" of the metadata field ist wrong (at least this happens when the metadta field is generated by the UI). The cause is the inconsistent usage of "" and null.

[2020-05-25 10:37] paulo-graca commented on #670
This PR #677 solves this issue.

[2020-05-25 10:37] #670 closed

[2020-05-25 15:29] pnbecker opened #684 "Login panel not viewable in Safari and Firefox"
Currently (Mai, 25th 2020) the login panel is not opening properly in Safari and Firefox. While #677 should fix issues with the fonts, something seems to be wrong with the polyfills as well. I attach a screenshot from Firefox that shows what happens if someone tries to open the Login dropdown. In Chrome everything is working as expected.

<img width="171" alt="screenshot" src="https://user-images.

[2020-05-26 09:26] artlowel opened #685 "Refactor services dealing with Metadataschemas MetadataFields and Bitstreamformats"
Metadataschemas MetadataFields and Bitstreamformats all use custom response models and services.

This was necessary when they were originally added, because the object cache and dataservices would only support DSpaceObjects.

Now, however you can use dataservices for anything with a self link so we should refactor the responses and services for Metadataschemas MetadataFields and Bitstreamformats

[2020-05-26 09:26] artlowel opened #686 "Fix support for context sensitive menus"
Currently it isn’t possible to add or replace menu options just anywhere. The menu, its service and reducers were designed to be able to do that, but it never worked properly

One problem is that menu sections are currently initialized inside components. That way they can’t be inherited by subroutes. Like breadcrumbs they need to move to data on the route. While doing that however, we should still

[2020-05-26 11:31] olli-gold commented on #667
We are using this feature on JSPUI (DSpace CRIS 5.x) and I would like to have it in DSpace 7 on Angular UI.

[2020-05-26 11:37] olli-gold commented on #684
I can confirm this bug and would like to add, that this is reproducable on the official DSpace 7 demo page (https://dspace7-demo.atmire.com/) currently.
Console is showing several errors:
![grafik](https://user-images.githubusercontent.com/1461291/82896291-02ba7780-9f56-11ea-88c1-6b120e084c0b.png)

[2020-05-27 14:21] Aziris opened #688 ""Author" field in Submit page does not work"
Hi, there are 2 bugs :
1. Author, although marked as repeatable=true, is only available once, no + or add more option is present
2. Author lookup does not allow to effectively select any of listed authors, you can filter and mark them, but there is no "add" option, neither this selection has any effect if you close the lookup element

[2020-05-27 17:09] tdonohue commented on #686
@artlowel : Could you describe what features this might enable?  I do understand the general issue here and it seems worth fixing at some point, but I'm unsure how to prioritize as I'm not sure I understand the big picture here.  Is this to help us enable the ability to have different menus for non-admins (and therefore hide the admin sidebar altogether if you are not a full admin or Community/Col

[2020-05-27 17:11] tdonohue commented on #685
@artlowel : Could you link to / describe the "upcoming improvements to the object cache" that you are referencing?  That'd help me to analyze & schedule this, as you seem to be implying a dependency here, but it's not entirely clear to me.

I definitely agree this is necessary work, I'm just struggling with where to schedule it as it's unclear what future work or future improvements/features may d

[2020-05-27 21:04] tdonohue commented on #680
@tantz001 : Could you describe how to reproduce this?  What do you mean by a "collection with more than one page"?

[2020-05-27 21:10] tdonohue commented on #681
@tantz001 : Could you please provide a step by step method to reproducing what you are seeing?  Is the Admin menu disappearing after simply browsing around? Or are your refreshing/reloading the page and losing your authentication session (that is a known issue if so that authentication is lost on a reload, but we have an early possible fix here: https://github.com/DSpace/dspace-angular/pull/682)?

[2020-05-27 21:13] tantz001 commented on #680
No, sorry, I mean a collection with more than a page full of items.  The behavior I see, when for example I go from page 1 to page 2 of such a collection, is that the page indicator moves, but the list of items remains the same -- with the added twist of the 'flicker'.  A simple (browser) reload/refresh of the page results in the correct page of items.  And yes, just like the url you included note

[2020-05-27 21:21] tantz001 commented on #681
There are actually a number of situations, but one I remember for sure is simply pressing the 'home' image (the DSpace logo).  Although now for the life of me I can't duplicate it.  Maybe it is a timeout issue?  And yes, for sure, a page refresh will do it.  I will note very carefully the next time this actually occurs.

[2020-05-28 07:33] artlowel commented on #686
It will allow both the admin and public menus to differ depending on the route.

It will also allow us to specify menu sections and links in the module or the component they link to, rather than having to put them all in a single file. This will ensure that you can have optional modules in dspace that can be enabled or disabled without also having to add and remove menu sections in a shared file.

[2020-05-28 07:57] artlowel commented on #685
I'm referring to the proposal about the cache I'm working on as discussed in the last meeting. I don't have any tickets to link to yet. I will link them after we've discussed it and agreed on the approach.

As it stands, all objects related to the registries don't use the object cache at all. So if we fix edge cases in the object cache, we'll need to fix them again here if we don't refactor first.

[2020-05-28 15:52] tdonohue commented on #681
@tantz001 : We will need an exact description of how to reproduce this.  We've had a *lot* of recent updates (even as recent as today) to the Angular authentication code which has fixed similar bugs related to losing authentication tokens/cookies.  So, it's very possible that this bug was already fixed (which might be why you cannot reproduce it) by other fixes we've applied in recent weeks.

For

[2020-05-28 15:55] tdonohue commented on #289
Closing, fixed by #682

[2020-05-28 15:55] #289 closed

[2020-05-28 16:08] tdonohue commented on #680
@tantz001 : I've updated the description & title of this ticket to better describe the bug. Thanks for locating it.  In the future, as noted, please provide steps to reproduce the bug, including links to the demo site (if reproducible there).  That makes it a ton easier on me to determine whether this bug is a duplicate or new bug. In this case, this appears to be a new bug.

[2020-05-28 16:38] #681 closed

[2020-05-29 15:29] tdonohue commented on #601
Fixed by #645

[2020-05-29 15:29] #601 closed

[2020-05-29 19:42] tdonohue commented on #678
Closing, fixed by https://github.com/DSpace/dspace-angular/pull/691

[2020-05-29 19:42] #678 closed

[2020-06-01 21:48] tdonohue commented on #685
@artlowel : Thanks for the additional details. This can be added to beta3 alongside the upcoming cache improvements. However, we can also reschedule for beta4 if needed.

[2020-06-01 21:51] tdonohue commented on #686
Because beta3 seems like it's getting quite full, I'll tentatively add this to beta4.

[2020-06-02 15:07] artlowel commented on #679
Currently it appears to be working as it was designed:
As soon as you pick up a bitstream from page 1, that page is left with only 9 elements. When you drop it on page 2 it will appear as the first element on page 2: the 10th element overall. After you click save, the server will again divide it up in to pages of 10, which means that the dropped bitstream will now be at the bottom of page 1.

I ag

[2020-06-02 15:08] artlowel commented on #679
Note: I found [this item on the demo site](https://dspace7-demo.atmire.com/items/b6def9e5-8efd-493d-9afa-a2bd97805ac8) useful in wrapping my head around this issue. It has 2 pages of bitstreams in the ORIGINAL bundle

[2020-06-02 21:49] tdonohue commented on #679
@artlowel : I think my preference here is your first option. Drag and drop should save immediately, as otherwise things get confusing across pages.   I think this also solves a minor usability issue in that right now after drag & drop reorder, the undo button for the moved bitstream never actually enables. This is incorrect behavior as the undo button should be enabled for any bitstream where chan

[2020-06-03 13:45] MarisArins opened #694 "Cannot set community logo after removing old one"
When you open a community with specified "Community logo" in edit mode,
you can remove assigned logo image with "delete" button,
but you cannot add another logo until you save the community and re-enter in edit mode.

[2020-06-03 14:52] Aziris opened #695 "Preselect community/collection in search page"
Now :
When someone navigates to a community or collection and writes a term in the search field that is in the header and executes search, in the search page only search string is filled. This searches over whole repository.

A very useful improvement could be :
When someone navigates to a community or collection and writes a term in the search field that is in the header and executes search, in t

[2020-06-03 15:03] Aziris opened #696 ""Search in" selector on Search page not user friendly"
![image](https://user-images.githubusercontent.com/2697696/83652518-65012100-a5c3-11ea-88da-648f1b4426e6.png)

This "Search in..." selector functions in unintuitive way - I have looked at it many times and had no idea that selecting a community in it, gets it reloaded with different content to present next and next layers of structure in it !

First improvement would be to introduce a 2x spaces pa

[2020-06-03 15:08] artlowel commented on #696
The original idea was to show the scope as another facet, but search was one of the first features implemented for dspace 7 and at the time it wasn't easy to support that behavior on the rest side. Perhaps we can reevaluate that?

![Mockup](https://wiki.lyrasis.org/download/attachments/87470798/Scope.png?version=1&modificationDate=1504182660899&api=v2)

![Mockup 2](https://wiki.lyrasis.org/downloa

[2020-06-10 18:06] tdonohue opened #699 "Refactor AuthorityService to use caching & same pagination as other services"
[AuthorityService](https://github.com/DSpace/dspace-angular/blob/main/src/app/core/integration/authority.service.ts) currently extends [IntegationService](https://github.com/DSpace/dspace-angular/blob/main/src/app/core/integration/integration.service.ts). This seems to be the only place IntegrationService is used in our codebase.

`IntegationService` seems similar to [DataService](https://github.c

[2020-06-12 12:13] artlowel commented on #664
For this first task I propose we:
- Implement services and models for the features and authorisations endpoints
- toggle the visibility of the impersonate button based on the `loginOnBehalfOf` feature
- Create an AdminGuard based on the `AdministratorOf` feature on the site object and use it for the admin module routes
- Also use the `AdministratorOf` feature on the site object to toggle the visib

[2020-06-16 06:13] Aziris commented on #695
Adding a correction to this "bug" - the functionality of pre-selecting community/collection does work on "title" / "author" / "date" and "subject" filter tabs, but it does not pre-filter on the "Recent Submissions" in collections and on "Subcommunities and Collections" in communities.

[2020-06-16 07:45] ttornyai opened #706 "Cannot create top-level Community"
- Using current master (2020.06.16) of dspace-angular
- For backend, using dspace/dspace:dspace-7_x docker image (running in docker)

I set up a local dspace-angular with a backend, and the backend runs in docker. Either dspace-angular runs in docker or not, when I try to create a top-level community with dspace-angular, the submit button does nothing, and the following error is in the browser con

[2020-06-16 07:49] artlowel commented on #706
I can reproduce this issue.

It should be fixed by #701

[2020-06-17 19:32] tdonohue commented on #688
I'm able to reproduce both of these bugs on the demo site at https://dspace7-demo.atmire.com/

I believe this used to work, but there is no way to manually enter multiple authors & selecting multiple authors in the Lookup popout window is not saved back to the submission form itself.

[2020-06-17 20:57] tdonohue commented on #694
I can reproduce this behavior, however this is a usability issue rather than a bug.  Currently, uploading/deleting the logo doesn't occur until you click the "Submit" button.

This means it is possible to add a new logo after removing an old one, but as noted above, it's a several step process.  To make it easier, we may want upload/removal to occur immediately.

[2020-06-17 21:02] tdonohue commented on #695
Was able to reproduce this locally & on demo site.

1. Visit a Community page (defaults to the "Subcommunities and Collections" browse option)
2. Click on the search icon in the header, and enter in a term.  **The search will be site-wide.**
3. Go back to the same Community, and click on "By Title" browse option.
4. Again, click on the  search icon in the header, and enter in a term.  **The search

[2020-06-17 21:10] tdonohue commented on #696
I've flagged this as a usability issue for now.

I'm not against the idea of a scope facet, but that may not be an easy fix (as it requires REST updates as well)

Another possible solution here might be to simply find a way to better represent communities vs collections in that dropdown (whether via an icon or a different style or similar), or see if there's a way to implement a collapsible/expand

[2020-06-18 10:11] artlowel commented on #631
Now that the rest contract is merged: here's a spec and an estimate on how to use it in the UI:

- Create a service for the short lived tokens
	- it shoudn't be a dataservice,
	- it should have a single method to retrieve a token
	- It should check if you're authenticated first
- Remove the contents of fileSerice.downloadFile and replace it with a method that
	- calls the new service for a token

[2020-06-18 20:14] tdonohue commented on #706
Closing as fixed by #701

[2020-06-18 20:14] #706 closed

[2020-06-18 20:14] tdonohue commented on #665
Closing as fixed by #701

[2020-06-18 20:14] #665 closed

[2020-06-18 20:15] tdonohue commented on #666
Closing as fixed by #701

[2020-06-18 20:15] #666 closed

[2020-06-18 20:17] tdonohue commented on #631
Thanks for the estimate, @artlowel . That looks/sounds good to me!

[2020-06-22 16:28] artlowel opened #711 "In dev mode, when authenticated, certain URLs redirect to the home page."
If you're in dev mode, and you're logged in and go to an item page by typing in its URL, you'll be redirected to the home page. You can navigate to that same item page by clicking links in the UI just fine. Only going straight to it by entering the URL causes the issue.

I expect this will be because the act of logging you in also triggers a redirect, which it should only do if you came from somew

[2020-06-22 16:31] artlowel opened #712 "Logging in should also trigger a refresh"
When logging in, we should also do a refresh, the same way we do when logging out. Because rest requests that were made while anonymous may have different results when you're logged in.

E.g. the bitstream of [this item](https://dspace7-demo.atmire.com/items/6160810f-1e53-40db-81ef-f6621a727398) is private, so if you go to this page anonymously you don't see a bitstream.

If you log in using the m

[2020-06-23 17:45] tdonohue commented on #664
Per last week's DSpace 7 meeting, once a PR exists for this ticket it should be assigned to @atarix83 and @tdonohue .

[2020-06-23 20:12] tdonohue opened #713 "Clicking on a Workflow Action refreshes entire MyDSpace page"
See https://jira.lyrasis.org/browse/DS-4311

[2020-06-23 20:15] tdonohue opened #720 "Start new submission by via Search or ID lookup (Live Import)"
See https://jira.lyrasis.org/browse/DS-4515

[2020-06-25 13:13] artlowel opened #718 "Cache Redesign"
### The issues
The way caching works in dspace 7 has a number of issues:

1. **When an object's cache time to live (TTL) has elapsed. It is automatically removed from the cache.** It is unclear for a component developer that this has happened and how to deal with it when it does. Most components simply break, or keep loading indefinitely.
2. **Responses and objects are cached in separate parts of

[2020-06-25 15:12] atarix83 commented on #711
ok @artlowel I'll have a look on it

[2020-06-26 15:58] #671 closed

[2020-06-26 15:58] #673 closed

[2020-06-26 19:40] tdonohue commented on #373
Closing, as this was fixed by https://github.com/DSpace/dspace-angular/pull/708

[2020-06-26 19:40] #373 closed

[2020-06-26 19:44] heathergreerklein commented on #487
Closing, as fixed by https://github.com/DSpace/DSpace/pull/2771

[2020-06-26 19:44] #487 closed

[2020-06-26 20:59] heathergreerklein opened #721 "DS-4311 Workflow Actions refresh entire MyDSpace page instead of just WorkflowItem"
This is a duplicate of [DS-4311](https://jira.lyrasis.org/browse/DS-4311)

Clicking "Claim Task" reloads the entire MyDSpace page. This loses your context, so you need to locate the item you just claimed (and it may suddenly jump to the second page of results, like it did when I tested). This can be fixed by ensuring the MyDSpace page does NOT reload all results, but just reloads the claimed Item

[2020-06-26 21:27] heathergreerklein commented on #546
Estimate from release plan: 4 hours

[2020-06-26 22:13] #679 closed

[2020-06-30 16:10] #659 closed

[2020-06-30 20:27] heathergreerklein opened #725 "Refactor HAL response of dynamic workflowgroup links to simplify client code (UI; need is TBD)"
Note from release plan -- TBD. Unclear of impact on UI code at this time.

[2020-06-30 20:30] heathergreerklein opened #726 "Sitemaps for SEO"
Estimate from release plan: 2 hours
Expressing interest: Atmire

Sitemap content must appear off root path of UI (like robots.txt), but must be provided from the server-side. This may simply be proxying via the express server.

[2020-06-30 20:33] heathergreerklein opened #727 "Simple default theme for UI"
# Rescoped as of March 4, 2020

## Dependencies
* This ticket depends on #729 (See PRs #1035 and #1042), which makes all (public) components themeable & creates our strategy for theming
    * Themes are all under `/src/themes/`, with an easily modifiable template/scaffolding in `/src/themes/custom`
* This ticket also relates to #728 , which has been re-scoped to be about cleanup of all existing co

[2020-06-30 20:35] heathergreerklein opened #728 "Clean-up of the existing components/styles for accessibility & theming"
~~Added per @tdonohue  -- task to clean up the existing UI theme. No estimate, requires investigation~~

# Rescoped as of March 4, 2020

## Dependencies
* This ticket relates to #729 (See PRs #1035 and #1042), which makes all (public) components themeable & creates our strategy for theming.
    * Themes are all under `/src/themes/`, with an easily modifiable template/scaffolding in `/src/themes/cu

[2020-06-30 20:38] heathergreerklein opened #729 "Support separate themes per community or collection (like XMLUI)"
Estimate from release plan: 70 hours
Expressing interest: Atmire

From release plan:
Sitewide themes is done (see OR2019 workshops). Community/Collection specific theming is more difficult until we upgrade Angular 9.

[2020-06-30 20:40] heathergreerklein opened #730 "Delete EPerson"
Estimate from release plan: none
Expressing interest: none

From release plan: This is a subtask of "Manage EPeople" task (for Angular UI)

[2020-06-30 20:43] heathergreerklein opened #731 "DSpace (Solr) Statistics - Sitewide Usage Reports (same as v6.x)"
Estimate from release plan: 40 hours
Assigned to Atmire

No notes on release plan.

[2020-06-30 20:44] heathergreerklein opened #732 "DSpace (Solr) Statistics - Community/Collection Usage Reports (same as v6.x)"
Estimate: 4 hours
Assigned to Atmire

[2020-06-30 20:45] heathergreerklein opened #733 "DSpace (Solr) Statistics - Item Usage Reports (same as v6.x)"
Assigned to Atmire; estimate 4 hours

[2020-06-30 20:47] heathergreerklein opened #734 "Split up Cookies"
Estimate: 18 hours
Expressing interest: 4Science

Required cookies must be separated from tracking (statistics) cookies

[2020-06-30 20:48] heathergreerklein opened #735 "Cookie Preferences per account"
Estimate: 24 hours
Expressing interest: 4Science

Panel for the user to disallow tracking and 3rd party cookies & storage of those settings

Related to backend ticket: https://github.com/DSpace/DSpace/issues/2807

[2020-06-30 20:49] heathergreerklein opened #736 "User Agreement / Privacy Statement"
Estimate: 20 hours
Expressing interest: 4Science

More info on the user agreement / privacy statement can be found in this comment on the backend Issue: https://github.com/DSpace/DSpace/issues/2808#issuecomment-670215129

[2020-06-30 20:54] heathergreerklein opened #737 "citation_pdf_url must be based on the Angular UI Hostname"
Estimate TBD

May require a passthrough component in UI which can be used as a direct download URL.  See https://github.com/DSpace/DSpace/issues/2809

[2020-06-30 20:55] heathergreerklein opened #738 "Authorizations endpoint should recognize Authorization and X-on-behalf-of headers"
Unclear if this will impact Angular implementation significantly  -- see https://github.com/DSpace/DSpace/issues/2810

[2020-07-01 07:30] artlowel opened #739 "Cache redesign part 1: Don't remove expired objects"
## References
This ticket corresponds to issues 1, 2, 3, 4 and 6 from #718.

That ticket was too big to tackle at once so we split it up in to smaller, more manageable chunks of work.

The first two were deemed the most critical to address ASAP. As they leave dspace 7 fundamentally broken.

The others in this ticket will be addressed at the same time because their solutions are very closely tied t

[2020-07-01 07:30] artlowel opened #740 "Cache redesign part 2: Send every request"
## References
This ticket corresponds to issue 7 from #718.

That ticket was too big to tackle at once so we split it up in to smaller, more manageable chunks of work.

## Description
Our attempts at abstracting away the cache has made working with it harder not easier.
Every time any component needs anything from the rest api, they call the dataservice, which creates a request object, and passes

[2020-07-01 07:30] artlowel opened #741 "Cache redesign part 3: Simplify the invalidation of cached objects"
## References
This ticket corresponds to issue 5 from #718.

That ticket was too big to tackle at once so we split it up in to smaller, more manageable chunks of work.

## Description

Changes made in one place (creating/updating/deleting an object) can cause other cached objects or responses to become outdated, even though they're still valid according to their TTL.

Currently the developer imple

[2020-07-01 07:30] artlowel opened #742 "Cache redesign part 4: Split up the dataservices"
## References
This ticket corresponds to issue 8 from #718.

That ticket was too big to tackle at once so we split it up in to smaller, more manageable chunks of work.

## Description
We encourage every service that corresponds with a rest endpoint to inherit from it. But most endpoints only support a fraction of the methods dataservice provides. So we either inherit, and a lot of methods don't wo

[2020-07-01 07:31] artlowel commented on #718
Closing.
Replaced by #739, #740, #741, and #742

[2020-07-01 07:31] #718 closed

[2020-07-01 13:46] ddinuzzo opened #743 "In SSR mode the browser languages ​​aren't included in Accept-Language header"
see https://github.com/DSpace/dspace-angular/pull/714

This works as it should in dev mode. The code looks good too. However it doesn't work in prod mode, due to server side rendering.

If you retrieve any page in prod mode the server will show the following error:
[code]

This is because navigator doesn't exist on the server. And even if it did we wouldn't be able to use it to retrieve the user's

[2020-07-01 20:13] tdonohue commented on #739
@heathergreerklein and I discussed this yesterday and have decided to schedule first part for beta4 & assign to @artlowel.  Work can begin as soon as beta3 is complete (i.e. likely as soon as next week)

[2020-07-01 20:14] tdonohue commented on #740
Tentatively added to beta5 board...though it might be pushed back to 7.1 if needed.

[2020-07-01 20:16] tdonohue commented on #741
Tentatively added to 7.1, unless we find a clear reason this needs to be done earlier

[2020-07-01 20:17] tdonohue commented on #742
Tentatively added to 7.1 alongside #741 (both might be done by the same developer at that time)

[2020-07-01 20:17] heathergreerklein opened #744 "Angular UI: Refactor metadata field used to store Entity Type"
Estimate: TBD

May only require minor changes depending on how REST contract changes

This is the Angular PR corresponding to https://github.com/DSpace/DSpace/issues/2815

[2020-07-01 20:19] tdonohue commented on #718
Just for the public record, I talked with @artlowel & @lieven-atmire about this yesterday and together we worked to split this up into 4 separate tasks (which can be scheduled separately) as noted above.  @heathergreerklein and I also talked yesterday about this and decided that the first task (#739) is a high priority bug, so it has been scheduled for beta4.

[2020-07-01 20:20] heathergreerklein opened #745 "DS-4283: (Google Scholar) Provide Entity Type Label/Name as part of URL path"
This is a duplicate of [DS-4283](https://jira.lyrasis.org/browse/DS-4283)

Estimate from release plan: TBD

This is a request from the Google Scholar team.  I talked with them briefly today about the upcoming DSpace 7 release.

They've requested the ability to differentiate Entity Types via the URL path/pattern (e.g. a Person might have a URL of `/person/[uuid]`, while a Publication may have a pat

[2020-07-01 20:21] heathergreerklein opened #746 "Remove BTE import framework in favor of Live Import framework"
Estimate: TBD
Expressing interest: 4Science

Needs analysis of work needed for UI layer. Depends on the amount of refactoring necessary in the REST API (if any)

https://wiki.lyrasis.org/display/DSPACE/BTE+transition%3A+4Science+implementation+proposal+and+estimation

[2020-07-01 20:23] heathergreerklein opened #747 "Meta "generator" tag in page header (<meta name="Generator" content="DSpace [version]"/>)"
Release plan estimate: 3 hours

Use/Update metadata.service.ts?

[2020-07-01 20:43] #631 closed

[2020-07-02 09:12] artlowel opened #748 "Collection template item metadata not used in the submission UI"
If you have a collection with an item template, and you start a new submission in that collection. The rest response of the POST to the workspaceItem endpoint will contain the metadata from the item template, so will the linked Item object if you fetch it directly. However the submission UI won't fill those values in the first time the form is rendered.

If you don't fill out anything, but click t

[2020-07-02 09:28] artlowel opened #750 "The metadata autocomplete queries should be sent to the server, not run on the client"
Currently the metadata autocomplete works by fetching all metadata fields and all schemas and querying them client side. This blocks the UI 10 - 30 seconds on pages where it used.

It got a lot worse since #697 removed the hacks in the response parser that stored embedded schemas as direct properties of the fields. Since those schema's use alternative links, they can't be cached until #652 is merg

[2020-07-02 16:14] #686 closed

[2020-07-02 17:17] #662 closed

[2020-07-03 10:09] artlowel opened #753 "Implement the currently available features"
With #717 the basic support for features and authorizations in the UI has been added.

Now we can start implementing the other features that are already implemented on the rest side:
- withdrawitem,
- reinstateItem,
- cclicense,
- epersonRegistration
- isAdministratorOf: communities, collections and items,

Implementing guards and checks for all of these in the UI will take an estimated **8h**

[2020-07-07 07:52] artlowel opened #754 "When the route changes the window should scroll to the top"
When you click an internal link, the scroll position doesn't change. As far as your browser is concerned, you haven't gone to a new page, so it keeps your (relative?) scroll position.

This can be easily reproduced by making your browser window very small and clicking on a link at the bottom of the page. When the page changes you'd expect to see the top of the new page, instead you see the bottom.

[2020-07-07 16:41] artlowel opened #756 "First few requests never get the authorization header"
When you are authenticated, and you refresh, the first few rest requests won't contain the authorization header.

The problem is easiest to see in dev mode, as you can simply inspect the requests in the dev tools and look at their headers, but it also happens in production mode, on the express server.

If you add the following statement to [auth.interceptor.ts, line 251](https://github.com/DSpace/

[2020-07-08 11:07] atarix83 commented on #756
@artlowel A possible solution to this problem, should be to active [router-outlet](https://github.com/DSpace/dspace-angular/blob/b731301b39f0ebf9c8c2a6401702033ccbe0ab31/src/app/app.component.html#L20) only once the [auth.loaded state](https://github.com/DSpace/dspace-angular/blob/b731301b39f0ebf9c8c2a6401702033ccbe0ab31/src/app/core/auth/auth.reducer.ts#L37) is true. In this way it should prevent

[2020-07-09 14:48] artlowel opened #759 "Files on item pages don't use pagination"
If you have more than 20 files in the ORIGINAL bundle of an item, only the first 20 will be shown. There is no pagination support as of yet.

Perhaps full blown pagination is too much for the simple item page, a simple "more" link seems more appropriate

[2020-07-13 16:08] #754 closed

[2020-07-13 20:54] heathergreerklein opened #761 "The harvesting client (XMLUI only) should be ported to dspace 7"
From release plan spreadsheet

Estimate from release plan: 24 hours
Expressing interest: none

https://wiki.lyrasis.org/display/DSDOC6x/OAI#OAI-OAI-PMH/OAI-OREHarvester(Client)

This includes ability to kick off harvest from collection level and site level harvesting status (XMLUI Control Panel). We currently don't have the REST for the Control Panel.

Done:
- The content source tab on the edit co

[2020-07-13 20:56] heathergreerklein opened #762 "Contextual Help"
From release plan spreadsheet

Estimate from release plan: 32 hours
Expressing interest:  4Science

No additional notes

[2020-07-13 20:57] heathergreerklein opened #763 "Feedback Form"
From release plan spreadsheet

Estimate from release plan: 14 hours
Expressing interest: none

No additional notes

[2020-07-13 21:00] heathergreerklein opened #764 "Authorization as someone with Collection Admin rights"
From release plan spreadsheet

Estimate from release plan: 4 hours
Expressing interest: none

https://wiki.lyrasis.org/display/DSPACE/Managing+Authorization+info+in+Angular+UI

[2020-07-13 21:01] heathergreerklein opened #765 "Authorization as someone with Community Admin rights"
From release plan spreadsheet

Estimate from release plan: 4 hours
Expressing interest: none

https://wiki.lyrasis.org/display/DSPACE/Managing+Authorization+info+in+Angular+UI

[2020-07-13 21:05] heathergreerklein opened #766 "View Authorization Groups"
From release plan spreadsheet

Estimate from release plan: 5 hours
Expressing interest: none

- Create/modify a service to be able to retrieve the groups for the current user
- List them on the profile page

[2020-07-13 21:08] heathergreerklein opened #767 "Embargo Item Metadata"
From release plan spreadsheet

Estimate from release plan: 30 hours
Expressing interest: none

May be combined with ""Make an Item Private"" (#768). Requires senior developer

- Write a custom section component to render the Access section
- Write a service to parse the access section data, and send patches back to the server

[2020-07-13 21:09] heathergreerklein opened #768 "Make an Item private (from Submission UI)"
From release plan spreadsheet

Estimate from release plan: 6 hours
Expressing interest: none

Need option to make Item Private during submission. Depends on Embargo Item Metadata (form Submission UI Only)

- Add the private item checkbox to the access section component
- Ensure the service can parse the response, and send patches concerning the private item status

[2020-07-13 21:11] heathergreerklein opened #769 "Sherpa-Romeo Integration"
From release plan spreadsheet

Estimate from release plan: 40 hours
Expressing interest: none

No additional notes

Related REST ticket https://github.com/DSpace/DSpace/issues/2840

[2020-07-13 21:14] heathergreerklein opened #770 "Support for General Configurable Workflow steps"
From release plan spreadsheet

Estimate from release plan: 50 hours
Expressing interest: none

Requires rendering workflow actions dynamically

[2020-07-13 21:17] heathergreerklein opened #771 "DS-4489: Batch claiming Workflow tasks is not currently possible in Angular UI"
This is a duplicate of [DS-4489](https://jira.lyrasis.org/browse/DS-4489)

Estimate from release plan: none
Expressing interest: none

Pulled out from a larger ticket https://jira.lyrasis.org/browse/DS-4311

Currently, the MyDSpace UI in DSpace 7 doesn't support batch claiming of tasks. This was supported in the XMLUI v6.

This can be reproduced on the demo site at https://dspace7-demo.atmire.com/

[2020-07-13 21:19] heathergreerklein opened #772 "Previewing an Item during the Workflow approval process not possible in Angular UI"
This is a duplicate of [DS-4490](https://jira.lyrasis.org/browse/DS-4490)

Estimate from release plan: none
Expressing interest: none

Pulled out from a larger ticket https://jira.lyrasis.org/browse/DS-4311

Previewing an Item should be possible (via a button or similar alongside the "Approve" / "Reject" / "Edit" buttons). This is a low priority task, but was possible in XMLUI. It's a minor usabil

[2020-07-13 21:21] heathergreerklein opened #773 "DS-4277: Layout of search results in MyDSpace"
This is a duplicate of [DS-4277](https://jira.lyrasis.org/browse/DS-4277)

Estimate from release plan: none
Expressing interest: none

The MyDSpace page contains a search for items submitted by the current user, or in the user's task pool.
The layout of the items in this list doesn't seem to use the discovery component for item lists.
This implies that changes applied to the displayed metadata in

[2020-07-13 21:23] heathergreerklein opened #774 "Export Community (to ZIP)"
From release plan spreadsheet

Estimate from release plan: 16 hours
Expressing interest: none

Likely should be redesigned to use the scripts & processes endpoint

[2020-07-13 21:25] heathergreerklein opened #775 "Export Collection (to ZIP)"
From release plan spreadsheet

Estimate from release plan: none
Expressing interest: none

Likely should be redesigned to use the scripts & processes endpoint.

Depends on REST ticket https://github.com/DSpace/DSpace/issues/2843

[2020-07-13 21:26] heathergreerklein opened #776 "Create new Item Version"
From release plan spreadsheet

Estimate from release plan: 14 hours
Expressing interest: none

No additional notes

[2020-07-13 21:27] heathergreerklein opened #777 "Export Item (to ZIP)"
From release plan spreadsheet

Estimate from release plan: none
Expressing interest: none

Likely should be redesigned to use the scripts & processes endpoint

Depends on REST Ticket https://github.com/DSpace/DSpace/issues/2845

[2020-07-13 21:29] heathergreerklein opened #778 "More easily embargo an archived Item (using a form)"
From release plan spreadsheet

Estimate from release plan: none
Expressing interest: none

Related REST ticket: https://github.com/DSpace/DSpace/issues/2846

[2020-07-13 21:31] heathergreerklein opened #779 "Request a Copy"
From release plan spreadsheet

Estimate from release plan: 22 hours
Expressing interest: none

- Item page
   - Indicate when the user doesn't have access to one or more files
   - Add a link or button to request a copy
- Requester Form
   - Create the requester form
   - Create a service to send the request data to the REST API
- Submitter Grant Form
   - Add a method to the data service to valid

[2020-07-13 21:33] heathergreerklein opened #780 "Create a new item version as submitter"
From release plan spreadsheet

Estimate from release plan: 2 hours
Expressing interest: none

No additional notes

[2020-07-13 21:34] heathergreerklein opened #781 "Bulk Access Control Management (Wildcard / Advanced Policy Manager)"
From release plan spreadsheet

Estimate from release plan: 48 hours
Expressing interest: none

No additional notes

[2020-07-13 21:36] heathergreerklein opened #782 "Import Metadata CSV (Enhanced, with Preview of Changes, as in v6.x)"
From release plan spreadsheet

Estimate from release plan: 14 hours
Expressing interest: none

Note this assumes the export CSV functionality is part of a different task. It also assumes the backend has separate independent endpoints for the preview and the actual import

- Create an Import metadata page
    - Reuse the dropzone from the submission to upload the file
    - Show the pending changes

[2020-07-13 21:49] heathergreerklein opened #783 "Batch Import (from ZIP)"
From release plan spreadsheet

Estimate from release plan: 14 hours
Expressing interest: none

No additional notes

[2020-07-13 21:49] heathergreerklein opened #784 "Edit Homepage News from Admin UI (JSPUI Only)"
From release plan spreadsheet

Estimate from release plan: 8 hours
Expressing interest: none

No additional notes

Requires Backend/REST support.  Early discussion in https://github.com/DSpace/RestContract/pull/45

[2020-07-13 21:50] heathergreerklein opened #785 "DSpace (Solr) Statistics - Workflow Reports (same as v6.x)"
From release plan spreadsheet

Estimate from release plan: 22 hours
Expressing interest: none

No additional notes

[2020-07-13 21:51] heathergreerklein opened #786 "Administrative (log-based) Statistics"
From release plan spreadsheet

Estimate from release plan: TBD
Expressing interest: none

No additional notes

Depends on REST ticket: https://github.com/DSpace/DSpace/issues/2852

[2020-07-13 21:55] heathergreerklein opened #787 "Upgrade to Angular 10"
From release plan spreadsheet

Estimate from release plan: 40 hours
Expressing interest: none

Angular 8 (which we are currently on) ends LTS support on Nov 28, 2020.

Angular Support policy/schedule: https://angular.io/guide/releases#support-policy-and-schedule

[2020-07-13 21:56] heathergreerklein opened #788 "RSS/ATOM Feeds"
From release plan spreadsheet

Estimate from release plan: 8 hours
Expressing interest: none

RSS content must appear off root path of UI (like robots.txt & sitemaps).  "- Proxy the backend's RSS feeds on the express.js server
- Add/adapt service to retrieve RSS config from backend (e.g. whether or not it's enabled)
- Add RSS buttons to the UI if it's enabled
- Backend needs to be determined (migh

[2020-07-13 21:57] heathergreerklein opened #789 "OpenURL Support"
From release plan spreadsheet

Estimate from release plan: 2 hours
Expressing interest: none

Links should appear on Item pages when enabled. Estimate is for just displaying embedded links if configuration is enabled.

[2020-07-13 21:58] heathergreerklein opened #790 "Tag Cloud visualization"
From release plan spreadsheet

Estimate from release plan: 24 hours
Expressing interest: none

No additional notes

[2020-07-13 22:00] heathergreerklein opened #791 "OpenSearch API"
From release plan spreadsheet

Estimate from release plan: 2 hours
Expressing interest: none

Just needs an HTML <head> section for Angular for autodiscovery. See http://www.opensearch.org/Specifications/OpenSearch/1.1/Draft_5#Autodiscovery_in_HTML.2FXHTML   Add these tags using the metadata service

[2020-07-14 15:54] heathergreerklein commented on #732
Closing, work is being done along with https://github.com/DSpace/dspace-angular/issues/731

[2020-07-14 15:54] #732 closed

[2020-07-14 17:46] heathergreerklein commented on #733
Closing, is being addressed as part of the work on this Issue per Atmire: https://github.com/DSpace/dspace-angular/issues/731

[2020-07-14 17:46] #733 closed

[2020-07-14 17:52] heathergreerklein commented on #285
Closing; addressed in this PR per Atmire: https://github.com/DSpace/DSpace/pull/2820

[2020-07-15 08:05] artlowel commented on #285
@heathergreerklein In a meeting early this year we discussed the scripts & processes admin UI designs and came to the conclusion that it was fine for someone familiar with cli scripts, but not user friendly enough for the average user.

So things that had a UI in dspace 6 that will now be handled by scripts & processes in the backend will still get a UI in dspace 7, but that UI will use the script

[2020-07-15 20:40] carlj11 opened #797 "Item thumbnails do not initially display after running filter-media"
Not sure if this is a bug or if I'm missing some configuration parameter or page setting (I'm new to angular) that determines thumbnail display for simple and full item views, or if this is functionality that hasn't been fully implemented yet.  After running filter-media for items show an empty icon with 'No Thumbnail' and I can only get thumbnails to display after  I've gone from simple item page

[2020-07-16 20:17] #630 closed

[2020-07-17 16:27] tdonohue commented on #797
@carlj11 : A quick question about what you are seeing.

It *sounds like* you **are** able to get Thumbnails to appear, but only after leaving the page and going back again?  Is that correct?

If so, I highly suspect this is a **caching issue** in the Angular UI (and not a configuration issue or anything).  It sounds like the UI is caching the old "No Thumbnail" empty icon, and only _reloads_ that

[2020-07-17 17:09] carlj11 commented on #797
Hi Tim,

Yes, thumbnails appear if I leave the first page and come back again.  In this case the simple page view, go to full item view, and then back to simple view. At that point the thumbnails appear in either view.   If I leave and come back to an item I have to repeat the process again.

BTW, this is a locally installed instance on a Mac Pro w/Catalina, 10.15.5.  I’m not running Docker at the

[2020-07-17 20:02] carlj11 commented on #797
I should also add this is only when coming from list view of items.   It doesn’t seem to happen if I search and am given the option to switch to grid (gridElement) view to see the results.

FWIW, would be nice to have the ability to toggle between list and grid views not only be limited to search results. One of our instances has mostly visual content and any kind of browse view would benefit from

[2020-07-17 20:32] carlj11 commented on #797
Revise my last statement.  Page refresh is still needed to display thumbnails even in grid view.  My mistake, I had visited an item previously.

[2020-07-17 20:38] tdonohue commented on #797
@carlj11 : This sounds suspiciously like a caching issue in the UI, especially if it works OK after visiting an item previously.

One final question, what browser are you using?  I'll see if we can find someone else who can reproduce the bug, and if so, hopefully we can figure out why the thumbnails are not loading immediately.

[2020-07-20 18:54] heathergreerklein opened #801 "Control Panel"
From release plan spreadsheet
Estimate from release plan: TBD
Expressing interest: none

This is an XMLUI only feature in 6.x.  Unclear what is possible in Angular -- requires discussion.

Depends on REST ticket https://github.com/DSpace/DSpace/issues/2877

[2020-07-20 18:56] heathergreerklein opened #802 "Additional configurable workflow steps: "Score review workflow""
From release plan spreadsheet
Estimate from release plan: 9 hours
Expressing interest: none

- ScoreReviewStep
    - Add a component to enter the score.
    - Enforce that the score is a valid percentage
    - Add buttons to submit the score, or leave the step
    - Add a method to the appropriate submission service to send the score to the REST API
Assumes render workflow action dynamically is co

[2020-07-20 18:58] heathergreerklein opened #803 "Manage Subscriptions"
From release plan spreadsheet
Estimate from release plan: 13 hours
Expressing interest: none

- Create a service to retrieve, add, remove subscriptions on REST
- Add the ability to subscribe/unsubscribe on the collection page itself
- show an overview of active subscriptions on the profile page with the ability to remove them

[2020-07-20 19:04] heathergreerklein opened #804 "Additional configurable workflow steps: "Select Single Reviewer Workflow""
From release plan spreadsheet
Estimate from release plan: 18 hours
Expressing interest: none

- AssignStep
    - Add a component to select a reviewer to assign
    - Add methods to a submission service to search for applicable reviewers, and to assign a reviewer to a workflowitem
- ReviewStep
    - Everything should already be in place on the UI side
Assumes render workflow action dynamically is c

[2020-07-20 19:08] heathergreerklein opened #805 "Submission via an identifier"
From the release plan spreadsheet; no additional notes were included.
Estimate from release plan: TBD
Expressing interest: none

[2020-07-20 19:10] heathergreerklein opened #806 "Type-bind submission"
From the release plan spreadsheet; no additional notes were included.
Estimate from release plan: 16 hours
Expressing interest: none

* Related REST ticket: https://github.com/DSpace/DSpace/issues/2873
* Related DSpace PR: https://github.com/DSpace/DSpace/pull/8175
* Related dspace-angular PR: https://github.com/DSpace/dspace-angular/pull/1529

[2020-07-20 19:12] heathergreerklein opened #807 "Edit Item (Submission Style)"
From the release plan spreadsheet; no additional notes were included.
Estimate from release plan: 16 hours
Expressing interest: 4Science

 NEW FEATURE FROM 4Science

[2020-07-20 19:12] heathergreerklein opened #808 "Supervision Orders (JSPUI Only)"
From the release plan spreadsheet; no additional notes were included.
Estimate from release plan: TBD
Expressing interest: none

Depends on REST ticket https://github.com/DSpace/DSpace/issues/2878

[2020-07-20 19:13] heathergreerklein opened #809 "Edit Default Deposit License from Admin UI (JSPUI Only)"
From the release plan spreadsheet; no additional notes were included.
Estimate from release plan: 8 hours
Expressing interest: none

Depends on REST ticket https://github.com/DSpace/DSpace/issues/2879

[2020-07-20 19:15] heathergreerklein opened #810 "DSpace (Solr) Statistics - Search Reports (same as v6.x)"
From the release plan spreadsheet; no additional notes were included.
Estimate from release plan: 24 hours
Expressing interest: none

[2020-07-20 19:16] heathergreerklein opened #811 "Signposting"
From the release plan spreadsheet; no additional notes were included.
Estimate from release plan: 32 hours
Expressing interest: none

Depends on REST ticket https://github.com/DSpace/DSpace/issues/2881

[2020-07-20 19:17] heathergreerklein opened #812 ""Request a Copy" requests should expire"
From the release plan spreadsheet; no additional notes were included.
Estimate from release plan: TBD
Expressing interest: none

Depends on REST ticket https://github.com/DSpace/DSpace/issues/2886

[2020-07-20 19:18] heathergreerklein opened #813 ""Request a New Password" requests should expire"
From the release plan spreadsheet; no additional notes were included.
Estimate from release plan: TBD
Expressing interest: none

[2020-07-20 19:19] heathergreerklein opened #814 "Export Personal Data"
From the release plan spreadsheet; no additional notes were included.
Estimate from release plan: TBD
Expressing interest: none

[2020-07-20 19:21] heathergreerklein opened #815 "Support for controlled-vocabulary - Hierarchical facets"
From the release plan spreadsheet; no additional notes were included.
Estimate from release plan: TBD
Expressing interest: none

Depends on REST ticket https://github.com/DSpace/DSpace/issues/2870

[2020-07-20 20:33] tdonohue commented on #688
This bug will be fixed by #541

[2020-07-21 16:41] #664 closed

[2020-07-21 16:44] tdonohue commented on #393
Closing as resolved by #664 (and any other followup work elated to that)

[2020-07-21 16:44] #393 closed

[2020-07-22 14:26] #688 closed

[2020-07-23 12:37] atarix83 opened #816 "Issue with submission form's tag field"
**Describe the bug**
After merge of https://github.com/DSpace/dspace-angular/pull/541 the `tag` field of the submission form doesn't work properly. Indeed if you try to save the submission after entering one or more entry the submission form breaks with several errors
![Schermata da 2020-07-23 13-35-48](https://user-images.githubusercontent.com/2486489/88286819-a2477c80-ccf1-11ea-8273-824014246374

[2020-07-23 12:48] atarix83 opened #817 "Issue with submission form's repeatable fields"
**Describe the bug**
After merge of #541 the repeatable fields of the submission form doesn't work properly.
Indeed when you try to add, delete or change order on a repeatable fields several errors are printed to browser console
![Schermata da 2020-07-23 14-40-47](https://user-images.githubusercontent.com/2486489/88287591-cc4d6e80-ccf2-11ea-9412-e753d46c8b6c.png)

In addition when you try to save

[2020-07-23 14:07] artlowel commented on #759
I'd add pagination with "more" links on the simple item page, and a complete pagination component on the full item page. This will take an estimated **12h**

[2020-07-23 14:54] artlowel commented on #756
@atarix83 explained in the meeting today that we could also wrap a container with an ngIf="auth.loaded" around everything in app component instead of just the router-outlet. That should prevent any other requests from being fired too soon

[2020-07-24 13:53] atarix83 opened #818 "relationships management during submission"
**Is your feature request related to a problem? Please describe.**
The current implementation of relationships management during submission, introduced with [this PR](https://github.com/DSpace/dspace-angular/pull/541), doesn't take into account how the submission module has been designed.
Indeed it was designed to deal only with workspaceitems/workflowitems endpoint during the submission process.

[2020-07-24 14:08] atarix83 opened #819 "LocaleInterceptor blocks new request"
**Describe the bug**
The new [LocaleInterceptor](https://github.com/DSpace/dspace-angular/blob/main/src/app/core/locale/locale.interceptor.ts) blocks every new rest request when it can't retrieve the logged eperson object because the related entry cache object is expired. This is made in the [LocaleService](https://github.com/DSpace/dspace-angular/blob/095d5f3299913598d732e8619c5f278336dd5af0/src/

[2020-07-24 19:52] tdonohue commented on #819
Thanks for reporting this @atarix83 ! This does sound like an obvious bug we need fixing, and also sounds related to #739.  For now I've added to the beta4 Todo list.

@artlowel : Any thoughts on whether we should solve this issue separately?  Or would you rather we bundle this as part of your current work on #739?

[2020-07-24 20:04] tdonohue opened #820 "Cannot drag & drop multiple files in a single request (to start a new submission)"
**Describe the bug**
This bug was discovered during review of #724. That PR currently works around this bug as it throws a friendly error message if anyone attempts to upload multiple files at once.

The [`ng2-file-upload` library](https://valor-software.com/ng2-file-upload/) currently has a limitation where it doesn't allow making a POST with multiple files.

* There's an open issue ticket with `

[2020-07-27 07:41] artlowel commented on #819
The way @atarix83 describes it, it should go away if the caching issue is fixed. But in general, blocking the entire app because we can't get the eperson language seems problematic.

It would probably be good to have a fix on the side of the interceptor as well: where if the eperson is undefined, we don't include the eperson language in the request, rather than blocking the request.

[2020-07-27 10:03] Atmire-Kristof opened #821 "Metadata edit - removing metadata value gives error response"
**Description**
When trying to remove a metadata value from an object (e.g. item) that contains multiple values for the same metadata field, the console displays a 400 error response and the metadata changes aren't saved on the server. This only happens when trying to remove any value but the last one (from the list of values within the same metadata field).
Viewing the patch request sent to the R

[2020-07-28 08:06] susanna-mornati commented on #637
4Science released a (free) integration with CKAN which allows to visualize tabular data (grid, graph, map) within DSpace through the CKAN API. More information at: https://www.4science.it/en/ckan-integration/.

[2020-07-30 13:05] atarix83 commented on #819
@artlowel I agree, but the issue is on  [getAuthenticatedUserFromStore](https://github.com/DSpace/dspace-angular/blob/8b639bc7bab1e16491f1d2fe945e1960e494b9d7/src/app/core/auth/auth.service.ts#L205) method that doesn't emit a value due to `getAllSucceededRemoteDataPayload` operator. I made some test but I can't find a way to allow the observable to emit an eperson on success and undefined on error

[2020-07-30 13:36] abollini opened #823 "Administrative edit of item miss the ability to deal with authority"
In the previous versions of DSpace the administrator was able to edit metadata with authorities values both directly adding the "authority ID" than using a lookup. This feature is currently missing in the Angular UI

**Describe the solution you'd like**
Provide the same feature that was available in the previous version. For metadata that allow an authority ID to be stored aside the text value the

[2020-07-30 15:48] artlowel commented on #819
@atarix83 after looking at it closer, I don't see a way to deal with the fact that the first payload will always be undefined either. Perhaps just leave out the eperson language until the cache is fixed.

[2020-07-30 15:49] MarieVerdonck opened #826 "Remove workaround for baseUrl ending in /api"
See https://github.com/DSpace/dspace-angular/pull/825

The variable in your config for the baseUrl (rest.nameSpace or DSPACE_REST_NAMESPACE) should no longer be configured to end in /api since this isn't configurable but always required by the REST side. For now if this is still the case a warning is shown in the startup logs; and the /api is only added if it does not already end in /api as a work

[2020-07-30 16:37] tdonohue commented on #826
@MarieVerdonck : Just a quick question on this ticket to make sure I understand your proposal here.

Are you suggesting that the configuration for `rest.nameSpace` should also be updated to default to `/server` (instead of `/server/api`)? https://github.com/DSpace/dspace-angular/blob/main/src/environments/environment.common.ts#L25

If so, that seems reasonable to me that the Angular UI should just

[2020-07-30 16:45] MarieVerdonck commented on #826
Yes, In the linked PR; this is already changed to /server (https://github.com/DSpace/dspace-angular/pull/825/files#diff-a5ce6d09560539875d50bcdbba336788R22); so that the sitemaps reference in the robots.txt can make use of rest.baseUrl, to point to its location (without /api)
<%= dspaceUrl %>/sitemaps/sitemap0.xml  (Ex: https://dspace7.4science.cloud/server/sitemaps/sitemap0.xml)

[2020-07-30 17:26] tdonohue commented on #826
@MarieVerdonck : Oh, thanks! I missed the context of this bug ticket.  Sounds like the right direction to me as well.  I'll add this to the beta4 board.

[2020-07-30 20:04] tdonohue commented on #818
Discussed in [today's meeting](https://wiki.lyrasis.org/display/DSPACE/2020-07-30+DSpace+7+Working+Group+Meeting), where we all agreed:
1. The Submission process should only use WorkspaceItem and WorkflowItem.  No direct access to Item should be allowed.
2. Therefore the code added in #541 should be refactored to work in this manner (and all future PRs should adopt this behavior).
3. In the meanti

[2020-07-31 08:36] artlowel commented on #826
@tdonohue I propose we move this to beta5. I asked @MarieVerdonck to do it in this way (deprecate it first, with a clear warning in the terminal, but keep it working) so everybody would have some time to fix their configs.

[2020-07-31 14:18] tdonohue commented on #826
Done, and makes sense @artlowel

[2020-07-31 19:14] #285 closed

[2020-08-04 07:21] abollini commented on #735
we (4science) are happy to leave this ticket to others if they can work on that in the next weeks. We suggest to investigate the integration of an existing cookie management solution instead than attempt to build our own, see for instance
https://github.com/osano/cookieconsent

[2020-08-04 09:12] artlowel commented on #735
Thanks. We (Atmire) are interested in working on this ticket.

However I'm not convinced we have a lot to gain from using a plugin like the one you linked. The hard part isn't showing a banner with a few buttons on it. The hard part is storing and retrieving the result on the backend for signed in users, and actually enforcing the user's choices. These things will need to be tailored to DSpace any

[2020-08-04 09:50] abollini commented on #735
You are off course free and welcome to analyze which is the better approach, I just want to share also the second option that was in our list
https://klaro.kiprotect.com/#features

please consider how much easier or hard could be to
- customize/configure the solution depending on the use or less of google analytics
- support in future additional third party service (addthis, sharethis, etc)

[2020-08-04 10:00] artlowel commented on #735
Thanks, klaro looks a lot better at first sight.

We'll keep those use cases in mind.

[2020-08-05 15:26] artlowel commented on #816
This appears to be fixed by #751

[2020-08-06 07:41] benbosman commented on #818
I've verified the REST and REST contract impact of this proposal

### How can this be integrated in https://github.com/DSpace/Rest7Contract/blob/main/workspaceitem-data-metadata.md

Since plain-text and entity relationships can be mixed (e.g. for authors), it has to be part of the returned data in the DescribeStep, and not a separate section, e.g.
[code]

This will require defining the type in the

[2020-08-06 11:01] MarisArins opened #831 "Freshly created collection does not get pre-selected for Item insertion"
1. Create top-level Community "Community 1"
2. It gets displayed in view mode
3. Pick option to create new Collection
4. Community "Community 1" is preselected in "new Collection" Community selector : "search.resourceid:047eb94a-d0d0-41bd-b761-6643d6d253ef"
5. Pick "Community 1" and add "Collection 1"
6. Collection "Collection 1" is displayed in view mode
7. Pick option to add new Item
8. New Item

[2020-08-06 13:06] artlowel commented on #734
Atmire's interested in this one as well. It makes sense to do it in a single PR with #735

[2020-08-06 14:00] Aziris opened #832 "Facet filters in search page display wrong number"
Can be repeated on https://dspace7-demo.atmire.com/

1. Go to demo site global search page and open Author filter:
2. 2nd author , "De Wael, Karolien" has a number 8 next to it, meaning there would be 8 matches when filtered
3. When selecting this filter value there are 9 results displayed in list.

Similar mismatch was observed on different filters (local setup, standard test data)

![image](http

[2020-08-06 20:14] #817 closed

[2020-08-06 21:45] tdonohue commented on #734
@artlowel : Sounds good. I've assigned this to you.

[2020-08-06 22:06] tdonohue commented on #735
@artlowel and @abollini : As discussed in today's meeting, this is related directly to the backend ticket: https://github.com/DSpace/DSpace/issues/2807  We discussed that it is reasonable to look at using Klaro (as noted above) and that it's also reasonable to store these cookie preferences within EPerson metadata (using the "dspace" schema or another appropriate schema).

Additionally, I was just

[2020-08-11 16:25] cortesec opened #842 "DSpace 7 - Subcommunities / Collections not shown immediately after creation"
**Describe the bug**

Right after creating a subcommunity, if we go to the "parent-community" using the menu on the top of the screen, the new subcommunity just created, isn't shown, unless you refresh the browser.

**To Reproduce**

Create a subcommunity within a community.
Click on "All of DSpace" on the top of the page.
Select the "parent-community" within which you added the subcommunity.
The

[2020-08-13 07:19] MarisArins opened #835 "Auto-save in new Item Submission form breaks the form"
1. Start creating new Item in collection "Books"
2. Enter Author manually : "John Doe"
3. Enter Title "QWERTY123"
4. Switch to next field - auto save happens as Title is marked as save-on-change field
5. Author values get cleared out !!
	BUG
6. Fill in all the mandatory fields in all the sections of create form and lastly fill the author fields again
7. The first section "Describe" is still marked

[2020-08-14 07:56] abollini opened #836 "Implement the group edit"
In https://github.com/DSpace/dspace-angular/pull/613 the edit of group was left out but the feature is now completely supported by the backend.

We are working on it, the group service will be extended to send the patch request for both the name than the dc.description metadata. The result will be shown in a message to the user, if the operation succeed the user is redirect to the group list page.

[2020-08-14 08:00] abollini opened #837 "Edit of an eperson doesn't work"
If you try to edit an eperson, for instance the one that come from the sample shibboleth integration to add them a Firstname and Lastname the system says that the changes are saved but the patch request sent to the backend is empty so no changes occur

[2020-08-20 15:18] #546 closed

[2020-08-20 15:18] #726 closed

[2020-08-20 17:03] LucaGiamminonni opened #840 "EPerson search section is shown in the edit page"
The EPerson Search section is still displayed even after selecting an EPerson for editing.

Steps to reproduce the behavior:
1. Go to Access Control / People
2. Select an EPerson to edit him
3. The edit page is displayed with the search section at the bottom

Expected behavior:
In the EPerson edit page, the section relating to the ePerson search must not be present. Therefore, after selecting an e

[2020-08-23 17:19] abollini opened #843 "Default selection in create/edit screen is unclear"
**Describe the bug**
Test users have reported difficulty in understanding the behavior of the administrative edit / create features (community, collection, item). The uuid of the current object that is when possible offered as a default choice for the feature is not intuitive for a normal user, the title of the object would be much better.

**To Reproduce**
Steps to reproduce the behavior:
1. logi

[2020-08-24 17:44] tdonohue commented on #713
Closing as this is a duplicate of #721

[2020-08-24 17:44] #713 closed

[2020-08-24 17:52] tdonohue commented on #821
Verified this bug still exists today by attempting to delete the *first* author on an Item that had 3 authors.

[2020-08-25 07:17] benbosman opened #844 "Submission UI - file upload doesn't support different ID"
**Describe the bug**
When using the UploadStep with a different ID than "upload" (e.g. to use other access conditions or make the file upload optional), the UI breaks.
This is occurring because the UI mixes the ID with the type (it uses the type assuming it's the ID)

**To Reproduce**
Steps to reproduce the behavior:
1. In item-submission.xml create an upload step with ID upload2 and type upload
2

[2020-08-25 07:18] benbosman commented on #844
@tdonohue we can handle this bug if desired since we already detected the problem

[2020-08-25 13:38] tdonohue commented on #844
@benbosman : Sounds fine, I've assigned it to you.  Feel free to reassign internally as necessary.

[2020-08-27 13:33] artlowel commented on #756
assigned myself, as we'll fix this in the context of #635

[2020-08-27 13:42] artlowel commented on #821
This will take an estimated **6h** to fix

[2020-08-27 13:47] artlowel commented on #730
This will take an estimated **12h** to implement

[2020-08-27 14:18] benbosman opened #846 "citation_abstract_html_url must be based on the Angular UI Hostname"
**Describe the bug**
The citation_abstract_html_url contains the localhost URL instead of the Angular UI Hostname

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://dspace7-demo.atmire.com/items/1974d7d3-9648-4dbe-b083-56374f5314e4
2. The page contains `<meta property="citation_abstract_html_url" content="http://localhost:3000//items/1974d7d3-9648-4dbe-b083-56374f5314e4">`

[2020-08-27 16:17] tdonohue opened #847 "Usability issues when both Controlled Vocabulary and Configurable Entities enabled on single field (e.g. Author)"
**Describe the bug**
First reported in https://github.com/DSpace/dspace-angular/pull/751#pullrequestreview-476572310

If you enable Controlled Vocabulary (i.e. author-based authority control) *and* Entities on the same Author field, you'll get a view that looks like this
![Screenshot 2020-08-27 at 11 59 06](https://user-images.githubusercontent.com/1567693/91426404-c4866a00-e85c-11ea-8637-2049acc8

[2020-08-27 19:35] tdonohue opened #848 "Manage Resource Policies of Communities & Collections"
In DSpace 6, it was possible to Manage the Resource Policies of a Community or Collection in order to access restrict either (by changing the READ policy to a non-"Anonymous" group).  In the XMLUI however, this was only accessible via the Sitewide "Access Control" page (e.g. http://demo.dspace.org/xmlui/admin/authorize)

In DSpace 7, we already have the ability to manage Item-level policies via #6

[2020-08-27 19:51] tdonohue opened #849 "Uploading a file on Submission Form always brings you to the top of the page"
**Describe the bug**
When filling out the Submission Form, anytime you drag and drop a file onto the form, you are auto-scrolled back to the top of the page.  This can be frustrating.

For example, if you drag & drop a new file into the "Upload files" section of the submission page (which appears near the bottom of the page), you are scrolled to the top while the file uploads.  Then you have to sc

[2020-08-28 13:48] #840 closed

[2020-09-01 08:31] LucaGiamminonni opened #852 "BrowseBy list are statically configured"
**Describe the bug**
The browseBy list present in the community and collection pages are not dynamically discovered using the api/discover/browses endpoint but are read from a static configuration present within the environment. In detail, the available browseBy are read from the browseBy.types property of the environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Go under the Communit

[2020-09-02 07:54] artlowel commented on #846
This will take an estimated **4h**

[2020-09-02 07:58] artlowel commented on #737
As discussed in the last meeting we'll experiment on the demo server with httpd config to avoid having to proxy all downloads.

We'll then also need the service required for #846 to get the UI hostname. So we're likely best off tackling them at the same time.

Together they'll take an estimated **8h**

[2020-09-02 08:51] LucaGiamminonni opened #854 "Collections page: the navigation of the pages does not work"
**Describe the bug**
In the collections page (collections/<id>), the navigation of the pages relating to the results of recent submissions does not work: the same items are always shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Communities & Collections" page
2. Search for a collection which has more than 5 items by browsing for "Recent submissions"
3. Try to change the result

[2020-09-02 08:57] #854 closed

[2020-09-02 08:58] LucaGiamminonni commented on #854
Duplicated (https://github.com/DSpace/dspace-angular/issues/680)

[2020-09-02 15:00] tdonohue commented on #737
Thanks @artlowel! Sounds good. I've assigned both to you, but feel free to reassign elsewhere as needed.

[2020-09-02 15:02] tdonohue commented on #846
Removed `Estimate TBD` label because this will be fixed as part of #737...so it's adding zero hours to the (combined) estimate provided in that other ticket.

[2020-09-02 15:13] tdonohue commented on #737
@artlowel : Quick followup question: The "backend" for this ticket is in https://github.com/DSpace/DSpace/issues/2809 (which also is missing an estimate).  Do you anticipate those changes to also be included in the `8 hr` estimate you provided?

Now that I look at this more directly, I'm actually wondering whether all the changes here could be done on the frontend (meaning we close the backend tic

[2020-09-02 15:18] artlowel commented on #737
For now the assumption is that there will be no rest work, and that everything can be done using url manipulation in the UI, and an httpd proxy config. But since there's some trial and error involved perhaps hold off on closing the rest ticket until we have a working proposal on the UI side? Or if you prefer close it, knowing that we may need to reopen if some rest change ends up being necessary.

[2020-09-02 15:19] tdonohue commented on #737
@artlowel : I'll leave the REST ticket open then & set it to a "zero" estimate (and add a comment to describe why). If you find work is needed, let us know and we can update the estimate once you know more.  Thanks!

[2020-09-02 20:00] #844 closed

[2020-09-02 20:59] abollini commented on #818
the proposal seems reasonable. I can anticipate the need to make adaption to the json representation of the metadata for the `"type": "relationship"`
Indeed, the json representation that you obtain from a GET should be aligned with the structure that you send via a PATCH, more specifically if you add
[code]
the json should become
[code]

[2020-09-03 17:14] tdonohue opened #858 "[Submission Refactor] Refactor Entity Relationships to be modified via WorkspaceItem"
**Describe the bug**
As agreed/described by #818 (the discussion ticket that preceded this one), the Submission process should only use WorkspaceItem and/or WorkflowItem endpoints. Not usage of other endpoints (like Item) are allowed.

Unfortunately, the code/implementation in https://github.com/DSpace/dspace-angular/pull/541 did not align with this goal.  While the code **works**, it requires a l

[2020-09-03 17:15] tdonohue commented on #818
Closing this discussion ticket, as it has now been split into two tickets (both scheduled for 7.1):
* REST Ticket: https://github.com/DSpace/DSpace/issues/2953
* Angular Ticket: https://github.com/DSpace/dspace-angular/issues/858

[2020-09-03 17:15] #818 closed

[2020-09-04 06:06] MarisArins opened #859 "Results in MyDspace displayed inconsistently (not 10x as configured)"
Load the MyDspace page (demo site on https://dspace7-demo.atmire.com/mydspace?configuration=workspace).

As per configs on left side there should be 10x records per page, instead the results seem to be filtered after fetching 10 results and in reality you get 2/3/5 etc results on each page.

Expected : display exactly 10 results in page unless there is not enough to fill a full page.

[2020-09-04 14:49] #720 closed

[2020-09-08 14:40] #819 closed

[2020-09-08 17:23] tdonohue commented on #852
I'm tentatively scheduling this for 7.1.  For the 7.0 release, at this time, I don't think it matters too much if the BrowseBy types need to be configured/ordered in your `environment.common.ts` here: https://github.com/DSpace/dspace-angular/blob/main/src/environments/environment.common.ts#L172

Longer term, you are right, it'd be nice if this was setup automatically based on the REST API.

[2020-09-08 20:29] tdonohue commented on #737
@artlowel : Just a quick follow-up to this task.  Per the DSpace 7 Working Group meeting a few weeks ago, I asked the Google Scholar team about how "strict" this requirement is.  For example, does it need to match the hostname *exactly*, or are different subdomains allowable.

The answer is that **the hostname must match exactly**.  They also said "this is needed as a security constraint".

So, it

[2020-09-09 17:11] atarix83 opened #864 "Usability issue with submission's repeatable fields"
**Describe the bug**
The new approach used for repeatable fields during submission generated a usability problem.
Indeed is not clear for the user that to really add a field when it is repeatable, he need to click on the "plus" button. Thereby in a situation like the following screenshot the user doesn't really fill the repeatable fields and after a save data are lost :

![Schermata da 2020-09-09

[2020-09-09 19:35] tdonohue commented on #864
I agree with the expected behavior & can reproduce this usability issue on the demo site.  This is loosely related to #835, which pointed out that the auto-save is a bit too aggressive & also may remove values from these repeatable fields if you haven't pressed "+" before auto-save is triggered.

Therefore, I've tentatively scheduled this for beta 5 alongside #835 .

[2020-09-10 08:35] artlowel commented on #864
I agree the way it works now is confusing and needs to be improved

But I'd like to provide some background on why it turned out this way:

- To keep UI clutter down, we wanted to avoid having hints, and buttons such as lookup and search, on every value of a repeatable field, only on the top value
- For that reason we didn't want to make the top row draggable, as it is strange if you drag the top

[2020-09-10 10:56] artlowel commented on #821
@tdonohue Heads up, after we started investigating this issue, it turns out it is more complicated than it seemed at first. It will take closer to **16h** to fix.

[2020-09-10 13:57] tdonohue commented on #864
Thanks @artlowel for the summary behind this decision. However, I do think we need to think further on the best behavior here, as with this current behavior and #835 (aggressive auto-save), data loss is unfortunately frequent.

I think we need to step back and look at the behavior we want to achieve, and how to make the interaction more user friendly -- currently, the need to press the "+" is not

[2020-09-11 14:42] #699 closed

[2020-09-11 14:42] #711 closed

[2020-09-11 14:42] #816 closed

[2020-09-13 19:09] abollini commented on #766
as we are working on other aspect of the group management it would be convenient for us to work on that in the coming weeks. Can we get assigned of this task?

[2020-09-14 16:24] artlowel commented on #725
Fixed by #829

[2020-09-14 16:24] #725 closed

[2020-09-16 09:01] artlowel opened #865 "When a DSO doesn't exist, we should show the 404 component."
**Describe the bug**
If the id for a DSO can't be found you don't see the 404 component, instead the page will be broken.

**To Reproduce**
Steps to reproduce the behavior:
1. enter the url of a community, collection or item page with a UUID that doesn't exist

**Expected behavior**
You should see the 404 component. The URL should still be the one you entered.

I expect this will take **4h** to fi

[2020-09-16 09:09] artlowel commented on #865
The exception suggested here could be a clean way of handling this issue, however, it is unclear whether it is something that works right now, or is a suggestion for the angular devs: https://github.com/angular/angular/issues/29089#issuecomment-635693770

[2020-09-17 13:25] #635 closed

[2020-09-17 13:25] #712 closed

[2020-09-17 13:25] #756 closed

[2020-09-17 16:17] #736 closed

[2020-09-18 08:11] MarisArins opened #867 "Author lookup does not add authors to Item"
1. Start creating new Item
2. Enter authorh name/surname by hand, hit "+"  and author line appears on page
3. Go to Author lookup and pick any combinations of "local" authors
4. Selected author count is displayed at bottom, the list of authors can be seen in "Current selection" tab
5. Close the lookup - no new lines get added to author list
6. If you open the Lookup again, the "Current selection"

[2020-09-21 09:03] benbosman opened #869 "Submission embargo bug"
**Describe the bug**
Embargoes for files are not working in the submission, it contains a group selection without groups

**To Reproduce**
Steps to reproduce the behavior:
1. Start a submission
2. Upload a file
3. Edit the file
4. Select in "Access condition type" e.g. embargo
5. Select the Group
https://www.dropbox.com/s/6p2slc4pdmwbym8/Schermafdruk%202020-04-29%2016.30.10.png?dl=1

**Expected be

[2020-09-21 15:11] benbosman opened #870 "Internationalization issues"
**Describe the bug**
We noticed that new features not added to alternative languages display message keys

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://dspace7-demo.atmire.com/admin/curation-tasks with your browser language set to English: it looks good
2. Open the same page using a different browser language (I tested with Dutch), it looks like https://www.dropbox.com/s/7uxui

[2020-09-23 19:37] #738 closed

[2020-09-23 19:37] #753 closed

[2020-09-23 20:14] #734 closed

[2020-09-23 20:14] #735 closed

[2020-09-24 14:41] tdonohue commented on #728
This is cleanup of the base Bootstrap theme

[2020-09-24 14:41] tdonohue commented on #727
This refers to the Mantis theme. This should build on the base Bootstrap default.

[2020-09-24 14:51] tdonohue commented on #729
This ticket should include our new theme build/switch process

[2020-09-24 14:52] tdonohue commented on #728
Turning the old Mantis theme (or something like it) into our new base theme.  It should no longer be named Mantis.

[2020-09-24 14:53] tdonohue commented on #727
This should be a very simple example theme that overrides default styles/look & feel of the base "Mantis" theme.

[2020-09-24 14:54] tdonohue commented on #728
@artlowel will add an estimate

[2020-09-24 15:29] tdonohue opened #875 "Fix or address any potential security issues reported by LGTM in `server.ts`"
LGTM is currently reporting two potential issues in `server.ts` which it flags as "security" related.  We should analyze these and determine either a fix, or possibly tell LGTM to ignore the issue (if it is determined to not be an issue for DSpace).

The issues in `server.ts` are listed as the top two issues in this list:
* https://lgtm.com/projects/g/DSpace/dspace-angular?mode=list&tag=security

[2020-09-24 15:32] tdonohue opened #876 "Fix or address string escaping / replacement issues reported by LGTM"
LGTM is currently reporting **four** potential "security" issues with string escaping/replacing in `metadata.utils.ts` and `auth.interceptor.ts`. We should analyze these and determine either a fix, or possibly tell LGTM to ignore the issue (if it is determined to not be an issue for DSpace).

These issues are listed as the **last four** issues in this list of security issues:
* https://lgtm.com/pr

[2020-09-24 16:12] tdonohue commented on #867
This sounds to me like a possible caching issue in the submission UI.  It _sounds_ like the authors are being added, but just don't appear on the submission form.  In any case, added to beta 5 for analysis/fixing

[2020-09-24 16:21] tdonohue commented on #870
I'm seeing a slightly different behavior (though it is still broken as @benbosman notes):
1. Login to  https://dspace7-demo.atmire.com/
2. Open https://dspace7-demo.atmire.com/admin/curation-tasks (looks good)
3. Use the globe to change languages...I'm redirected back to the homepage (https://dspace7-demo.atmire.com/), but the new language is shown.
4. If I browse back to https://dspace7-demo.atmi

[2020-09-25 08:49] benbosman commented on #870
@tdonohue that seems to be a different bug actually
My test was not based on the globe button, but based on default browser languages
You can simulate it using https://chrome.google.com/webstore/detail/locale-switcher/kngfjpghaokedippaapkfihdlmmlafcc to avoid changing your browser to a language you don't understand :)

[2020-09-29 17:54] mwoodiupui commented on #826
I must have misunderstood a comment above:  I do not see that `nameSpace` has been changed in `environment.common.ts`, either in #825 or in `main`.  Please ensure that this is done.  I just ran into the deprecation warning today when doing a production build, because I followed the pattern in `environment.common.ts`.

[2020-09-29 19:59] mwoodiupui commented on #261
This issue seems to have been partially addressed, but there is no linked PR.  The `global` script was removed in commit 8bf241c182479f9fb35ca3028397b7c01e980316 at 2020-03-18 11:03:40.  However, README.md still instructs one to `yarn run global`.

[2020-09-30 09:22] artlowel commented on #826
@mwoodiupui You're right, that should have been fixed in #825. I created #877 to address this, and updated the install docs on the wiki

[2020-09-30 14:48] #737 closed

[2020-09-30 14:48] #846 closed

[2020-09-30 21:03] mwoodiupui opened #879 "Production guidance in README.md could be more clear"
**Describe the bug**
The descriptions of the production run and build scripts are very brief and say nothing about how to actually make use of a production build.

Also it is unclear that configuration is fixed at compile time.

**To Reproduce**
Read README.md, specifically the section on production.

**Expected behavior**
A clear and concise description of what you can expect from these scripts,

[2020-09-30 21:11] tdonohue commented on #261
@mwoodiupui : Good point. Yes, it seems like we fixed this as a "side effect" of the move to Angular CLI in #625

So, I think this ticket can be closed as soon as we remove any remaining references to `global`...likely just that one in the README.

[2020-10-01 11:38] KevinVdV opened #882 "[Submission] Date & dropdown not properly indicated as mandatory"
**Describe the bug**
When you have mandatory oneboxes or textareas & you add some metadata, the mandatory fields will receive a red border & the mandatory text pops up. This doesn't work for the date / dropdown fields if they are mandatory.

**To Reproduce**
Steps to reproduce the behavior:
1. Alter the submission-forms.xml to make a date and a dropdown field mandatory.
2. Restart the REST tomcat

[2020-10-02 07:41] benbosman opened #883 "Handle pages not supported yet"
**Describe the bug**
When clicking on the handle at e.g. https://dspace7-demo.atmire.com/items/17307a98-0e78-45a6-83c3-7829eee024c6, the handle is not resolved. The handle link also doesn't use the router, it's generated server-side.
Looks like a bug in the DsoRedirectDataService

[2020-10-05 08:33] artlowel commented on #835
Other issues with auto-save as mentioned in the meeting on Oct. 1st:

- If you're halfway through typing something when an auto-save occurs, the field you were typing in will lose focus (meaning you have to click it again to resume typing), and what you were typing was gone. You can replicate this on demo by typing something in a non-repeatable, clicking another non-repeatable filed (or using the

[2020-10-05 16:16] tdonohue opened #884 "Cannot complete a new submission on demo site or locally (when forgetting to click "+" next to repeatable field)"
**Describe the bug**
Cannot complete a new submission either locally or on https://dspace7-demo.atmire.com/  In both cases, after completing the submission form (getting green checkmarks on all sections), the "Deposit" button enables.  But, when I click "Deposit", I get an immediate popup saying that some sections are incomplete & the form continues to display "Saving...." forever.

**To Reproduce

[2020-10-05 16:26] tdonohue commented on #884
After further testing, I've found this is caused by #864 , so I'll schedule this for beta 5 alongside that.

If I click on the "+" next to the Author field (as it is repeatable), then my submission **works**

If I forget to click on the "+" next to the Author field, the submission form gets confused into thinking my section is complete.  I'll see the green checkmark & the "Deposit" button enables.

[2020-10-05 16:29] tdonohue commented on #864
Note: I've found this behavior of the "+" button also causes this bug: #884

Simply put, if you enter in a value _without clicking "+"_, the submission form thinks you've still entered that value. So, for example, it'll put a green checkmark next to the section even if you forget to click "+" next to your entered author name.  This results in the "Deposit" button being enabled before it should be.

[2020-10-05 16:31] tdonohue commented on #884
Scheduling this for beta 5 and adding a **zero hour** estimate as this bug will be fixed by #864 .  Therefore this ticket is just kept open as an FYI of the error that occurs until #864 is fixed.

[2020-10-06 14:54] #821 closed

[2020-10-07 17:00] kanasznagyzoltan opened #885 "Displaying image and playing audio / video files on the record display page"
**Is your feature request related to a problem? Please describe.**
At the moment the standard DSpace 7 record page can only display links for the uploaded files and can only display the thumbnail of the item (record).

**Describe the solution you'd like**
 It would be a big addition if the item display page could display images for example in full screen, or could play audio or video files without

[2020-10-07 17:34] #731 closed

[2020-10-08 07:30] corrad82-4s opened #886 "Permanent uri link of Communities, Collections and Items not working"
**Describe the bug**
On DSpace 7, the permanent URI link of DSpace's items is not working. User is brought to a page with error message "No Item found for the identifier", but item with such identifier should exist
See https://dspace7-demo.atmire.com/handle/10673/1477 or https://dspace7-entities.atmire.com/handle/atmire/444

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to an Item

[2020-10-08 07:31] corrad82-4s opened #887 "Permanent uri link of Communities, Collections is malformed"
**Describe the bug**
On DSpace 7 the permanent uri of Communities and Collections is malformed, having http://localhost:3000 as domain instead of actual one.
See, as example https://dspace7-demo.atmire.com/collections/dd1240ae-d7dd-405c-bdc3-
(https://user-images.githubusercontent.com/70699836/95428261-15ec4380-0949-11eb-9874-f739039f167b.png)
d6c960609433 .

![Screenshot from 2020-10-08 09-31-21]

[2020-10-08 08:56] artlowel commented on #740
@tdonohue We already put an estimate on this when we had the meeting to discuss splitting up #718 in to several smaller tickets. The description has an estimate of **35 - 45h**

[2020-10-08 11:56] artlowel commented on #728
Bringing the current mantis theme up to date (taking in to account changes that have been made to the themed components since it was made), making it the default, and theming all the new components will take an estimated **40h**

[2020-10-08 15:09] tdonohue commented on #859
In today's meeting, it was mentioned that this bug might be a backend Solr issue and might be solved by https://github.com/DSpace/DSpace/pull/2744 (once that work is completed)

[2020-10-08 17:08] #730 closed

[2020-10-08 17:36] tdonohue commented on #750
Closing, as this was fixed by #860

[2020-10-08 17:36] #750 closed

[2020-10-08 17:39] tdonohue commented on #748
@atarix83 : It looks like you self-assigned this a while back.  Could you provide an estimate for this work?  Are you still wanting to claim this for beta 5?

[2020-10-09 10:01] artlowel opened #889 "The "new" admin sidebar menu options don't provide enough context"
**Describe the bug**
We find users are confused by the new → collection and new → item admin sidebar options.
If you select new → collection for example, you see a dialog that says: "Search for a community", with a list of communities below. For inexperienced users it isn't clear _why_ they need to search for a community. The new → item dialog has the same issue.

Simply adding a bit of text above

[2020-10-09 10:25] artlowel opened #890 "The new/edit admin menu dialogs are inconsistent"
**Describe the bug**
The dialogs you get to search for a DSO when you use the new or edit admin sidebar features are inconsistent.

The new → item search dialog improves upon the others by adding the parent object to each result (that way, if you have multiple collections with the same name, you can tell them apart using their parent communities), and by adding the ability to scroll down to get th

[2020-10-09 14:31] tdonohue commented on #843
While I agree with this ticket overall, that the side menu create/edit is confusing, I wanted to offer an alternative perspective.

When creating or editing content within the UI, I find myself (almost unconsciously) looking for a *button* that I can press on the page itself.  So, if I was going to edit an Item, I naturally browse/search for the Item. But, then I want to click an edit (or pencil)

[2020-10-09 15:06] mwoodiupui commented on #843
@tdonohue 's comment sounds right to me.  I can see a case for treating menu choices related to model objects as pure *navigation*, and the other choices (related to the repository as a whole) as pure *action*.  I too would first look for actions within the context of a model object on the pane for the object.

Alternately, if navigation and action-in-current-context are to be mixed together in th

[2020-10-12 16:29] abollini commented on #746
this task can be closed. Everything was needed on the angular side has been already done

[2020-10-12 16:48] abollini commented on #886
this is a duplicate of #883

[2020-10-12 16:48] #886 closed

[2020-10-12 16:50] abollini commented on #883
About the handle link this is also related to https://github.com/DSpace/dspace-angular/issues/887 (for community and collection we currently don't have a generated link in the metadata)

[2020-10-12 17:30] corrad82-4s commented on #887
We (4Science) believe that a good solution might be working on rest part and generate dc.identifier.uri for Communities and Collections as already done for Items.
If you agree, we can take in charge this development. We estimate to develop this solution, including a Flyway script that would set this metadata for existing Communities and Collections in a working day, for the whole rest part.

In ad

[2020-10-12 17:48] atarix83 commented on #835
Our proposal to try to solve problems are :

- add a configuration to eventually disable autosave on a timer, in the way institution can choose if use this functionality or not
- add a mechanism to detect conflicts between server state of the form and client state, and eventually re-render the form only if is necessary. Additional info can come from the server in case of automatic enrichment via e

[2020-10-12 17:48] atarix83 commented on #864
To solve this issue we propose to automatically add an edited repeatable field when the field loses the focus. In this way we can avoid the main issue and at the same time we can maintain useful sorting functionality and keeping UI clutter down as noted by Art.
This work can be done within estimation given for https://github.com/DSpace/dspace-angular/issues/835

[2020-10-12 18:04] atarix83 commented on #820
estimation for this task is about 40 hours

[2020-10-12 18:06] atarix83 commented on #842
estimation for this task is about 4 hours.

we are interested to claim this task

[2020-10-12 18:11] atarix83 commented on #848
estimation for this task is about 6 hours

we are interested to claim this task

[2020-10-12 18:15] atarix83 commented on #482
This issue has been resolved after authority refactoring https://github.com/DSpace/dspace-angular/pull/751 and can be closed

[2020-10-12 18:52] atarix83 commented on #658
I can't reproduce the error, @tdonohue can you check if this issue is still valid please?

[2020-10-13 15:47] tdonohue commented on #746
Thanks @abollini .  Closing

[2020-10-13 16:19] tdonohue commented on #482
Closing.  Thanks for the note, @atarix83 !  You are correct, this was fixed in beta4 by #751.

[2020-10-13 16:19] #482 closed

[2020-10-13 16:26] tdonohue commented on #849
May want to complete this at this same time as #820, especially if that other ticket changes the library we use for file upload.

[2020-10-13 16:56] tdonohue commented on #658
@atarix83 : You are correct. This appears to be fixed as of 7.0 beta 4, as I cannot reproduce it either.  Closing as fixed.

[2020-10-13 16:56] #658 closed

[2020-10-13 19:14] saschaszott commented on #787
At the moment DSpace Angular depends on Angular 8 which is in LTS state and reaches EOL in 11/2020. The current Angular major release is 10.x. Are you planning to update the Angular dependency and ship DS 7.0 with Angular 10.x?

[2020-10-13 19:59] ahlam94 opened #892 "Add option for the admin to creat login page before using their dspace repository"
I suggest to add an option that help admin to create login/signup page before anyone can browse their dspace as there may be some universities for example want to limit the access to their publications

[2020-10-13 21:16] tdonohue commented on #892
@ahlam94 : I'm not sure I understand this request.  Could you describe what you mean by "add an option that help admin to create login/signup page"?

In DSpace 7 there is no need to create a login or signup page.  Both of those already exist "out of the box".  By default, users can register with your DSpace & create a login, but that gives them *no special permissions* on any publications store in

[2020-10-14 08:26] KevinVdV commented on #884
Found an additional use case that is prob related to this one (if it isn't ping me then I will create a separate ticket):

- Start a submission
- Fill in the mandatory metadata fields
- Add at least 2 authors
- Upload a file
- Check the license acceptance box
- The deposit button becomes active
- Remove an author
- The deposit button is inactive now (even though there is still an author left)

[2020-10-14 08:36] artlowel commented on #882
Fixing this will take an estimated **2h**

[2020-10-14 08:36] artlowel commented on #882
Atmire is interested in claiming this

[2020-10-14 08:50] saschaszott commented on #251
Did you observe that `browserslist` [file](https://github.com/DSpace/dspace-angular/blob/d9634a84aef0e9c9bea502d032aaaad7af1101f4/browserslist#L11) contains

[code]

[2020-10-14 08:54] artlowel commented on #797
This is indeed due to the cache, and doesn't seem like a bug to me. The item will be cached by default for 15 minutes after which it will be reloaded (once #739 is complete anyway) and the thumbnail will be shown.

There's no way the UI can know you've run filter-media in the mean time, not unless we add ETag support or something similar. So for now, if an admin knows they've run filter-media and

[2020-10-14 09:59] artlowel commented on #864
Won't the field lose focus if you type a query and click the lookup or search buttons? We need a way to prevent search queries typed in that box from being stored as metadata

[2020-10-14 11:11] artlowel commented on #843
To solve this issue, #831, #889 and #890 I propose we do the following, for all these search dialogs that get initiated from the admin sidebar:
- We leave the search box empty
- When you first open it, the first result will always be the current dso. We'll put it there.
- That gets padded with 4 actual results you'd get for the empty query.
- If the user starts to type, we search for 5 actual resu

[2020-10-14 11:13] artlowel commented on #890
The estimate for this ticket is included in my estimate for [#843](https://github.com/DSpace/dspace-angular/issues/843#issuecomment-708333342)

[2020-10-14 11:13] artlowel commented on #889
The estimate for this ticket is included in my estimate for [#843](https://github.com/DSpace/dspace-angular/issues/843#issuecomment-708333342)

[2020-10-14 11:13] artlowel commented on #831
The estimate for this ticket is included in my estimate for [#843](https://github.com/DSpace/dspace-angular/issues/843#issuecomment-708333342)

[2020-10-14 13:53] tdonohue commented on #843
@artlowel : Your proposal here sounds reasonable to me. In my opinion, this ticket should include the **2h** for the edit button as well.  So, that brings the total to **24hrs**.

(Sidenote: This is out of the scope for this ticket. But, depending on user feedback, we could consider a "context menu" like approach similar to Confluence Wiki.  On each wiki page, you see a pencil (edit) icon in upper

[2020-10-14 13:55] tdonohue commented on #889
Thanks. I've added a **0 hour** estimate to this ticket, as it will be solved by #843

[2020-10-14 13:56] tdonohue commented on #890
Thanks. I've added a **0 hour** estimate to this ticket, as it will be solved by #843

[2020-10-14 13:57] tdonohue commented on #831
Thanks. I've added a **0 hour** estimate to this ticket, as it will be solved by #843

[2020-10-14 14:02] tdonohue commented on #797
@artlowel : Thanks for the response here.  Based on your feedback, I'm going to close this as "won't fix".

I agree that it's OK if thumbnails are cached temporarily (as it's for performance reasons), and that caching thumbnails for 15mins or until a hard refresh (Ctrl + Refresh in user's browser) is done is perfectly OK.

[2020-10-14 14:02] #797 closed

[2020-10-14 14:08] tdonohue commented on #251
@saschaszott : Thanks for the note, I did not notice that we had that setting in our `browserslist` file.

@artlowel : This is an older ticket now, but I'd like to add it to Beta 5, if you agree.  Internet Explorer 11 still is shipped as part of Windows 10 (even though MS Edge is now the default).  Nonetheless, it seems like we might want to ensure there's support for IE 11 (at a minimum).  Does t

[2020-10-14 14:49] artlowel commented on #847
### Current state

The current behavior for an authority controlled field is:
- you can type in a value and click the plus button to add it as plain metadata
- if you click search instead you get a dropdown, showing local authority matches
- If you select a match and click edit, you can change the value shown for the item being submitted, while keeping the same authority key

The current behavior

[2020-10-14 15:44] artlowel opened #893 "Delete group is unfinished"
**Describe the bug**
The groups page has delete buttons for groups that aren't permanent, but if you click them you always get an error notification saying: 'not yet implemented in backend'. However the proper DELETE call to the backend is made, so if you're allowed to delete a group it will succeed and you also get a success notification. If it fails, you get a non specific error notification on

[2020-10-14 15:45] artlowel commented on #893
This can be fixed in an estimated **4h**

[2020-10-14 16:22] saschaszott commented on #251
Maybe its worth changing the (negated) filter line in `browserslist` to

[code]

and check if the error message disappears in IE11.

[2020-10-14 16:39] tdonohue commented on #892
@ahlam94 : DSpace only forces you to sign in when you attempt to access a restricted page or file.  So, by default, if you are *not signed in* then you will only see pages/items which have publicly visible metadata.  That said, as soon as you attempt to access a Collection or Item or File which is restricted, then DSpace will force you to login first.  DSpace is built to allow you flexibility in d

[2020-10-14 16:39] #892 closed

[2020-10-14 19:08] tdonohue commented on #847
@artlowel : The overall concept here sounds OK to me.  However, I'm slightly worried about the performance of the "External Sources" selection in that search-as-you-type mockup.  It seems (to me) like searching those external sources is unlikely to be able to keep up with 'as you type' searching -- it's very possible you'll send off the next search before all the previous ones return.

However, I

[2020-10-15 13:26] kanasznagyzoltan opened #895 "The grid (tile) layout of the search result page is using vertical direction"
**Describe the bug**
When you are searching or browsing for items and you are changing the result page to tile layout the direction of the tile result boxes is vertical not horizontal.

**To Reproduce**
Steps to reproduce the behavior:
1. Search or browse without any keyword
2. Change the result page layout to grid layout

**Expected behavior**
To change to use horizontal flow

![image](https://us

[2020-10-15 13:50] tdonohue commented on #680
This was previously estimated in #854 (which was a duplicate of this ticket).  Copying over the estimate of **3 hrs** from that other ticket.

[2020-10-15 15:02] benbosman opened #915 "Discovery facets displaying incorrect items"
**Describe the bug**
When selecting a facet, the result contains items which don't exactly match the facet value. It seems to only match on one word

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://dspace7-demo.atmire.com/search?page=1&f.author=pujari,%20kb
2. Verify it matches the author `pujari, kb` and `pujari, K B`

**Expected behavior**
Only exact matches should be returned

[2020-10-15 16:07] tdonohue commented on #835
In today's meeting, we discussed the two proposals above.  We've decided to limit the scope of this ticket to **client side changes only**, and therefore are going with the approach suggested by @artlowel above (copied here for reference, with a few minor notes inline).

We noted today that this change is potentially optional.  Once all other changes below are made, the auto-save on a timer would

[2020-10-15 16:11] tdonohue opened #896 "Revisit auto-save behavior of Submission, especially when metadata is added dynamically on server side"
This ticket is a reminder to revisit the decisions made in #835 for the 7.0 release.

As noted in #835, there are scenarios where metadata may be added/enhanced on the server-side within an active submission form. Some of those scenarios include:
* Adding Entity relationships to the current submission (this relates directly to #858 which may modify how those relationships are added).  Adding an re

[2020-10-15 16:54] tdonohue commented on #864
As discussed today, for now we are going with the "Add" button approach -- change the "+" button to say "Add" and still require it to be pressed before a value is saved.  This behavior is identical to DSpace 6.x XMLUI behavior for repeated fields, and therefore is good enough for 7.0.  It could be enhanced in a later 7.x release as needed.

The estimate for this ticket is set to **0 hr** as it is

[2020-10-15 17:02] tdonohue commented on #251
After further analysis, we are closing this as `won't fix`.

Microsoft is in the midst of [retiring IE 11 entirely](https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666) and is moving everyone to Microsoft Edge.  The timeline for this movement starts in Nov 30, 2020 when MS Teams will stop support of IE 11, and all MS365

[2020-10-15 17:02] #251 closed

[2020-10-15 17:48] tdonohue commented on #887
This ticket is a duplicate of #657.... however, it better describes the issue & options, so I'll close #657 and link to this ticket.

I'm OK with the approach of storing Community/Collection URIs in the `dc.identifier.uri` field similar to Items.  That retains consistency across DSpaceObjects.

I'll update this ticket with an estimate for the full **10 hours** (8hours backend, 2hours frontend) as

[2020-10-15 17:50] tdonohue commented on #657
Closing, as this same bug was duplicated into #887.  However, that ticket better describes the problems & a possible solution.  Please visit that ticket for resolution.

[2020-10-15 17:50] #657 closed

[2020-10-15 20:02] saschaszott opened #897 "TypeError: Cannot read property 'uuid' of undefined"
Try to access property `uuid` of undefined variable `metadata` in `FilterInputSuggestionsComponent` which leads to a type error (as shown in Chrome's web dev console). This error occurs only in context of facet filter generation.

The error is issued by the statement at line 80 ([file](https://github.com/DSpace/dspace-angular/blob/main/src/app/shared/input-suggestions/filter-suggestions/filter-inp

[2020-10-15 20:20] tdonohue commented on #867
I'm able to reproduce this on the Demo site at https://dspace7-demo.atmire.com/  It looks like it has to do with Person Entities ("Local Authors" in the Lookup modal).  Whenever I select Local Authors & close the modal, they do **not** appear on the form after closing the modal.

If I open Chrome DevTools while selecting these authors, I see an error is logged in the console each time I select a c

[2020-10-15 20:28] tdonohue commented on #867
This may be the same error as #897 as PR #898 looks like it's fixing the exact line mentioned in the above error message.

[2020-10-16 09:33] samuelcambien opened #899 "Community-list page expand icons not automatically shown"
When navigating to the community list page from another page, the expand icons are not automatically shown. They only appear after the change detection has been triggered somehow (eg by clicking somewhere). The issue doesn't seem to occur when loading the community list page directly.

To reproduce:
- Navigate to the DSpace home page
- Click on the "Communities & Collections" link in the "All of D

[2020-10-16 09:33] samuelcambien opened #900 "Browse pages show news section"
On the browse pages, when a scope is selected, the 'dc.description' and 'dc.description.tableofcontents' metadata of the scope community/collection is shown in the header. This seems a bit strange, and it also wasn't like this in DSpace 6.

To reproduce:
- Add 'dc.description' and 'dc.description.tableofcontents' metadata to a community
- Go to the browse page for this community
- For example: htt

[2020-10-16 09:39] samuelcambien commented on #900
I hear now this would be a feature rather than a bug

[2020-10-16 12:40] artlowel commented on #867
The issue seems to be that the first collection you see when creating a new Item: [Cases](https://dspace7-demo.atmire.com/collections/2e971b93-d0c1-46a5-9425-0370882ad5fe) (and most other collections on the demo site, a lot have been added by users) didn't have an item template to set the relationship.type metadata field. Without it you can't create relationships. I've [added it for that collectio

[2020-10-16 14:02] tdonohue commented on #900
@samuelcambien : I also would not consider this a bug. In my opinion it makes sense as the browse controls are now more dynamic and allow you to essentially change the view while remaining on the Community/Collection page.

So, I'm going to close this as "won't fix", as I think it's OK as-is.  *However*, if we hear users (e.g. repository managers) complain about this behavior during testing (or up

[2020-10-16 14:02] #900 closed

[2020-10-16 14:07] tdonohue commented on #899
@samuelcambien : I'm not able to reproduce this on the demo site.  Here's what I'm doing (in Chrome browser):
1. Visit https://dspace7-demo.atmire.com/
2. Click "All of DSpace" -> "Communities & Collections"
3. Wait (making sure not to click on anything). It takes a moment, but the expand icons appear after a few seconds.

Is there something I'm overlooking here?  Or maybe this is a browser specif

[2020-10-16 15:48] saschaszott opened #902 "minor bug: multiple input elements with same value (name) of attribute id"
The search page contains multiple `input` elements with the same value (current value is `name`) of attribute `id`.

Steps to reproduce the behavior:
1. open web dev tools in Chrome
2. go to https://dspace7-demo.atmire.com/search
3. three warnings show up in JS console

[code]

**Expected behavior**

values of id attribute must be unique

[2020-10-17 13:25] saschaszott opened #903 "problematic Angular compiler setting: set preserveWhitespaces to default value (false)"
**Describe the bug**

The Angular compiler setting `preserveWhitespaces` (https://angular.io/api/core/Component#preserveWhitespaces) was set to `true` which is **not** the default value (see `main.browser.ts`).

This results in unintentionally added whitespace, e.g. in the list of search results

![image](https://user-images.githubusercontent.com/952735/96338176-99660d00-108c-11eb-813b-550f964b500

[2020-10-17 13:42] saschaszott commented on #903
By changing the compiler option to `false` (or by removing the option) whitespace between `span` elements is removed. To preserve whitespace (without changing the compiler option), you can use the Angular entity `&ngsp;` which is replaced by a space in the rendered HTML.

[2020-10-17 14:37] artlowel commented on #903
That option was purposefully enabled by @atarix83 in [this commit](https://github.com/DSpace/dspace-angular/pull/384/commits/31e2a9ca2998fd84e3e0e4b661384ea371aee16d#diff-f6a7e26673fdcb7e26c58a785bb61abc2d43a1fa828bb67fe0a87099e1c016c8R5) for his [MyDSpace PR](https://github.com/DSpace/dspace-angular/pull/384).

Do you remember why @atarix83?

[2020-10-17 15:20] saschaszott commented on #899
Perhaps there is a related problem: if you open Communities & Collections directly (go to https://dspace7-demo.atmire.com/community-list), the result list is empty.

[2020-10-17 19:15] saschaszott opened #904 "missing comma between publisher name and issue date in browse by title result list"
A comma is missing between publisher name and issue date in browse by title result list (see screenshot).

![image](https://user-images.githubusercontent.com/952735/96351663-54a69a00-10bd-11eb-9f3d-519ea3fd952a.png)

Steps to reproduce the behavior:
1. go to https://dspace7-demo.atmire.com/browse/title?startsWith=0 (browse by title)
2. the comma is missing in the second result hit

**Expected beha

[2020-10-17 20:04] saschaszott commented on #903
whitespaces between `span` elements in template blocks that need to be reviewed if you decide to change the Angular compiler option:
* `<ds-truncatable> … </ds-truncatable>`

[2020-10-19 11:02] artlowel commented on #882
After further analysis it turns out these fields can already be styled as invalid correctly, but they're not because a 'touched' mechanism already exists in the ng-dynamic-forms lib, and these specific fields only show errors when they've been touched first. However it doesn't work in practice: if you touch them without saving they don't become invalid, and if you save the touched status is reset

[2020-10-19 15:22] tdonohue commented on #903
It sounds like setting `preserveWhitespaces` back to the default of `false` is recommended to "greatly reduce AOT-generated code size and speed up view creation" according to https://angular.io/api/core/Component#preserving-whitespace

So, I'd be in favor of trying to set this back to the default value, if it doesn't cause issues....and, as recommended, use either `&ngsp;` or `ngPreserveWhitespace

[2020-10-19 17:49] MarisArins opened #909 "Problems with environment files merging"
Environment files merging functionality in _set-env.ts_ file leads to issues in resulting environment.ts file.

When using below attached common(standard) and dev  environment files, the merge process runs weirdly and I cannot get resulting environment.ts file to produce expected results.

Source/resulting files (extension renamed from .ts to .txt)
[environment.common.txt](https://github.com/DSpac

[2020-10-19 19:28] tdonohue opened #908 "If you open Communities & Collections directly, the result list is empty."
If you open Communities & Collections directly (go to https://dspace7-demo.atmire.com/community-list), the result list is empty.

_Originally posted by @saschaszott in https://github.com/DSpace/dspace-angular/issues/899#issuecomment-711028738_

May or may not be related to #899

[2020-10-19 19:46] tdonohue commented on #909
I've transferred this issue over to `dspace-angular` as it's a front-end configuration ticket.

In terms of the merging of configs, it looks like we are simply using the default behavior of [deepmerge](https://github.com/TehShrike/deepmerge).   Best as I can tell, that default behavior looks like it *combines* arrays (no overwriting values).  We might want to consider whether the `overwriteMerge`

[2020-10-20 09:37] Aziris opened #910 "Better add/edit functionality invocation"
While keeping existing admin-menu functionality in sidebar, why not to introduce buttons on collections/communities/items to edit them without invoking sidebar, navigating to menu, performing search in the lookup etc.

This would be major UX improvement as existing aproach is multi-stepped and not always works well.

[2020-10-20 09:40] MarisArins opened #911 "Edit group not implemented"
When trying to chenge group name, there is a message : TODO implement edit Group...

![image](https://user-images.githubusercontent.com/2697696/96569065-5779d880-12d1-11eb-8443-96a19a694585.png)

[2020-10-20 09:41] artlowel commented on #911
Closing duplicate of #893

[2020-10-20 09:42] artlowel commented on #910
This has been planned (and is already under development) for #843

[2020-10-20 09:42] #910 closed

[2020-10-20 10:01] artlowel commented on #911
Apologies, #893 is about delete group, not edit group. Reopening

[2020-10-20 11:29] artlowel commented on #909
I agree that the current behavior should be changed. But it is difficult to have a solution for arrays that works in all cases. If you overwrite, indeed you'll need to add everything you want to keep. But that is also the way it works for arrays in local.cfg in dspace 6 as well.

An alternative could be to merge based on index. But in that case, what if you want to remove an option from environmen

[2020-10-20 14:10] tdonohue commented on #911
@artlowel : Could/should this be completed alongside #893, if we bump up the total estimate slightly?

[2020-10-20 14:20] artlowel commented on #911
It seems this is _actually_ not implemented. So it's not just removing the notification in this case. So I'd add **2 hours**, and we'll include it in the PR for #893

[2020-10-20 17:15] atarix83 commented on #903
@artlowel @tdonohue
the reason is that helped to regain white spaces between Bootstrap buttons. Otherwise this the result
![Schermata da 2020-10-20 19-14-07](https://user-images.githubusercontent.com/2486489/96621116-8495ad80-1308-11eb-9272-648f73b504aa.png)

[2020-10-20 17:20] atarix83 commented on #903
while whitespace in the list of search results for mydspace page are not unintentional

[2020-10-20 18:34] tdonohue commented on #903
I still think we should look to revert this setting and go back to `preserveWhitespaces=false`, as it sounds that that will result in a smaller application size & minor speed improvements.   If we are finding that *specific areas* of the code need extra spacing, we should preferably use Bootstrap styles (e.g. `mx-2` will set a margin on left/right of 2, see [spacing](https://getbootstrap.com/docs/

[2020-10-21 08:28] Aziris opened #912 "Community logo not limited to image types only"
While creating Top-level community, probably in other cases as well, you can use ANY file in the logo drag&drop area, as well in the Browse dialog.

Would be great to limit this functionality only to image types, as the file seems to be stored as bitstream anyway.

[2020-10-21 12:17] Aziris opened #914 "Grid view displays only 2 columns next to each other"
Although you may have 9(3x3) elements on screen, they tend to take only 2 columns, placing the 3rd column below the first.

![image](https://user-images.githubusercontent.com/2697696/96717962-ff65d380-13af-11eb-9efe-d0294b727fb8.png)

![image](https://user-images.githubusercontent.com/2697696/96718060-1efcfc00-13b0-11eb-98c1-4c203bb94e14.png)

card-columns has width : 841,
each card-column has wid

[2020-10-21 12:29] artlowel commented on #875
There are two issues:

#### 1. There's no rate limiter on our express server, which makes it vulnerable to DOS attacks
We discussed this [before](https://github.com/DSpace/dspace-angular/pull/863#issuecomment-689614964). Since it is fairly easy to add a rate limiter in node. I propose we add it, and make it optional based on config in environment.ts, but enabled by default.

#### 2. There's a line

[2020-10-21 13:06] artlowel commented on #883
The reason for this issue is that the DsoRedirectDataService looks for responses with a status code in de 200 range, but rest returns a 302.

This will take an estimated **2h** to fix

Atmire would like to claim this issue

[2020-10-21 13:49] tdonohue commented on #914
This looks like a duplicate of #895, which already has a PR to fix it: #901.

[2020-10-21 13:49] #914 closed

[2020-10-21 13:50] #895 closed

[2020-10-21 13:54] cwilper commented on #869
## Findings

The "select group" functionality has multiple problems:

* The dropdown doesn't get enabled and populated at the appropriate time due to flawed logic in [section-upload-component.ts](https://github.com/DSpace/dspace-angular/blob/main/src/app/submission/sections/upload/section-upload.component.ts) -- the code incorrectly enables it for any configured access condition type where there i

[2020-10-21 13:59] benbosman commented on #745
A few options were discussed for this ticket.

Our recommendations were:
* Sitemaps are the ideal place to identify which items to index, e.g. by creating a sitemap specifically for Google Scholar, or using alternative URLs in the sitemap which allow Google Scholar to see which items are desired
* Informing Google Scholar of the entity type will imply that institutions which don't use type Publica

[2020-10-21 14:22] tdonohue commented on #883
Thanks @artlowel .  Sounds good & I've assigned back to you (for your team) & moved to "in progress" column

[2020-10-21 14:30] tdonohue commented on #875
Thanks @artlowel, both your proposals sound reasonable, so I've added the 3h estimate to this ticket.

[2020-10-21 16:25] atarix83 commented on #876
estimation is about 2 hours

[2020-10-22 08:19] artlowel commented on #787
But the upgrades from [8 to 9](https://update.angular.io/?l=3&v=8.0-9.0) and [9 to 10](https://update.angular.io/?l=3&v=9.0-10.0) have more steps than usual. In part due to the switch to Ivy. Now we have CLI support we _can_ make use of the cli upgrader to do at least some of the work automatically, but I've tried it, and it still needs a lot of manual help before the app will build.

So I'd put t

[2020-10-22 13:02] artlowel commented on #908
I expect this will be due to the [zone.runOutsideAngular](https://github.com/DSpace/dspace-angular/blob/main/src/app/community-list-page/community-list-datasource.ts#L29) call in datasource. SSR will think the page is done rendering as soon as that call occurs, and send the result to the client.
While runOutsideAngular can improve the responsiveness of the UI on the client, we may need to remove i

[2020-10-22 13:04] atarix83 commented on #870
I can't reproduce the error reported by @benbosman even if i use the linked chrome extension.
estimation date to redirect to the previous page after language switch is about 1 hour

[2020-10-22 15:20] tdonohue commented on #772
In today's meeting, this task came up as a possible quick-fix for #721 (if that turns out to be harder than expected).  This ticket was estimated at *26 hours*.

[2020-10-22 15:24] tdonohue commented on #721
As discussed in today's meeting, this ticket is not only about the "Claim Task" button (though that button's behavior is the worst).

The page refresh also occurs when clicking "Accept" or "Reject" or "Return to Pool".  So, a user looking to click "Accept" on several claimed tasks in a row would need to:  (a) click Accept (page reloads), (b) search/page for the next item, (c) click Accept again (p

[2020-10-22 15:40] tdonohue commented on #787
Thanks for the notes/estimate, @artlowel .  Given your feedback here, I'd like us to upgrade directly to Angular 10 (which gives us more time before our next upgrade).  So, I'll update this ticket to say **60hrs**.

(Obviously, if the developer claiming this ticket notices major issues in the Angular 9 to 10 upgrade, we could later choose to stop at Angular 9 for DSpace 7.0 & delay the Angular 10

[2020-10-22 18:59] tdonohue commented on #899
Will be included as part of fix for #908.  Therefore, moving this to beta5 with a **zero hour** estimate.

[2020-10-22 19:00] tdonohue commented on #908
Sounds good @artlowel .  I've assigned this back to you for your team & moved to "in progress".  Also added #899 to the beta5 board and assigned to you as well.

[2020-10-22 19:51] tdonohue commented on #869
Thanks @cwilper for your analysis & recommendations here.

However, I think this "select group"  feature *did* exist in DSpace 6.  Here it is in this screenshot in our docs of this feature: https://wiki.lyrasis.org/display/DSDOC6x/Embargo#Embargo-Restrictlistofdisplayedgroupstospecific(sub)groups

That said, I think you are correct that it's a security/access problem to allow any submitter to sele

[2020-10-22 19:57] tdonohue commented on #870
Thanks for the analysis here, @atarix83 .  Your estimate of **1hr** to fix the redirect seems fine to me.

[2020-10-22 21:46] tdonohue commented on #915
Thanks for clarifying @KevinVdV .

1. I've transferred this ticket to `dspace-angular`, as the actual bug is an invalid query sent from Angular to the REST API.  @artlowel would you be able to estimate what the effort would be to simply change the request that Angular is sending (see @KevinVdV's notes above)?  My assumption is this should be **1-2hr** but I wanted to make sure I wasn't missing any

[2020-10-23 14:15] tdonohue commented on #912
@artlowel or @atarix83 : I could use your advice on this ticket.  Is this something that is easily validated at the UI level, or should we be thinking about doing such validation on the backend (e.g. returning an error if an improper file format was uploaded)?

Either way, to me, this isn't super high priority...but if it's fixable quickly, I'm perfectly fine with scheduling for Beta 5.

This is a

[2020-10-23 14:21] tdonohue commented on #909
@artlowel : I agree with your suggestions here that we should look towards a "tweaked" version of `overwriteMerge`.  Do you have any rough guesses on how much effort this would be?   In my opinion, this seems like something we should attempt to improve *now* (in beta5), so that configuration works more as expected in 7.0....rather than delaying this for a 7.1, which would make for a possibly awkwa

[2020-10-23 19:50] tdonohue commented on #745
@benbosman : I think you've accidentally misstated some of Google Scholar's recommendations on this ticket. The recommendations you listed in your comment are not entirely correct based on my discussions with Google Scholar

I've rewritten the Google Scholar recommendations below (in the same order you have above):

* GS *does* support sitemaps & they do use them first (After all, GS requested we

[2020-10-23 21:20] tdonohue commented on #747
Depends on https://github.com/DSpace/DSpace/issues/2819

[2020-10-25 18:28] saschaszott opened #917 "top-level-pagination deeplink does not work properly"
The deeplink

https://dspace7-demo.atmire.com/home?pageId=top-level-pagination&page=25&pageSize=5&sortDirection=ASC&sortField=dc.title

leads to page 25 of the search result list but shows the search hits of page 1 (hits are sorted alphabetically by title).

**To Reproduce**

Steps to reproduce the behavior:
1. go to https://dspace7-demo.atmire.com/home?pageId=top-level-pagination&page=25&pageSize

[2020-10-25 19:08] saschaszott opened #918 "more than 150 GET requests when navigating to Communities & Collections view"
**Describe the bug**

Navigating to **Communities & Collections** leads to more than 150 HTTP GET requests per page. This results in page load times of more than 5 seconds (10+ seconds on old machines).

The page shows 50 entries. For *each entry* 3 GET requests are generated:
* https://host.tld/server/api/core/communities/_id_?endpointMap
* https://host.tld/server/api/core/communities/_id_/subcom

[2020-10-25 22:31] saschaszott opened #919 "pagination in recent submissions page does not work properly"
**Describe the bug**

https://dspace7-demo.atmire.com/collections/9398affe-a977-4992-9a1d-6f00908a259f?pageId=collection-page-pagination&page=1&pageSize=5&sortDirection=DESC&sortField=dc.date.accessioned

shows 4 instead of 5 entries.

Furthermore, switching to page 2 and 3 of the search list shows the same (4) entries.

**To Reproduce**
Steps to reproduce the behavior:
1. open https://dspace7-dem

[2020-10-26 10:12] abollini opened #920 "Expose build numbers/commit sha information for both the angular UI and the dspace rest backend"
In a CI environment or for heavily customized repository the "simple DSpace version" (#747 ) could be not enough, it should be possible to include the "build numbers" for both the frontend than the backend, these could ideally be the sha of the commit that was checked out during the build. It should be possible to configure the system to restrict these information to system administrator

[2020-10-26 16:02] tdonohue commented on #919
Closing, as this is a duplicate of #680 (which is already scheduled for beta 5)

[2020-10-26 16:02] #919 closed

[2020-10-26 16:12] tdonohue commented on #918
To me, it sounds like the page should likely be updated to use [projections/embeds](https://github.com/DSpace/Rest7Contract/blob/main/projections.md) in the initial request to better control what info comes back (so that many requests are not necessary).

I am able to reproduce this issue on the demo site.  After the initial request occurs, I see the above 3 GET requests _for each top-level commun

[2020-10-26 16:17] tdonohue commented on #917
This looks to only occur if you go *directly* to that bookmarked link.  I can reproduce it though on the demo site.

In other words, pagination works fine once you load the page.  However, if you bookmark the link, or click "Reload" in your browser, then pagination always starts back over at the first page (even if the URL param says `page=25`, that param seems to be ignored somehow).

This might

[2020-10-26 16:21] tdonohue commented on #920
Seems reasonable to me,  I agree though that it either should be configurable or limited to Admins only.  That said, it's lower priority than simply returning the DSpace version.  Tentatively scheduling for 7.1

[2020-10-27 13:05] Aziris opened #921 "New Item Collection lookup stops working after some usage"
Bug can be repeated on demo site https://dspace7-demo.atmire.com/

1. Log in as admin
2. Open "New Item" Collection lookup, it gets populated with collections
3. Pick a collection and enter New Item submission form
4. Go back to home page by pressing DSpace logo at page header
repeat steps 2 to 4 for some times (ofter 3rd try is enough).

Result: collection selector opens and displays loading indi

[2020-10-27 13:15] MarisArins opened #922 "New Item submit form does not change associated collection if picked from admin side bar"
can be reproduced on demo site : https://dspace7-demo.atmire.com/

1. Log in and open New Item form
2. While in this form, pick from sidebar New/Item
3. Select a different collection from pop-up
4. Nothing visually noticeable happens to New Item form - associated collection does not get changed

Expected that the action would have the collection change or would not be available at this point.

[2020-10-27 13:17] Aziris commented on #921
It seems that when in New Item form, if you start entering any values in fields, the lookup stops working immediately.
Maybe auto-save triggers that condition.

[2020-10-27 17:44] MarisArins opened #923 "Restricted items do not present login page"
1. Create a new Item
2. Add Read access to Admin user
3. Remove Read access to Anonymous group
4. Log out
5. Try to access directly the restricted Item , eg.  https://dspace7-demo.atmire.com/items/cedc5c50-b9d9-4187-ad83-b31c2a21acde

Application does not end page loading process, though in Network tab you can see some requests with 401 response code.

Expected result :  System presents login page

[2020-10-27 18:33] MarisArins opened #924 "Restricted bitstream access does not work when opening a new tab/window"
1. Create a new Item with an atachment
2. Add Read access to Admin user for both, Item itself and the bitstream representing attachment
3. Remove Read access to Anonymous group from item and bitstream
4. Go to Item view and press the attached file, it gets downloaded = OK
5. Right click attached item and open it in new browser tab - **Error** page (401) gets presented

Expected - if browser contai

[2020-10-28 14:26] tdonohue commented on #911
As noted in Slack, this is an accidental duplicate of #836.

[2020-10-28 14:27] tdonohue commented on #836
As noted in Slack, this is an accidental duplicate of #911 .

[2020-10-28 18:04] #865 closed

[2020-10-29 10:28] artlowel commented on #915
In order to fix this we need to parse the operator from the search link in the FacetValue when using a checkbox or date widget and use it in rest requests. When using the filter input we need to add the query operator.

This will take an estimated **4h**

Atmire is interested in claiming this task

[2020-10-29 10:41] artlowel commented on #909
@tdonohue I'm not sure what you mean by 'tweaked'? My suggestion was to use overwriteMerge as is, but to minimize the problem of having to copy values from the default config by verifying if there are config options that are currently arrays but don't need to be (because the order isn't important), and if so turn them in to objects.

This can be done in an estimated **2h**

[2020-10-29 13:38] artlowel commented on #917
I had a look. While it's related to universal, the root cause of the issue seems to that the pagination params in the url are parsed inside the pagination component: meaning the pagination component must already be rendered before it will check which page it needs to show.

The top community list component ensures this happens by always fetching the first page first, regardless of the page param i

[2020-10-29 14:22] tdonohue commented on #917
@atarix83 : Assigning to you to double check @artlowel's analysis here.  Could you take a look at this when you get a chance?

[2020-10-29 14:47] tdonohue commented on #915
Thanks for the estimate @artlowel .  Sounds reasonable.  I've added it to this ticket & reassigned back to you (for your team to work on) & moved to the "in progress" column.

[2020-10-29 16:19] ttornyai opened #927 "Getting 401 when Community or Collection Administrator tries to edit Collection Authorization Group"
Description:
When a Community Administrator tries to edit a Collection's authorization Group (for example Submitters), then the site navigates to a 401 Unauthorized site. The user can create or delete these groups tho.
The problem occurs on the beta4 version of both dspace, and dspace-angular, in Chrome browser (86.0.4240.111).

Steps to reproduce the behavior:
1. Create a Community with site admi

[2020-10-29 17:29] artlowel commented on #918
The reason for those requests is to know whether a community has children, in order to render the chevron in front of the community name. That's why the requests all have size=1. We're not really interested in the returned communities and collections, only the total number of results in the pagination info. So ideally size=0 would be used, but that isn't supported by the backend.

Passing a page s

[2020-10-29 17:41] tdonohue commented on #820
As discussed in today's meeting, this ticket will be delayed for 7.1.

@atarix83 : I realized we already have a "quick fix" for this ticket in place, as the original PR #724 simply shows an error if a user attempts to upload multiple files at once to start a new submission from the MyDSpace page.  So, there's no need for you to investigate an additional quick fix here.

[2020-10-29 17:46] tdonohue commented on #729
As noted in today's meeting, this ticket will likely be split into *two* once we upgrade to Angular 10 (see #787 ).  Those two tasks will be similar to the following:
1. Provide very basic/limited support for Community/Collection styling in Beta 5 (for simple use cases only)
2. Full Community/Collection theming will likely be delayed for 7,1.

This must wait for Angular 10 upgrade though as our th

[2020-10-29 17:48] tdonohue commented on #787
As decided in today's meeting, I'm assigning this to @atarix83 for the 4Science team to work on.  This ticket is deemed as `high priority` (as we cannot start other tasks like theming until completed).  @abollini estimated that 4Science should be able to complete this by/around the first week in Dec.

[2020-10-29 17:50] tdonohue commented on #739
As discussed in today's meeting, this ticket & #740 are both assigned to @artlowel for the Atmire team to complete (in parallel to the effort to upgrade to Angular 10, see #787 ).  This ticket is deemed as `high priority` (as we cannot start other large tasks like theming until completed). @lieven-atmire estimated both these Cache redesign tickets will be completed by/around the first week of Dec.

[2020-10-29 17:51] tdonohue commented on #740
As discussed in today's meeting, this ticket & #739 are both assigned to @artlowel for the Atmire team to complete (in parallel to the effort to upgrade to Angular 10, see #787 ).  This ticket is deemed as `high priority` (as we cannot start other large tasks like theming until completed). @lieven-atmire estimated both these Cache redesign tickets will be completed by/around the first week of Dec.

[2020-10-29 20:19] tdonohue commented on #909
@artlowel : Apologies, I completely misstated your position/proposal.  I meant to reference your note to "go over everything that's currently an array to see if we're not better off converting it in to an object" -- which is similar to "tweaking" the configuration to align better with `overwriteMerge`.  I must've been typing that reply in a hurry and shortened it to something that doesn't make sen

[2020-10-29 20:43] tdonohue commented on #847
In today's meeting, @atarix83 mentioned it might be possible to update configuration in 7.x to simply avoid this issue by configuring the Controlled Vocabulary settings to not display the Lookup button, but instead use a "onebox".  (@atarix83 could you add an example here?)

In the same meeting, the Atmire team noted this might be worth keeping in Beta 5 as the usability of Controlled Vocabulary &

[2020-10-29 21:59] tdonohue opened #928 "(Angular UI) Analyze tests for possible optimization & refactoring (remove duplication)"
In today's meeting (Oct 29, 2020) it was noted that we have a lot of repetitive/duplicative tests (in both REST API and Angular UI)

At some point, we may wish to do an analysis of existing tests & find ways to decrease code & test duplication.  This work is low priority (as currently we are more concerned with increasing test coverage), but has several key benefits:
* May help speed up tests (as

[2020-10-30 14:43] tdonohue commented on #836
Closing as a duplicate of #911.  See #911 for the PR which will fix this issue.

[2020-10-30 14:43] #836 closed

[2020-10-30 14:48] tdonohue commented on #897
@artlowel : would you be willing to estimate the work here (as you provided feedback on a better proposed solution in the PR #898)?  This seems like it's becoming higher priority to me...as this same bug seems to appear in other PRs (e.g. PR #894 hits this error as [I noted in this comment](https://github.com/DSpace/dspace-angular/pull/894#pullrequestreview-517099725))

[2020-10-30 14:51] #921 closed

[2020-10-30 14:56] tdonohue commented on #922
@Aziris : I'm not sure I understand this ticket.  I've tried the steps you described, creating a new Item by selecting a collection from the popup.  After selecting a collection, I see the submission form load & it shows that selected Collection at the top of the submission form (in the "Collection" field).

So, I'm not seeing any bug based on the steps you've described.  But, maybe I'm misunderst

[2020-10-30 15:00] tdonohue commented on #923
@artlowel : Could you or someone on your team estimate this?  I agree that a 401 response from the backend likely should end up showing the *login form* instead of a generic "401 unauthorized" page.  So, this is slightly related to the work in #891

[2020-10-30 15:10] LucaGiamminonni commented on #927
Perhaps the bug could be solved with the changes made in the PR [3034](https://github.com/DSpace/DSpace/pull/3034)

[2020-10-30 15:38] tdonohue commented on #927
I'm able to reproduce this as **both a Collection Admin or a Community Admin**.  _It seems unrelated to the backend PR https://github.com/DSpace/DSpace/pull/3034_.

The 401 error appears to be entirely **client side**. In Chrome dev tools, I do not see a corresponding request/response to/from the REST API when this error is shown.  In this situation the Collection/Community Admin appears to not be

[2020-10-30 16:05] tdonohue commented on #924
I'm able to reproduce this issue locally & on the demo site.

The issue appears to be that a normal file download looks like this:
1. If authenticated, first request a `/shortlivedtoken` from the backend (regardless of whether the bitstream is actually restricted or not)
2. Use that token to download the file (e.g. `http://localhost:8080/server/api/core/bitstreams/[uuid]/content?authentication-tok

[2020-10-30 16:21] MarisArins commented on #924
Hi guys, the problem is demonstraded via new tab, but the actual problem behind it is that you cannot use this resource URL (decorated with Shibboleth callback) to include it in a mail, in another page/application.

I am pretty sure this is not a main concern of DSpace, but eventually a great feature gets crushed by this: access to authorised resources via links.

Why is the short lived token a re

[2020-10-30 16:24] artlowel commented on #927
That's indeed the case, it's behind a guard that checks whether you're a sitewide admin: https://github.com/DSpace/dspace-angular/blob/main/src/app/app-routing.module.ts#L50

[2020-10-30 16:24] MarisArins commented on #924
e.g This opens for you ITEM page if you are pre-authorized in Shiboleth :
https://dspace-test.expertquality.lv/Shibboleth.sso/Login?target=https://dspace-test.expertquality.lv%2Fserver%2Fapi%2Fauthn%2Fshibboleth%3FredirectUrl%3Dhttps://dspace-test.expertquality.lv/items/e5cfafd0-e91d-4644-a922-671c4996093a

Similar link to bitstream will not go, as it needs token :
https://dspace-test.expertqualit

[2020-10-30 16:35] tdonohue commented on #918
Thanks for your summary here @artlowel .  I agree that based on your analysis this is much more complex than it first appears -- and that the necessary changes need to start on the REST API side.

@abollini or @benbosman : I wonder if either of you have thoughts on how to properly support a way to simply *check whether a resource has subresources* (in this case, whether a Community has any childre

[2020-10-30 16:54] MarisArins commented on #922
Here I will describe the steps that I take with some pictures.

1. Open new Item page
![image](https://user-images.githubusercontent.com/2697696/97733586-b9f88300-1ae0-11eb-84f7-7744ef053c4a.png)

2. Still in new Item form click sidebar "new Item" option again:
![image](https://user-images.githubusercontent.com/2697696/97733830-02b03c00-1ae1-11eb-9f45-24143df06ddf.png)

3. Pick different collectio

[2020-10-30 18:15] tdonohue commented on #924
@artlowel and @KevinVdV :  It appears to me that setting `rewriteDownloadUrls=true` as a *default setting* would likely solve this bug (as that ensures the `shortlivedtoken` is requested even if I open the link in a new tab).  However, that setting appears to be partially broken -- as it's triggering a (seemingly unnecessary) hard refresh in the browser.

[2020-10-31 12:28] MarisArins commented on #924
@tdonohue/@artlowel  - the "dsAuthInfo" token gets always sent to backend!
thats what browser engine does by default.

short lived token request :
![image](https://user-images.githubusercontent.com/2697696/97777377-781b1b80-1b78-11eb-8c69-153fafdee007.png)

resource request:
![image](https://user-images.githubusercontent.com/2697696/97777401-a3056f80-1b78-11eb-957b-1e36272712d5.png)

If it contain

[2020-11-04 10:21] artlowel commented on #897
This can be fixed in an estimated **2h**

Atmire wants to claim this ticket

[2020-11-04 10:26] artlowel commented on #923
This can be done in an estimated **2h**

Atmire would like to claim this ticket

[2020-11-04 10:35] artlowel commented on #927
In that case I'd prefer to move it out of the `/admin` route, and add a more suitable guard for the access control pages. The other pages under the `/admin` route are the [metadata](https://dspace7-demo.atmire.com/admin/registries/metadata) and [bitstream-format](https://dspace7-demo.atmire.com/admin/registries/bitstream-formats) registries, the [admin search](https://dspace7-demo.atmire.com/admin

[2020-11-04 14:35] tdonohue commented on #927
@artlowel : I'd recommend keeping this ticket scoped to the Group editing issues.  So, leave all other `/admin` pages as-is...(As a sidenote, I believe they are all in the correct place, as those look to be pages that only Site Administrators should be able to access.)

For the purposes of this ticket, I'd recommend we just move the `/admin/access-control/groups` path to be at `/access-control/gro

[2020-11-04 14:37] tdonohue commented on #923
Thanks @artlowel .  Sounds good, and I've assigned this back to you & moved to "in progress" so that work can begin.

[2020-11-04 14:39] tdonohue commented on #897
Thanks @artlowel . Sounds good. I've assigned this back to you & moved to "in progress" so that work from your team can begin.  Please keep in mind, this was previously flagged as `high priority` as this same issue has been hit via other tests (see other PRs mentioning this bug above). Thanks!

[2020-11-04 15:01] tdonohue commented on #924
@MarisArins : Apologies, I overlooked your response back.  My [earlier comment](https://github.com/DSpace/dspace-angular/issues/924#issuecomment-719694274) about the `dsAuthInfo` cookie was rushed...and you are **correct** of course that the `dsAuthInfo` cookie may be automatically included in the browser requests to the REST API (as that is how browsers work).

However, this behavior is exactly w

[2020-11-04 15:14] MarisArins opened #931 "Required repeatable fields get validated incorrectly in submission form"
After last changes to require repeatable items to be added with "+" button to save those there is a problem with validation.
Validation (checking mandatory fields) still check the original input fields, not the added extra elements (the one are added below original input fields)

Here is example of Author and Other Titles fields. Both have 1 element added with + sign, the original fields(do not ge

[2020-11-04 16:23] tdonohue commented on #922
Thanks for clarifying @MarisArins .

I can reproduce this after all by doing:
* Login as a submitter
* Select New -> Item & choose a collection.  I go to the submission form for that collection
* Select New -> Item *again* & choose a different collection.  Nothing happens...I remain on the submission form for the original Collection.

To me, this is a lower-priority bug/usability issue.  It seems

[2020-11-04 16:38] tdonohue commented on #931
This behavior is directly related to #835 and #864.  I'm able to get the green checkbox to appear *without* filling out additional values, provided that I trigger the auto-save.  In other words, validation doesn't occur until the auto-save is triggered, so the order in which you fill out the fields currently makes a big difference.

In other words, this order works fine:
* Add an "Author" by enter

[2020-11-04 17:08] MarisArins commented on #931
@tdonohue ,

Yes Tim, your/demo site case might work... but as soon as you would add a single required field in 2nd segment of submission form, there would be another validation/save happening and on that the first segment fields would undergo validation as well and green check would be replaced by "failed" exclaimation mark unless the original fields get filled again.
This "mutually exclusive" va

[2020-11-04 17:15] MarisArins commented on #931
P.S.
I removed all  "submission.autosave.metadata" values in config and it minimizes the saving/checking cycles, but once the segment is filled and I try to fill next segment, it still autosaves and accordingly cleans unsaved inputs in other segments.
For example I confirm deposit licence - autosave happens.

[2020-11-04 17:31] tdonohue commented on #931
@MarisArins : Thanks for the addition feedback.  I still believe this ticket depends heavily on #835 being resolved (as described in that ticket).  As noted in that ticket, we are aware that auto-save is currently highly intrusive & may clear values that are currently being typed or (for multi-value fields) have not been explicitly saved by pressing "+".

I'll leave this ticket open so that we can

[2020-11-05 09:22] #904 closed

[2020-11-05 11:08] artlowel commented on #927
To do this properly we'd need changes to the rest api.

Currently the only way I can find to check if someone is a community or collection admin is to check the administratorOf feature for the eperson against all communities and collections, to see if you get a result. One way around this could be to make the `uri` parameter optional on [the `/authorizations/search/object` endpoint](https://github

[2020-11-05 14:08] artlowel commented on #924
@tdonohue I don't see a way to make `shortlivedtoken` work in the scenarios described by @MarisArins. Its very nature requires that we only retrieve it right before you download. The browser can't do that automatically, it can only be added if you download through the app.

I also don't see how enabling `rewriteDownloadUrls` without change would affect this.

To test this I've made the bitstreams

[2020-11-05 14:10] atarix83 commented on #721
@tdonohue
I've take a look on this issue and  to avoid to reload the entire page we need changes on both angular end rest side.
Indeed the main issue is that to reload the single element of the search we need to know which is the new object type created after the execution of a workflow action.
For example when making a [request to claim a task](https://github.com/4Science/Rest7Contract/blob/main/

[2020-11-05 16:33] tdonohue commented on #721
In today's meeting, we discussed the proposal above and agreed to the approach.  A few notes from that discussion:
* The main issue is the REST API not returning the updated object when a claim/unclaim occurs.  The `204 No Content` returned was a mistake & we need to correct it.
* The new REST API search methods (to be used after clicking approve/reject) are necessary because the Angular UI doesn'

[2020-11-05 16:36] artlowel commented on #912
To limit it for the browse dialog is easy. We can simply add an [accept="image/*"](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/accept) attribute to the  `<input type="file">`. That way only images will be selectable in the browse dialog (although the user can choose to bypass this)

As for dropped files, that might be a bit harder. The lib we're using seems to have an undocumented

[2020-11-05 17:33] tdonohue commented on #927
Thanks for the summary of options here, @artlowel .

I think you are correct that we have a missing "feature" check on the REST API.  It seems the `administratorOf` feature is limited in that it can only check Community/Collection Admin permissions _on a specific object_.

What we need is a way to ask the REST API "does this user have Admin permissions on ANY community or collection".  We **alread

[2020-11-05 22:41] tdonohue commented on #924
@artlowel : Thanks for your analysis & for proving that `rewriteDownloadUrls=true` is not a possible solution. (Sidenote: I'm no longer able to reproduce the hard refresh I had previously seen, so I'm guessing I did something wrong during those tests)

With regards to CSRF... no, despite the name, it has nothing to do with whether the backend/frontend are on the same or different servers/domains.

[2020-11-06 10:03] corrad82-4s commented on #835
@tdonohue we are available to work on this, for us is ok even if other community members carry on this issue, if a pull request will be ready within two weeks.
Please let us know, we are ready to start development next Monday.
Thanks

[2020-11-06 14:48] tdonohue commented on #835
@corrad82-4s : That sounds fine. I've assigned this to your for your team to start work on & moved it to the "in progress" column.

NOTE for the 4Science team (@abollini , @atarix83 ): please be aware that I still consider #787 to be the **highest priority** of all tasks assigned to your team.  So, while you are welcome to work on this #835 ticket in parallel to the Angular 10 upgrade, please do n

[2020-11-06 15:34] #879 closed

[2020-11-09 22:41] tdonohue opened #936 "Generic Items "appear" as though they are always Publication Entities / Publication seems to be the "default" Item"
**Describe the bug**
Generic Item pages always appear to be Publication Entities, and are always prefixed with "Publication:" on Item page.  This behavior can easily be seen on the Demo site, e.g. https://dspace7-demo.atmire.com/items/1cc071d0-aaf5-4206-afab-cad8a64cdb47

Additionally, the code in the Angular UI seems to treat "Publication" as the default type of Item, and several "generic" compon

[2020-11-09 22:42] tdonohue commented on #936
@artlowel : would you (or someone on your team) be willing to estimate this task?

[2020-11-10 08:33] abollini commented on #927
@tdonohue  I'm ok with adding more specific features to simplify the implementation of the UI guard and to avoid performance issue I agree that we need something specific that just tell us yes or no instead than trying to get the list of collections or communities where the action is possible. That said, in such case I think that we need a canManageGroups feature because it is possible that a comm

[2020-11-11 15:13] dsipos-dev opened #940 "Dspace Theme is not working properly"
**Describe the bug**
I had created a costume theme under the `themes` directory like dspace-angular/themes/costume-theme and added a costume designed home-news component with the proper path. After i changed the environment variable to use my costume theme, and nothing happened the old template shown up.

**To Reproduce**
Steps to reproduce the behavior:
1. create directory under themes ex.: theme

[2020-11-11 16:53] tdonohue commented on #940
@dsipos-dev : This is a known issue simply because Theming is not yet completed or working.  This will be fixed in #727 and #728  which are scheduled for Beta 5.  This work however cannot begin until #787 is completed, as it will change the behavior of themes slightly.

I'm going to close this ticket as a duplicate simply because it will be part of the upcoming work in #727 and #728.

[2020-11-11 16:53] #940 closed

[2020-11-11 16:59] tdonohue commented on #727
Depends on our upgrade to Angular 10: #787 as we'll be switching to Ivy (https://angular.io/guide/ivy) which will result in changes to the current theming strategies.

[2020-11-11 17:00] tdonohue commented on #728
Depends on our upgrade to Angular 10: #787 as we'll be switching to Ivy (https://angular.io/guide/ivy) which will result in changes to the current theming strategies.

[2020-11-12 11:04] artlowel commented on #936
This would mean going over all components containing a line matching the search `@listableObjectComponent(Item`.
I count 9 right now.
- If they also have a second `@listableObjectComponent` line: split them up, and replace references to the item type with a more generic term, or remove them.
- if they don't, look for any reference to an item type. If they exist, it may also need to be split up.

T

[2020-11-12 14:21] artlowel commented on #936
Atmire would like to claim this ticket

[2020-11-12 14:31] atarix83 commented on #847
@tdonohue
my suggestion to temporary resolve the issue with lookup field with authority control, is to configure of the relation-field in the `submission-forms-.xml` file by adding the type `onebox` as the following example
[code]
In this way this is the result during the submission :
![Schermata da 2020-11-12 15-24-01](https://user-images.githubusercontent.com/2486489/98952443-beb73100-24fb-11eb-

[2020-11-12 17:45] tdonohue commented on #893
Updated estimate per https://github.com/DSpace/dspace-angular/pull/925#issuecomment-726232636

[2020-11-12 17:46] tdonohue commented on #911
Updated estimate per https://github.com/DSpace/dspace-angular/pull/925#issuecomment-726232636

[2020-11-12 17:50] tdonohue commented on #936
Thanks @artlowel .  I've added the estimate & assigned back to you for your team to work on

[2020-11-17 08:55] benbosman commented on #918
I've analyzed the preferred solution we identified in the last meeting:
* add support for pagination options when requesting embeds: `e.g. /api/core/communities/<:uuid>?embed=subcommunities&embed.subcommunities.size=1`

This will only require minor changes assuming the parameter syntax can be changed to e.g. `/api/core/communities/<:uuid>?embed=subcommunities&embed.size=subcommunities=1` (so there

[2020-11-17 16:04] tdonohue opened #943 "External Sources cannot be limited based on metadata field"
**Describe the bug**
Discovered in review of https://github.com/DSpace/dspace-angular/pull/932#pullrequestreview-525533457

When a Lookup button is added to a metadata field (e.g. Author field), there is currently no way to limit which External Sources are searched/searchable.

This can result in very odd/unexpected behavior like this:
1. Ensure the Author field has a Lookup button, which is the c

[2020-11-17 16:50] tdonohue commented on #918
@benbosman : Thanks for this summary!  Honestly, it sounds great to me.  My only (very minor) comment was that we obviously should ensure having 2 equal symbols in one querystring param (e.g. `embed.size=collections=5`) is parsed properly by our code (and Spring).  I'd expect/hope it would work fine, but I know that's a slightly different syntax than usual.

@abollini : Any initial comments/feedba

[2020-11-17 16:59] tdonohue commented on #943
@artlowel and @benbosman : Would the two of you be willing to brainstorm a solution here?  While this isn't specific to Configurable Entities, this seems (to me) to allow you to create Entities which are unrelated to configured Entity-to-Entity relationships -- e.g. it seems incorrect to allow a submitter to create/link a Publication Entity from a field which represents an Author relationship.

[2020-11-17 17:01] #867 closed

[2020-11-17 22:18] cwilper opened #945 "rimraf deletes itself before yarn clean finished"
**Describe the bug**
When running `yarn clean` and not having `rimraf` installed globally, a build error like the following appears.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Don't have rimraf installed globally
2. Run yarn clean
3. You'll see a build error like the above

**Expected behavior**
Finishing without reporting an error.

**Related work**
N/A

[2020-11-18 08:36] artlowel commented on #945
I just did a test to see whether moving the `rimraf node_modules` script to the last place would suffice, and it seems it would. It seems rimraf can in fact delete itself.

While we're at it we might as well fix the issue where `yarn run clean` fails when you haven't run `yarn install` before, because rimraf is missing. Both can be fixed in **1h**.

Atmire is interested in claiming this task

[2020-11-18 08:37] artlowel commented on #945
I'm sorry, I missed that you already fixed it @cwilper 😄

[2020-11-18 14:05] benbosman commented on #918
@tdonohue It's also possible to use `embed.size=collections:5` if preferred, but I've tested in REST that there's no problem with using the `embed.size=collections=5` syntax (If I create such a request, the values can be retrieved as is)

[2020-11-18 20:27] #831 closed

[2020-11-18 20:27] #843 closed

[2020-11-18 20:27] #889 closed

[2020-11-18 20:27] #890 closed

[2020-11-18 20:43] #945 closed

[2020-11-18 21:59] tdonohue commented on #927
Thanks for the estimates here @abollini and @artlowel. I've updated this ticket with an estimate of *6 hours* (4hr for backend/REST API and 2hr for Angular UI cleanup after that is done.)

[2020-11-18 22:22] #883 closed

[2020-11-19 09:51] MarisArins opened #947 "Highlight withdrawn Items in collections"
Currently, when admin looks at collection, he sees withdrawn items the same as regular, archived items:

![image](https://user-images.githubusercontent.com/2697696/99649624-1a823c80-2a5d-11eb-82ad-6ece95a2c010.png)

Regular users would not see the withdrawn Items, but for admin there is no way to tell which items are going to be missing for users, as they all are visually the same.

Some kind of s

[2020-11-19 10:47] alemarte opened #948 "During submission some Repeatable fields stop working after a few inserts"
**Describe the bug**

When the user stress a repeatable field by adding a few values the UI breaks and new inserted values may be not added to the array. This behaviour has been experienced with Author, Other Title and Seriers/Report NO. of the submission form.

**To Reproduce**
1. Login as admin
2. Start a submission in collection Books
3. Insert an alternative title (aaa) and click +
4. Click Sa

[2020-11-19 11:34] alemarte opened #949 "Wrong occurrence of submission form Identifier field deleted"
**Describe the bug**
When we have two values ​​for the same metadata and we want to delete the second, after saving the first is deleted and the second kept.

**To Reproduce**
1. Login as admin
2. Start a submission in collection Books
3. Insert an identifier of type ISSN and click +
4. Insert an identifier of type ISSN and click +
5. Save the submission form
![caso2error2](https://user-images.git

[2020-11-19 11:46] alemarte opened #950 "Can't insert different identifiers in the submission form"
**Describe the bug**
Inserting different identifiers in a submission doesn't work. The Patch operation is malformed and the submission can't be saved without a full reload of the page.

**To Reproduce**
1. Login as admin
2. Start a submission in collection Books
3. Insert an identifier of type ISSN and click +
4. Insert an identifier of type Other and click +
5. Save
![caso3error1](https://user-im

[2020-11-19 12:10] alemarte commented on #950
Related to this user flow we can find another strange behaviour if at point 4 we delete the Other record before saving.

![caso3bis](https://user-images.githubusercontent.com/63857/99664172-17d91480-2a68-11eb-91cf-2fa8bf430666.png)
As we can see there is also a remove operation containing a /-1 index which is not compliant with the json patch RFC.

[2020-11-19 12:33] artlowel commented on #924
Thanks for the explanation.

Doesn't the exact same problem pose itself if we use the dsAuthInfo cookie to create the header on the universal server though? Why is it secure for it to trust that cookie while it wouldn't be for a rest server on the same host?

[2020-11-19 15:53] #674 closed

[2020-11-19 15:55] hardyoyo commented on #847
I like the onebox approach, because it very elegantly skips past the classic issue documented by this notorious posting: https://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/ As long as we can document how to configure validation of the field, I think this is a good solution.

[2020-11-19 20:20] #875 closed

[2020-11-19 20:52] #842 closed

[2020-11-19 22:23] #899 closed

[2020-11-19 22:23] #908 closed

[2020-11-19 22:53] tdonohue commented on #924
@artlowel : Because there's not really a way for a hacker to automatically *trigger* a call to the Universal server to both tell it to *parse* that `dsAuthInfo` cookie and send it the corresponding Headers to the REST API path/command of the hacker's choice.

So, for example, the hacker cannot tell the Universal server to send an EPerson PATCH request (to change your password to something the hack

[2020-11-19 23:04] #826 closed

[2020-11-20 16:05] tdonohue commented on #950
I've tentatively pulled this into the Beta 5 board (along with related issues #948 and #949) just for discussion purposes. Once discussed, we may still decide whether to include in Beta 5 or not.

[2020-11-20 16:09] tdonohue commented on #947
I agree this is a usability issue.  I like the suggestion to provide an extra label (similar to `Research Project` label in the above screenshot perhaps).

@artlowel , do you see any issues with this idea?  If you agree, could you look at this concept & provide an estimate here?

[2020-11-20 17:51] #897 closed

[2020-11-23 15:21] #887 closed

[2020-11-24 00:59] sheriljosesao commented on #806
Hey,

I had installed and run and instance of DSpace 7 and came across this issue with the form not presenting fields according to its type-bind. I was wondering if this is a known issue and if it's currently being worked on.

[2020-11-24 15:53] tdonohue commented on #806
@sheriljosesao : This feature does not yet exist in DSpace 7.  It's currently scheduled to be developed as part of the 7.2 release, so it will not be available in 7.0.  See Projects/Milestone sections on the sidebar of this issue ticket

[2020-11-25 13:10] artlowel opened #957 "Upload dropzone is shown in the submission if there's no upload section"
**Describe the bug**
If you configure a submission without an upload section, the upload drop zone at the top of the page is still shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a collection without an upload section in the submission
2. Authenticate in the UI
3. Submit an item to that collection
4. Verify that you can still see the drop zone.

**Expected behavior**
I'd exp

[2020-12-03 08:39] artlowel commented on #947
We can add the same badges that are used in the administrative search to withdrawn and private items (unless there's a good reason not to do it for the latter):
![image](https://user-images.githubusercontent.com/1567693/100984659-4c120200-354b-11eb-9af6-b1ec3ddb5f88.png)

This will take an estimated **4h**

[2020-12-03 10:20] Raf-atmire commented on #902
Hi @saschaszott , I've tried to reproduce the issue on the mentioned URL, but I'm unable to see the warnings that you've mentioned in the console.
I've navigated to the mentioned URL, opened the console and pressed refresh a couple of times, but I've been unable to see the errors that you've mentioned. Could you provide some more details on how to see those please?

[2020-12-03 10:36] artlowel commented on #902
This was fixed by https://github.com/DSpace/dspace-angular/pull/941. Closing

[2020-12-03 10:36] #902 closed

[2020-12-03 13:26] benbosman commented on #745
Based on input from @abollini  in a previous discussion, we would propose the following solution which minimizes the complexity in DSpace, and makes it easier for Google Scholar to index the items:
* There are two types of items which should be indexed by Google Scholar: items without an entity type (for repositories not using entities, similar to DSpace 6) and items with entity type Publication (

[2020-12-03 16:05] artlowel commented on #739
Time spent so far: 91 hours

[2020-12-03 16:05] abollini commented on #847
@tdonohue the code for the regex validation seems to be inplace at least on the rest side, see
https://github.com/DSpace/DSpace/blob/main/dspace-api/src/main/java/org/dspace/app/util/DCInput.java#L209

https://github.com/DSpace/DSpace/blob/main/dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/validation/MetadataValidation.java#L76

https://github.com/DSpace/DSpace/blob/main/dspac

[2020-12-03 16:50] tdonohue commented on #745
As discussed in today's meeting:

Overall approach by @benbosman looks good.  However, we recommend the following (minor) changes:
1. Entities should use `/entities/<:entity-type>/<:uuid>` paths.   The term "typeditems" is no longer valid as we decided to just call them Entities.
2. *All* Entities should use the `/entities/<:entity-type>/<:uuid>` paths... this **includes** the Publication entity.

[2020-12-03 21:44] #923 closed

[2020-12-03 21:56] tdonohue opened #962 "404 Responses (in Chrome Dev Tools) during Group Add & Delete"
**Describe the bug**
Discovered as part of this review: https://github.com/DSpace/dspace-angular/pull/925#pullrequestreview-542326961

When you have Chrome DevTools open and you add or delete groups, you'll notice a number of 404 errors appear in Chrome DevTools.  These errors do not affect the UI behavior, but represent unnecessary requests to the backend which should be removed

**To Reproduce**

[2020-12-03 21:57] tdonohue commented on #962
Copying in @artlowel 's analysis of this bug (from https://github.com/DSpace/dspace-angular/pull/925#issuecomment-737817651):

Fixing them would take an estimated **4h**

[2020-12-03 21:59] #893 closed

[2020-12-03 21:59] #911 closed

[2020-12-04 09:58] benbosman commented on #745
I’m updating the estimates section:
* The REST API should return the entitytype property. I’d estimate 10 hours of work for this (including tests)
* Angular routing: Allow items to be opened using either `/entities/*/<:uuid>` or `/items/<:uuid>`: this is a change in the [item-page-routing.module.ts](https://github.com/DSpace/dspace-angular/blob/main/src/app/+item-page/item-page-routing.module.ts).

[2020-12-04 10:34] benbosman commented on #924
Hi @tdonohue , @artlowel ,
I've read through this ticket in detail to identify potential other solution.

What I concluded (correct me if I'm wrong) is:

**How REST can be abused if cookies are allowed**
* Assume angular is hosted on dspace7-demo.atmire.com and REST is hosted on dspace7.4science.cloud, but a hacker creates a webpage on malware.4science.cloud
* The website malware.4science.cloud co

[2020-12-04 16:31] tdonohue commented on #924
@benbosman : Thanks for your comments, and your overall logic is **completely correct**.

The only risk here is if the hacker somehow uploaded that file into DSpace in the first place (which is a real risk if they are, for example, a student/staff at a university with submit privileges).  If that is true, then the scenario you laid out is still potentially dangerous, as they can *force you* to dow

[2020-12-04 17:36] LucaGiamminonni opened #963 "Error when attempting to open the Content Source section of Edit collection"
**Describe the bug**
In the "Content Source" section of Edit collection, when the user click on the checkbox to configure the collection to harvest its content an error occurs and the form to configure the harvest is not shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Login in the system
2. Go to Edit Collection
3. Select a collection to edit
4. Go to the Content Source section
5. Cli

[2020-12-04 18:34] tdonohue commented on #947
That seems fine to me, @artlowel .  Thanks!  Updated ticket with estimate

[2020-12-04 18:44] tdonohue commented on #957
Definitely a bug.  Adding to Beta 5 for now, though flagging as "low priority" (as it may not matter if this ends up delayed).  Needs an estimate of the effort.

[2020-12-04 18:50] tdonohue commented on #963
Definitely a bug, thanks for reporting @LucaGiamminonni .  However, I'm scheduling this for 7.1, as this bug is very low priority until #761 is implemented (also scheduled for 7.1).  Currently, this "Content Source" tab is very minimal and was added as part of #506.

That said, if the fix is small here, I'm not against having this completed early -- it's just low priority currently. This will also

[2020-12-07 15:36] artlowel commented on #947
We'd like to start work on this issue

[2020-12-07 21:15] AndrewZWood opened #964 "EntityTypeService `getEntityTypeByLabel` is mocked: needs proper implementation"
**Describe the bug**
Currently the `getEntityTypeByLabel()` of `EntityTypeService` is mocked to work properly. However this mock hardcodes valid `EntityType` strings which is not very flexible for instances of DSpace with custom `EntityTypes`. I have come up with a solution to dynamically retrieve the `EntityType` by it's `label` now that there are REST endpoints available to do so.
Submitting PR

[2020-12-07 21:25] AndrewZWood commented on #964
PR: https://github.com/DSpace/dspace-angular/pull/965

[2020-12-08 09:44] artlowel commented on #963
I think this has already been fixed as part of #961. I encountered it while testing and thought it was an issue with the PR.

[2020-12-08 13:56] KevinVdV opened #966 "Item view relationship retrieval uses fuzzy queries"
**Describe the bug**

Angular fires of a discovery query to retrieve the items that need to be displayed as relationships. It uses the following format:

This will result in the following fuzzy query:

This isn't an exact match query, an exact match query would look like this:

This can be easily remedied by providing the "equals" filter in the query that we send to discovery.

**To Reproduce**
Re

[2020-12-09 15:56] tdonohue commented on #963
@artlowel is correct.  I've verified that **this bug is fixed by #961**.  I'll update this ticket so that it'll close when #961 is merged.

[2020-12-09 19:43] tdonohue commented on #962
Test comment (comments are not working on all issue tickets)

[2020-12-09 19:44] tdonohue commented on #805
test comment (comments not working across all issues)

[2020-12-10 09:25] benbosman commented on #943
I was able to test this using https://github.com/DSpace/DSpace/pull/3068 with ArXiv (on the demo server only ORCID had results)
This created an item with type "Publication", and hereafter it tries to create the relationship. Angular is however aware that no such relationship can be created (an isAuthorOfPublication relationship is not possible between two Publications), and doesn't even try creati